<div class="category--location-select-list-item">
  <div class="form-check form-check-sm form-check-custom form-check-solid justify-content-center">
    <input id="check-box-<%= category.id %>"
           class="forms--checkbox me-3"
           type="checkbox"
           value="1"
           data-categories-target="categoryCheckbox"
           data-categories-path-param="<%= on_box_checked_path %>"
           data-action="input->categories#onCheckBoxChange"
           <%= selected ? 'checked="true"' : nil %>
      />
  </div>
  <% if category.color_hex.present? %>
    <div class="category--marker" style="background-color: <%= category.color_hex %>"></div>
  <% end %>
  <p class="category--list-item-title"><%= category.name %></p>
</div>