<% raise "slim_dashboard_url is required" unless local_assigns[:slim_dashboard_url].present? %>
<% slim_dashboard_url = local_assigns[:slim_dashboard_url] %>

<% color = local_assigns[:color] || "gray" %>

<div class="application--speed-cell">
  <div class="application--speed-cell-data">
    <div class="application--speed-cell-header">
      <div class="application-speed-cell-icon-title">
        <%= svg_tag("#{type}-icon.svg", { width: 16, height: 16, class: "svg--fill-#{color}" }) %>
        <div class="application--speed-cell-value">
          <span class="forms--label ellipsis application--speed-cell-title"><%= "Avg. #{type}" %></span>
          <div class="widgets--location-avg-container wrap">
            <% if avg != "-" %>
              <span class="application--speed-value-text"><%= avg %></span>
              <span class="help-dark-text">Mbps</span>
            <% else %>
              <span class="help-dark-text"><%= avg %></span>
            <% end %>
          </div>
        </div>
      </div>
      <% if diff != "-" %>
      <span class="widgets--location-diff-text"
            data-negative="<%= diff.include?('-') %>"
      ><%= diff %></span>
      <% end %>
    </div>
  </div>
  <div class="application--speed-cell-chart <%= "application--speed-cell-chart-empty" if avg == "-" %>">
    <%= render partial: "dashboard/components/widgets/slim_#{type}_speed", locals: { custom_url: slim_dashboard_url } %>
  </div>
</div>

