---
import '../global.css';
import styles from './styles/_index.module.css';
import commonStyles from '../common.module.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import Carrousel from '../components/common/wrappers/Carrousel';
import AutoExpandingCards from '../components/common/wrappers/AutoExpandingCards';
import HomepageExpansibleRows from '../components/index/HomepageExpansibleRows';
import HomepageApproachExpansibleRows from '../components/index/HomepageApproachExpansibleRows';
import HeroWithText from "../components/common/content/HeroWithText.astro";
import PrimaryButton from "../components/common/buttons/PrimaryButton.astro";
import TransparentSecondaryButton from "../components/common/buttons/TransparentSecondaryButton.astro";
import HomepageFindingsCard from "../components/index/HomepageFindingsCard.astro";
import HomepageStoriesCard from "../components/index/HomepageStoriesCard.astro";
import OpportunitiesGrid from "../components/index/OpportunitiesGrid.astro";
import PartnerLogoCarrousel from "../components/index/PartnerLogoCarrousel.astro";
import fadedIcons from '../assets/images/faded-icons.png';
import oldManHomepage from '../assets/images/old-man-homepage.jpg';

import evaluationResultsFindingsThumbnail from '../assets/images/homepage-evaluation-results-findings-thumbnail.jpg';
import alaskaFindingsThumbnail from '../assets/images/homepage-alaska-findings-thumbnail.jpg';
import texasFindingsThumbnail from '../assets/images/homepage-texas-findings-thumbnail.jpg';
import wvFindingsThumbnail from '../assets/images/homepage-west-virginia-findings-thumbnail.jpg';
import michiganFindingsThumbnail from '../assets/images/homepage-michigan-findings-thumbnail.jpg';
import roadImage from '../assets/images/homepage-hero.jpg';
import blueGradientDiagonalLight from '../assets/images/blue-gradient-diagonal-light.webp';
import yellowPinkHorizontalLight from '../assets/images/yellow-pink-horizontal-light.webp';
import blueGradientHorizontalLight from '../assets/images/blue-gradient-horizontal-blured-light.webp';
import blueGradientConcavedLight from '../assets/images/blue-gradient-concaved-light.webp';
import blueGradientZigZagSmallLight from '../assets/images/green-blue-zigzag-small-light.webp';
import yellowPinkZigZagBluredSmallLight from '../assets/images/yellow-pink-zigzag-blured-small-light.webp';
import michiganStoryThumbnail from '../assets/images/michigan-story-thumbnail.jpg';
import westVirginiaStoryThumbnail from '../assets/images/west-virginia-story-thumbnail.jpg';
import alaskaStoryThumbnail from '../assets/images/alaska-story-thumbnail-wide.jpg';
import texasStoryThumbnail from '../assets/images/texas-story-thumbnail.jpg';
---

<BaseLayout
  title="Telehealth Broadband Project - Uncovering Rural America's Internet Reality"
  description="Explore the findings of the Telehealth Broadband Pilot, highlighting the challenges and opportunities in rural broadband access and its impact on telehealth."
  heroVariant="homepage"
  heroBgStyle={{backgroundImage: `url(${roadImage.src}`}}
>
  <section class={styles.firstSection}>
    <img src={blueGradientDiagonalLight.src} alt="blue gradient diagonal" class={styles.blueGradientDiagonalLight} />
    <img src={yellowPinkHorizontalLight.src} alt="yellow pink diagonal" class={styles.yellowPinkHorizontalLight} />
    <div class={styles.heroSection}>
      <HeroWithText head=""
                    title="Uncovering Rural America's Internet Reality"
                    content="The Telehealth Broadband Pilot partnered with communities in Alaska, Michigan, Texas, and West Virginia to gather data on rural broadband access and its impact on healthcare, education, and daily life."
                    mainHero
      />
    </div>
    <div class={styles.buttonsContainer}>
      <PrimaryButton href="/overview">Learn More</PrimaryButton>
      <TransparentSecondaryButton href="/findings">Explore Our Findings</TransparentSecondaryButton>
    </div>
    <div class={styles.partnersContainer}>
      <span class={styles.partnersTitle}>In partnership with our community partners</span>
      <PartnerLogoCarrousel />
    </div>
  </section>
  
  <section class={`${commonStyles.paddedSection} ${styles.secondSection}`}>
    <div class={styles.flyingLine} data-reverse="true"></div>
    <div class={styles.approachHero}>
      <HeroWithText head="Overview"
                    title="Uncovering Rural Connectivity Challenges"
                    content="The Telehealth Broadband Pilot partnered with local leaders to understand connectivity issues, using community engagement and monitoring tools to identify broadband gaps, inform telehealth policy, and support infrastructure improvements."
      />
    </div>
    <img src={fadedIcons.src} alt="Faded Icons" class={styles.fadedIcons} width="494" height="288"/>
    <div class={styles.flyingLine}></div>
  </section>
  
  <section class={`${commonStyles.paddedSection} ${styles.cardsSection}`}>
    <AutoExpandingCards client:only="react" content={[
      {head: '01', title: 'Community Engagement Efforts', content: 'We worked closely with local partners and community leaders to understand rural connectivity needs. By engaging directly with residents through surveys, interviews, and events, we ensured the data collected reflected the real challenges faced bt these communities.'},
      {head: '02', title: 'Tools and Methods for Data Collection', content: 'The project developed a variety of tools to measure broadband performance, including monitoring Pods, speed test widgets, and mobile data collection. These tools provided reliable data on internet quality, helping to map connectivity gaps in rural regions accurately.'},
      {head: '03', title: 'Analyzing Connectivity Challenges', content: 'Our analysis focused on understanding how connectivity issues impact rural communities. By examining the collected data, we identified patterns in broadband performance and barriers to telehealth adoption, offering communities insights into their unique digital landscape.'},
    ]}/>
    <HomepageApproachExpansibleRows client:only="react"/>
  </section>
  
  <section class={styles.findingsSection}>
    <div class={styles.findingsTextContainer}>
      <div class={styles.findingsGradientImage}>
        <div class={styles.gradient}></div>
        <img src={oldManHomepage.src} class={styles.oldMan} alt="Old man looking at river" />
      </div>
      <div class={commonStyles.paddedSection} id="findings-alignment-reference-id">
        <div class={styles.findingsHeroContainer}>
          <HeroWithText head="Findings"
                        title="Identifying the Real Barriers to Rural Broadband Access"
                        content="Our evaluation sheds light on the true complexities of rural internet access, where factors like technical knowledge, device setup, and infrastructure quality often outweigh ISP (Internet Service Provider) speed alone."/>
        </div>
        <div class={styles.findingsButtonContainer}>
          <PrimaryButton href="/findings">Explore Our Findings</PrimaryButton>
        </div>
      </div>
    </div>
    <div class={styles.findingsCarrouselContainer}>
      <Carrousel client:only="react" alignmentRefId={'findings-alignment-reference-id'} elementCount={5}>
        <HomepageFindingsCard title="Evaluating Rural Telehealth Access"
                              href="/findings/evaluation-results"
                              image={evaluationResultsFindingsThumbnail.src}
        />
        <HomepageFindingsCard title="Broadband Challenges in Remote Alaska"
                              href="/findings/alaska"
                              image={alaskaFindingsThumbnail.src}
        />
        <HomepageFindingsCard title="Connectivity Barriers in Rural Michigan"
                              href="/findings/michigan"
                              image={michiganFindingsThumbnail.src}
        />
        <HomepageFindingsCard title="A Look into the Rural Texas Communities"
                              href="/findings/texas"
                              image={texasFindingsThumbnail.src}
        />
        <HomepageFindingsCard title="West Virginia's Connectivity Landscape"
                              href="/findings/west-virginia"
                              image={wvFindingsThumbnail.src}
        />
      </Carrousel>
    </div>
  </section>
  
  <section class={styles.storiesSection}>
    <div class={commonStyles.paddedSection} id="stories-alignment-ref">
      <img src={blueGradientHorizontalLight.src} alt="blue gradient diagonal" class={styles.blueGradientHorizontalLight} />
      <img src={blueGradientConcavedLight.src} alt="blue gradient diagonal" class={styles.blueGradientConcavedLight} />
      <div class={styles.storiesHeroContainer}>
        <HeroWithText head="Stories"
                      title="The Reality in the Field"
                      content="Real experiences shared by our Community Lead Partners reveal the impact of connectivity challenges in rural communities."
        />
        <PrimaryButton href="/stories">Explore Our Stories</PrimaryButton>
      </div>
    </div>
    <div class={styles.storiesCarrouselContainer}>
      <Carrousel client:only="react" fullWidth alignmentRefId={'stories-alignment-ref'} arrowLess elementCount={4}>
        <HomepageStoriesCard head="Michigan"
                             title="Connectivity Challenges Undermining Rural Healthcare in Michigan"
                             content="Broadband issues at Northwest Michigan Health Services clinics highlight the vital role of reliable internet for telehealth, medical records, and patient care, emphasizing the need for systemic improvements."
                             image={michiganStoryThumbnail.src}
                             link="/stories/connectivity-issues-in-rural-michigan-healthcare"
        />
        <HomepageStoriesCard head="West Virginia"
          title="Breaking Barriers to Treatment in Rural West Virginia"
          content="Connectivity issues in rural West Virginia disrupt operations and virtual treatment at the Jefferson Day Report Center, underscoring the need for reliable broadband to support rural services."
          image={westVirginiaStoryThumbnail.src}
          link="/stories/breaking-barriers-to-treatment-in-rural-west-virginia"
        />
        <HomepageStoriesCard head="Alaska"
                             title="Connecting Alaska's Remote Communities"
                             content="In Alaska's remote villages, unreliable broadband and lack of IT support create critical challenges for telehealth and essential services, highlighting the need for targeted solutions in isolated communities."
                             image={alaskaStoryThumbnail.src}
                             link="/stories/connecting-alaskas-remote-communities"
        />
        <HomepageStoriesCard head="Texas"
                             title="Texas Tackles Rural Connectivity Challenges"
                             content="In rural Texas, inconsistent broadband access limits telehealth services, with residents and healthcare providers struggling to meet connectivity standards."
                             image={texasStoryThumbnail.src}
                             link="/stories/texas-tackles-rural-connectivity-challenges"
        />
      </Carrousel>
    </div>
  </section>
  
  <section class={`${commonStyles.paddedSection} ${styles.opportunitiesSection}`}>
    <img src={blueGradientZigZagSmallLight.src} alt="blue gradient diagonal" class={styles.blueGradientZigZagSmallLight} />
    <div class={styles.opportunitiesHero}>
      <HeroWithText head="Opportunities"
                    title="Practical Solutions for Empowering Rural Communities"/>
    </div>
    <OpportunitiesGrid/>
  </section>

  <section class={`${commonStyles.paddedSection} ${styles.resourcesSection}`}>
    <div class={styles.resourcesHeroContainer}>
      <img src={yellowPinkZigZagBluredSmallLight.src} alt="yellow pink diagonal light" class={styles.yellowPinkZigZagBluredSmallLight} />
      <HeroWithText head="Resources"
                    title="Tools to Help the Communities"
                    content="We've created a suite of tools to help communities understand their broadband experience and take actionable steps toward improving it."
      />
      <PrimaryButton href="/resources">Explore Resources</PrimaryButton>
    </div>
    <HomepageExpansibleRows client:only="react"/>
  </section>
</BaseLayout>


<script>
  const heroImage = document.getElementById('hero-image');
  if(heroImage) heroImage.style.height = '700px';
</script>