---
import '../global.css';
import styles from './styles/_index.module.css';
import commonStyles from '../common.module.css';
import BaseLayout from "../layouts/BaseLayout.astro";
import Carrousel from '../components/common/Carrousel';
import AutoExpandingCards from '../components/common/AutoExpandingCards';
import HomepageExpansibleRows from '../components/index/HomepageExpansibleRows';
import HomepageApproachExpansibleRows from '../components/index/HomepageApproachExpansibleRows';
import HeroWithText from "../components/common/HeroWithText.astro";
import PrimaryButton from "../components/common/buttons/PrimaryButton.astro";
import TransparentSecondaryButton from "../components/common/buttons/TransparentSecondaryButton.astro";
import HomepageFindingsCard from "../components/index/HomepageFindingsCard.astro";
import HomepageStoriesCard from "../components/index/HomepageStoriesCard.astro";
import OpportunitiesGrid from "../components/index/OpportunitiesGrid.astro";
import PartnerLogoCarrousel from "../components/index/PartnerLogoCarrousel.astro";
import fadedIcons from '../assets/images/faded-icons.png';
import oldManHomepage from '../assets/images/old-man-homepage.webp';
import ruralVsUrban from '../assets/images/rural-vs-urban.webp';
import challengesInAlaska from '../assets/images/challenges-in-alaska.webp';
import importanceOfLocal from '../assets/images/importance-of-local-expertise.webp';
import diverseEngagementStrategies from '../assets/images/diverse-engagement-strategies.webp';
import lackOfTechnicalExpertiseStoryImage from '../assets/images/lack-of-technical-expertise-story.webp'
import roadImage from '../assets/images/road.webp';
import lackOfTechnicalExpertise from '../assets/images/lack-of-technical-expertise.webp';
---

<BaseLayout
  title="Telehealth Broadband Project - Uncovering Rural America's Internet Reality"
  description="Explore the findings of the Telehealth Broadband Pilot, highlighting the challenges and opportunities in rural broadband access and its impact on telehealth."
  heroBgStyle={`background-image: url(${roadImage.src}); background-position-y: 75%; height: 765px;`}
>
  <section class={styles.firstSection}>
    <div class={styles.heroSection}>
      <HeroWithText head=""
                    title="Uncovering Rural America's Internet Reality"
                    content="The Telehealth Broadband Pilot partnered with communities in Alaska, Michigan, Texas, and West Virginia to gather data on rural broadband access and its impact on healthcare, education, and daily life."
      />
    </div>
    <div class={styles.buttonsContainer}>
      <PrimaryButton href="/findings">Explore our findings</PrimaryButton>
      <TransparentSecondaryButton href="/stories">Read the Stories</TransparentSecondaryButton>
    </div>
    <div class={styles.partnersContainer}>
      <span class={styles.partnersTitle}>In partnership with our community partners</span>
      <PartnerLogoCarrousel />
    </div>
  </section>
  
  <section class={`${commonStyles.paddedSection} ${styles.secondSection}`}>
    <div class={styles.flyingLine} data-reverse="true"></div>
    <div class={styles.approachHero}>
      <HeroWithText head="Our approach"
                    title="Uncovering Rural Connectivity Challenges"
                    content="The Telehealth Broadband Pilot Program identified actionable opportunities to enhance internet experiences in rural communities, focusing on the full journey of accessing and using online services."
      />
    </div>
    <img src={fadedIcons.src} alt="Faded Icons" class={styles.fadedIcons} width="494" height="288"/>
    <div class={styles.flyingLine}></div>
  </section>
  
  <section class={`${commonStyles.paddedSection} ${styles.cardsSection}`}>
    <AutoExpandingCards client:only="react" content={[
      {head: '01', title: 'Community Engagement Efforts', content: 'We worked closely with local partners and community leaders to understand rural connectivity needs. By engaging directly with residents through surveys, interviews, and events, we ensured the data collected reflected the real challenges faced bt these communities.'},
      {head: '02', title: 'Tools and Methods for Data Collection', content: 'The project developed a variety of tools to measure broadband performance, including monitoring Pods, speed test widgets, and mobile data collection. These tools provided reliable data on internet quality, helping to map connectivity gaps in rural regions accurately.'},
      {head: '03', title: 'Analyzing Connectivity Challenges', content: 'Our analysis focused on understanding how connectivity issues impact rural communities. By examining the collected data, we identified patterns in broadband performance and barriers to telehealth adoption, offering communities insights into their unique digital landscape.'},
    ]}/>
    <HomepageApproachExpansibleRows client:only="react"/>
  </section>
  
  <section class={styles.findingsSection}>
    <div class={styles.findingsTextContainer} style={`background-image: url(${oldManHomepage.src})`}>
        <div class={styles.findingsGradient}></div>
      <div class={commonStyles.paddedSection} id="findings-alignment-reference-id">
        <div class={styles.findingsHeroContainer}>
          <HeroWithText head="Findings"
                        title="Finding the Real Barriers to Rural Broadband Access"
                        content="Our evaluation uncovered critical insights into the complexities of rural internet access, beyond just ISP availability and overall speed. Key factors like the user's technical knowledge, device setup, and infrastructure configuration play a significant role in determining broadband quality."/>
        </div>
        <div class={styles.findingsButtonContainer}>
          <PrimaryButton href="/findings">Explore our findings</PrimaryButton>
        </div>
      </div>
    </div>
    <div class={styles.findingsCarrouselContainer}>
      <Carrousel client:only="react" alignmentRefId={'findings-alignment-reference-id'}>
        <HomepageFindingsCard title="Rural vs. Urban Internet Gaps"
                              href="/findings/rural-vs-urban-internet-gaps"
                              image={ruralVsUrban.src}
        />
        <HomepageFindingsCard title="Challenges in Alaska"
                              href="/findings/challenges-in-alaska"
                              maxTextWidth="250px"
                              image={challengesInAlaska.src}
        />
        <HomepageFindingsCard title="Importance of Local Expertise"
                              href="/findings/importance-of-local-expertise"
                              image={importanceOfLocal.src}
        />
        <HomepageFindingsCard title="Diverse Engagement Strategies"
                              href="/findings/diverse-engagement-strategies"
                              image={diverseEngagementStrategies.src}
        />
      </Carrousel>
    </div>
  </section>
  
  <section class={styles.storiesSection}>
    <div class={commonStyles.paddedSection} id="stories-alignment-ref">
      <div class={styles.storiesHeroContainer}>
        <HeroWithText head="Stories"
                      title="The Reality in the Field"
                      content="Real experiences that reveal the impact of connectivity challenges in rural communities, shared by our Community Lead Partners."
        />
        <PrimaryButton href="/stories">Explore Our Stories</PrimaryButton>
      </div>
    </div>
    <div class={styles.storiesCarrouselContainer}>
      <Carrousel client:only="react" fullWidth alignmentRefId={'stories-alignment-ref'} arrowLess elementCount={2}>
        <HomepageStoriesCard head="West Virginia"
          title="Community Centers as Lifelines"
          content="In many rural areas, reliable internet access exists only at community centers, leaving households disconnected. One young adult shared their shock at discovering high-speed internet for the first time upon arriving at college."
          image={lackOfTechnicalExpertise.src}
          link="/stories/west-virginia"
        />
        <HomepageStoriesCard head="Alaska"
                             title="Lack of Technical Expertise"
                             content="Rural Alaska clinics relying on satellite internet experienced severe delays, making many applications unusable. A lack of local expertise and vendor support left these clinics unable to fully utilize essential healthcare services."
                             image={lackOfTechnicalExpertiseStoryImage.src}
                             link="/stories/lack-of-technical-expertise"
        />
      </Carrousel>
    </div>
  </section>
  
  <section class={`${commonStyles.paddedSection} ${styles.opportunitiesSection}`}>
    <div class={styles.opportunitiesHero}>
      <HeroWithText head="Opportunities"
                    title="Practical Solutions for Empowering Rural Communities"/>
    </div>
    <OpportunitiesGrid/>
  </section>

  <section class={`${commonStyles.paddedSection} ${styles.resourcesSection}`}>
    <div class={styles.resourcesHeroContainer}>
      <HeroWithText head="Resources"
                    title="Tools to Help the Communities"
                    content="We've created a suite of tools to help communities understand their broadband experience and take actionable steps toward improving it."
      />
      <PrimaryButton href="/resources">Explore Resources</PrimaryButton>
    </div>
    <HomepageExpansibleRows client:only="react"/>
  </section>
</BaseLayout>


<script>
  const heroImage = document.getElementById('hero-image');
  if(heroImage) heroImage.style.height = '700px';
</script>