---
import '../global.css';
import styles from './styles/_resources.module.css';
import commonStyles from '../common.module.css';

import BaseLayout from "../layouts/BaseLayout.astro";
import Carrousel from '../components/common/wrappers/Carrousel';
import Modal from '../components/common/wrappers/Modal.astro';
import BroadbandModal from "../components/resources/BroadbandModal.astro";
import ResourceCard from "../components/resources/ResourceCard.astro";
import TransparentSecondaryButton from "../components/common/buttons/TransparentSecondaryButton.astro";
import HeroWithText from "../components/common/content/HeroWithText.astro";
import MobileTestingModal from '../components/resources/MobileTestingModal.astro';
import RadarPodsModal from '../components/resources/RadarPodsModal.astro';
import SpeedtestModal from "../components/resources/SpeedtestModal.astro";
import RadarToolkitIntroduction from "../components/resources/RadarToolkitIntroduction.astro";
import ResourcesRelatedLinks from "../components/resources/ResourcesRelatedLinks.astro";

import resourcesHeroImage from '../assets/images/resources-hero-image.webp';
import blueGreenVerticalLight from '../assets/images/blue-green-vertical-light.webp';
import pinkYellowVerticalLight from '../assets/images/pink-yellow-vertical-light.webp';
import dotsGrid from '../assets/images/dots-grid.webp';
import thumbnail1 from '../assets/images/resources-card-thumbnail-1.jpg';
import thumbnail2 from '../assets/images/resources-card-thumbnail-2.jpg';
import thumbnail3 from '../assets/images/resources-card-thumbnail-3.jpg';
import thumbnail4 from '../assets/images/resources-card-thumbnail-4.jpg';
import VimeoVideoPlayer from "../components/common/content/VimeoVideoPlayer.astro";
---
<BaseLayout
  title="Tools and Resources for Rural Connectivity"
  description="Access tools, maps, and resources developed to help communities measure broadband performance, identify gaps, and advocate for improved connectivity."
>

  <section class={commonStyles.paddedSection}>
    <img src={pinkYellowVerticalLight.src} alt="pink yellow light" class={styles.pinkYellowVerticalLight} />
    <img src={blueGreenVerticalLight.src} alt="blue green light" class={styles.blueGreenVerticalLight} />
    <div class={styles.heroSectionContent}>
      <div class={styles.heroSectionHeroContainer}>
        <img src={dotsGrid.src} alt="dots grid" class={styles.dotsGrid} />
        <HeroWithText
          title="Innovative Tools for Monitoring Internet Connectivity"
          content="The Telehealth Broadband Pilot Program developed innovative tools that empower users to monitor and understand their internet quality. Discover real data showcasing internet performance in your community."
          mainHero
        />
      </div>
      <img src={resourcesHeroImage.src}
        alt="Resources section hero image"
        class={styles.heroImage}
      />
    </div>
  </section>
  
  <section class={styles.exploreToolsSection}>
    <RadarToolkitIntroduction/>
    <div class={commonStyles.paddedSection} id="carrousel-alignment-ref"></div>
    <Carrousel client:only="react" alignmentRefId={'carrousel-alignment-ref'} elementCount={4}>
      <ResourceCard head="Broadband Mapping"
                    title="Explore Broadband Nationwide"
                    triggerId="broadband-modal-trigger"
                    modalId="broadband-modal"
                    backgroundImage={thumbnail1.src}
      />
      <ResourceCard head="Radar Pods"
                    title="Real-Time Internet Monitoring"
                    triggerId="pods-modal-trigger"
                    modalId="pods-modal"
                    backgroundImage={thumbnail2.src}
      />
      <ResourceCard head="Radar Speed"
                    title="Web-Based Speed Testing"
                    triggerId="speed-test-modal-trigger"
                    modalId="speed-test-modal"
                    backgroundImage={thumbnail3.src}
      />
      <ResourceCard head="Mobile Testing"
                    title="On-the-Go Speed Testing"
                    triggerId="mobile-testing-trigger"
                    modalId="mobile-testing-modal"
                    backgroundImage={thumbnail4.src}
      />
    </Carrousel>
  </section>

  <section class={`${commonStyles.paddedSection} ${styles.learnMoreSection}`}>
    <div class={styles.learnMoreHeroContainer}>
      <HeroWithText head="Learn More"
        title="Top 10 Reasons Your Internet Falls Short and How to Fix It"
        content="Watch our video and download our troubleshooting guide to start diagnosing and fixing the most common connectivity issues."
      />
      <TransparentSecondaryButton
        href={'/files/webinar/2025-01-30-Final Webinar.pdf'}
        download
        filename="2025-01-30-Final Webinar.pdf"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
          <path fill="white" transform="translate(0.25 0.25)" d="M7.75 0C8.1642132 0 8.5 0.33578643 8.5 0.75L8.5 9.9720001L11.21967 7.2530031C11.485936 6.9867368 11.9026 6.9625306 12.196212 7.1803851L12.28033 7.2530031C12.573223 7.5458965 12.573223 8.0207701 12.28033 8.3136635L8.2803297 12.313663C7.9874368 12.606557 7.5125632 12.606557 7.2196698 12.313663L3.2196698 8.3136635C2.9267766 8.0207701 2.9267766 7.5458965 3.2196698 7.2530031C3.5125632 6.9601102 3.9874368 6.9601102 4.2803302 7.2530031L7 9.9720001L7 0.75C7 0.33578643 7.3357863 0 7.75 0ZM14.75 14C15.164213 14 15.5 14.335787 15.5 14.75C15.5 15.164213 15.164213 15.5 14.75 15.5L0.75 15.5C0.33578643 15.5 0 15.164213 0 14.75C0 14.335787 0.33578643 14 0.75 14L14.75 14Z"/>
        </svg>
        Download Our Guide
      </TransparentSecondaryButton>
    </div>
    <div class={styles.learnMoreVideo}>
      <VimeoVideoPlayer src="https://player.vimeo.com/video/1052411774?h=93996a0e60" title="why-your-internet-sucks (1080p)"/>
    </div>
  </section>

  <section class={styles.relatedLinksSection}>
    <ResourcesRelatedLinks/>
  </section>

  <Modal id={'broadband-modal'} isOpen={false}>
    <BroadbandModal modalId={'broadband-modal'}/>
  </Modal>
  <Modal id={'pods-modal'} isOpen={false}>
    <RadarPodsModal modalId={'radar-pods-modal'}/>
  </Modal>
  <Modal id={'speed-test-modal'} isOpen={false}>
    <SpeedtestModal modalId={'speed-test-modal'}/>
  </Modal>
  <Modal id={'mobile-testing-modal'} isOpen={false}>
    <MobileTestingModal modalId={'mobile-testing-modal'}/>
  </Modal>
</BaseLayout>

<script>
  function attachModals(carrousel: HTMLElement) {
    let modals : HTMLElement[] = [];
    const carrouselListItems = carrousel.querySelectorAll('li');
    carrouselListItems.forEach(li => {
      const modal = document.getElementById(li.dataset.modalId!);
      if(modal) {
        modals.push(modal);
      }
    });
    
    carrouselListItems.forEach((li, index) => {
      const modal = modals[index];
      li.addEventListener('click', () => {
        modal.dataset.isOpen = 'true';
      });
    });
  }

  // Bringing in a MutationObserver here because as the Carrousel component is client-side rendered,
  // the modals are not present in the DOM when the script is executed. So, by "listening" to DOM mutations
  // I can trigger the required script at the exact moment the modals are added to the DOM.
  const mutationObserver = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
      if(mutation.addedNodes.length === 1 && (mutation.addedNodes[0] as HTMLElement).id === 'scroll-gallery-feature-cards') {
        attachModals(mutation.addedNodes[0] as HTMLElement);
      }
    });
  });
  
  mutationObserver.observe(document, {
    childList: true,
    subtree: true
  });
</script>

<script type="text/javascript"
        src="https://speed.radartoolkit.com/widget.js"
        onload="
          RadarSpeedWidget.config({ clientId: 1, elementId: 'speedtest-root', frameStyle: { width: '100%', height: '100%' }, global: true });
          RadarSpeedWidget.new().mount();
        "
        defer
></script>