---
import "../global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import commonStyles from "../common.module.css";
import styles from "./styles/_stories.module.css";
import HeroWithText from "../components/common/content/HeroWithText.astro";
import WestVirginiaStoryCard from "../components/stories/WestVirginiaStoryCard.astro";
import MichiganStoryCard from "../components/stories/MichiganStoryCard.astro";
import AlaskaStoryCard from "../components/stories/AlaskaStoryCard.astro";
import TexasStoryCard from "../components/stories/TexasStoryCard.astro";

import storiesHero from '../assets/images/stories-hero.webp';
---

<BaseLayout
  title="Stories from the Field: Real Rural Connectivity Challenges"
  description="Read firsthand accounts of how connectivity issues impact rural communities. Stories of resilience, innovation, and lessons learned from real experiences."
  heroBgStyle={`background-image: url(${storiesHero.src}); background-position-y: 50%; height: 536px;`}
>
  <section class={styles.heroSection}>
    <HeroWithText
      head="Stories"
      title="The Reality on the Ground"
      content="Firsthand experiences from the field, shared by our Community Lead Partners."
      mainHero
    />
  </section>
  <section class={commonStyles.paddedSection}>
    <div class={styles.stories}>
      <MichiganStoryCard primary/>
      <div class={styles.divider}></div>
      <div class={styles.threeStories}>
        <WestVirginiaStoryCard/>
        <AlaskaStoryCard/>
        <TexasStoryCard/>
      </div>
    </div>
  </section>
</BaseLayout>
