<%= form_with(model: update_group, url: update_groups_path(update_group.id), method: :post, data: {"turbo-frame" => "_top"}) do |form| %>
  <div class="modal-body modals--body">
    <div class="forms--row">
      <!--begin::Label-->
      <label class="required forms--label mb-2">Group Name</label>
      <!--end::Label-->
      <!--begin::Input-->
      <%= form.text_field :name, class: "forms--text-input form-control form-control-solid", value: update_group.name %>
      <!--end::Input-->
      <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>

    <div class="forms--row">
      <label class="required forms--label mb-2">Release Version</label>
      <div class="forms--input-group">
        <select class="form-select forms--select form-control"
                data-controller="select2"
                data-select2-blanks-value="true"
                id="update-group-version-dropdown-edit"
                data-placeholder="Select a version"
                name="update_group[client_version_id]"
                data-select2-id="select2-data-client_version_id"
                tabindex="-1">
          <% policy_scope(ClientVersion).each do |cv|%>
            <option value="<%= cv.id %>" label="<%= cv.version %>"><%= cv.version %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer modals--footer">
    <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Cancel"} %>
    <button type="submit"
            class="custom-button custom-button--primary custom-button--sm"
            id="continue-button"
    >Create</button>
  </div>
<% end %>