<div class="card w-100">
  <!--begin::Card body-->
  <div class="card-body pt-0 px-0">
    <!--begin::Table-->
    <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
      <div class="table-responsive" style="overflow: visible">
        <table class="table table-row-bordered align-middle fs-6 gy-5 dataTable no-footer table-rounded" id="kt_customers_table">
          <!--begin::Table head-->
          <thead>
          <!--begin::Table row-->
          <tr class="text-start fw-bolder gs-0"
              style="font-size: 12px; height: 65px;">
            <th class="tables--title ps-10" style="width: 15vw" tabindex="0" aria-controls="kt_customers_table"
                rowspan="1" colspan="1" aria-label="Location Name">User</th>
            <% if current_account.is_all_accounts? %>
              <th class="tables--title" style="width: 15vw" tabindex="0" aria-controls="kt_customers_table"
                rowspan="1" colspan="1" aria-label="Invited">Account</th>
            <% end %>
            <th class="tables--title" style="<%= current_account.is_all_accounts? ? 'width: 10vw' : 'width: 15vw'%>" tabindex="0" aria-controls="kt_customers_table"
                rowspan="1" colspan="1" aria-label="Invited">Invited</th>
            <th class="tables--title" style="<%= current_account.is_all_accounts? ? 'width: 10vw' : 'width: 15vw'%>" tabindex="0" aria-controls="kt_customers_table"
                rowspan="1" colspan="1" aria-label="Join Date">Join Date</th>
            <th class="tables--title" style="<%= current_account.is_all_accounts? ? 'width: 10vw' : 'width: 15vw'%>" tabindex="0" aria-controls="kt_customers_table"
                rowspan="1" colspan="1" aria-label="Status">Status</th>
            <th class="tables--title" style="width: 8vw" tabindex="0" aria-controls="kt_customers_table"
                rowspan="1" colspan="1" aria-label="Resend invite"></th>
            <th class="text-end tables--title" style="width: 8vw" rowspan="1"
                colspan="1" aria-label="Actions"></th>
          </tr>
          <!--end::Table row-->
          </thead>
          <!--end::Table head-->
          <!--begin::Table body-->
          <tbody class="fw-bold text-gray-600" id="users_table">
            <% users_accounts.each_with_index do |user_account, index| %>
              <%= render partial: "users/users_table_row_user_account", locals: { user_account: user_account, is_even: index % 2 == 0 } %>
            <% end %>
            <% invited_users.each_with_index do |invitee, index| %>
              <%= render partial: "users/users_table_row_invitee", locals: { invitee: invitee, is_even: (index + users_accounts.length) % 2 == 0 } %>
            <% end %>
          </tbody>
          <!--end::Table body-->
        </table>
      </div>
    </div>
    <!--end::Table-->
  </div>
  <!--end::Card body-->
</div>