<div class="card w-100" id="client-details">
  <!--begin::Card title-->
  <div class="card-title-container p-6 d-flex flex-row justify-content-between align-items-center">
    <div class="card-title--wrapper d-flex flow-row align-items-center">
      <div class="card-title--icon d-flex align-items-center justify-content-center"
          style="height: 70px; width: 70px; background-color: #f1faff; border-radius: 50%; margin-right: 20px">
        <span class="text-primary" style="position: relative; font-size: 32px">
          <%= user_account.user.get_letter_for_icon %>
        </span>
      </div>
      <div class="card-title--title-content">
        <div class="card-main-title">
          <%= "#{user_account.user.first_name} #{user_account.user.last_name}" %>
        </div>
        <div class="additional-text">
          <%= user_account.user.email %>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap justify-content-evenly">
      <%= link_to 'Remove User', users_account_path(user_account, type: 'UsersAccount'), method: :delete, data: { confirm: 'Are you sure?' }, class: "custom-button custom-button--sm custom-button--secondary-light-danger" %>
    </div>
  </div>
  <!--end::Card title-->
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body pt-0 d-flex flex-row">
    <div class="client-data" style="width: 30%">
      <div class="location-data--row mb-6 d-flex flex-row align-items-center justify-content-between flex-wrap">
        <div class="forms--label w-50">Status</div>
        <div class="d-flex flex-row w-100 w-xl-50" style="font-size: 14px">
          <span class="custom-badge <%= user_account.get_badge_style %>"><%= user_account.status_to_human %></span>
        </div>
      </div>
      <div class="location-data--row d-flex flex-row align-items-center justify-content-between flex-wrap">
        <div class="forms--label w-50">Join Date</div>
        <div class="regular-text d-flex flex-row w-100 w-xl-50">
          <%= pretty_print_date(user_account.joined_at) %>
        </div>
      </div>
      <!-- TODO: add once we support last login
      <div class="location-data--row mb-6 d-flex flex-row align-items-center justify-content-between flex-wrap">
        <div class="fw-bolder w-50" style="min-width: 130px">Last Login</div>
        <div class="d-flex flex-row w-100 w-xl-50" style="font-size: 14px">
        </div>
      </div>
      -->
    </div>
  </div>
  <!--end::Card body-->
</div>
