<tr id="<%= dom_id(invitee) %>">
  <td style="padding-left: 30px">
    <div class="d-flex flex-row align-items-center">
      <div class="d-flex align-items-center justify-content-center me-5"
           style="border-radius:50%; background-color: <%= is_even ? '#f1faff' : '#e8fff3' %>; min-width: 36px; width: 36px; min-height: 36px; height: 36px">
        <span class="<%= is_even ? 'text-primary' : 'text-success'%>" style="position: relative; font-size: 16px">
          <%= invitee.get_letter_for_icon %>
        </span>
      </div>
      <div class="d-flex flex-column">
        <a class="forms--label"
           style="max-width: 15vw;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
           href="<%= users_account_path(invitee, type: invitee.class.name)%>"
           data-turbo-frame="_top"
        >
          <%= "#{invitee.first_name} #{invitee.last_name}" %>
        </a>
        <div class="additional-text"><%= invitee.email %></div>
      </div>
    </div>
  </td>
  <% if current_account.is_all_accounts? %>
    <td class="forms--label"
        style="max-width: 15vw;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
      <span style="color: #5e6278;"><%= invitee.account.name %></span>
    </td>
  <% end %>
  <td class="forms--label"
      style="max-width: <%= current_account.is_all_accounts? ? '10vw' : '15vw' %>;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
    <span><%= pretty_print_date(invitee.sent_at) %></span>
  </td>
  <td class="text-gray-600 mb-1"
      style="font-size:14px; max-width: <%= current_account.is_all_accounts? ? '10vw' : '15vw' %>;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
    <span style="color: #5e6278;">-</span>
  </td>
  <td class="mb-1"
      style="font-size:14px;">
    <span class="custom-badge custom-badge--pending"><%= invitee.status_to_human %></span>
  </td>
  <td>
    <%= link_to "Resend invite", resend_invites_path(id: invitee.id), class: "custom-button custom-button--primary-light custom-button--sm", style: "padding-left: 10px; padding-right: 10px;", method: :post %>
  </td>
  <td class="text-end" style="padding-right: 30px">
    <div class="btn-group dropend">
      <%= render partial: "application/components/buttons/more_options_button", locals: { id: "options-button-#{invitee.id}" } %>
      <div class="dropdown-menu fw-bold fs-7 w-125px py-4"
          aria-labelledby="<%= "options-button-#{invitee.id}" %>">
        <!--begin::Menu item-->
        <div class="dropdowns--option menu-item">
          <%= link_to "View", users_account_path(invitee, type: invitee.class.name), { class: "menu-link text-hover-gray-500 text-gray-700 px-3" } %>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="dropdowns--option menu-item">
          <%= link_to 'Remove', users_account_path(invitee, type: invitee.class.name), method: :delete, data: { confirm: 'Are you sure?' }, class: "menu-link text-hover-gray-500 text-gray-700 px-3" %>
        </div>
        <!--end::Menu item-->
      </div>
    </div>
  </td>
</tr>
