<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="page-main-title">Users 
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item page-sub-title"><%= current_account.is_all_accounts? ? "All accounts" : current_account.name %>
        </li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
    <div class="d-flex align-items-center flex-nowrap text-nowrap py-1">
      <button
        type="button"
        class="custom-button custom-button--primary custom-button--sm"
        data-bs-toggle="modal"
        data-bs-target="#add_user_wizard"
      >Add User</button>
    </div>
  </div>
</div>
<!--end::Toolbar-->
<div class="post fs-6 d-flex flex-column" id="kt_post" data-controller="multi-row-table">
  <% if !current_account.is_all_accounts? %>
    <%= render partial: "application/components/tabs/page_tabs",
        locals: {
          tabs: [
            { text: 'Members', path: users_account_index_path },
            { text: 'Account Sharing', path: users_account_shared_path }
          ]
        }
     %>
  <% end %>
  <%= render partial: "users/users_table_filters" %>
  <%= render partial: "application/components/tables/generic_table",
      locals: {
        table_id: "users_table",
        type: TablesHelper::TableTypes::MEMBERS,
        titles: TablesHelper.titles(TablesHelper::TableTypes::MEMBERS, current_account.is_all_accounts?, is_super_user?),
        widths: TablesHelper.widths(TablesHelper::TableTypes::MEMBERS, current_account.is_all_accounts?, is_super_user?),
        rows: elements,
        total: total
      }
  %>
</div>

<div class="modal fade"
     tabindex="-1"
     id="add_user_wizard"
     data-controller="add-user modal"
     data-action="turbo:submit-end->modal#submit"
>
  <%= render partial: "users/add_user_wizard/add_user_wizard" %>
</div>