<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="page-main-title">Users
        <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item page-sub-title"><%= current_account.name %>
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Toolbar-->
<div class="post fs-6 d-flex flex-column" id="kt_post">
  <%= render partial: "application/components/tabs/page_tabs",
        locals: {
          tabs: [
            { text: 'Members', path: users_account_index_path },
            { text: 'Account Sharing', path: users_account_shared_path }
          ]
        }
     %>
  <div class="card">
    <!--begin::Card body-->
    <div class="card-body pt-8 px-6 d-flex flex-column">
      <p class="additional-text wrap" style="max-width: 635px">Account Sharing allows you to delegate access to your account to everyone from another account. Members will inherit their roles when accessing the shared account.</p>
      <%= form_with url: delegate_shared_users_accounts_path, method: :post do |form| %>
        <div class="fv-row fv-plugins-icon-container">
          <label class="forms--label">Share account with...</label>
          <div class="d-flex flex-row justify-content-between align-items-center w-100">
            <div class="input-group forms--input-group" style="width: 50%; max-width: 400px">
              <select id=""
                class="forms--select form-select select2-hidden-accessible"
                data-placeholder="Do not share"
                tabindex="-1"
                data-controller="select2"
                style="background-color: #f5f8fa;"
                multiple="true"
                name="share_to[]"
                data-is-multi="true"
              >
                <% current_user.accounts.not_deleted.distinct.where.not(id: current_account.id).each do |account| %>
                  <option value="<%= account.id %>" label="<%= account.name %>" <%= policy_scope(SharedAccount).where(shared_to_account_id: account.id).count == 1 ? "selected" : nil %>><%= account.name %></option>
                <% end %>
              </select>
            </div>
          </div>
          <p class="mt-2 mb-10 help-text wrap"><%= current_account.get_share_state_string(policy_scope(SharedAccount)) %></p>
          <button type="submit" class="custom-button custom-button--primary custom-button--sm">Save settings</button>
        </div>
      <% end %>
    </div>
    <!--end::Card body-->
  </div>
</div>