<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="text-dark fw-bolder my-1 fs-2">Measurements 
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item text-muted">Home</li>
        <li class="breadcrumb-item text-muted">
          <a href="<%= locations_path %>" class="text-muted text-hover-primary">Locations</a>
        </li>
        <li class="breadcrumb-item text-muted">
          <a href="<%= location_path(@location) %>" class="text-muted text-hover-primary"><%= @location.name %></a>
        </li>
        <li class="breadcrumb-item text-dark">Measurements</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Toolbar-->


<p id="notice"><%= notice %></p>


<div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
  <!--begin::Container-->
  <div class="container-xxl">
  
    <% if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>
    <!--begin::Card-->
    <div class="card">
      <div class="card-header py-5 d-flex align-items-center">
        <div class="card-title" style="font-size: 20px; color: #3f4254">
          Measurements
        </div>
      </div>
      <!--end::Card toolbar-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <!--begin::Card toolbar-->
        <div class="card-toolbar my-8">
          <!--begin::Toolbar-->
          <div class="d-flex justify-content-between" data-kt-customer-table-toolbar="base">
            <div class="dropdown-container">
              <a href="#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
              Last week
                <span class="svg-icon svg-icon-5 m-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
                  </svg>
                </span>
              </a>
              <a href="#" class="btn btn-sm btn-light btn-active-light-primary ms-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
              All test styles
                <span class="svg-icon svg-icon-5 m-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
                  </svg>
                </span>
              </a>
              <!--begin::Menu-->
              <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true" data-controller="menu">
                <div class="menu-item px-3">
                  Option 1
                </div>
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                  Option 2
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                  Option 3
                </div>
                <!--end::Menu item-->
              </div>
              <!--end::Menu-->
            </div>
            <div class="export-container">
              <!--begin::Export-->
              <a href="<%= location_measurements_path(@location, format: 'csv') %>" class="btn btn-primary me-3">Export Measurements</a>
              <!--end::Export-->
            </div>
          </div>
          <!--end::Toolbar-->
        </div>
        <!--begin::Table-->
        <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="table-responsive"><table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_customers_table">
          <!--begin::Table head-->
          <thead>
            <!--begin::Table row-->
            <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
              <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 132.146px;">Time</th>
              <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 149.958px;">Style</th>
              <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 149.958px;">Download</th>
              <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 149.958px;">Upload</th>
              <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 149.958px;">Latency</th>
              <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 149.958px;">Jitter</th>
            <!--end::Table row-->
          </thead>
          <!--end::Table head-->
          <!--begin::Table body-->
          <tbody class="fw-bold text-gray-600">
          <% @measurements.order(created_at: :desc).each do |measurement| %>
            <tr>
              <td data-controller="localtime" style="color: #5e6278"><%= measurement.created_at %></td>
              <td style="color: #5e6278"><%= measurement.style %></td>
              <td style="color: #5e6278"><%= number_with_precision measurement.download, precision: 3 %></td>
              <td style="color: #5e6278"><%= number_with_precision measurement.upload, precision: 3 %></td>
              <td style="color: #5e6278"><%= number_with_precision measurement.latency, precision: 3 %></td>
              <td style="color: #5e6278"><%= number_with_precision measurement.jitter, precision: 3 %></td>
            </tr>
          <% end %>
          </tbody>
          <!--end::Table body-->
          <!--begin::Pagination-->
          <!--end::Pagination-->
        </table>
        </div></div>
        <!--end::Table-->
        <div class="pagination-container d-flex justify-content-between align-items-center mt-5">
          <div>
            <% page_elements = @measurements.length == 10 ? @measurements.length * params[:page].to_i : params[:page].to_i * 10 - 10 + @measurements.length %>
            Showing <%= params[:page].nil? ? '1' : params[:page].to_i * 10 - 9 %> to <%= params[:page].nil? ? @measurements.length : page_elements %> of <%= @total %> records
          </div>
          <ul class="pagination">
            <li class="page-item previous <%= params[:page].nil? || (params[:page].present? && 1 == params[:page].to_i) ? 'disabled' : ''%>">
              <% if params[:page].present? && params[:page].to_i > 1 %>
                <a href="<%= location_measurements_path(page: params[:page].to_i - 1) %>" class="page-link"><i class="previous"></i></a>
              <% else %>
                <a href="#" class="page-link"><i class="previous"></i></a>
              <% end %>
            </li>
            <% pages = (@total/10.0).ceil %>
            <% for page in 1..pages do %>
              <% if params[:page].nil? %>
                <li class="page-item <%= page == 1 ? 'active' : ''%>">
                  <a href="<%= location_measurements_path(page: page) %>" class="page-link"><%= page %></a>
                </li>
              <% else %>
                <li class="page-item <%= page == params[:page].to_i ? 'active' : ''%>">
                  <a href="<%= location_measurements_path(page: page) %>" class="page-link"><%= page %></a>
                </li>
              <% end %>
            <% end %>
            <li class="page-item next <%= params[:page].present? && pages == params[:page].to_i ? 'disabled' : ''%>">
              <% if pages > 1 %>
                <a href="<%= location_measurements_path(page: (params[:page].present? ? params[:page].to_i + 1 : 2)) %>" class="page-link">
                  <i class="next"></i>
                </a>
              <% else %>
                <a href="#" class="page-link disabled">
                  <i class="next"></i>
                </a>
              <% end %>
              
            </li>
          </ul>
        </div>
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
