<div class="sidebar--accounts-item-container cursor-pointer"
  data-action="click->sidebar#toggleAccountsMenu"
>
  <div class="sidebar--accounts-item-icon-container">
    <% if current_account.is_all_accounts? %>
      <%= image_tag image_url("all-accounts-icon-selected.png"), width: "24", height: "24" %>
    <% else %>
      <p class="m-0 sidebar-item--text-static"><%= current_account.name[0].upcase %></p>
    <% end %>
  </div>
  <p class="m-0 sidebar-item--profile-text sidebar--accounts-name ellipsis"><%= current_account.name %></p>
  <%= image_tag image_url("caret-multi.png"), width: "16", height: "16", class: "sidebar--accounts-caret" %>
  <%= render partial: "application/components/sidebar/accounts_menu" %>
</div>