<div class="sidebar--profile-item-avatar-container hoverable"
  data-sidebar-target="headerProfileMenuToggle"
  data-action="click->sidebar#toggleHeaderProfileMenu"
  data-menu-state="closed"
  id="sidebar--profile-popover-header"
>
  <img src="<%= current_user.avatar.attached? ? url_for(current_user.avatar.variant(resize_to_limit: [36, 36])) : nil %>"
    width="36"
    height="36"
    class="<%= current_user.avatar.attached? ? nil : 'invisible' %> sign-up--avatar-image"
  />
  <p class="sidebar--profile-item-initial <%= current_user.avatar.attached? ? 'invisible' : nil %>"><%=  current_user.first_name[0].upcase %></p>
</div>
<%= render partial: "application/components/sidebar/profile_data_popover", locals: { header: true } %>
