<div class="sidebar--narrow-container"
  data-sidebar-target="narrowSidebar"
>
  <a href="<%= dashboard_path %>">
    <img alt="Logo" src="<%= image_url('narrow-radar-logo.png') %>" width="32" class="sidebar--logo ms-2">
  </a>
  <%= render partial: "application/components/sidebar/sidebar_item",
    locals: {
      icon: "search-icon",
      title: "Search",
      url: nil,
      sidebar_item_id: "search",
      disabled: false,
      narrow: true
    }
  %>
  <div class="w-100 mb-3">
  <% if current_account.present? %>
    <%= render partial: "application/components/sidebar/accounts_item",
        locals: { narrow: true } %>
  <% else %>
    <%= render partial: "application/components/sidebar/add_account_item", 
        locals: { only_item: true, narrow: true }
    %>
  <% end %>
  </div>
  <%= render partial: "application/components/sidebar/sidebar_item",
    locals: {
      icon: FeatureFlagHelper.is_available('networks', current_user) ? "hollow-dashboard-icon" : "dashboard-icon",
      title: "Dashboard",
      url: dashboard_path,
      sidebar_item_id: "dashboard",
      disabled: false,
      narrow: true
    }
  %>

  <% if FeatureFlagHelper.is_available('networks', current_user) %>
    <%= render partial: "application/components/sidebar/sidebar_item",
      locals: {
        icon: "hollow-networks-icon",
        title: "Networks",
        url: locations_path,
        sidebar_item_id: "networks",
        disabled: current_account.nil?,
        narrow: true
      }
    %>
  <% else %>
    <%= render partial: "application/components/sidebar/sidebar_item",
      locals: {
        icon: "pods-icon",
        title: "Pods",
        url: clients_path,
        sidebar_item_id: "pods",
        disabled: current_account.nil?,
        narrow: true
      }
    %>
    <%= render partial: "application/components/sidebar/sidebar_item",
      locals: {
        icon: "locations-icon",
        title: "Locations",
        url: locations_path,
        sidebar_item_id: "locations",
        disabled: current_account.nil?,
        narrow: true
      }
    %>
  <% end %>
  <%= render partial: "application/components/sidebar/sidebar_item",
    locals: {
      icon: FeatureFlagHelper.is_available('networks', current_user) ? "hollow-members-icon" : "members-icon",
      title: "Members & Sharing",
      url: users_account_index_path,
      sidebar_item_id: "members",
      disabled: current_account.nil?,
      narrow: true
    }
  %>

  <% if current_user.super_user %>
    <%= render partial: "application/components/sidebar/super_user_toggle", locals: { narrow: true } %>
  <% end %>

  <%= render partial: "application/components/sidebar/notifications_item",
             locals: { narrow: true, header: false }
  %>

  <%= render partial: "application/components/sidebar/profile_item",
      locals: { narrow: true, header: false } 
  %>
</div>