<div class="sidebar--main-container" data-controller="sidebar switch-account">
  <a href="<%= dashboard_path %>">
    <img alt="Logo" src="<%= image_url('new-radar-logo.png') %>" width="150" class="sidebar--logo ms-2">
  </a>
  <%= render partial: "application/components/sidebar/sidebar_item",
    locals: {
      icon: "dashboard-icon",
      title: "My Dashboard",
      url: dashboard_path,
      sidebar_item_id: "dashboard",
      disabled: false
    }
  %>
  <% if current_account.present? %>
    <%= render partial: "application/components/sidebar/accounts_item" %>
  <% else %>
    <%= render partial: "application/components/sidebar/add_account_item", 
        locals: { only_item: true }
    %>
  <% end %>
  <div class="sidebar--horizontal-divider"></div>
  <%= render partial: "application/components/sidebar/sidebar_item",
    locals: {
      icon: "pods-icon",
      title: "Pods",
      url: clients_path,
      sidebar_item_id: "pods",
      disabled: current_account.nil?
    }
  %>
  <%= render partial: "application/components/sidebar/sidebar_item",
    locals: {
      icon: "locations-icon",
      title: "Locations",
      url: locations_path,
      sidebar_item_id: "locations",
      disabled: current_account.nil?
    }
  %>
  <%= render partial: "application/components/sidebar/sidebar_item",
    locals: {
      icon: "members-icon",
      title: "Members & Sharing",
      url: users_account_index_path,
      sidebar_item_id: "members",
      disabled: current_account.nil?
    }
  %>

  <%= render partial: "application/components/sidebar/profile_item" %>
</div>