<div id="sidebar--open-search-panel"
  class="invisible sidebar--search-panel-container"
  data-controller="app-search"
  data-sidebar-target="searchPanel"
>
  <div class="sidebar--search-panel-header">
    <h3 class="page-main-title">Search</h3>
    <button type="button"
      id="sidebar--search-shrink-button"
      class="hoverable custom-button custom-button--secondary p-2 justify-content-center align-items-center"
      data-action="click->sidebar#handleToggleSearch"
    >
      <%= image_tag image_url('arrow-left-dark.png'), width: 16, height: 16 %>
    </button>
    <div id="sidebar--small-search-close-button"
      class="custom-close-button hoverable"
      data-action="click->sidebar#closeFullSearch"
    >
      <%= image_tag image_url('close-modal-icon.png'), width: 24, height: 24 %>
    </div>
  </div>
  <%= render partial: "application/components/sidebar/search_input" %>
  <div class="invisible spinner-border text-primary sidebar--search-spinner m-0 mt-3 ms-1"
    role="status"
    data-app-search-target="spinner"
  ></div>
  <%= turbo_frame_tag "search-panel-results", data: { "app-search-target" => "resultsList" } do %>
    <div class="sidebar--results-container">
      <%= render partial: "application/components/sidebar/recents_section" %>
    </div>
  <% end %>
</div>