<div class="sidebar--main-container"
  data-controller="switch-account"
  data-sidebar-target="defaultSidebar"
>
  <a href="<%= dashboard_path %>" id="sidebar--big-logo">
    <img alt="Logo" src="<%= image_url('new-radar-logo.png') %>" width="150" class="sidebar--logo ms-2">
  </a>
  <div class="sidebar--small-logo-container"
    data-sidebar-target="smallSidebarHeader"
  >
    <a href="<%= dashboard_path %>" id="sidebar--small-logo">
      <img alt="Logo" src="<%= image_url('new-radar-logo-mini.png') %>" width="32" class="sidebar--logo">
    </a>
    <%= image_tag image_url('close-alert-icon.png'), width: 28, height: 28, data: { action: "click->sidebar#closeSmallSidebar" } %>
  </div>
  <%= render partial: "application/components/sidebar/sidebar_item",
    locals: {
      icon: "search-icon",
      title: "Search",
      url: nil,
      sidebar_item_id: "search",
      disabled: false,
      narrow: false
    }
  %>
  <div class="w-100 mb-3">
    <% if current_account.present? %>
      <%= render partial: "application/components/sidebar/accounts_item",
          locals: { narrow: false }
      %>
    <% else %>
      <%= render partial: "application/components/sidebar/add_account_item", 
          locals: { only_item: true, narrow: false }
      %>
    <% end %>
  </div>
  <%= render partial: "application/components/sidebar/sidebar_item",
    locals: {
      icon: FeatureFlagHelper.is_available('networks', current_user) ? "hollow-dashboard-icon" : "dashboard-icon",
      title: "My Dashboard",
      url: dashboard_path,
      sidebar_item_id: "dashboard",
      disabled: false,
      narrow: false
    }
  %>
  <% if FeatureFlagHelper.is_available('networks', current_user) %>
    <%= render partial: "application/components/sidebar/sidebar_item",
      locals: {
        icon: "hollow-networks-icon",
        title: "Networks",
        url: networks_path,
        sidebar_item_id: "networks",
        disabled: current_account.nil?,
        narrow: false
      }
    %>
  <% else %>
    <%= render partial: "application/components/sidebar/sidebar_item",
      locals: {
        icon: "pods-icon",
        title: "Pods",
        url: clients_path,
        sidebar_item_id: "pods",
        disabled: current_account.nil?,
        narrow: false
      }
    %>
    <%= render partial: "application/components/sidebar/sidebar_item",
      locals: {
        icon: "locations-icon",
        title: "Locations",
        url: locations_path,
        sidebar_item_id: "locations",
        disabled: current_account.nil?,
        narrow: false
      }
    %>
  <% end %>
  <%= render partial: "application/components/sidebar/sidebar_item",
    locals: {
      icon: FeatureFlagHelper.is_available('networks', current_user) ? "hollow-members-icon" : "members-icon",
      title: "Members & Sharing",
      url: users_account_index_path,
      sidebar_item_id: "members",
      disabled: current_account.nil?,
      narrow: false
    }
  %>

  <% if current_user.super_user %>
    <%= render partial: "application/components/sidebar/super_user_toggle", locals: { narrow: false } %>
  <% end %>

  <%= render partial: "application/components/sidebar/profile_item",
      locals: { narrow: false, header: false }
  %>
</div>