<div id="kt_aside" class="aside aside-default aside-hoverable" data-kt-drawer="true" data-kt-drawer-name="aside"
  data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
  data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start"
  data-kt-drawer-toggle="#kt_aside_toggle" data-controller="drawer accounts-drawer-menu"
  data-action="mouseenter->accounts-drawer-menu#handleMouseEnter mouseleave->accounts-drawer-menu#closeMenu">
  <!--begin::Brand-->
  <div class="aside-logo flex-column-auto pt-9 pb-5" id="kt_aside_logo">
    <!--begin::Logo-->
    <a href="<%= dashboard_path %>" class="ms-1">
      <img alt="Logo" src="<%= image_url('new-radar-logo.png') %>" width="166" class="logo-default">
      <img alt="Logo" src="<%= image_url('new-radar-logo-mini.png') %>" width="32" class="logo-minimize">
    </a>
    <!--end::Logo-->
  </div>
  <!--end::Brand-->
  <!--begin::Aside menu-->
  <div class="aside-menu flex-column-fluid">
    <!--begin::Aside Menu-->
    <!--begin::Menu-->
    <div
      class="menu menu-column menu-fit menu-rounded menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-5 my-5 mt-lg-2 mb-lg-0"
      id="kt_aside_menu" data-kt-menu="true" data-controller="menu">
      <div class="menu-fit hover-scroll-y me-lg-n5 pe-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true"
        data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto"
        data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="20px"
        data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer">
        <% if current_account.present? %>
          <button class="btn d-flex flex-row justify-content-center align-items-center" data-bs-toggle="collapse"
            data-bs-target="#accounts-collapse" type="button" aria-expanded="false" aria-controls="accounts-collapse"
            style="padding-left: 0" data-accounts-drawer-menu-target="accountsMenuButton"
            data-action="click->accounts-drawer-menu#toggleMenu">
            <!--begin::AccountIcon-->
            <div class="d-flex justify-content-center align-items-center fw-bold"
              style="width: 40px; height: 40px; background-color: #dbf2ff; color: #00a3ff; font-size: 20px; border-radius: 8px">
              <% if current_account.is_all_accounts? %>
                <span class="svg-icon svg-icon-primary svg-icon-3 m-0">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.3"
                      d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z"
                      fill="currentColor" />
                    <path
                      d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z"
                      fill="currentColor" />
                  </svg>
                </span>
                <% else %>
                  <%= current_account.name[0].upcase %>
                    <% end %>
            </div>
            <!--end::AccountIcon-->
            <span class="menu-title sidebar--account-selected-title"
              style="overflow: hidden; max-width: 120px; margin-left: 15px; white-space: nowrap; text-overflow: ellipsis">
              <%= current_account.name %>
            </span>
            <i class="fas fa-angle-right" style="position: absolute; right: 38px;"
              data-accounts-drawer-menu-target="rightAngle"></i>
            <i class="fas fa-angle-down" style="position: absolute; right: 38px; display: none; color: #00a3ff;"
              data-accounts-drawer-menu-target="downAngle"></i>
          </button>
          <div id="accounts-collapse" class="collapse" data-accounts-drawer-menu-target="accountsCollapse">
            <% if current_user.accounts.not_deleted.count> 0 %>
              <p class="m-0" style="color: #6d6a94; font-size: 14px">Management view</p>
              <%= render partial: "accounts/sidebar_all_accounts_item" %>
                <p class="m-0 mt-3" style="color: #6d6a94; font-size: 14px">My accounts</p>
                <% current_user.accounts.not_deleted.order("LOWER(name)").each do |account| %>
                  <%= render partial: "accounts/sidebar_account_item" , locals: { account: account, shared: false } %>
                    <% end %>
                      <% end %>
                        <% if current_user.shared_accounts.distinct.count> 0 %>
                          <p class="m-0 mt-3" style="color: #6d6a94; font-size: 14px">Shared with me</p>
                          <% current_user.shared_accounts.distinct.each do |account| %>
                            <%= render partial: "accounts/sidebar_account_item" , locals: { account: account, shared:
                              true } %>
                              <% end %>
                                <% end %>
                                  <button type="button" class="sidebar--account-add-button" data-bs-toggle="modal"
                                    data-bs-target="#add_account_wizard">
                                    <div class="sidebar--add-account-row text-primary d-flex flex-row">
                                      <span class="svg-icon svg-icon-primary svg-icon-1x sidebar--account-add-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                          viewBox="0 0 24 24" fill="none">
                                          <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                                            transform="rotate(-90 11.364 20.364)" fill="black" />
                                          <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                                        </svg>
                                      </span>
                                      <p class="fw-semi-bold">Add new account</p>
                                    </div>
                                  </button>
          </div>
        <% else %>
            <button class="btn d-flex flex-row justify-content-center align-items-center" type="button"
              style="padding-left: 0" data-bs-toggle="modal" data-bs-target="#add_account_wizard">
              <div class="d-flex justify-content-center align-items-center fw-semi-bold"
                style="width: 40px; height: 40px; background-color: #dbf2ff; color: #00a3ff; font-size: 20px; border-radius: 8px; border: 1px dashed rgba(0, 163, 255, 0.5)">
                <span class="svg-icon svg-icon-primary svg-icon-2x" style="margin-right: 0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                      transform="rotate(-90 11.364 20.364)" fill="black" />
                    <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                  </svg>
                </span>
              </div>
              <span class="sidebar-item--text sidebar--account-empty-title text-nowrap fw-semi-bold"
                style="margin-left: 15px;">Add new account</span>
            </button>
        <% end %>
        <div style="height: 1px; width: 40px; background-color: #edf0f4; margin-bottom: 15px; margin-top: 16px;"
          data-accounts-drawer-menu-target="smallDivider"></div>
        <div
          style="height: 1px; width: 190px; background-color: #edf0f4; display: none; margin-bottom: 15px; margin-top: 16px;"
          data-accounts-drawer-menu-target="fullSizeDivider"></div>
        <div class="menu-item mb-5 ms-2">
          <a class="menu-link <%= active_path?(dashboard_path) %>" href="<%= dashboard_path %>">
            <span class="menu-icon">
              <!--begin::Svg Icon | path: /icons/duotune/general/gen002.svg-->
              <span class="svg-icon svg-icon-2x">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M3 7.19995H10C10.6 7.19995 11 6.79995 11 6.19995V3.19995C11 2.59995 10.6 2.19995 10 2.19995H3C2.4 2.19995 2 2.59995 2 3.19995V6.19995C2 6.69995 2.4 7.19995 3 7.19995Z"
                    fill="black" />
                  <path opacity="0.3"
                    d="M10.1 22H3.10001C2.50001 22 2.10001 21.6 2.10001 21V10C2.10001 9.4 2.50001 9 3.10001 9H10.1C10.7 9 11.1 9.4 11.1 9V20C11.1 21.6 10.7 22 10.1 22ZM13.1 18V21C13.1 21.6 13.5 22 14.1 22H21.1C21.7 22 22.1 21.6 22.1 21V18C22.1 17.4 21.7 17 21.1 17H14.1C13.5 17 13.1 17.4 13.1 18ZM21.1 2H14.1C13.5 2 13.1 2.4 13.1 3V14C13.1 14.6 13.5 15 14.1 15H21.1C21.7 15 22.1 14.6 22.1 14V3C22.1 2.4 21.7 2 21.1 2Z"
                    fill="black" />
                </svg>
              </span>
              <!--end::Svg Icon-->
            </span>
            <span class="menu-title sidebar-item--text <%= active_sidebar_item?(dashboard_path) %>">My
              Dashboard</span>
          </a>
        </div>
        <% if current_account.present? %>
          <div class="menu-item mb-5 ms-2">
            <a class="menu-link <%= active_path?(clients_path) %>" href="<%= clients_path %>">
              <span class="menu-icon">
                <span class="svg-icon svg-icon-2x">
                  <!--begin::Svg Icon | path: assets/media/icons/duotune/electronics/elc007.svg-->
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M12.4409 22C13.5455 22 14.4409 21.1046 14.4409 20C14.4409 18.8954 13.5455 18 12.4409 18C11.3364 18 10.4409 18.8954 10.4409 20C10.4409 21.1046 11.3364 22 12.4409 22Z"
                      fill="black" />
                    <path opacity="0.3"
                      d="M9.04095 14.8L9.94095 16.1C10.6409 15.6 11.5409 15.3 12.4409 15.3C13.3409 15.3 14.2409 15.6 14.9409 16.1L15.8409 14.8C16.1409 14.3 16.0409 13.6 15.4409 13.4C14.5409 13 13.5409 12.7 12.4409 12.7C11.3409 12.7 10.3409 12.9 9.44095 13.4C8.84095 13.6 8.74095 14.3 9.04095 14.8Z"
                      fill="black" />
                    <path opacity="0.3"
                      d="M3.14096 5.80005L4.04095 7.19995C6.44095 5.59995 9.34094 4.69995 12.4409 4.69995C15.5409 4.69995 18.4409 5.59995 20.8409 7.19995L21.7409 5.80005C22.0409 5.30005 21.8409 4.70002 21.3409 4.40002C18.7409 2.90002 15.6409 2 12.4409 2C9.24094 2 6.14095 2.90002 3.54095 4.40002C3.04095 4.70002 2.84096 5.30005 3.14096 5.80005Z"
                      fill="black" />
                    <path opacity="0.3"
                      d="M6.14097 10.3L7.04096 11.7C8.64096 10.7 10.441 10.1 12.541 10.1C14.641 10.1 16.441 10.7 18.041 11.7L18.941 10.3C19.241 9.80005 19.141 9.10002 18.541 8.90002C16.741 7.90002 14.741 7.40002 12.541 7.40002C10.341 7.40002 8.34096 7.90002 6.54096 8.90002C5.94096 9.10002 5.74097 9.80005 6.14097 10.3Z"
                      fill="black" />
                  </svg>
                  <!--end::Svg Icon-->
                </span>
              </span>
              <span class="menu-title sidebar-item--text <%= active_sidebar_item?(clients_path) %>">Pods</span>
            </a>
          </div>
          <div class="menu-item mb-5 ms-2">
            <a class="menu-link <%= active_path?(locations_path) %>" href="<%= locations_path %>">
              <span class="menu-icon">
                <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen018.svg-->
                <span class="svg-icon svg-icon-2x">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path opacity="0.3"
                      d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z"
                      fill="black" />
                    <path
                      d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z"
                      fill="black" />
                  </svg>
                </span>
                <!--end::Svg Icon-->
              </span>
              <span
                class="menu-title sidebar-item--text <%= active_sidebar_item?(locations_path) %>">Locations</span>
            </a>
          </div>
          <div class="menu-item mb-5 ms-2">
            <a class="menu-link <%= active_path?(users_account_index_path) %>"
              href="<%= users_account_index_path %>">
              <span class="menu-icon">
                <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen018.svg-->
                <span class="svg-icon svg-icon-2x">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M16.0173 9H15.3945C14.2833 9 13.263 9.61425 12.7431 10.5963L12.154 11.7091C12.0645 11.8781 12.1072 12.0868 12.2559 12.2071L12.6402 12.5183C13.2631 13.0225 13.7556 13.6691 14.0764 14.4035L14.2321 14.7601C14.2957 14.9058 14.4396 15 14.5987 15H18.6747C19.7297 15 20.4057 13.8774 19.912 12.945L18.6686 10.5963C18.1487 9.61425 17.1285 9 16.0173 9Z"
                      fill="black" />
                    <rect opacity="0.3" x="14" y="4" width="4" height="4" rx="2" fill="black" />
                    <path
                      d="M4.65486 14.8559C5.40389 13.1224 7.11161 12 9 12C10.8884 12 12.5961 13.1224 13.3451 14.8559L14.793 18.2067C15.3636 19.5271 14.3955 21 12.9571 21H5.04292C3.60453 21 2.63644 19.5271 3.20698 18.2067L4.65486 14.8559Z"
                      fill="black" />
                    <rect opacity="0.3" x="6" y="5" width="6" height="6" rx="3" fill="black" />
                  </svg>
                </span>
                <!--end::Svg Icon-->
              </span>
              <span
                class="menu-title sidebar-item--text <%= active_sidebar_item?(users_account_index_path) %>">Users
                & Sharing</span>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <!--end::Menu-->
  </div>
  <!--end::Aside menu-->
  <!--begin::Footer-->
  <div class="aside-footer flex-column-auto pb-5 d-none" id="kt_aside_footer">
    <a href="<%= dashboard_path %>" class="btn btn-light-primary w-100">Button</a>
  </div>
  <!--end::Footer-->
</div>