<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="text-dark fw-bolder my-1 fs-2">User Settings 
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item text-muted">Home
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item text-dark">Settings</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Toolbar-->

<div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
  <!--begin::Container-->
  <div class="container-xxl">
    <div class="d-flex flex-column flex-lg-row">
      <!--begin::Aside-->
      <div class="flex-column flex-md-row-auto w-100 w-lg-250px w-xxl-275px">
        <!--begin::Nav-->
        <div class="card mb-6 mb-xl-9" data-kt-sticky="true" data-kt-sticky-name="account-settings" data-kt-sticky-offset="{default: false, lg: 300}" data-kt-sticky-width="{lg: '250px', xxl: '275px'}" data-kt-sticky-left="auto" data-kt-sticky-top="100px" data-kt-sticky-zindex="95">
          <!--begin::Card body-->
          <div class="card-body py-10 px-6">
            <!--begin::Menu-->
            <ul id="kt_account_settings" class="nav nav-flush menu menu-column menu-rounded menu-title-gray-600 menu-bullet-gray-300 menu-state-bg menu-state-bullet-primary fw-bold fs-6 mb-2">
              <li class="menu-item px-3 pt-0 pb-1">
                <a href="#kt_account_settings_signin_method" data-kt-scroll-toggle="true" class="menu-link px-3 nav-link">
                  <span class="menu-bullet">
                    <span class="bullet bullet-vertical"></span>
                  </span>
                  <span class="menu-title">Sign-in Method</span>
                </a>
              </li>
              <li class="menu-item px-3 pt-0 pb-1">
                <a href="#kt_account_settings_info" data-kt-scroll-toggle="true" class="menu-link px-3 nav-link">
                  <span class="menu-bullet">
                    <span class="bullet bullet-vertical"></span>
                  </span>
                  <span class="menu-title">Basic Information</span>
                </a>
              </li>
            </ul>
            <!--end::Menu-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Nav-->
      </div>
      <!--end::Aside-->
      <!--begin::Layout-->
      <div class="flex-md-row-fluid ms-lg-12">
        <!--begin::Sign-in Method-->
        <div class="card mb-5 mb-xl-10" id="kt_account_settings_signin_method" data-kt-scroll-offset="{default: 100, md: 125}">
          <!--begin::Card header-->
          <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_signin_method">
            <div class="card-title m-0">
              <h3 class="fw-boldest m-0">Sign-in Method</h3>
            </div>
          </div>
          <!--end::Card header-->
          <!--begin::Content-->
          <div id="kt_account_signin_method" class="collapse show">
            <!--begin::Card body-->
            <div class="card-body border-top p-9">
              <!--begin::Email Address-->
              <%= turbo_frame_tag "change_email" do %>
              <div class="d-flex flex-wrap align-items-center mb-8">
                <div id="kt_signin_email">
                  <div class="fs-4 fw-boldest mb-1">Email Address</div>
                  <div class="fs-6 fw-bold text-gray-600"><%= current_user.email %></div>
                </div>
                
                <div id="kt_signin_email_button" class="ms-auto">
                  <%= link_to "Change Email", edit_user_email_path, class: "btn btn-light fw-boldest px-6" %>
                </div>
              </div>
              <% end %>
              <!--end::Email Address-->
              <!--begin::Password-->
              <%= turbo_frame_tag "change_password" do %>
              <div class="d-flex flex-wrap align-items-center mb-8">
                <div id="kt_signin_password">
                  <div class="fs-4 fw-boldest mb-1">Password</div>
                  <div class="fs-6 fw-bold text-gray-600">************</div>
                </div>
                <div id="kt_signin_password_button" class="ms-auto">
                  <a href="<%= edit_authed_user_password_path %>" class="btn btn-light fw-boldest">Change Password</a>
                </div>
              </div>
              <% end %>
              <!--end::Password-->
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Content-->
        </div>
        <!--end::Sign-in Method-->
        <!--begin::Basic info-->
        <div class="card mb-5 mb-xl-10" id="kt_account_settings_info" data-kt-scroll-offset="{default: 100, md: 125}">
          <!--begin::Card header-->
          <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_basic_info" aria-expanded="true" aria-controls="kt_account_basic_info">
            <!--begin::Card title-->
            <div class="card-title m-0">
              <h3 class="fw-boldest m-0">Basic Info</h3>
            </div>
            <!--end::Card title-->
          </div>
          <!--begin::Card header-->
          <!--begin::Content-->
          <div id="kt_account_basic_info" class="collapse show">
            <!--begin::Form-->
            <form id="kt_account_basic_info_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" novalidate="novalidate">
              <!--begin::Card body-->
              <div class="card-body border-top p-9">
                <!--begin::Input group-->
                <div class="row mb-6">
                  <!--begin::Label-->
                  <label class="col-lg-4 col-form-label required fw-bold fs-6">Full Name</label>
                  <!--end::Label-->
                  <!--begin::Col-->
                  <div class="col-lg-8">
                    <!--begin::Row-->
                    <div class="row">
                      <!--begin::Col-->
                      <div class="col-lg-6 fv-row fv-plugins-icon-container">
                        <input type="text" name="fname" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" value="Brad">
                      <div class="fv-plugins-message-container invalid-feedback"></div></div>
                      <!--end::Col-->
                      <!--begin::Col-->
                      <div class="col-lg-6 fv-row fv-plugins-icon-container">
                        <input type="text" name="lname" class="form-control form-control-lg form-control-solid" placeholder="Last name" value="Dennis">
                      <div class="fv-plugins-message-container invalid-feedback"></div></div>
                      <!--end::Col-->
                    </div>
                    <!--end::Row-->
                  </div>
                  <!--end::Col-->
                </div>
                <!--end::Input group-->
              </div>
              <!--end::Card body-->
              <!--begin::Actions-->
              <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
                <button type="submit" class="btn btn-primary" id="kt_account_basic_info_submit">Save Changes</button>
              </div>
              <!--end::Actions-->
            <input type="hidden"><div></div></form>
            <!--end::Form-->
          </div>
          <!--end::Content-->
        </div>
        <!--end::Basic info-->
      </div>
      <!--end::Layout-->
    </div>
  </div>
  <!--end::Container-->
</div>



<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "none" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "none" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
