<%= turbo_frame_tag "add_pod_modal" do %>
<div class="modal-dialog" style="position: relative; top: 20%; max-width: 620px">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" style="font-size: 20px" id="add-pod-title">Add Pod to <%= location.name %></h5>
        <!--begin::Close-->
        <a href="#">
            <span class="svg-icon svg-icon-muted svg-icon-2hx" data-bs-dismiss="modal" aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"/>
                    <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="black"/>
                    <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="black"/>
                </svg>
            </span>
        </a>
        <!--end::Close-->
    </div>

    <div class="modal-body d-flex flex-column justify-content-start">
        <% if @error %>
        <div class="fv-plugins-message-container invalid-feedback">
          <div>Error message</div>
        </div>
        <% end %>
        <div class="fv-row mb-7 fv-plugins-icon-container">
            <label class="required fs-6 fw-bold mb-1">Choose an existing Pod</label>
            <select id="client_id" class="form-select select2-hidden-accessible" data-controller="select2" data-select2-blanks-value="true"
                    data-placeholder="Choose a Pod" data-action="change->select2#checkClientLocation" tabindex="-1" data-client2-id="select2-data-client_id">
                    <option value=""></option>
                <% current_user.clients.each do |client| %>
                    <!-- using 'picked' attribute instead of reserved word 'selected' to prevent defaulting a value -->
                    <option value="<%= client.unix_user %>" picked="false" data-location-name="<%= client.location&.name %>" data-location-id="<%= client.location&.id %>">
                        <%= client.name %>
                    </option>
                <% end %>
            </select>
            <div class="d-none d-flex flex-row justify-content-start mt-5 align-items-center"
                 id="warning-client-location"
                    style="border: dashed 1px #f89c47; height: 65px; width: 100%; border-radius: 6px; background-color: #fff9f4; padding-right: 15px">
                <div style="width: 24px; height: 24px; margin-left: 15px; margin-right: 15px;">
                    <span class="svg-icon svg-icon-warning svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                            <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                            <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                        </svg>
                    </span>
                </div>
                <div class="fw-bold" style="font-size: 14px;" id="warning-text">
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" data-controller="add-client-to-location">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button id="change-name-button" class="btn btn-primary disabled" data-action="click->add-client-to-location#continueToChangeName">Move Pod</button>
    </div>
    </div>
</div>
<% end %>