<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="page-main-title"><%= @location.name.present? ? @location.name : "Unnamed Location" %>
        <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item page-sub-title"><%= current_account.name %>
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item page-sub-title">
          Networks
        </li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
    <%= link_to get_add_pod_modal_clients_path, data: { method: :get, turbo_stream: true }, class: "custom-button custom-button--primary custom-button--lg" do %>
      <%= image_tag image_url('white-plus.png'), width: 16, height: 16, class: 'me-2' %>
      Add Pod
    <% end %>
  </div>
</div>
<!--end::Toolbar-->
<div class="post fs-6 d-flex flex-column-fluid justify-content-center" id="kt_post">
  <!--begin::Container-->
  <div class="clients--details-container" data-controller="multi-row-table">
    <!--begin::OptionsCard-->
    <%= render partial: "application/components/tabs/page_tabs",
               locals: {
                 tabs: [
                   { text: 'Overview', path: location_path(@location) },
                   { text: 'Pods', path: location_clients_path(@location.id) },
                   { text: 'Measurements', path: location_measurements_path(@location.id) },
                 ]
               }
    %>
    <!--end::OptionsCard-->
    <!--begin::Card-->
    <%= turbo_frame_tag "network_pods_table_container" do %>
      <% if @clients.count == 0 && request.query_parameters.size == 0 %>
        <%= render partial: "network_pods/components/empty_pods_card", locals: { network: @location } %>
      <% else %>
        <%= render partial: "network_pods/components/table_filters", locals: { network: @location } %>
        <%= turbo_frame_tag "network_pods_table_wrapper" do %>
          <%= render partial: "application/components/tables/generic_table",
                     locals: {
                       table_id: "network_pods_table",
                       type: TablesHelper::TableTypes::NETWORK_PODS,
                       titles: TablesHelper.titles(TablesHelper::TableTypes::NETWORK_PODS),
                       widths: TablesHelper.widths(TablesHelper::TableTypes::NETWORK_PODS),
                       rows: @clients,
                       total: @total
                     }
          %>
        <% end %>
      <% end %>
    <% end %>
    <%= render partial: "application/components/modals/turbo_modal",
               locals: { turbo_frame_tag_id: "bulk_remove_from_network_modal" }
    %>
    <%= render partial: "application/components/modals/turbo_modal",
               locals: { turbo_frame_tag_id: "bulk_change_release_group_modal" }
    %>
    <%= render partial: "application/components/modals/turbo_modal",
               locals: { turbo_frame_tag_id: "bulk_move_to_network_modal" }
    %>
    <%= render partial: "application/components/modals/turbo_modal",
               locals: { turbo_frame_tag_id: "add_pod_modal", optional_added_controllers: "claim-pods pod-account-and-network" }
    %>
  </div>
  <!--end::Container-->
</div>

<%= render partial: "application/components/modals/turbo_modal",
           locals: {
             turbo_frame_tag_id: "edit_client_modal",
             optional_added_controllers: "edit-pod",
             optional_added_actions: "turbo:submit-start->edit-pod#handleSubmitStart turbo:submit-end->edit-pod#handleNewLocationFromClientModal"
           }
%>

<%= render partial: "application/components/modals/turbo_modal",
           locals: { turbo_frame_tag_id: "bulk_remove_from_network_modal" }
%>