<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="page-main-title"><%= @location.name.present? ? @location.name : "Unnamed Location" %> 
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item page-sub-title"><%= current_account.name %>
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item page-sub-title">Locations</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Toolbar-->
<div class="post fs-6 d-flex flex-column-fluid justify-content-center" id="kt_post">
  <!--begin::Container-->
  <div class="clients--details-container" data-controller="multi-row-table">
    <!--begin::OptionsCard-->
    <%= render partial: "application/components/tabs/page_tabs",
      locals: {
        tabs: [
          { text: 'Overview', path: location_path(@location) },
          { text: 'Pods', path: location_clients_path(@location.id) },
          { text: 'Measurements', path: location_measurements_path(@location.id) },
        ]
      }
    %>
    <!--end::OptionsCard-->
    <!--begin::Card-->
    <% if FeatureFlagHelper.is_available('networks', current_user) %>
      <% if @clients.count == 0 && request.query_parameters.size == 0 %>
        <%= render partial: "network_pods/components/empty_pods_card" %>
      <% else %>
        <%= render partial: "network_pods/components/table_filters" %>
        <%= render partial: "application/components/tables/generic_table",
            locals: {
              table_id: "network_pods_table",
              type: TablesHelper::TableTypes::NETWORK_PODS,
              titles: TablesHelper.titles(TablesHelper::TableTypes::NETWORK_PODS),
              widths: TablesHelper.widths(TablesHelper::TableTypes::NETWORK_PODS),
              rows: @clients,
              total: @total
            }
        %>
      <% end %>
    <% else %>
      <%= render partial: "location_clients_table", locals: { clients: @clients } %>
    <% end %>
  </div>
  <!--end::Container-->
</div>

<div class="modal fade" tabindex="-1" id="add_pod_modal_wizard" data-controller="modal add-pod" data-action="turbo:submit-end->modal#submit">
  <%= turbo_frame_tag "add_pod_modal", src: claim_clients_path(location_id: @location.id) do %>
  <% end %>
</div>

<div class="modal fade" tabindex="-1" id="add_pod_modal_step_0" data-controller="add-client-to-location">
    <%= render partial: 'add_pod_step_0', locals: { location: @location } %>
</div>

<div class="modal fade" tabindex="-1" id="add_pod_step_1_existing">
    <%= render partial: 'add_pod_step_1_existing', locals: { location: @location } %>
</div>

<div class="modal fade" tabindex="-1" id="add_pod_step_2_existing">
    <%= render partial: 'add_pod_step_2_existing', locals: { location: @location } %>
</div>

<%= render partial: "application/components/modals/turbo_modal", 
  locals: { turbo_frame_tag_id: "bulk_remove_from_network_modal" }
%>