<div class="landing--qa-question" data-question-id="why-care" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>Why should I care about measuring my internet performance?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>Pods are small devices that are capable of conducting automated speed tests on a continuous basis at your home or workplace. These devices remain directly connected to your router, allowing them to make full use of the actual internet speed that your router can offer.</p>
</div>

<div class="landing--qa-question" data-question-id="how-to-measure" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>How can I measure my internet performance?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>Pods are small devices that are capable of conducting automated speed tests on a continuous basis at your home or workplace. These devices remain directly connected to your router, allowing them to make full use of the actual internet speed that your router can offer.</p>
</div>

<div class="landing--qa-question" data-question-id="what-is-a-pod" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>What is a Pod?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>Pods are small devices that are capable of conducting automated speed tests on a continuous basis at your home or workplace. These devices remain directly connected to your router, allowing them to make full use of the actual internet speed that your router can offer.</p>
</div>

<div class="landing--qa-question" data-question-id="pod-alternative" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>Is there an alternative to a Pod?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>Pods are small devices that are capable of conducting automated speed tests on a continuous basis at your home or workplace. These devices remain directly connected to your router, allowing them to make full use of the actual internet speed that your router can offer.</p>
</div>

<div class="landing--qa-question" data-question-id="affect-speed" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>Does a Pod affect my network speed?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>Pods are small devices that are capable of conducting automated speed tests on a continuous basis at your home or workplace. These devices remain directly connected to your router, allowing them to make full use of the actual internet speed that your router can offer.</p>
</div>

<div class="landing--qa-question" data-question-id="what-data" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>What data can I measure with Radar Pods?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>Pods are small devices that are capable of conducting automated speed tests on a continuous basis at your home or workplace. These devices remain directly connected to your router, allowing them to make full use of the actual internet speed that your router can offer.</p>
</div>