<div class="landing--qa-question" data-question-id="why-care" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>Why should I care about measuring my internet performance?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>In many regions, particularly in rural America, Internet services are underperforming. Whether due to insufficient coverage or excessively slow speeds, we aim to identify areas with particularly poor performance to guide investment decisions. It's crucial for consumers to determine if they're receiving the expected value from their Internet Service Provider, and Radar Pods can help them figure that out.</p>
</div>

<div class="landing--qa-question" data-question-id="how-to-measure" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>How can I measure my internet performance?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>With Radar Pods, you can analyze your Internet performance by plugging a Radar Pod into your Internet connection. Our Pods will collect data regarding internet speed and outages automatically and continuously, providing you with useful insights about your service.</p>
</div>

<div class="landing--qa-question" data-question-id="what-is-a-pod" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>What is a Pod?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>Pods are small devices that are capable of conducting automated speed tests on a continuous basis at your home or workplace. These devices remain directly connected to your router, allowing them to make full use of the actual Internet speed that your router can offer.</p>
</div>

<div class="landing--qa-question" data-question-id="pod-alternative" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>Is there an alternative to a Pod?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>Yes, we're working on an alternative to physical pods. Soon, you'll be able to download our Radar app onto your computer and run automated speed tests in the same way a physical Radar Pod does. The only difference is that you won't need an additional device connected to your router. Stay tuned for more information about Radar for Desktop.</p>
</div>

<div class="landing--qa-question" data-question-id="affect-speed" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>Does a Pod affect my network speed?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>Our Pods shouldn't significantly affect your network. Speed tests are quick to run and don't interfere with other devices connected to your Internet. You might notice a slight slowdown in your internet speed while a Pod is running a speed test if you have a slow service with low bandwidth, but generally, you won't notice anything. Additionally, our Pods have advanced settings that allow you to customize when and how often you want to run speed tests.</p>
</div>

<div class="landing--qa-question" data-question-id="what-data" data-qa-target="question" data-expanded="false" data-action="click->qa#toggleQuestion">
  <div class="landing--qa-question-header">
    <h5>What data can I measure with Radar Pods?</h5>
    <%= image_tag image_url('expand-qa-icon.png'), width: 24, height: 24, data: { qa_target: "expandIcon" } %>
    <%= image_tag image_url('collapse-qa-icon.png'), width: 24, height: 24, data: { qa_target: "collapseIcon" } %>
  </div>
  <p>Radar Pods allow you to analyze how your Internet speed varies over time and when there are outages. If you have more than one location or several services from different Internet Service Providers, you can also compare how they perform against each other.</p>
</div>