---
import styles from './styles/footer.module.css';
import footerLogo from '../../../assets/logos/footer-logo.webp';
import footerLights from '../../../assets/images/footer-lights.webp';
---

<footer class={styles.footer}>
  <div class={styles.topRow}>
    <img src={footerLogo.src}
         alt="Main footer TBP logo"
         height={28}
         loading={'eager'}
    />
    <ul class={styles.links} data-desktop="true">
      <li><a href="https://radartoolkit.com/privacy-policy">Privacy Policy</a></li>
    </ul>
  </div>
  <div class={styles.bottomRow}>
    <p class={styles.footerText}>© 2024. All rights reserved.</p>
    <p class:list={[styles.footerText, styles.maxWidthText]}>The Telehealth Broadband Pilot Program is made possible by grant #GA5RH40183 and #GA6R40184 from the Office for the Advancement of Telehealth, Health Resources and Services Administration, DHHS.</p>
    <ul class={styles.links} data-mobile="true">
        <li><a href="https://radartoolkit.com/privacy-policy">Privacy Policy</a></li>
    </ul>
  </div>
  <img src={footerLights.src}
       alt="Footer lights"
       loading={'eager'}
       class={styles.footerLights}
       id="footer-lights"
  />
</footer>
