---
import styles from './styles/footer_mobile_links.module.css';
---

<div class={styles.linksContainer}>
  <div class={styles.box} data-type="responsive-link-box" data-open="false">
    <button class={styles.boxTrigger} data-box-id="project-box">
      <span>PROJECT</span>
      <span>
        <svg data-type="minus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
          <path fill="white" transform="translate(1 7.25)" d="M0.75 0L13.250252 0C13.664466 0 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 0 1.1642135 0 0.75C0 0.33578643 0.33578643 0 0.75 0Z" fill-rule="evenodd"/>
        </svg>
        <svg data-type="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
          <path fill="white" transform="translate(1 7.25)" d="M0.75 0L13.250252 0C13.664466 -7.6089797e-17 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
          <path fill="white" transform="matrix(-4.37114e-08 1 -1 -4.37114e-08 8.75013 0.999874)" d="M0.75 0L13.250252 0C13.664466 -7.6089797e-17 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
        </svg>
      </span>
    </button>
    <div id="project-box" class={styles.boxLinks}>
      <a href="/overview">Overview</a>
    </div>
  </div>
  <div class={styles.box} data-type="responsive-link-box" data-open="false">
    <button class={styles.boxTrigger} data-box-id="findings-box">
      <span>FINDINGS</span>
      <span>
        <svg data-type="minus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
          <path fill="white" transform="translate(1 7.25)" d="M0.75 0L13.250252 0C13.664466 0 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 0 1.1642135 0 0.75C0 0.33578643 0.33578643 0 0.75 0Z" fill-rule="evenodd"/>
        </svg>
        <svg data-type="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
          <path fill="white" transform="translate(1 7.25)" d="M0.75 0L13.250252 0C13.664466 -7.6089797e-17 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
          <path fill="white" transform="matrix(-4.37114e-08 1 -1 -4.37114e-08 8.75013 0.999874)" d="M0.75 0L13.250252 0C13.664466 -7.6089797e-17 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
        </svg>
      </span>
    </button>
    <div id="findings-box" class={styles.boxLinks}>
      <a href="/findings">Our Findings</a>
      <a href="/findings/evaluation-results">Evaluation Results</a>
      <a href="/findings/alaska">Alaska</a>
      <a href="/findings/michigan">Michigan</a>
      <a href="/findings/texas">Texas</a>
      <a href="/findings/west-virginia">West Virginia</a>
    </div>
  </div>
  <div class={styles.box} data-type="responsive-link-box" data-open="false">
    <button class={styles.boxTrigger} data-box-id="stories-box">
      <span>STORIES</span>
      <span>
        <svg data-type="minus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
          <path fill="white" transform="translate(1 7.25)" d="M0.75 0L13.250252 0C13.664466 0 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 0 1.1642135 0 0.75C0 0.33578643 0.33578643 0 0.75 0Z" fill-rule="evenodd"/>
        </svg>
        <svg data-type="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
          <path fill="white" transform="translate(1 7.25)" d="M0.75 0L13.250252 0C13.664466 -7.6089797e-17 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
          <path fill="white" transform="matrix(-4.37114e-08 1 -1 -4.37114e-08 8.75013 0.999874)" d="M0.75 0L13.250252 0C13.664466 -7.6089797e-17 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
        </svg>
      </span>
    </button>
    <div id="stories-box" class={styles.boxLinks}>
      <a href="/stories">Our Stories</a>
      <a href="/stories/connecting-alaskas-remote-communities">Alaska</a>
      <a href="/stories/connectivity-issues-in-rural-michigan-healthcare">Michigan</a>
      <a href="/stories/texas-tackles-rural-connectivity-challenges">Texas</a>
      <a href="/stories/breaking-barriers-to-treatment-in-rural-west-virginia">West Virginia</a>
    </div>
  </div>
  <div class={styles.box} data-type="responsive-link-box" data-open="false">
    <button class={styles.boxTrigger} data-box-id="guidance-box">
      <span>GUIDANCE & TOOLS</span>
      <span>
        <svg data-type="minus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
          <path fill="white" transform="translate(1 7.25)" d="M0.75 0L13.250252 0C13.664466 0 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 0 1.1642135 0 0.75C0 0.33578643 0.33578643 0 0.75 0Z" fill-rule="evenodd"/>
        </svg>
        <svg data-type="plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
          <path fill="white" transform="translate(1 7.25)" d="M0.75 0L13.250252 0C13.664466 -7.6089797e-17 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
          <path fill="white" transform="matrix(-4.37114e-08 1 -1 -4.37114e-08 8.75013 0.999874)" d="M0.75 0L13.250252 0C13.664466 -7.6089797e-17 14.000252 0.33578643 14.000252 0.75C14.000252 1.1642135 13.664466 1.5 13.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
        </svg>
      </span>
    </button>
    <div id="guidance-box" class={styles.boxLinks}>
      <a href="/opportunities">Opportunities</a>
      <a href="/resources">Resources</a>
    </div>
  </div>
</div>

<script>
  const boxes = document.querySelectorAll('div[data-type="responsive-link-box"]');
  boxes.forEach(box => {
    const trigger = box.querySelector('button[data-box-id]')!;
    console.log(trigger)
    trigger.addEventListener('click', () => {
      const isOpen = box.getAttribute('data-open')! === 'true';
      box.setAttribute('data-open', (!isOpen).toString());
      
      const otherBoxes = Array.from(boxes).filter(b => b !== box);
      otherBoxes.forEach(b => b.setAttribute('data-open', 'false'));
    });
  });

</script>