---
import styles from './styles/footer.module.css';
import {Image} from 'astro:assets';
import FooterMobileLinks from "./FooterMobileLinks.astro";

import footerLogo from '../../../assets/logos/footer-logo.webp';
import footerLights from '../../../assets/images/footer-lights.webp';
import exactlyLabsLogo from '../../../assets/logos/exactly-labs.webp';
---

<footer class={styles.footer}>
  <div class={styles.footerContent}>
    <div class={styles.topRow}>
      <div class={styles.topLeftColumn}>
        <Image src={footerLogo}
             alt="Main footer TBP logo"
             height={28}
             loading={'eager'}
             densities={[1,2,3]}
             quality={'max'}
        />
        <p class:list={[styles.footerText, styles.maxWidthText]}>The Telehealth Broadband Pilot Program is made possible by grant #GA5RH40183 and #GA6R40184 from the Office for the Advancement of Telehealth, Health Resources and Services Administration, DHHS.</p>
        <div class={styles.questionsFeedbackContainer}>
	        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16" width="16" height="16">
		        <path fill="white" transform="translate(0.25 0.25)" d="M7.75 0C8.1642132 0 8.5 0.33578643 8.5 0.75L8.5 9.9720001L11.21967 7.2530031C11.485936 6.9867368 11.9026 6.9625306 12.196212 7.1803851L12.28033 7.2530031C12.573223 7.5458965 12.573223 8.0207701 12.28033 8.3136635L8.2803297 12.313663C7.9874368 12.606557 7.5125632 12.606557 7.2196698 12.313663L3.2196698 8.3136635C2.9267766 8.0207701 2.9267766 7.5458965 3.2196698 7.2530031C3.5125632 6.9601102 3.9874368 6.9601102 4.2803302 7.2530031L7 9.9720001L7 0.75C7 0.33578643 7.3357863 0 7.75 0ZM14.75 14C15.164213 14 15.5 14.335787 15.5 14.75C15.5 15.164213 15.164213 15.5 14.75 15.5L0.75 15.5C0.33578643 15.5 0 15.164213 0 14.75C0 14.335787 0.33578643 14 0.75 14L14.75 14Z"/>
	        </svg>
          <a download="TelehealthBroadbandProject-Summary.pdf" target="_blank" href="https://tbp-website-downloads.s3.us-east-2.amazonaws.com/TelehealthBroadbandProject-Summary.pdf">Download Project Summary (PDF)</a>
        </div>
      </div>
      <div class={styles.rightLeftColumn}>
        <div class={styles.linksColumn}>
          <span>PROJECT</span>
          <a href="/overview">Overview</a>
        </div>
        <div class={styles.linksColumn}>
          <span>FINDINGS</span>
          <a href="/findings">Our Findings</a>
          <a href="/findings/evaluation-results">Evaluation Results</a>
          <a href="/findings/alaska">Alaska</a>
          <a href="/findings/michigan">Michigan</a>
          <a href="/findings/texas">Texas</a>
          <a href="/findings/west-virginia">West Virginia</a>
        </div>
        <div class={styles.linksColumn}>
          <span>STORIES</span>
          <a href="/stories">Our Stories</a>
          <a href="/stories/connecting-alaskas-remote-communities">Alaska</a>
          <a href="/stories/connectivity-issues-in-rural-michigan-healthcare">Michigan</a>
          <a href="/stories/texas-tackles-rural-connectivity-challenges">Texas</a>
          <a href="/stories/breaking-barriers-to-treatment-in-rural-west-virginia">West Virginia</a>
        </div>
        <div class={styles.linksColumn}>
          <span>GUIDANCE & TOOLS</span>
          <a href="/opportunities">Opportunities</a>
          <a href="/resources">Resources</a>
        </div>
      </div>
    </div>
    <div class={styles.bottomRow}>
      <ul class={styles.bottomLinks}>
        <li><a href="https://radartoolkit.com/privacy-policy">Privacy Policy</a></li>
        <li><a href="mailto:info@telehealthbroadbandproject.com">Contact Us</a></li>
      </ul>
      <div class={styles.signatureContainer}>
        <p class={styles.footerText}>© 2025 Telehealth Broadband Project</p>
        <div class={styles.verticalDivider}></div>
        <div class={styles.poweredByContainer}>
          <p class={styles.footerText}>Powered by</p>
          <a href="https://exactlylabs.com" target="_blank">
            <Image src={exactlyLabsLogo}
                   alt="Exactly Labs logo"
                   height={24}
                   loading={'eager'}
                   densities={[1,2,3]}
                   quality={'max'}
            />
          </a>
        </div>
      </div>
    </div>
    
    <div class={styles.responsiveContainer}>
      <div class={styles.responsiveLogoContainer}>
        <Image src={footerLogo}
               alt="Main responsive footer TBP logo"
               height={27}
               loading={'eager'}
               densities={[1,2,3]}
               quality={'max'}
        />
      </div>
      <FooterMobileLinks/>
      <p class:list={[styles.footerText]}>The Telehealth Broadband Pilot Program is made possible by grant #GA5RH40183 and #GA6R40184 from the Office for the Advancement of Telehealth, Health Resources and Services Administration, DHHS.</p>
      <div class={styles.questionsFeedbackContainer}>
	      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16" width="16" height="16">
		      <path fill="white" transform="translate(0.25 0.25)" d="M7.75 0C8.1642132 0 8.5 0.33578643 8.5 0.75L8.5 9.9720001L11.21967 7.2530031C11.485936 6.9867368 11.9026 6.9625306 12.196212 7.1803851L12.28033 7.2530031C12.573223 7.5458965 12.573223 8.0207701 12.28033 8.3136635L8.2803297 12.313663C7.9874368 12.606557 7.5125632 12.606557 7.2196698 12.313663L3.2196698 8.3136635C2.9267766 8.0207701 2.9267766 7.5458965 3.2196698 7.2530031C3.5125632 6.9601102 3.9874368 6.9601102 4.2803302 7.2530031L7 9.9720001L7 0.75C7 0.33578643 7.3357863 0 7.75 0ZM14.75 14C15.164213 14 15.5 14.335787 15.5 14.75C15.5 15.164213 15.164213 15.5 14.75 15.5L0.75 15.5C0.33578643 15.5 0 15.164213 0 14.75C0 14.335787 0.33578643 14 0.75 14L14.75 14Z"/>
	      </svg>
	      <a download="TelehealthBroadbandProject-Summary.pdf" target="_blank" href="https://tbp-website-downloads.s3.us-east-2.amazonaws.com/TelehealthBroadbandProject-Summary.pdf">Download Project Summary (PDF)</a>
      </div>
      <div class={styles.responsiveDivider}></div>
      <ul class={styles.bottomLinks}>
        <li><a href="https://radartoolkit.com/privacy-policy">Privacy Policy</a></li>
        <li><a href="mailto:info@telehealthbroadbandproject.com">Contact Us</a></li>
      </ul>
      <p class={styles.footerText}>© 2025 Telehealth Broadband Project</p>
	    <div class={styles.poweredByContainer}>
		    <p class={styles.footerText}>Powered by</p>
		    <a href="https://exactlylabs.com" target="_blank">
			    <Image src={exactlyLabsLogo}
			           alt="Exactly Labs logo"
			           height={24}
			           loading={'eager'}
			           densities={[1,2,3]}
			           quality={'max'}
			    />
		    </a>
	    </div>
    </div>
    <Image src={footerLights}
       alt="Footer lights"
       loading={'eager'}
       class={styles.footerLights}
       id="footer-lights"
       densities={[1,2,3]}
    />
  </div>
</footer>
