---
import sharedStyles from './styles/navbar_dropdown.module.css';
import MobileNavbarDropdown from "./MobileNavbarDropdown.astro";
---

<MobileNavbarDropdown id={'findings-responsive-menu'}>
	<div class={sharedStyles.linksContainer} data-responsive="true">
    <a href="/findings" class={sharedStyles.link} data-responsive="true" data-with-icons="true">
      <svg static xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
        <path fill="#DBDEEA" transform="translate(0.25 0.25)" d="M6.75 8.8817842e-16C10.477922 8.8817842e-16 13.5 3.022078 13.5 6.75C13.5 8.3438148 12.947607 9.8086119 12.023829 10.963384L15.28033 14.21967C15.573223 14.512563 15.573223 14.987437 15.28033 15.28033C14.987437 15.573223 14.512563 15.573223 14.21967 15.28033L10.963384 12.023829C9.8086119 12.947607 8.3438148 13.5 6.75 13.5C3.022078 13.5 0 10.477922 0 6.75L0.0040819161 6.5130286C0.12891859 2.8948469 3.1013954 8.8817842e-16 6.75 8.8817842e-16ZM6.75 1.5C3.8505051 1.5 1.5 3.8505051 1.5 6.75C1.5 9.6494951 3.8505051 12 6.75 12C9.6494951 12 12 9.6494951 12 6.75C12 3.8505051 9.6494951 1.5 6.75 1.5Z"/>
        <path fill="#DBDEEA" transform="translate(4 5)" d="M0.75 0L5.25 0C5.6642137 -7.6089797e-17 6 0.33578643 6 0.75C6 1.1642135 5.6642137 1.5 5.25 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
        <path fill="#DBDEEA" transform="translate(4 7.5)" d="M0.75 0L3.25 0C3.6642137 -7.6089797e-17 4 0.33578643 4 0.75C4 1.1642135 3.6642137 1.5 3.25 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
      </svg>
      Our Findings
      <svg static xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
        <path fill="white" transform="translate(1 7.25)" d="M0.75 0L12.250252 0C12.664466 -7.6089797e-17 13.000252 0.33578643 13.000252 0.75C13.000252 1.1642135 12.664466 1.5 12.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
        <path fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(8.5 2.5)" d="M0 0L5.5023718 5.5L0 11" fill-rule="evenodd"/>
      </svg>
    </a>
    <a href="/findings/evaluation-results" class={sharedStyles.link} data-responsive="true" data-with-icons="true">
      <svg static xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 24 27">
        <path fill="none" stroke="#DBDEEA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.00195 11.878)" d="M4.6153908 0L4.6153908 10.771372C4.6164551 11.183655 4.4116893 11.56918 4.069746 11.798684L4.069746 11.798684C3.0024979 12.510404 1.6128931 12.510404 0.54564494 11.798684L0.54564494 11.798684C0.20370194 11.56918 -0.0010640295 11.183655 0 10.771372L0 0" fill-rule="evenodd"/>
        <path fill="none" stroke="#DBDEEA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.00196 10.3371)" d="M0 1.5409688C0 2.3920224 1.0331886 3.0819376 2.3076913 3.0819376C3.5821941 3.0819376 4.6153827 2.3920224 4.6153827 1.5409688C4.6153827 0.68991524 3.5821941 0 2.3076913 0C1.0331886 0 0 0.68991524 0 1.5409688" fill-rule="evenodd"/>
        <path fill="none" stroke="#DBDEEA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(8.69426 7.25514)" d="M4.6153908 0L4.6153908 15.394278C4.6164551 15.806561 4.4116893 16.192087 4.069746 16.421591L4.069746 16.421591C3.0024979 17.13331 1.6128931 17.13331 0.54564494 16.421591L0.54564494 16.421591C0.20370194 16.192087 -0.0010640295 15.806561 0 15.394278L0 0" fill-rule="evenodd"/>
        <path fill="none" stroke="#DBDEEA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(8.69426 5.71417)" d="M0 1.5409688C0 2.3920224 1.0331886 3.0819376 2.3076913 3.0819376C3.5821941 3.0819376 4.6153827 2.3920224 4.6153827 1.5409688C4.6153827 0.68991524 3.5821941 0 2.3076913 0C1.0331886 0 0 0.68991524 0 1.5409688" fill-rule="evenodd"/>
        <path fill="none" stroke="#DBDEEA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.3866 2.63224)" d="M4.6153908 0L4.6153908 20.017185C4.6164551 20.429468 4.4116893 20.814993 4.069746 21.044497L4.069746 21.044497C3.0024979 21.756216 1.6128931 21.756216 0.54564494 21.044497L0.54564494 21.044497C0.20370194 20.814993 -0.0010640295 20.429468 0 20.017185L0 0" fill-rule="evenodd"/>
        <path fill="none" stroke="#DBDEEA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.3866 1.09127)" d="M0 1.5409688C0 2.0915039 0.43984345 2.6002195 1.1538457 2.8754869C1.8678478 3.1507545 2.7475348 3.1507545 3.4615371 2.8754869C4.175539 2.6002195 4.6153827 2.0915039 4.6153827 1.5409688C4.6153827 0.99043369 4.175539 0.48171824 3.4615371 0.20645067C2.7475348 -0.068816893 1.8678478 -0.068816893 1.1538457 0.20645067C0.43984345 0.48171824 0 0.99043369 0 1.5409688" fill-rule="evenodd"/>
      </svg>
      Evaluation Results
      <svg static xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
        <path fill="white" transform="translate(1 7.25)" d="M0.75 0L12.250252 0C12.664466 -7.6089797e-17 13.000252 0.33578643 13.000252 0.75C13.000252 1.1642135 12.664466 1.5 12.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
        <path fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(8.5 2.5)" d="M0 0L5.5023718 5.5L0 11" fill-rule="evenodd"/>
      </svg>
    </a>
    <a href="/findings/implementation-learnings" class={sharedStyles.link} data-responsive="true" data-with-icons="true">
      <svg static xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 24 24">
        <path fill="#DBDEEA" transform="translate(2 2)" d="M2.8 0C4.3463974 0 5.5999999 1.2536027 5.5999999 2.8C5.5999999 4.3463974 4.3463974 5.5999999 2.8 5.5999999C1.2536027 5.5999999 0 4.3463974 0 2.8L0.005110045 2.6294317C0.0932611 1.1624628 1.3108767 0 2.8 0ZM2.8 2C2.3581722 2 2 2.3581722 2 2.8C2 3.2418277 2.3581722 3.5999999 2.8 3.5999999C3.2418277 3.5999999 3.5999999 3.2418277 3.5999999 2.8C3.5999999 2.3581722 3.2418277 2 2.8 2ZM2.8 7.1999998C4.3463974 7.1999998 5.5999999 8.4536028 5.5999999 10C5.5999999 11.546397 4.3463974 12.8 2.8 12.8C1.2536027 12.8 0 11.546397 0 10L0.005110045 9.8294315C0.0932611 8.362463 1.3108767 7.1999998 2.8 7.1999998ZM2.8 9.1999998C2.3581722 9.1999998 2 9.5581722 2 10C2 10.441828 2.3581722 10.8 2.8 10.8C3.2418277 10.8 3.5999999 10.441828 3.5999999 10C3.5999999 9.5581722 3.2418277 9.1999998 2.8 9.1999998ZM2.8 14.4C4.3463974 14.4 5.5999999 15.653603 5.5999999 17.200001C5.5999999 18.746397 4.3463974 20 2.8 20C1.2536027 20 0 18.746397 0 17.200001L0.005110045 17.029432C0.0932611 15.562463 1.3108767 14.4 2.8 14.4ZM2.8 16.4C2.3581722 16.4 2 16.758173 2 17.200001C2 17.641829 2.3581722 18 2.8 18C3.2418277 18 3.5999999 17.641829 3.5999999 17.200001C3.5999999 16.758173 3.2418277 16.4 2.8 16.4ZM19 1.8C19.552284 1.8 20 2.2477152 20 2.8C20 3.3522847 19.552284 3.8 19 3.8L7 3.8C6.4477153 3.8 6 3.3522847 6 2.8C6 2.2477152 6.4477153 1.8 7 1.8L19 1.8ZM19 9C19.552284 9 20 9.4477148 20 10C20 10.552285 19.552284 11 19 11L7 11C6.4477153 11 6 10.552285 6 10C6 9.4477148 6.4477153 9 7 9L19 9ZM19 16.200001C19.552284 16.200001 20 16.647715 20 17.200001C20 17.752285 19.552284 18.200001 19 18.200001L7 18.200001C6.4477153 18.200001 6 17.752285 6 17.200001C6 16.647715 6.4477153 16.200001 7 16.200001L19 16.200001Z"/>
      </svg>
      Implementation Learnings
      <svg static xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
        <path fill="white" transform="translate(1 7.25)" d="M0.75 0L12.250252 0C12.664466 -7.6089797e-17 13.000252 0.33578643 13.000252 0.75C13.000252 1.1642135 12.664466 1.5 12.250252 1.5L0.75 1.5C0.33578643 1.5 2.5363265e-17 1.1642135 0 0.75C-5.072653e-17 0.33578643 0.33578643 5.072653e-17 0.75 0Z" fill-rule="evenodd"/>
        <path fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(8.5 2.5)" d="M0 0L5.5023718 5.5L0 11" fill-rule="evenodd"/>
      </svg>
    </a>
	</div>
	<div class={sharedStyles.divider} data-responsive="true"></div>
	<p class={sharedStyles.subtitle} data-responsive="true">FINDINGS BY STATE</p>
	<div class={sharedStyles.linksContainer} data-responsive="true">
		<a href="/findings/alaska" class={sharedStyles.link} data-responsive="true">Alaska</a>
		<a href="/findings/michigan" class={sharedStyles.link} data-responsive="true">Michigan</a>
		<a href="/findings/texas" class={sharedStyles.link} data-responsive="true">Texas</a>
		<a href="/findings/west-virginia" class={sharedStyles.link} data-responsive="true">West Virginia</a>
	</div>
</MobileNavbarDropdown>