<div class="d-flex flex-stack mb-6 location-row" 
     data-location-id="<%= location.id %>"
     data-location-name="<%= location.name %>"
     data-location-download="<%= location.download_avg.present? ? location.download_avg : nil %>"
     data-location-upload="<%= location.upload_avg.present? ? location.upload_avg : nil %>"
     data-location-online="<%= location.online? %>"
     data-location-latitude="<%= location.latitude %>"
     data-location-longitude="<%= location.longitude %>"
     data-location-download-diff="<%= location.download_diff.present? ? location.download_diff : nil %>"
     data-location-upload-diff="<%= location.upload_diff.present? ? location.upload_diff : nil %>"
     data-location-expected-download="<%= location.expected_mbps_down %>"
     data-location-expected-upload="<%= location.expected_mbps_up %>"
>
  <div class="d-flex">
    <div class="card-title--icon d-flex align-items-center justify-content-center" 
               style="min-width: 36px; height: 36px; width: 36px; background-color: <%= location.online? ? '#f1faff' : '#fff5f7' %>; border-radius: 50%; margin-right: 20px">
      <span class="svg-icon svg-icon-2x <%= location.online? ? "svg-icon-primary" : "svg-icon-danger" %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="black"/>
          <path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="black"/>
        </svg>
      </span>
    </div>
    <!--<img src="" class="w-30px me-6" alt="">-->
    <div class="d-flex flex-column">
      <div class="fs-6 text-dark fw-bolder"><%= location.name %></div>
      <div class="fs-6 fw-bold text-muted"><% total_pods = location.clients.size %><%= total_pods %> pod<%= total_pods != 1 ? "s" : "" %></div>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <!--begin::Switch-->
    <!--<label class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
      <input class="form-check-input" name="google" type="checkbox" value="1" id="kt_modal_connected_accounts_google" checked="checked">
      <span class="form-check-label fw-bold text-muted" for="kt_modal_connected_accounts_google"></span>
    </label>-->
    <!--end::Switch-->
    <a href="<%= location_path(location) %>" class="btn btn-light btn-sm">Details</a>
  </div>
</div>