<% responsive = @responsive || false %>

<%= turbo_frame_tag "upload-speeds-widget#{responsive ? '-responsive' : ''}" do %>
  <% if @upload_speeds.count == 0 %>
    <%= render partial: "dashboard/components/widgets/no_data" %>
  <% else %>
    <canvas id="upload-speeds-chart<%= responsive ? '-responsive' : ''%>"
            data-controller="multi-line-chart"
            data-line-chart-data="<%= @upload_speeds.to_json %>"
            data-parent-id="upload-speeds-widget<%= responsive ? '-responsive' : ''%>"
            data-label-suffix=" Mbps"
            data-action="toggleLine@window->multi-line-chart#toggleLine"
            data-chart-id="uploadSpeeds"
            data-query-time-interval="<%= @query_time_interval %>"1
            data-skeleton-id="upload-speeds-chart-skeleton"
            data-toggler-id="upload-speeds-toggler"
            data-entities-and-hexes="<%= ChartsHelper::REGULAR_CHARTS_LINE_OPTIONS.map(&:to_json) %>"
    ></canvas>
    <div id="upload-speeds-toggler" style="display: none">
      <%= render partial: "dashboard/components/widgets/multi_line_line_toggler",
                 locals: {
                   chart_id: "uploadSpeeds",
                   options: ChartsHelper::REGULAR_CHARTS_LINE_OPTIONS
                 } %>
    </div>
    <div id="upload-speeds-chart-skeleton" style="position: absolute; inset: 0">
      <%= render partial: "dashboard/components/widgets/line_chart_skeleton" %>
    </div>
  <% end %>
<% end %>