<% outage_type = params[:outage_type] || 'all' %>

<div class="dashboard--outages-filters-container">
  <a class="dashboard--outages-filter"
     data-selected="<%= outage_type === 'all' %>"
     href="<%= dashboard_path(request.query_parameters.merge({ outage_type: 'all' })) %>"
     target="_top"
  >All outages</a>
  <a class="dashboard--outages-filter"
     data-selected="<%= outage_type === 'isp_outage' %>"
     href="<%= dashboard_path(request.query_parameters.merge({ outage_type: 'isp_outage' })) %>"
     target="_top"
  >ISP outages</a>
  <a class="dashboard--outages-filter"
     data-selected="<%= outage_type === 'power_outage' %>"
     href="<%= dashboard_path(request.query_parameters.merge({ outage_type: 'power_outage' })) %>"
     target="_top"
  >Power outages</a>
  <a class="dashboard--outages-filter"
     data-selected="<%= outage_type === 'pod_failure' %>"
     href="<%= dashboard_path(request.query_parameters.merge({ outage_type: 'pod_failure' })) %>"
     target="_top"
  >Pod failure</a>
</div>