<% outage_type = params[:outage_type] || 'all' %>

<div class="dashboard--outages-filters-container">
  <button class="dashboard--outages-filter"
          data-value="all"
          data-key="outage_type"
          data-label="All outages"
          data-action="click->dashboard-realtime-filters#selectFilter"
          data-selected="<%= outage_type === 'all' %>"
          data-dashboard-realtime-filters-target="filter"
          data-overridden-keys="[]"
  >
    All outages
  </button>
  <% NetworkOutage.outage_types.keys.sort.each do |type| %>
    <button class="dashboard--outages-filter"
            data-value="<%= type %>"
            data-key="outage_type"
            data-label="<%= outage_type_to_human(type) %>"
            data-action="click->dashboard-realtime-filters#selectFilter"
            data-selected="<%= outage_type === type %>"
            data-dashboard-realtime-filters-target="filter"
            data-overridden-keys="[]"
    >
      <%= outage_type_to_human(type) %>
    </button>
  <% end %>
</div>