<% today = Time.now %>
<% days = params[:days] ? params[:days].to_i : 30 %>
<% start_date = params[:start].present? ? Time.at(params[:start].to_f / 1000) : Time.parse((today - days.days).to_s) %>
<% end_date = params[:end].present? ? Time.at(params[:end].to_f / 1000) : Time.parse(today.to_s) %>
<div class="dashboard--status-bar" data-controller="outages-chart">
  <%= render partial: "outages/components/hover_and_drag_handler", locals: { start_date: start_date, end_date: end_date } %>
  <% seen_left_positions_map = {} # I wanna check if some outages share the "exact" same position, so i can offset them a bit %>
  <% @outages.each do |entry| %>
    <% outage_group_id = entry[0] %>
    <% group_data = entry[1] %>
    <% full_time_span = (end_date - start_date).to_i %>
    <% full_time_span = 1 if full_time_span == 0 %>
    <% normalized_duration = group_data[:started_at].to_i < start_date.to_i ? group_data[:resolved_at].to_i - start_date.to_i : group_data[:duration].to_i %>
    <% width = (normalized_duration / full_time_span.to_f) * 100 %>
    <% width = 100 if width > 100 %>
    <% left = ((group_data[:started_at] - start_date.to_f).to_f / (full_time_span.to_f) * 100).floor(0)  %>
    <% left = 0 if left < 0 %>
    <% left += seen_left_positions_map[left] + 1 if seen_left_positions_map[left] %>
    <% seen_left_positions_map[left] = width %>
    <div class="dashboard--status-outage-bar"
         style="min-width: 1px; width: <%= width %>%; left: <%= left %>%; border-top-left-radius: <%= left < 1 ? '.25rem' : 0 %>; border-bottom-left-radius: <%= left < 1 ? '.25rem' : 0 %>; border-top-right-radius: <%= width > 99 ? '.25rem' : 0 %>; border-bottom-right-radius: <%= width > 99 ? '.25rem' : 0 %>;"
         data-action="mouseenter->outages-chart#hoverOutage mouseleave->outages-chart#unhoverOutage"
         data-outages-chart-target="outage"
         data-tooltip-id="outage-tooltip-<%= outage_group_id %>"
    >
      <%= render partial: "dashboard/components/widgets/outages/tooltip",
                 locals: {
                   start_date: group_data[:started_at],
                   end_date: group_data[:resolved_at],
                   group_duration: group_data[:duration],
                   outages: group_data[:outages],
                   index: outage_group_id,
                   timeframe_start_date: start_date,
                 }
      %>
    </div>
  <% end %>
</div>
<div class="dashboard--status-dates-container">
  <% timeframe = end_date - start_date %>
  <% parsed_start_date = ChartsHelper.format_axis_date(start_date, timeframe) %>
  <% parsed_end_date = ChartsHelper.format_axis_date(end_date, timeframe) %>
  <% parsed_mid_date = ChartsHelper.format_axis_date(Time.parse((start_date + timeframe / 2).to_s), timeframe) %>
  <p class="dashboard--status-date-label"><%= parsed_start_date %></p>
  <p class="dashboard--status-date-label"><%= parsed_mid_date %></p>
  <p class="dashboard--status-date-label"><%= parsed_end_date %></p>
</div>