<div class="modals--content-container"
  data-controller="location-form"
  data-type="full"
  data-action="click->categories#checkCloseColorPicker keydown->categories#checkCloseColorPicker"
  data-resource="networks"
>
  
  <div class="modals--form-row mb-6">
    <label class="forms--label">Name</label>
    <%= form.text_field :name, name: "location[name]" ,class: "w-100 forms--text-input forms--text-input-focusable", placeholder: 'Enter your network name', data: { "location-form-target" => "name" } %>
  </div>

  <div class="modals--form-row mb-6 forms--input-group">
    <% if !current_account&.is_all_accounts? %>
      <label class="forms--label optional">Categories</label>
      <input name="categories" autocomplete="off" type="hidden" value="<%= @location.categories.map{|c| c.id}.join(",") %>" id="location_categories" data-categories-target="hiddenCategoriesInput">
      <div class="category--location-select-container"
          data-categories-target="selectClickableContainer"
          data-action="click->categories#toggleFocus"
          data-categories-location-id-value="<%= @location.id.nil? ? nil : @location.id %>" 
      > 
        <%= turbo_frame_tag "selected-categories" do %>
          <%= render partial: "location_categories/table_cell", locals: {categories: @location.categories, shows_tooltip: false, row: -1} %>
        <% end %>
        <span class="svg-icon svg-icon-5 m-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
          </svg>
        </span>
      </div>
      <%= turbo_frame_tag "location-categories-dropdown" do %>
      <% end %>
    <% else %>
      <label class="forms--label">Account</label>
      <select class="form-select forms--select"
              data-controller="select2"
              id="client-accounts-dropdown"
              data-placeholder="Select an account"
              name="location[account_id]"
              data-select2-id="select2-data-account_id"
              tabindex="-1"
      >
        <% policy_scope(Account).each_with_index do |account, index|%>
          <%= render partial: "clients/client_select_option", locals: { option: account, selected: type == "edit" ? account.id == @location&.account.id : index == 0} %>
        <% end %> 
      </select>
    <% end %>
  </div>
  
  <div class="modals--half-width-row mb-6">
    <div class="modals--form-row">
      <label class="forms--label">Expected download speed</label>
      <div class="position-relative w-100">
        <%= form.text_field :expected_mbps_down, name: "location[expected_mbps_down]", class: "w-100 forms--text-input forms--text-input-focusable forms--text-input-with-decoration", placeholder: '0', data: { "location-form-target" => "expectedDownload" }%>
        <span class="forms--input-decoration">Mbps</span>
      </div>
    </div>
    <div class="modals--form-row">
      <label class="forms--label">Expected upload speed</label>
      <div class="position-relative w-100">
        <%= form.text_field :expected_mbps_up, name: "location[expected_mbps_up]", class: "w-100 forms--text-input forms--text-input-focusable forms--text-input-with-decoration", placeholder: '0', data: { "location-form-target" => "expectedUpload" } %>
        <span class="forms--input-decoration">Mbps</span>
      </div>
    </div>
  </div>

  <div class="category--horizontal-divider my-6"></div>

  
  <div class="modals--form-row mb-6">
    <label class="forms--label">Network address</label>
    <div class="forms--input-group" data-location-form-target="addressWrapper">
      <input class="w-100 forms--text-input forms--text-input-focusable forms--text-input-with-decoration"
        placeholder="Enter your network address"
        data-location-form-target="address"
        data-action="input->location-form#onAddressChange"
        type="text"
        name="location[address]"
        id="location_address"
        value="<%= @location&.address %>"
      />
      <div class="d-none forms--input-decoration" data-location-form-target="spinner">
        <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
      </div>
      <div class="forms--input-decoration forms--input-decoration-clickable"
        data-action="click->location-form#autofillGeoData"
        data-location-form-target="geoIcon"
      >
        <%= image_tag image_url('auto-location-icon.png'), width: 16, height: 16 %>
      </div>
    </div>
  </div>

  <div class="modals--network-map mb-6"
    data-controller="location"
    data-location-form-target="map"
    data-action="modal:shown->location#display"
    data-location-latitude-value="<%= @location&.latitude %>"
    data-location-longitude-value="<%= @location&.longitude %>"
    data-draggable="true"
  ></div>

  <div class="modals--form-row mb-6">
    <div class="d-flex align-items-center justify-content-start">
      <%= form.check_box :manual_lat_long,
        name: "location[manual_lat_long]",
        class: "forms--checkbox me-2",
        data: {
          "location-form-target" => "manualLatLong",
          action: "input->location-form#networksOnManualChange"
        }
      %>
      <label class="regular-text" for="flexSwitchDefault">
          Adjust coordinates manually
      </label>
    </div>
    <span class="additional-text wrap">You can adjust your location coordinates manually if the map doesn't show you the right location.</span>
  </div>

  <div class="modals--half-width-row mb-6"
    data-location-form-target="manualLatLongWrapper"
    <%= @location&.manual_lat_long ? '' : 'hidden' %>
  >
    <div class="modals--form-row">
      <label class="forms--label">Latitude</label>
      <%= form.text_field :latitude,
          name: "location[latitude]", 
          class: "w-100 forms--text-input forms--text-input-focusable", 
          data: { "location-form-target" => "latitude", action: "input->location-form#onLatitudeChange" } 
      %>
    </div>
    <div class="modals--form-row">
      <label class="forms--label">Longitude</label>
      <%= form.text_field :longitude,
          name: "location[longitude]", 
          class: "w-100 forms--text-input forms--text-input-focusable", 
          data: { "location-form-target" => "longitude", action: "input->location-form#onLongitudeChange" } 
      %>
    </div>
  </div>
</div>

<div class="modal-footer modals--footer">
  <%= render partial: "application/components/buttons/close_modal_button", locals: { text: "Cancel", is_custom: true} %>
  <%= form.submit "#{type == 'create' ? 'Create network' : 'Update'}", class: "custom-button custom-button--primary custom-button--sm" %>
</div>