<div class="public--pod-hero-text-container">
  <p class="dialog-main-title wrap">This pod belongs to <%= client.account.name %></p>
  <p class="additional-text wrap">This pod is monitoring the quality of the internet connection</p>
</div>

<div data-controller="public-pod-tabs">
  <div class="public--pod-tabs-container">
    <button data-content="overview" data-selected="true" data-action="click->public-pod-tabs#switchTab" data-public-pod-tabs-target="tab">Overview</button>
    <button data-content="dashboard" data-action="click->public-pod-tabs#switchTab" data-public-pod-tabs-target="tab">Dashboard</button>
  </div>

  <div data-public-pod-tabs-target="overview">
    <div class="public--pod-content-card">
      <div class="public--pod-content-card-header" data-status="<%= client.status_without_running %>">
        <div class="public--pod-status-id-container">
          <div class="tables--network-icon-container public--pod-icon" data-pod-status="<%= client.online ? Client::STATUSES::ONLINE : Client::STATUSES::OFFLINE %>">
            <%= image_tag image_url(client.online ? 'pod-online-icon.png' : 'pod-offline-icon.png'), width: 24, height: 24 %>
            <% if client.online %>
              <div class="tables--network-online-dot"></div>
            <% end %>
          </div>
          <div id="public--status-card-status">
            <p class="public--pod-id-title"><%= client.unix_user %></p>
            <p class="public--additional-text m-0"><%= client.get_status_timestamp %></p>
          </div>
        </div>
      </div>
      <div class="public--responsive-overview-data-container">
        <% if client.latest_measurement&.download.nil?%>
          <div class="public--no-measurement-container">
            <div class="public--no-measurement-icons-container">
              <div class="public--no-measurement-icon-container me-4">
                <%= image_tag image_url('download-icon-blue.png') %>
                <span class="public--additional-text">-</span>
              </div>
              <div class="public--no-measurement-icon-container">
                <%= image_tag image_url('upload-icon-blue.png') %>
                <span class="public--additional-text">-</span>
              </div>
            </div>
            <p class="additional-text m-0">No measurement available</p>
          </div>
        <% elsif client.status == Client::STATUSES::RUNNING_TEST %>
          <div class="public--no-measurement-container gap-2">
            <div class="d-flex flex-row justify-content-center align-items-center custom-badge custom-badge--<%= client.status_suffix %>">
              <div class="spinner-border spinner-border-sm me-1 public--custom-spinner" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <%= client.status %>
            </div>
            <p class="additional-text m-0">Right now</p>
          </div>
        <% else %>
          <div class="public--no-measurement-container">
            <div class="public--no-measurement-icons-container">
              <div class="public--no-measurement-icon-container me-4">
                <%= image_tag image_url('download-icon-blue.png') %>
                <span class="public--speed-text"><%= client.latest_measurement.download.round(2) %> <span class="public--speed-text-unit">Mbps</span></span>
              </div>
              <div class="public--no-measurement-icon-container">
                <%= image_tag image_url('upload-icon-blue.png') %>
                <span class="public--speed-text"><%= client.latest_measurement.upload.round(2) %> <span class="public--speed-text-unit">Mbps</span></span>
              </div>
            </div>
            <p class="public--additional-text wrap"><%= "Last measurement on #{pretty_print_date_with_time(client.latest_measurement.created_at)}" %></p>
          </div>
        <% end %>
        <% if client.status == Client::STATUSES::RUNNING_TEST || !client.online %>
          <span class="m-0 public--tooltip-wrapper additional-text wrap" data-bs-custom-class="additional-text wrap public--custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="A speed test is already running or you need to wait a few minutes before taking another one.">
            <a class="custom-button custom-button--primary custom-button--lg custom-button--disabled public--manage-pod-button disabled">
              <%= image_tag image_url('run-speed-test-icon.png'), id: 'public--run-speed-test-icon' %>
              Run speed test
            </a>
          </span>
        <% else %>
          <button class="custom-button custom-button--primary custom-button--lg public--manage-pod-button" data-action="click->public-page#runPublicTest">
            <%= image_tag image_url('run-speed-test-icon.png'), id: 'public--run-speed-test-icon' %>
            Run speed test
          </button>
        <% end %>
      </div>
    </div>
  </div>

  <div data-public-pod-tabs-target="dashboard" hidden="hidden">
    <%= render partial: "dashboard/components/date_filter",
               locals: {
                 menu_id: 'date-range-filter-menu-responsive',
                 key: 'days',
                 default_value: 'last_24_hours',
                 default_label: 'Last 24 hours',
                 options: [
                   { label: 'Last 24 hours', value: 'last_24_hours' },
                   { label: 'Last 7 days', value: 'last_7_days' },
                   { label: 'Last 30 days', value: 'last_30_days' },
                   { label: 'This year', value: 'this_year' },
                 ],
                 public_use: true
               }
    %>
    <div class="dashboard--widgets-container" data-dashboard-realtime-filters-target="loadingOverlay">
      <svg width="24" height="24"
           class="dashboard--spinner"
           data-dashboard-realtime-filters-target="spinner"
           viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg"><style>.spinner_ajPY{transform-origin:center;animation:spinner_AtaB .75s infinite linear}@keyframes spinner_AtaB{100%{transform:rotate(360deg)}}</style><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"/><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" class="spinner_ajPY"/>
      </svg>
      <div class="widgets--grid" data-pod-page="true">
        <%= render partial: "application/components/widgets/widget",
                   locals: {
                     type: WidgetsHelper::WidgetTypes::DOWNLOAD_SPEED,
                     custom_url: download_speeds_client_url(id: client.unix_user, days: params[:days], start: params[:start], end: params[:end], responsive: true),
                     responsive: true
                   }
        %>
        <%= render partial: "application/components/widgets/widget",
                   locals: {
                     type: WidgetsHelper::WidgetTypes::UPLOAD_SPEED,
                     custom_url: upload_speeds_client_url(id: client.unix_user, days: params[:days], start: params[:start], end: params[:end], responsive: true),
                     responsive: true
                   }
        %>
        <%= render partial: "application/components/widgets/widget",
                   locals: {
                     type: WidgetsHelper::WidgetTypes::LATENCY,
                     custom_url: latency_client_url(id: client.unix_user, days: params[:days], start: params[:start], end: params[:end], responsive: true),
                     responsive: true
                   }
        %>
        <%= render partial: "application/components/widgets/widget",
                   locals: {
                     type: WidgetsHelper::WidgetTypes::DATA_USAGE,
                     custom_url: data_usage_client_url(id: client.unix_user, days: params[:days], start: params[:start], end: params[:end], responsive: true),
                     responsive: true
                   }
        %>
      </div>
    </div>
  </div>
</div>