---
import styles from './styles/common_issues_list.module.css';
---

<ul class={styles.list}>
  <li class={styles.item}>
    <div class={styles.iconCircle}>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
          <path fill="#4B7BE5" transform="translate(1 1)" d="M11 0C17.075132 0 22 4.9248676 22 11C22 17.075132 17.075132 22 11 22C4.9248676 22 0 17.075132 0 11L0.0037074047 10.711593C0.15663482 4.7697635 5.0212984 0 11 0ZM11 2C6.0294371 2 2 6.0294371 2 11C2 15.970563 6.0294371 20 11 20C15.970563 20 20 15.970563 20 11C20 6.0294371 15.970563 2 11 2ZM11 6.4285712C11.552285 6.4285712 12 6.8762865 12 7.4285712L12 10.585L16.170992 14.75773C16.561474 15.148296 16.561407 15.781462 16.170841 16.171944C15.780275 16.562428 15.14711 16.562359 14.756627 16.171793L10.292818 11.707031C10.257427 11.671634 10.225245 11.634243 10.196271 11.595221L10.124619 11.483969L10.093654 11.4231L10.059881 11.341638L10.035817 11.26589L10.011038 11.148599L10.003889 11.088804L10 11L10 7.4285712C10 6.8762865 10.447715 6.4285712 11 6.4285712Z"/>
        </svg>
    </div>
    <div class={styles.textContainer}>
      <h5>High latency</h5>
      <p>Delays in data transmission disrupted video conferencing, making telehealth unreliable.</p>
    </div>
  </li>

  <li class={styles.item}>
      <div class={styles.iconCircle}>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
          <path fill="#4B7BE5" transform="translate(1 6)" d="M15 12.666667L21 12.666667L21.075239 12.663878L21.200726 12.646426L21.312143 12.616929L21.423222 12.572993L21.520708 12.520671L21.617022 12.453739L21.70714 12.373755C21.7425 12.33838 21.774687 12.300992 21.803665 12.261973L21.875328 12.150729L21.928774 12.038003L21.964155 11.93266L21.993093 11.784762L22 11.666667L22 5.6666665C22 5.1143818 21.552284 4.6666665 21 4.6666665C20.447716 4.6666665 20 5.1143818 20 5.6666665L20 9.2526665L14.650444 3.9028976C14.212816 3.4649892 13.619098 3.2189512 13 3.2189512C12.380902 3.2189512 11.787184 3.4649892 11.349782 3.9026711L8.5691109 6.683342C8.5065928 6.7459006 8.4217758 6.7810488 8.333333 6.7810488C8.2448912 6.7810488 8.1600742 6.7459006 8.0973291 6.6831155L1.7071068 0.29289323C1.3165824 -0.097631074 0.6834175 -0.097631074 0.29289323 0.29289323C-0.097631074 0.6834175 -0.097631074 1.3165824 0.29289323 1.7071068L6.682889 8.0971022C7.1205168 8.5350103 7.7142358 8.7810488 8.333333 8.7810488C8.9524307 8.7810488 9.5461502 8.5350103 9.983551 8.0973291L12.764222 5.316658C12.82674 5.2540994 12.911557 5.2189512 13 5.2189512C13.088443 5.2189512 13.17326 5.2540994 13.236004 5.3168845L18.584 10.666667L15 10.666667C14.487164 10.666667 14.064493 11.052707 14.006728 11.550046L14 11.666667C14 12.218951 14.447715 12.666667 15 12.666667Z"/>
        </svg>
      </div>
      <div class={styles.textContainer}>
          <h5>Rate limiting</h5>
          <p>Users experienced slowdowns mid-month due to data caps, often without understanding why.</p>
      </div>
  </li>

  <li class={styles.item}>
      <div class={styles.iconCircle}>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
          <path fill="#4B7BE5" transform="translate(1 3.00003)" d="M11.007559 0C17.026972 0.045500696 21.88866 4.8843837 21.998142 10.860735L21.999716 12.999621C21.999716 14.288264 20.955065 15.332915 19.66642 15.332915L2.3335938 15.332915C1.0449508 15.332915 0.00029941168 14.288264 0.00029941168 12.999621L0.0003290819 11.161156C-0.022301883 8.2233839 1.1231304 5.3969688 3.1845994 3.3037994C5.163609 1.2943571 7.8311815 0.11872271 10.640571 0.0082452549L11.007559 0ZM11 1.9989715L10.694203 2.0077176C8.4012871 2.1042178 6.2253499 3.0665462 4.6095624 4.7071815C2.9203289 6.4223914 1.9817252 8.7384462 2.0002995 11.153453L2.0002995 12.999621C2.0002995 13.183695 2.1495204 13.332915 2.3335938 13.332915L7.3484325 13.332201C7.4946847 11.712904 8.6937304 10.397318 10.255752 10.075262L12.051266 4.6862936C12.225913 4.1623502 12.792233 3.8791902 13.316176 4.0538378C13.84012 4.2284856 14.12328 4.7948055 13.948632 5.318749L12.307747 10.239761C13.587689 10.728543 14.523481 11.913871 14.651582 13.332201L19.66642 13.332915C19.850494 13.332915 19.999716 13.183695 19.999716 12.999621L19.999743 11.143348C20.036362 6.2207928 16.147219 2.1843169 11.25999 2.0058343L11 1.9989715ZM10.971522 12.002204L11.000008 11.99968C10.194143 11.99968 9.5218697 12.571646 9.3669968 13.331768L12.633018 13.331768C12.480684 12.584108 11.827776 12.018484 11.039534 12.000139L10.971522 12.002204ZM17.333157 12.002346C16.596781 12.002346 15.999832 11.405396 15.999832 10.669023C15.999832 9.9326477 16.596781 9.3356991 17.333157 9.3356991C18.06953 9.3356991 18.666479 9.9326477 18.666479 10.669023C18.666479 11.362081 18.137693 11.931634 17.461563 11.996243L17.333157 12.002346ZM4.6668591 9.3330326C5.4032331 9.3330326 6.0001826 9.9299812 6.0001826 10.666356C6.0001826 11.359414 5.4713969 11.928967 4.7952671 11.993576L4.6668591 11.99968C3.9304848 11.99968 3.3335354 11.40273 3.3335354 10.666356C3.3335354 9.9299812 3.9304848 9.3330326 4.6668591 9.3330326ZM6.0001535 6.0024629C6.7365279 6.0024629 7.333477 6.599412 7.333477 7.3357863C7.333477 8.0288448 6.8046913 8.5983982 6.1285615 8.6630068L6.0001535 8.6691103C5.2637792 8.6691103 4.6668296 8.0721607 4.6668296 7.3357863C4.6668296 6.599412 5.2637792 6.0024629 6.0001535 6.0024629ZM15.999862 5.9997964C16.736237 5.9997964 17.333185 6.5967455 17.333185 7.3331199C17.333185 8.0261784 16.804399 8.5957317 16.128269 8.6603403L15.999862 8.6664438C15.263487 8.6664438 14.666537 8.0694942 14.666537 7.3331199C14.666537 6.5967455 15.263487 5.9997964 15.999862 5.9997964ZM8.6667423 3.3358741C9.4031162 3.3358741 10.000066 3.9328234 10.000066 4.6691976C10.000066 5.3622556 9.4712801 5.9318094 8.7951498 5.9964175L8.6667423 6.002521C7.9303679 6.002521 7.3334184 5.4055719 7.3334184 4.6691976C7.3334184 3.9328234 7.9303679 3.3358741 8.6667423 3.3358741Z"/>
        </svg>
      </div>
      <div class={styles.textContainer}>
          <h5>High speed variance</h5>
          <p>Internet performance fluctuated wildly, affecting businesses and households alike.</p>
      </div>
  </li>

  <li class={styles.item}>
      <div class={styles.iconCircle}>
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
          <path fill="#4B7BE5" transform="translate(2 1)" d="M10.000004 13.2C11.877772 13.2 13.400003 14.722232 13.400003 16.6C13.400003 18.477768 11.877772 20 10.000004 20C8.1222353 20 6.6000037 18.477768 6.6000037 16.6L6.6050348 16.413452C6.7018809 14.622441 8.1848278 13.2 10.000004 13.2ZM19.707111 0.29289323C20.097635 0.6834175 20.097635 1.3165824 19.707111 1.7071068L16.970444 4.4430785C17.178566 4.4263921 17.393648 4.4744973 17.583742 4.5946031C18.332279 5.067544 19.034845 5.6095972 19.682222 6.2136521C20.086025 6.5904317 20.107931 7.2232175 19.731152 7.6270194C19.354372 8.0308208 18.721586 8.0527267 18.317785 7.6759477C17.761772 7.1571436 17.15836 6.6915908 16.515465 6.2853971C16.190979 6.08038 16.024696 5.7195272 16.052469 5.3617411L1.7071105 19.707108C1.3165863 20.097631 0.68342125 20.097631 0.29289696 19.707108C-0.097627334 19.316582 -0.097627334 18.683418 0.29289696 18.292892L18.292896 0.29289323C18.683422 -0.097631074 19.316586 -0.097631074 19.707111 0.29289323ZM10.000004 15.2C9.2268047 15.2 8.6000042 15.826801 8.6000042 16.6C8.6000042 17.373199 9.2268047 18 10.000004 18C10.773202 18 11.400003 17.373199 11.400003 16.6C11.400003 15.826801 10.773202 15.2 10.000004 15.2ZM12.843455 10.206061C13.627487 10.554225 14.34064 11.043904 14.94718 11.650562C15.337666 12.041124 15.337604 12.67429 14.947042 13.064775C14.556479 13.455262 13.923314 13.4552 13.532828 13.064638C13.100042 12.631767 12.591185 12.282366 12.031752 12.033939C11.526998 11.809793 11.29952 11.218903 11.523664 10.714149C11.74781 10.209394 12.338701 9.9819155 12.843455 10.206061ZM10.398946 6.9574776C10.432593 7.5087361 10.012985 7.9828959 9.4617262 8.0165424C7.370729 8.1441689 5.3991246 9.0341434 3.9202905 10.517925C3.5304189 10.909101 2.8972547 10.910158 2.5060787 10.520287C2.114903 10.130415 2.1138456 9.4972506 2.5037169 9.1060753C4.328073 7.2756157 6.7603331 6.1777029 9.3398809 6.0202575C9.89114 5.9866109 10.365299 6.4062185 10.398946 6.9574776ZM15.26108 7.3954935C16.07851 7.8637676 16.829956 8.4387875 17.495615 9.1053982C17.88586 9.4962015 17.885408 10.129366 17.494606 10.519611C17.103802 10.909857 16.470638 10.909405 16.080393 10.518601C15.540168 9.9776058 14.930323 9.5109406 14.266927 9.1309071C13.787706 8.8563786 13.621769 8.2453451 13.896297 7.7661233C14.170825 7.2869024 14.781859 7.1209655 15.26108 7.3954935ZM12.54092 2.6290085C13.084253 2.7280421 13.444428 3.2487831 13.345395 3.7921162C13.246362 4.3354492 12.72562 4.6956253 12.182287 4.5965915C8.3923025 3.9057887 4.4988456 5.047617 1.6822503 7.6759224C1.2784625 8.0527163 0.64567584 8.0308342 0.2688815 7.6270466C-0.10791283 7.223259 -0.086030416 6.5904722 0.31775725 6.2136779C3.5965745 3.1540504 8.128973 1.8248404 12.54092 2.6290085Z"/>
        </svg>
      </div>
      <div class={styles.textContainer}>
          <h5>Excessive outages</h5>
          <p>Some communities faced daily outages or prolonged service interruptions.</p>
      </div>
  </li>

  <li class={styles.item}>
      <div class={styles.iconCircle}>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 16 16">
            <path fill="#4B7BE5" transform="translate(0.25 0.25)" d="M7.75 0C12.03008 0 15.5 3.4699197 15.5 7.75C15.5 12.03008 12.03008 15.5 7.75 15.5C3.4699197 15.5 0 12.03008 0 7.75C0 3.4699197 3.4699197 0 7.75 0ZM7.75 1.5C4.298347 1.5 1.5 4.298347 1.5 7.75C1.5 11.201653 4.298347 14 7.75 14C11.201653 14 14 11.201653 14 7.75C14 4.298347 11.201653 1.5 7.75 1.5ZM11.513345 8.8666668C11.927559 8.8667469 12.26328 9.2025986 12.2632 9.6168118C12.26312 10.031025 11.927268 10.366747 11.513055 10.366667C10.202205 10.366413 9.0044546 11.109066 8.421855 12.283334C8.2377596 12.654388 7.7877216 12.80595 7.4166665 12.621855C7.0456114 12.43776 6.8940501 11.987721 7.078145 11.616667C7.9140496 9.9318476 9.6325607 8.8663025 11.513345 8.8666668ZM4.9499998 5.8333335C5.4930801 5.8333335 5.9333334 6.2735868 5.9333334 6.8166666C5.9333334 7.3209553 5.5537271 7.7365823 5.0646772 7.7933846L4.9499998 7.8000002C4.40692 7.8000002 3.9666667 7.3597465 3.9666667 6.8166666C3.9666667 6.2735868 4.40692 5.8333335 4.9499998 5.8333335ZM10.083333 5.8333335C10.626413 5.8333335 11.066667 6.2735868 11.066667 6.8166666C11.066667 7.3209553 10.68706 7.7365823 10.19801 7.7933846L10.083333 7.8000002C9.5402536 7.8000002 9.1000004 7.3597465 9.1000004 6.8166666C9.1000004 6.2735868 9.5402536 5.8333335 10.083333 5.8333335Z"/>
          </svg>
      </div>
      <div class={styles.textContainer}>
          <h5>Insufficient speeds</h5>
          <p>Many homes recorded speeds as low as 2 Mbps, making modern applications impossible to use.</p>
      </div>
  </li>
</ul>