---
import styles from './styles/more_stories_card.module.css';
import HeroWithText from "../common/content/HeroWithText.astro";
import ReadMoreButton from "../common/buttons/ReadMoreButton.astro";

const { head, title, preview, link, imageSrc } = Astro.props;
---

<div class={styles.card}>
  <img src={imageSrc.src} alt={title}/>
  <HeroWithText head={head} title={title} content={preview} small />
  <ReadMoreButton href={link} />
</div>