---
import styles from './styles/quote.module.css';

const { quote, author } = Astro.props;
---

<div class={styles.quoteContainer}>
  <blockquote class={styles.quote}>{quote}</blockquote>
  <p class={styles.quoteAuthor}>— {author}</p>
</div>
