<div class="" style="width: <%= widths[0] %>">

</div>

<div class="" style="width: <%= widths[1] %>">
  <span><%= row.user.first_name %></span>
</div>

<div class="" style="width: <%= widths[2] %>">

</div>

<div class="" style="width: <%= widths[3] %>">

</div>

<div class="" style="width: <%= widths[4] %>">

</div>

<div class="" style="width: <%= widths[5] %>">

</div>