---
import incomingImageStyles from '../../common/wrappers/styles/section_with_upcoming_image.module.css';
import BulletPoint from "../../common/content/BulletPoint.astro";
import HeroWithText from "../../common/content/HeroWithText.astro";

import engagementStrategies from '../../../assets/images/implementation-learnings-engagement-strategies.webp';
import deploymentMethods from '../../../assets/images/implementation-learnings-deployment-methods.webp';
import motivatingParticipation from '../../../assets/images/implementation-learnings-motivating-participation.webp';
---

<div class={incomingImageStyles.mainWrapper}>
    <div id="engagement-strategies" class={incomingImageStyles.rowContainer}>
        <HeroWithText head="Engagement Strategies"
                      title="Effective Engagement Strategies"
                      content="Proven strategies that fostered trust and boosted community engagement."
        />
        <img src={engagementStrategies.src} alt="simple fixes" class={incomingImageStyles.responsiveImage}/>
        <div class={incomingImageStyles.bulletPoints} data-borderless="true">
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Community-Led Outreach"
                        content="Face-to-face outreach increased community involvement, especially in Texas and Michigan. Direct, personal connections helped build trust and clearly communicated the importance of our work."
                        borderless
                >
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: 0.75">
                    <path fill="#4B7BE5" transform="translate(1 1)" d="M15 0C17.614147 0 19.733334 2.1191854 19.733334 4.7333331C19.733334 7.0471501 18.073109 8.9732008 15.878931 9.3852167C19.625164 9.8191795 22.533333 13.003304 22.533333 16.866667L22.533333 19.666666C22.533333 20.218952 22.085619 20.666666 21.533333 20.666666L19.637667 20.666334L18.795036 29.099504C18.747849 29.571383 18.377687 29.939386 17.916941 29.993212L17.799999 30L12.2 30C11.686249 30 11.256083 29.610706 11.204963 29.099504L10.360666 20.666334L8.4666662 20.666666C7.9538307 20.666666 7.5311594 20.280626 7.4733944 19.783287L7.4666667 19.666666L7.4666667 16.866667C7.4666667 13.003304 10.374836 9.8191795 14.121454 9.384016C11.92689 8.9732008 10.266666 7.0471501 10.266666 4.7333331L10.271538 4.5166683C10.384781 2.0030882 12.458467 0 15 0ZM5.6666665 3.7333333C7.7653489 3.7333333 9.4666662 5.4346514 9.4666662 7.5333333C9.4666662 9.4804821 8.0021629 11.085578 6.1145601 11.307215C6.4420319 11.470063 6.6666665 11.808798 6.6666665 12.2C6.6666665 12.752285 6.2189512 13.2 5.6666665 13.2C3.6416225 13.2 2 14.841622 2 16.866667L2 18.666L2.8666666 18.666666C3.3321958 18.666666 3.7304776 18.98665 3.8381972 19.42948L3.8589447 19.542631L4.6820002 26.132999L7.5333333 26.133333C8.0461693 26.133333 8.4688406 26.519373 8.5266056 27.016712L8.5333338 27.133333C8.5333338 27.685617 8.085618 28.133333 7.5333333 28.133333L3.8 28.133333C3.2956767 28.133333 2.8702757 27.757797 2.8077221 27.257368L1.983 20.666L1 20.666666C0.48716417 20.666666 0.064492837 20.280626 0.0067277313 19.783287L0 19.666666L0 16.866667C0 14.0008 2.1274533 11.631827 4.889215 11.252892C3.163682 10.895251 1.8666667 9.3657589 1.8666667 7.5333333L1.8716112 7.3377857C1.9733871 5.3299804 3.6335685 3.7333333 5.6666665 3.7333333ZM26.233334 4.2424369C27.409058 4.9212413 28.133333 6.175724 28.133333 7.5333333C28.133333 8.8909426 27.409058 10.145425 26.233334 10.82423C25.877565 11.029633 25.496817 11.172881 25.106205 11.253977C27.870487 11.629535 30 13.999413 30 16.866667L30 19.666666C30 20.218952 29.552284 20.666666 29 20.666666L28.015667 20.666L27.192278 27.257368C27.134537 27.719303 26.767622 28.07482 26.314852 28.126781L26.200001 28.133333L22.466667 28.133333C21.914381 28.133333 21.466667 27.685617 21.466667 27.133333C21.466667 26.581049 21.914381 26.133333 22.466667 26.133333L25.316668 26.132999L26.141056 19.542631C26.198797 19.080698 26.56571 18.72518 27.018482 18.67322L27.133333 18.666666L27.999666 18.666L28 16.866667C28 14.906946 26.46258 13.30631 24.528067 13.205083L24.333334 13.2C23.781048 13.2 23.333334 12.752285 23.333334 12.2C23.333334 11.808388 23.558441 11.469352 23.886316 11.305229C23.382128 11.247286 22.887384 11.086377 22.433332 10.82423C21.257608 10.145425 20.533333 8.8909426 20.533333 7.5333333L20.539993 7.3081012C20.615202 6.0381141 21.322927 4.8835301 22.433332 4.2424369C23.609056 3.563632 25.05761 3.563632 26.233334 4.2424369ZM15 11.333333C11.944024 11.333333 9.4666662 13.810691 9.4666662 16.866667L9.4666662 18.666334L11.266666 18.666666C11.740899 18.666666 12.143909 18.998373 12.243313 19.451479L12.261703 19.567163L13.104667 27.999334L16.894667 27.999334L17.738297 19.567163C17.785484 19.095284 18.155645 18.72728 18.616394 18.673456L18.733334 18.666666L20.532667 18.666334L20.533333 16.866667C20.533333 13.883452 18.172541 11.451631 15.217275 11.337521L15 11.333333ZM5.6666665 5.7333331C4.672554 5.7333331 3.8666666 6.5392208 3.8666666 7.5333333C3.8666666 8.5274458 4.672554 9.333333 5.6666665 9.333333C6.660779 9.333333 7.4666667 8.5274458 7.4666667 7.5333333C7.4666667 6.5392208 6.660779 5.7333331 5.6666665 5.7333331ZM23.433332 5.9744873C22.876411 6.2960267 22.533333 6.8902555 22.533333 7.5333333C22.533333 8.1764116 22.876411 8.7706404 23.433332 9.0921793C23.990255 9.4137182 24.676411 9.4137182 25.233334 9.0921793C25.790255 8.7706404 26.133333 8.1764116 26.133333 7.5333333C26.133333 6.8902555 25.790255 6.2960267 25.233334 5.9744873C24.676411 5.6529484 23.990255 5.6529484 23.433332 5.9744873ZM15 2C13.490421 2 12.266666 3.2237551 12.266666 4.7333331C12.266666 6.2429118 13.490421 7.4666667 15 7.4666667C16.509579 7.4666667 17.733334 6.2429118 17.733334 4.7333331C17.733334 3.2237551 16.509579 2 15 2Z"/>
                  </svg>
                </BulletPoint>
            </div>
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Local Partnerships"
                        content="Strong existing relationships in Alaska and West Virginia helped overcome access challenges. These partnerships provided a foundation of trust that smoothed the path for data gathering."
                        borderless
                >
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" style="scale: 1.5">
                    <path fill="#4B7BE5" transform="translate(2.25 0.25)" d="M5.75 0C8.9145155 0 11.5 2.4131219 11.5 5.4166727C11.5 7.3554192 9.0927839 11.719155 6.7780004 14.976051C6.5426803 15.30716 6.1571307 15.500281 5.75 15.500281C5.3428693 15.500281 4.9573197 15.30716 4.7220078 14.976063C2.4072156 11.719155 0 7.3554192 0 5.4166727C0 2.4131219 2.5854843 0 5.75 0ZM5.75 1.5C3.3916683 1.5 1.5 3.2655594 1.5 5.4166727C1.5 6.7717161 3.454308 10.432788 5.3908763 13.306403L5.75 13.831L5.9276896 13.573394C7.8593283 10.754781 9.8701849 7.0537553 9.9939766 5.554759L10 5.4166727C10 3.2655594 8.1083317 1.5 5.75 1.5ZM5.75 2.3333364C7.5338039 2.3333364 9 3.7017879 9 5.4166727C9 7.1315575 7.5338039 8.5000095 5.75 8.5000095C3.9661961 8.5000095 2.5 7.1315575 2.5 5.4166727L2.505183 5.2405486C2.6014946 3.6090391 4.0277066 2.3333364 5.75 2.3333364ZM5.75 3.8333364C4.7723799 3.8333364 4 4.5542254 4 5.4166727C4 6.2791204 4.7723799 7.0000091 5.75 7.0000091C6.7276201 7.0000091 7.5 6.2791204 7.5 5.4166727C7.5 4.5542254 6.7276201 3.8333364 5.75 3.8333364Z"/>
                  </svg>
                </BulletPoint>
            </div>
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
        </div>
    </div>
    <div id="deployment-methods" class={incomingImageStyles.rowContainer}>
        <HeroWithText head="Deployment Methods"
                      title="Innovative Deployment Methods"
                      content="Leveraging technology to extend reach and gather valuable insights."
        />
        <img src={deploymentMethods.src} alt="Dad and son looking at a computer" class={incomingImageStyles.responsiveImage}/>
        <div class={incomingImageStyles.bulletPoints} data-borderless="true">
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Software-Based Pods"
                        content="In remote areas where physical access was difficult, software-based, remotely-deployable Pods allowed us to gather data without needing on-site support."
                        borderless
                >
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                    <path fill="#4B7BE5" transform="translate(1.5 2.5)" d="M18.114576 0C19.708153 0 21 1.2918477 21 2.8854227L21 15.581244C21 17.174818 19.708153 18.466667 18.114576 18.466667L2.8854227 18.466667C1.2918477 18.466667 0 17.174818 0 15.581244L0 2.8854227C0 1.2918477 1.2918477 0 2.8854227 0L18.114576 0ZM19 5.8000002L2 5.8000002L2 15.581244C2 16.07025 2.3964174 16.466667 2.8854227 16.466667L18.114576 16.466667C18.603582 16.466667 19 16.07025 19 15.581244L19 5.8000002ZM15.452497 8.6593065L15.079013 9.5276461C14.889895 9.9605494 14.696846 10.393564 14.504396 10.814306L14.079356 11.72442L13.945127 12.002858C13.356682 13.212653 12.919954 13.983425 12.551021 14.352779C11.418093 15.485707 9.5819073 15.485707 8.4493818 14.353182C7.3168573 13.220657 7.3168573 11.384471 8.4493818 10.251946C8.8187027 9.8826256 9.5890007 9.4459867 10.797991 8.8579025L11.367949 8.5854597C11.773335 8.3947639 12.197187 8.2012177 12.627119 8.0093479L13.586906 7.5878119L14.143401 7.3500066C14.969198 7.0032768 15.799356 7.8335624 15.452497 8.6593065ZM12.407022 10.583241L12.568989 10.232031L11.94017 10.527541L11.672833 10.656416C10.702168 11.128573 10.007301 11.522453 9.863596 11.66616C9.5121193 12.017636 9.5121193 12.587492 9.863596 12.938969C10.215072 13.290444 10.784928 13.290444 11.136404 12.938969C11.279786 12.795424 11.673957 12.099759 12.146594 11.128053L12.407022 10.583241ZM18.114576 2L2.8854227 2C2.3964174 2 2 2.3964174 2 2.8854227L2 3.8L19 3.8L19 2.8854227C19 2.3964174 18.603582 2 18.114576 2Z"/>
                  </svg>
                </BulletPoint>
            </div>
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Mobile Data Collection"
                        content="The mobile app for broadband testing enabled an assessment of internet availability across communities, particularly those dependent on cellular networks. CLPs drove through these areas using the app, collecting comprehensive data without the need to install physical devices in homes or businesses."
                        borderless
                >
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                    <path fill="#4B7BE5" transform="translate(5 1)" d="M10.333333 0C10.808054 0 11.450075 0.10700352 12.11388 0.43890613C13.274793 1.0193621 14 2.1071737 14 3.6666667L14 18.333334C14 18.808054 13.892997 19.450075 13.561094 20.11388C12.980638 21.274792 11.892826 22 10.333333 22L3.6666667 22C3.191946 22 2.5499251 21.892996 1.8861197 21.561094C0.72520775 20.980639 0 19.892826 0 18.333334L0 3.6666667C0 3.191946 0.10700352 2.5499251 0.43890613 1.8861197C1.0193621 0.72520775 2.1071737 0 3.6666667 0L10.333333 0ZM12 17.111L2 17.111L2 18.333334C2 19.107174 2.2747922 19.519361 2.7805469 19.77224C3.1167417 19.940336 3.4747205 20 3.6666667 20L10.333333 20C11.107174 20 11.519362 19.725208 11.77224 19.219454C11.940337 18.883259 12 18.52528 12 18.333334L12 17.111ZM10.333333 2L3.6666667 2L3.4944158 2.004858C2.8303554 2.0436423 2.4611857 2.3136964 2.2277606 2.7805469C2.0596631 3.1167417 2 3.4747205 2 3.6666667L2 15.111L12 15.111L12 3.6666667C12 2.8928263 11.725207 2.4806378 11.219453 2.2277606C10.883258 2.0596631 10.525279 2 10.333333 2Z"/>
                  </svg>
                </BulletPoint>
            </div>
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Value-Added Support"
                        content="Offering technical assistance (TA) as part of the value of participation made pods a useful tool for improving internet rather than just being a way to contribute to the pilot."
                        borderless
                >
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                    <path fill="#4B7BE5" transform="translate(2 2)" d="M7.6890411 14.211753L14.213944 7.6859608C15.760286 8.423892 17.603821 8.107296 18.815372 6.8957448C20.026924 5.6841931 20.343519 3.8406579 19.605589 2.2943163L18.339006 3.5644548C17.812775 4.0906863 16.959585 4.0906863 16.433353 3.5644548C15.907123 3.0382235 15.907123 2.185034 16.433353 1.6588026L17.699049 0.39221939C16.153025 -0.34316939 14.311453 -0.025403881 13.101277 1.1855707C11.891101 2.3965454 11.574551 4.2383261 12.310959 5.783864L5.7860556 12.307878C4.2397137 11.569948 2.3961785 11.886543 1.1846269 13.098095C-0.026924698 14.309647 -0.34352016 16.153181 0.39441076 17.699524L1.6609939 16.433828C2.001406 16.093416 2.4975672 15.960471 2.9625785 16.08507C3.4275901 16.209669 3.7908053 16.572886 3.9154048 17.037897C4.0400043 17.502909 3.9070582 17.999069 3.5666461 18.339481L2.3009517 19.603397C3.8469753 20.338787 5.6885467 20.021021 6.8987226 18.810047C8.1088991 17.599072 8.4254494 15.757292 7.6890411 14.211753Z" fill-rule="evenodd"/>
                  </svg>
                </BulletPoint>
            </div>
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
        </div>
    </div>
    <div id="motivating-participation" class={incomingImageStyles.rowContainer}>
        <HeroWithText head="Motivating Participation"
                      title="Motivating Participation"
                      content="Encouraging participation through thoughtful incentives and outreach."
        />
        <img src={motivatingParticipation.src} alt="Dad and son looking at a computer" class={incomingImageStyles.responsiveImage}/>
        <div class={incomingImageStyles.bulletPoints} data-borderless="true">
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Incentives"
                        content="Gift cards in Michigan and Texas boosted engagement and pod retention as there was a lot of work involved in setting up and maintaining our monitoring equipment. Gift cards helped cover the perceived effort involved."
                        borderless
                >
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" style="scale: 1.5">
                    <path fill="#4B7BE5" transform="translate(0.25 0.25)" d="M10.198251 0.086384609C10.621937 0.22761318 10.972135 0.53142029 11.171665 0.93074882L12.435946 3.4595082C13.648896 3.6873002 14.566667 4.7520399 14.566667 6.031137L14.567259 6.3906641C15.120207 6.6665792 15.5 7.2378387 15.5 7.8978033L15.5 10.697803C15.5 11.357768 15.120207 11.929028 14.567259 12.204943L14.566667 12.56447C14.566667 14.009615 13.395145 15.181137 11.95 15.181137L2.6166666 15.181137C1.1715215 15.181137 0 14.009615 0 12.56447L0 6.031137C0 4.6507812 1.0688319 3.5200646 2.4240291 3.4214532L8.9127216 0.17791736C9.3121223 -0.021916954 9.7745647 -0.054843958 10.198251 0.086384609ZM11.95 4.9144702L2.6166666 4.9144702C1.9999487 4.9144702 1.5 5.4144187 1.5 6.031137L1.5 12.56447C1.5 13.181189 1.9999487 13.681137 2.6166666 13.681137L11.95 13.681137C12.566718 13.681137 13.066667 13.181189 13.066667 12.56447L13.066 12.381L11.483334 12.381137C9.7804556 12.381137 8.3999996 11.000682 8.3999996 9.2978039C8.3999996 7.5949254 9.7804556 6.2144699 11.483334 6.2144699L13.066 6.2140002L13.066667 6.031137C13.066667 5.4144187 12.566718 4.9144702 11.95 4.9144702ZM13.816667 7.7144699L11.483334 7.7144699C10.608883 7.7144699 9.8999996 8.4233522 9.8999996 9.2978039C9.8999996 10.172255 10.608883 10.881137 11.483334 10.881137L13.816667 10.881137C13.917919 10.881137 14 10.799056 14 10.697803L14 7.8978033C14 7.7965512 13.917919 7.7144699 13.816667 7.7144699ZM11.483334 10.281137C10.940253 10.281137 10.5 9.8408833 10.5 9.2978039C10.5 8.7547235 10.940253 8.3144703 11.483334 8.3144703C12.026413 8.3144703 12.466666 8.7547235 12.466666 9.2978039C12.466666 9.8020916 12.087061 10.217719 11.598011 10.274521L11.483334 10.281137ZM9.5837212 1.5194683L5.7940001 3.414L10.736 3.414L9.8299341 1.6013895C9.8081932 1.5578787 9.7700529 1.5247909 9.7239094 1.5094095C9.6777649 1.4940282 9.6274004 1.4976144 9.5837212 1.5194683Z"/>
                  </svg>
                </BulletPoint>
            </div>
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Cold Calling"
                        content="Phone outreach yielded mixed results but was more effective when paired with rewards. This method is cost-effective but requires adaptation and active management."
                        borderless
                >
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: 0.75">
                    <path fill="#4B7BE5" transform="translate(1 3.99832)" d="M25.405766 1.0016814L25.405766 20.806559C25.405766 21.605255 24.515619 22.081646 23.851065 21.638609L22.490015 20.731243C18.555607 18.108891 13.98151 16.623524 9.270998 16.427511C9.4997435 18.156 10.313359 19.766388 11.591622 20.982195C11.9918 21.36282 12.007651 21.995787 11.627026 22.395964C11.246401 22.796143 10.613434 22.811995 10.213256 22.431368C8.5320063 20.832266 7.4886336 18.691473 7.252871 16.405043L5.5011086 16.40523C2.4629302 16.40523 0 13.942299 0 10.90412C0 7.865942 2.4629302 5.4030118 5.5011086 5.4030118L8.2016888 5.4030118C13.287004 5.4025793 18.258486 3.8973856 22.489929 1.0770546L23.851065 0.16963112C24.515619 -0.27340537 25.405766 0.20298603 25.405766 1.0016814ZM23.404774 2.8666813L23.140614 3.0404112C18.989462 5.690546 14.210645 7.1871686 9.296031 7.3813581L9.2017736 7.3836813L9.2017736 14.423681L9.296031 14.426883C14.210646 14.621073 18.989468 16.117699 23.14069 18.767881L23.404774 18.940681L23.404774 2.8666813ZM7.2010002 7.4030118L5.5011086 7.4030118C3.6319535 7.4030118 2.1049068 8.867753 2.0051806 10.712025L2 10.90412C2 12.837729 3.5674996 14.405229 5.5011086 14.405229L7.2010002 14.405012L7.2010002 7.4030118ZM28.006653 8.1036768C28.558937 8.1036768 29.006653 8.5513926 29.006653 9.1036768L29.006653 12.704564C29.006653 13.256848 28.558937 13.704564 28.006653 13.704564C27.454367 13.704564 27.006653 13.256848 27.006653 12.704564L27.006653 9.1036768C27.006653 8.5513926 27.454367 8.1036768 28.006653 8.1036768Z"/>
                  </svg>
                </BulletPoint>
            </div>
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
        </div>
    </div>
</div>