---
import styles from './hero_with_text.module.css';

const { head, title, content, small, inCard } = Astro.props;
---

<div class={styles.heroContainer}
  data-small={(!!small).toString()}
  data-in-card={(!!inCard).toString()}
>
  { !!head && <span class={styles.head}>{head}</span> }
  <h3 class={styles.title}>{title}</h3>
  { !!content && <p class={styles.content}>{content}</p> }
</div>