<% idx = local_assigns[:index].present? ? local_assigns[:index] : ''%>
<% big = local_assigns[:big].present? && local_assigns[:big] == true %>

<div class="tables--options-menu invisible <%= big ? 'big' : '' %>"
  id="more-options-menu-<%= idx %>"
>
  <% if type == UsersAccount.name || type == Invite.name %>
    <%= render partial: "users/components/table_row_options", locals: { row: row } %>
  <% elsif type == Location.name %>
    <%= render partial: "networks/components/table_row_options", locals: { row: row } %>
  <% elsif type == TablesHelper::OptionsMenuType::NETWORKS_INDEX %>
    <%= render partial: "networks/components/index_more_options" %>
  <% elsif type == Client.name %>
    <%= render partial: "network_pods/components/table_row_options", locals: { row: row } %>
  <% elsif type == TablesHelper::OptionsMenuType::POD_OVERVIEW %>
    <%= render partial: "pods/components/overview_options" %>
  <% elsif type == TablesHelper::OptionsMenuType::NETWORK_OVERVIEW %>
    <%= render partial: "networks/components/overview_options" %>
  <% end %>
</div>