<% page_size = params[:page_size].present? ? params[:page_size].to_i : 10 %>
<% page_count = (total / page_size).ceil %>
<% page_count = 1 if page_count == 0 %>


<div class="tables--page-selector-container">
  <div class="tables--page-change-button">
    <%= image_tag image_url('arrow-left-dark.png'), width: 16, height: 16 %>
    <span>Prev</span>
  </div>
  <div>
    <select class="tables--footer-page-select"
      data-controller="pagination"
      data-action="change->pagination#handleChangePage"
    >
      <% (1..page_count).each do |page| %>
        <option value="<%= page %>" <%= (params[:page].nil? && page == 1) || (page == params[:page].to_i) ? 'selected' : '' %>>
          <%= page %>
        </option>
      <% end %>
    </select>
    <span class="table-footer">of <%= page_count %></span>
  </div>
  <div class="tables--page-change-button">
    <span>Next</span>
    <%= image_tag image_url('arrow-left-dark.png'), width: 16, height: 16 %>
  </div>
</div>