<div class="tables--row-container"
  id="<%= dom_id(row) %>"
  data-is-unassigned-pod="<%= type == TablesHelper::TableTypes::PODS && row.location.nil? %>"
>
  <% if type == TablesHelper::TableTypes::MEMBERS %>
    <%= render partial: "users/components/member_row",
        locals: {
          row: row,
          widths: widths,
          type: row.class.name,
          index: index,
          even: even
        }
    %>
  <% elsif type == TablesHelper::TableTypes::NETWORKS %>
    <%= render partial: "networks/components/network_row",
        locals: { row: row, widths: widths, index: index }
    %>
  <% elsif type == TablesHelper::TableTypes::MEASUREMENTS %>
    <%= render partial: "measurements/components/measurement_row",
        locals: { row: row, widths: widths, index: index }
    %>
  <% elsif type == TablesHelper::TableTypes::NETWORK_PODS %>
    <%= render partial: "network_pods/components/pod_row",
        locals: { row: row, widths: widths, index: index }
    %>
  <% elsif type == TablesHelper::TableTypes::PODS %>
    <%= render partial: "pods/components/pod_row",
        locals: { row: row, widths: widths, index: index }
    %>
  <% end %>
</div>