<div class="ps-4 d-flex flex-row justify-content-start align-items-center mb-8" style="heigth: 35px; border-bottom: solid 1px rgba(188, 187, 199, 0.3)">
  <div class="px-6 py-3"
       style="<%= active_full_path?(users_account_index_path) ? "border-bottom: solid 2px #4b7be5" : nil %>"
  >
    <a href="<%= users_account_index_path %>"
       class="<%= active_full_path?(users_account_index_path) ? "fw-bold" : nil %>"
       style="font-size: 16px; color: #3f3c70; text-decoration: none"
    >Members</a>
  </div>
  <div class="px-6 py-3"
       style="<%= active_full_path?(users_account_shared_path) ? "border-bottom: solid 2px #4b7be5" : nil %>"
  >
    <a href="<%= users_account_shared_path %>"
       class="<%= active_full_path?(users_account_shared_path) ? "fw-bold" : nil %>"
       style="font-size: 16px; color: #3f3c70; text-decoration: none"
    >Account Sharing</a>
  </div>
</div>