
<div class="d-flex flex-center flex-column flex-column-fluid devise--sign-in-container" data-controller="sign-in">
	<!--begin::Wrapper-->
	<div class="w-100">
		<!--begin::Form-->
    <form class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework"
      id="new_user"
      data-turbo="false"
      accept-charset="UTF-8"
      method="post"
    >
			<div class="text-center mb-10">
				<!--begin::Title-->
				<h1 class="page-main-title">Log in</h1>
				<!--end::Title-->
				<!--begin::Link-->
				<div class="additional-text">Don't have an account?
				<a href="<%= users_invite_sign_up_path(token: params[:token]) %>" class="regular-link">Sign up</a></div>
				<!--end::Link-->
			</div>
			<!--begin::Input group-->
			<div class="forms--input-group d-flex flex-column mb-4">
				<!--begin::Input-->
        <input type="email"
          autofocus="true"
          autocomplete="email"
          class="forms--text-input forms--text-input-focusable"
          tabindex="1"
          data-sign-in-target="emailInput"
          placeholder="Email address"
        />
				<!--end::Input-->
			</div>
			<!--end::Input group-->
			<!--begin::Input group-->
			<div class="forms--input-group d-flex flex-column mb-4">
				<!--begin::Wrapper-->
				<!--end::Wrapper-->
				<div class="position-relative" data-controller="password-reveal">
					<!--begin::Input-->
					<input type="password"
            id="current-password"
            name="current_password"
            class="forms--text-input forms--text-input-with-decoration w-100"
            tabindex="2"
            data-sign-in-target="passwordInput"
            data-password-reveal-target="passwordInput"
            placeholder="Password"
          />
					<!--end::Input-->
					<span class="forms--input-decoration btn btn-sm btn-icon"
								data-action="click->password-reveal#toggleVisibility">
						<%= image_tag image_url("hidden-password-icon.png"), class: "invisible", width: "16", height: "16", data: { "password-reveal-target" => "eyeSlashIcon" }%>
						<%= image_tag image_url("visible-password-icon.png"), class: "", width: "16", height: "16", data: { "password-reveal-target" => "eyeIcon" }%>
        	</span>
				</div>
			</div>
			<!--end::Input group-->
			<div class="mt-2 devise--alert wrap invisible"
        data-sign-in-target="alert"
        data-alert-type="alert"
      ></div>
			<!--begin::Actions-->
			<div class="text-center mt-8">
				<!--begin::Submit button-->
				<%= button_tag "Log in",
          type: "submit",
          class: "custom-button custom-button--lg custom-button--primary mx-auto my-2 w-100",
          tabindex: 3,
          data: { action: "click->sign-in#finishSignInFromInvite" } 
        %>
				<!--end::Submit button-->
				<div class="d-flex flex-stack mb-2 mt-6 mx-auto text-center">
					<!--begin::Link-->
					<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
						<a href="<%= new_password_path(resource_name) %>" class="regular-link w-100 text-center" tabindex="4">Forgot your password?</a>
					<% end %>
					<!--end::Link-->
				</div>
			</div>
			<!--end::Actions-->
		</form>
    <!--end::Form-->
  </div>
</div>
<!--end::Content-->