<%= turbo_frame_tag "change_password" do %>
  <%= form_for(current_user, as: "user", url: update_authed_user_password_path, html: { method: :put, class: "form fv-plugins-bootstrap5 fv-plugins-framework" }) do |f| %>
    <div class="d-flex justify-content-between align-items-center mb-8 w-100">
      <div id="kt_signin_email" class="w-100">
        <div class="forms--label">Password</div>
        <div class="forms--input-group w-75">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "forms--text-input w-25", placeholder: "Current password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "forms--text-input w-25", placeholder: "New password" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "forms--text-input w-25", placeholder: "Confirm new password" %>
        </div>
      </div>
      <div id="kt_signin_email_button" class="d-flex flex-row justify-content-start align-items-center">
        <a href="<%= edit_user_registration_path %>"
          class="custom-button custom-button--sm custom-button--secondary me-4"
        >Cancel</a>
        <%= f.submit "Update", class: "custom-button custom-button--sm custom-button--primary" %>
      </div>
    </div>
  <% end %>
<% end %>


<!--
<%= turbo_frame_tag "change_password" do %>
<div class="d-flex flex-wrap align-items-center mb-8">
  <div id="kt_signin_password_edit" class="flex-row-fluid">
    <div class="fs-6 fw-bold text-gray-600 mb-4">
    <% if @minimum_password_length %>
      Password must be at least <%= @minimum_password_length %> characters
    <% end %>
    </div>
    <%= form_for(current_user, as: "user", url: update_authed_user_password_path, html: { method: :put, class: "form fv-plugins-bootstrap5 fv-plugins-framework" }) do |f| %>
      <div class="row mb-6">
        <div class="col-lg-4">
          <div class="fv-row mb-0 fv-plugins-icon-container">
            <label for="currentpassword" class="form-label fs-6 fw-bolder mb-3">Current Password</label>
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control form-control-lg form-control-solid fw-bold fs-6" %>
          <% if @resource && @resource.errors[:current_password] %>
          <div class="fv-plugins-message-container invalid-feedback"><%= @resource.errors[:current_password].join(", ") %></div>
          <% end %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="fv-row mb-0 fv-plugins-icon-container">
            <label for="newpassword" class="form-label fs-6 fw-bolder mb-3">New Password</label>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control form-control-lg form-control-solid fw-bold fs-6" %>
          <% if @resource && @resource.errors[:password] %>
          <div class="fv-plugins-message-container invalid-feedback"><%= @resource.errors[:password].join(", ") %></div>
          <% end %>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="fv-row mb-0 fv-plugins-icon-container">
            <label for="confirmpassword" class="form-label fs-6 fw-bolder mb-3">Confirm New Password</label>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg form-control-solid fw-bold fs-6" %>
          <% if @resource && @resource.errors[:password_confirmation] %>
          <div class="fv-plugins-message-container invalid-feedback"><%= @resource.errors[:password_confirmation].join(", ") %></div>
          <% end %>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <%= f.submit "Update Password", class: "btn btn-primary me-2 px-6" %>
        <a href="<%= edit_user_registration_path %>" class="btn btn-color-gray-400 btn-active-light-primary px-6">Cancel</a>
      </div>
    <div></div><% end %>
  </div>
</div>
<% end %>
-->

