<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="page-main-title">Settings 
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Toolbar-->

<div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
  <!--begin::Container-->
  <div class="container-fluid">
    <div class="d-flex flex-column">
      <!--begin::Aside-->
      <!--end::Aside-->
      <!--begin::Layout-->
      <div class="flex-md-row-fluid">
        <!--begin::Sign-in Method-->
        <div class="card mb-5 mb-xl-10" id="kt_account_settings_signin_method" data-kt-scroll-offset="{default: 100, md: 125}">
          <!--begin::Card header-->
          <div class="cards--header card-header align-items-center">
            <div class="card-main-title">Account</div>
          </div>
          <!--end::Card header-->
          <!--begin::Content-->
          <div id="kt_account_signin_method" class="collapse show">
            <!--begin::Card body-->
            <div class="card-body border-top px-6 py-8">
              <!--begin::Email Address-->
              <%= turbo_frame_tag "change_email" do %>
              <div class="d-flex flex-wrap align-items-center mb-8">
                <div id="kt_signin_email">
                  <div class="forms--label">Email Address</div>
                  <div class="regular-text"><%= current_user.email %></div>
                </div>
                
                <div id="kt_signin_email_button" class="ms-auto">
                  <%= link_to "Change Email", edit_user_email_path, class: "custom-button custom-button--secondary custom-button--sm" %>
                </div>
              </div>
              <% end %>
              <!--end::Email Address-->
              <!--begin::Password-->
              <%= turbo_frame_tag "change_password" do %>
              <div class="d-flex flex-wrap align-items-center">
                <div id="kt_signin_password">
                  <div class="forms--label">Password</div>
                  <div class="regular-text">************</div>
                </div>
                <div id="kt_signin_password_button" class="ms-auto">
                  <a href="<%= edit_authed_user_password_path %>" class="custom-button custom-button--secondary custom-button--sm">Change Password</a>
                </div>
              </div>
              <% end %>
              <!--end::Password-->
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Content-->
        </div>
        <!--end::Sign-in Method-->
        <!--begin::Basic info-->
        <div class="card mb-5 mb-xl-10" id="kt_account_settings_info" data-kt-scroll-offset="{default: 100, md: 125}">
          <!--begin::Card header-->
          <div class="cards--header card-header align-items-center">
            <div class="card-main-title">Profile</div>
          </div>
          <!--begin::Card header-->
          <!--begin::Content-->
          <div id="kt_account_basic_info" class="collapse show">
            <!--begin::Card body-->
            <!--begin::Form-->
            <%= form_for current_user,
                         url: update_authed_user_name_path,
                         id: "kt_account_basic_info_form",
                         class: "form fv-plugins-bootstrap5 fv-plugins-framework",
                         novalidate: "novalidate" do |f| %>
              <div class="card-body border-top p-9">
                <div class="fv-row fv-plugins-icon-container" data-controller="edit-profile">
                  <div class="sign-up--avatar-container"
                        data-bs-toggle="modal"
                        data-bs-target="#edit_profile_picture_wizard"
                  >
                    <%= f.file_field "avatar", data: { action: "input->edit-profile-picture#handleFileUpload", "edit-profile-picture-target" => "userAvatarInput" }, style: "display: none" %>
                    <% if current_user.avatar.attached? %>
                      <img src="<%= url_for(current_user.avatar.variant(resize_to_limit: [104, 104])) %>"
                        width="104"
                        height="104"
                        class="sign-up--avatar-image"
                        style="display: 'block'; margin: auto; border-radius: inherit"
                      />
                    <% else %>
                      <p><%= current_user.first_name[0].upcase %></p>
                    <% end %>
                  </div>
                  <div class="d-flex flex-row my-4">
                    <button type="button"
                      class="custom-button custom-button--sm custom-button--secondary me-4"
                      data-action="click->edit-profile#handleFileZoneClicked"  
                    >
                      Upload photo
                    </button>
                    <% if current_user.avatar.attached? %>
                      <button type="button"
                        class="custom-button custom-button--sm custom-button--secondary-light-danger"
                        data-action="click->edit-profile-picture#deleteCurrentPicture"
                        data-edit-profile-picture-target="deleteButton"
                      >Remove photo</button>
                    <% end %>
                  </div>
                </div>
                <!--begin::Input group-->
                <div class="row mb-6">
                  <!--begin::Label-->
                  <label class="forms--label required">Full Name</label>
                  <!--end::Label-->
                  <!--begin::Col-->
                  <div class="col-lg-8">
                    <!--begin::Row-->
                    <div class="row">
                      <!--begin::Col-->
                      <div class="col-lg-6 fv-row fv-plugins-icon-container">
                        <%= f.text_field "first_name", class: "form-control form-control-lg form-control-solid mb-3 mb-lg-0", placeholder: "First name" %>
                      <% if current_user.errors[:first_name] %>
                      <div class="fv-plugins-message-container invalid-feedback"><%= current_user.errors[:first_name].join(", ") %></div>
                      <% end %>
                      </div>
                      <!--end::Col-->
                      <!--begin::Col-->
                      <div class="col-lg-6 fv-row fv-plugins-icon-container">
                        <%= f.text_field "last_name", class: "form-control form-control-lg form-control-solid mb-3 mb-lg-0", placeholder: "Last name" %>
                      <% if current_user.errors[:last_name] %>
                        <div class="fv-plugins-message-container invalid-feedback"><%= current_user.errors[:last_name].join(", ") %></div>
                      <% end %>
                      </div>
                      <!--end::Col-->
                    </div>
                    <!--end::Row-->
                  </div>
                  <!--end::Col-->
                </div>
                <!--end::Input group-->
              </div>
              <!--end::Card body-->
              <!--begin::Actions-->
              <div class="card-footer d-flex justify-content-end py-6 px-9">
                <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
                <button type="submit" class="btn btn-primary" id="kt_account_basic_info_submit">Save Changes</button>
              </div>
              <!--end::Actions-->
              <input type="hidden"/>
            <% end %>
            <!--/form-->
            <!--end::Form-->
          </div>
          <!--end::Content-->
        </div>
        <!--end::Basic info-->
      </div>
      <!--end::Layout-->
    </div>
  </div>
  <!--end::Container-->
</div>

<div class="modal fade" tabindex="-1" id="edit_profile_picture_wizard">
  <%= render partial: "devise/registrations/edit_profile_picture/edit_profile_picture_wizard" %>
</div>