<div class="card w-100" style="height:max-content; margin-inline: auto;">
  <!--begin::Card body-->
  <div class="card-body pt-0 px-0">
    <!--begin::Table-->
    <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4">
      <div class="table-responsive overflow-visible">
        <table class="table table-row-bordered align-middle fs-6 gy-5 dataTable
								no-footer table-rounded" id="kt_customers_table">
          <!--begin::Table head-->
          <thead>
          <!--begin::Table row-->
          <tr class="text-start fw-bolder gs-0"
              style="font-size: 12px; height: 65px">
            <th class="tables--title" style="width: 5vw;" tabindex="0" aria-controls="kt_customers_table" colspan="1" rowspan="1"
                aria-label="Checkbox"></th>
            <th class="tables--title" style="width: <%= current_user.super_user ?  20 : 25%>vw;" tabindex="0" aria-controls="kt_customers_table" colspan="1" rowspan="1"
                aria-label="Pod Name">Name</th>
            <% if current_account.is_all_accounts? %>
              <th class="tables--title"
                  style="width: 20vw;"
                  tabindex="0"
                  aria-controls="kt_customers_table"
                  aria-sort="ascending"
                  colspan="1"
                  rowspan="1"
                  aria-label="Pod Name">Account</th>
            <% end %>
            <% if current_user.super_user %>
              <th class="tables--title" style="width: 10vw;" tabindex="0" aria-controls="kt_customers_table" colspan="1" rowspan="1"
                  aria-label="Status">Environment</th>
              <th class="tables--title" style="width: 10vw;" tabindex="0" aria-controls="kt_customers_table" colspan="1" rowspan="1"
                  aria-label="Status">Release</th>
            <% end %>
            <th class="tables--title" style="width: <%= current_user.super_user ?  10 : 25%>vw;" tabindex="0" aria-controls="kt_customers_table" colspan="1" rowspan="1"
                aria-label="Status">Added</th>
            <th class="tables--title" style="width: <%= current_user.super_user ?  10 : 25%>vw;" tabindex="0" aria-controls="kt_customers_table" colspan="1" rowspan="1"
                aria-label="Status">Status</th>
            <th class="text-end sorting_disabled" style="width: <%= current_user.super_user ?  20 : 25%>vw" colspan="1" rowspan="1" aria-label="Options"></th>
          </tr>
          <!--end::Table row-->
          </thead>
          <!--end::Table head-->
          <!--begin::Table body-->
          <tbody class="fw-bold text-gray-600" id="clients_index_table">
            <% clients.order("LOWER(name) ASC").each do |client| %>
              <%= render partial: "clients_table_row", locals: { client: client, selected: false }%>
            <% end %>
          </tbody>
          <!--end::Table body-->
        </table>
      </div>
    </div>
    <!--end::Table-->
  </div>
  <!--end::Card body-->
</div>
<!--end::Card-->