<div class="filters-container">
  <div class="btn-group">
    <a href="#" 
        class="btn btn-sm <%= params[:filter] ? 'btn-primary' : 'btn-white' %> btn-active-light-primary"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="border-radius: 6px"
        id="filters-button"
    >
      <%= client_status_to_human(params[:status]) %>
      <span class="svg-icon svg-icon-5 m-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
        </svg>
      </span>
    </a>
    <div class="dropdown-menu fw-bold fs-7 py-4"
      aria-labelledby="schedule-button">
      <a href="<%= params[:status] == 'all' ? clients_path : clients_path(status: 'all', location: params[:location]) %>" 
        style="padding-left: 11px"
        class="menu-item text-hover-gray-500 <%= params[:status].nil? || params[:status] == 'all' ? 'text-primary' : 'text-gray-700' %> py-2 pe-3">
        All Pods
      </a>
      <!--begin::Menu item-->
      <a href="<%= params[:status] == 'online' ? clients_path : clients_path(status: 'online', location: params[:location]) %>" 
        class="d-flex align-items-center justify-content-start menu-item text-hover-gray-500 <%= params[:status] == 'online' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
        <div class="green-cirle" style="width:6px; height: 6px; background-color:#50cd89; border-radius: 50%; margin-right: 7px;"></div>
        Online
      </a>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <a href="<%= params[:status] == 'offline' ? clients_path : clients_path(status: 'offline', location: params[:location]) %>" 
        class="d-flex align-items-center justify-content-start menu-item text-hover-gray-500 <%= params[:status] == 'offline' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
        <div class="green-cirle" style="width:6px; height: 6px; background-color:#f1416c; border-radius: 50%; margin-right: 7px;"></div>
        Offline
      </a>
    </div>
  </div>
  <div class="btn-group">
    <a href="#" 
        class="btn btn-sm <%= params[:filter] ? 'btn-primary' : 'btn-white' %> btn-active-light-primary"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="border-radius: 6px"
        id="filters-button"
    >
      <%= locations.detect {|e| e.id == params[:location].to_i}[:name] if params[:location].present? && params[:location].to_i != -1 %>
      <%= 'No location' if params[:location].present? && params[:location].to_i == -1 %>
      <%= 'All locations' if params[:location].nil? %>
      <span class="svg-icon svg-icon-5 m-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
        </svg>
      </span>
    </a>
    <div class="dropdown-menu fw-bold fs-7 py-4"
      aria-labelledby="schedule-button">
      <a href="<%= clients_path(status: params[:status]) %>" 
          class="menu-item text-hover-gray-500 text-gray-700 p-2 px-3">
          All locations
      </a>
      <% locations.each do |location| %>
        <a href="<%= params[:location] == location.id ? clients_path(status: params[:status]) : clients_path(status: params[:status], location: location.id) %>" 
          class="menu-item text-hover-gray-500 <%= params[:location] == location.id ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
          <%= location.name %>
        </a>
      <% end %>
      <% if hasUnindexed %>
      <a href="<%= clients_path(status: params[:status], location: -1) %>" 
          class="menu-item text-hover-gray-500 text-gray-700 p-2 px-3">
          No location
      </a>
      <% end %>
    </div>
  </div>
</div>