<div class="filters-container">


  <!-- Environment filter start -->
  <% if current_user.super_user %>
    <div class="btn-group">
      <a href="#"
         class="btn btn-sm <%= params[:environment] ? 'btn-light-primary' : 'btn-white' %> btn-active-light-primary"
         data-bs-toggle="dropdown"
         aria-expanded="false"
         style="border-radius: 6px"
         id="filters-button"
      >
        <%= client_environment_to_human(params[:environment]) %>
        <span class="svg-icon svg-icon-5 m-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
          </svg>
        </span>
      </a>
      <div class="dropdown-menu fw-bold fs-7 py-4"
           aria-labelledby="schedule-button">
        <a href="<%= clients_path(status: params[:status]) %>"
           style="padding-left: 11px"
           class="menu-item text-hover-gray-500 <%= params[:environment].nil? ? 'text-primary' : 'text-gray-700' %> py-2 pe-3">
          All environments
        </a>
        <!--begin::Menu item-->
        <a href="<%= params[:environment] == 'live' ? clients_path : clients_path(params.permit([:status, :environment]).merge(environment: 'live')) %>"
           class="d-flex align-items-center justify-content-start menu-item text-hover-gray-500 <%= params[:environment] == 'live' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
          Live
        </a>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <a href="<%= params[:status] == 'staging' ? clients_path : clients_path(params.permit([:status, :environment]).merge(environment: 'staging')) %>"
           class="d-flex align-items-center justify-content-start menu-item text-hover-gray-500 <%= params[:environment] == 'staging' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
          Staging
        </a>
      </div>
    </div>
  <% end %>
  <!-- Environment filter end -->

  <!-- Status filter start -->
  <div class="btn-group">
    <a href="#"
        class="btn btn-sm <%= params[:status] ? 'btn-light-primary' : 'btn-white' %> btn-active-light-primary"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        style="border-radius: 6px"
        id="filters-button"
    >
      <%= client_status_to_human(params[:status]) %>
      <span class="svg-icon svg-icon-5 m-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
        </svg>
      </span>
    </a>
    <div class="dropdown-menu fw-bold fs-7 py-4"
      aria-labelledby="schedule-button">
      <a href="<%= clients_path(environment: params[:environment]) %>"
        style="padding-left: 11px"
        class="menu-item text-hover-gray-500 <%= params[:status].nil? ? 'text-primary' : 'text-gray-700' %> py-2 pe-3">
        All Pods
      </a>
      <!--begin::Menu item-->
      <a href="<%= params[:status] == 'online' ? clients_path : clients_path(params.permit([:status, :environment]).merge(status: 'online')) %>"
        class="d-flex align-items-center justify-content-start menu-item text-hover-gray-500 <%= params[:status] == 'online' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
        <div class="green-cirle" style="width:6px; height: 6px; background-color:#50cd89; border-radius: 50%; margin-right: 7px;"></div>
        Online
      </a>
      <!--end::Menu item-->
      <!--begin::Menu item-->
      <a href="<%= params[:status] == 'offline' ? clients_path : clients_path(params.permit([:status, :environment]).merge(status: 'offline')) %>"
        class="d-flex align-items-center justify-content-start menu-item text-hover-gray-500 <%= params[:status] == 'offline' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
        <div class="green-cirle" style="width:6px; height: 6px; background-color:#f1416c; border-radius: 50%; margin-right: 7px;"></div>
        Offline
      </a>
    </div>
  </div>
  <!-- Status filter end -->

  <% if params[:status] %>
    <a class="btn btn-sm btn-light btn-active-light-primary ms-3 px-2" 
        href="<%= clients_path %>"
        style="height: max-content">
        <span class="svg-icon svg-icon-light svg-icon-4" style="margin-right: 3px">
          <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(2 2)" fill="none" fill-rule="evenodd">
                <circle stroke="#B5B5C3" stroke-width="1.5" cx="5" cy="5" r="5.75"/>
                <g transform="rotate(45 2.44 6.06)" fill="#B5B5C3">
                    <rect x="2.75" width="1.5" height="7" rx=".75"/>
                    <rect transform="rotate(90 3.5 3.5)" x="2.75" width="1.5" height="7" rx=".75"/>
                </g>
            </g>
          </svg>
        </span>
      Clear filters
    </a>
  <% end %>
</div>