<tr id="<%= dom_id(client) %>">
  <td style="position:relative;" data-controller="clients">
    <span class="text-gray-800 mb-1" ><%= client.unix_user %></span>
    <button 
      class="btn svg-icon svg-icon-5 p-0"
      data-action="clients#handleClipboardClick" 
      data-clients-value-param="<%= client.unix_user %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 384 512" fill="none">
        <path d="M336 64h-53.88C268.9 26.8 233.7 0 192 0S115.1 26.8 101.9 64H48C21.5 64 0 85.48 0 112v352C0 490.5 21.5 512 48 512h288c26.5 0 48-21.48 48-48v-352C384 85.48 362.5 64 336 64zM192 64c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S160 113.7 160 96C160 78.33 174.3 64 192 64zM272 224h-160C103.2 224 96 216.8 96 208C96 199.2 103.2 192 112 192h160C280.8 192 288 199.2 288 208S280.8 224 272 224z" fill="black"/>
      </svg>
    </button>
    <div
      data-clients-target="message"
      style="position:absolute;" class="shadow-sm p-3 mb-5 bg-white rounded">
      <span class="text-primary">Text Copied!</span>
    </div>
  </td>
  <td data-controller="clients">
    <input type="password" disabled class="text-gray-800 mb-1" value="<%= client.secret_digest %>">
    <button class="btn svg-icon svg-icon-5 p-0"
     data-action="clients#handleClipboardClick" data-clients-value-param="<%= client.secret_digest %>">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 384 512" fill="none">
        <path d="M336 64h-53.88C268.9 26.8 233.7 0 192 0S115.1 26.8 101.9 64H48C21.5 64 0 85.48 0 112v352C0 490.5 21.5 512 48 512h288c26.5 0 48-21.48 48-48v-352C384 85.48 362.5 64 336 64zM192 64c17.67 0 32 14.33 32 32c0 17.67-14.33 32-32 32S160 113.7 160 96C160 78.33 174.3 64 192 64zM272 224h-160C103.2 224 96 216.8 96 208C96 199.2 103.2 192 112 192h160C280.8 192 288 199.2 288 208S280.8 224 272 224z" fill="black"/>
      </svg>
    </button>
    <div data-clients-target="message"
      style="position:absolute;" class="shadow-sm p-3 mb-5 bg-white rounded">
      <span class="text-primary">Text Copied!</span>
    </div>
  </td>
  <td class="text-end">
    <a href="#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
    <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
    <span class="svg-icon svg-icon-5 m-0">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
      </svg>
    </span>
    <!--end::Svg Icon--></a>
    <!--begin::Menu-->
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true" data-controller="menu">
      <div class="menu-item px-3">
        <%= link_to unstage_client_path(client.unix_user), method: :post, class: "menu-link flex-stack px-3" do %>Unstage Pod
        <% end %>
        </a>
      </div>
    </div>
    <!--end::Menu-->
  </td>
</tr>