<% if @error %>
  <%= turbo_stream.update "add_new_pod_to_current_network" do %>
    <%= render partial: "application/components/modals/empty_custom_modal",
               locals: {
                 modal_title: "Add new pod",
                 modal_partial_path: "pods/modals/add_pod/pod_id_to_current_network",
                 custom_submit_end_handler: nil,
                 resource: @network
               }
    %>
  <% end %>
<% else %>
  <%= turbo_stream.update "add_new_pod_to_current_network" %>
  <%= turbo_stream.update "dashboard-main-content" do %>
    <div class="w-100 mw-100" data-controller="onboard map" data-onboard-step-value="<%= @onboard_step %>">
      <%= render partial: "application/components/widgets/widget",
                 locals: { type: WidgetsHelper::WidgetTypes::LOCATIONS_MAP }
      %>
    </div>
  <% end %>
  <%= turbo_stream.update @network do %>
    <%= render partial: "application/components/tables/table_row",
               locals: {
                 row: @network,
                 type: TablesHelper::TableTypes::NETWORKS,
                 widths: TablesHelper.widths(TablesHelper::TableTypes::NETWORKS, current_account.is_all_accounts?),
                 index: "#{@network.id}-#{@network.account.id}",
                 even: false
               }
    %>
  <% end %>
<% end %>