<% if @error %>
  <%= turbo_stream.update 'claim-pods-error' do %>
    <div class="modals--banner mb-6" data-type="<%= @error == ErrorsHelper::PodClaimErrors::PodNotFound ? 'danger' : 'warning' %>">
      <% if @error == ErrorsHelper::PodClaimErrors::PodNotFound %>
        The pod ID you entered is invalid. Please note that the ID is case sensitive.
      <% elsif @error == ErrorsHelper::PodClaimErrors::PodAlreadyClaimedBySomeoneElse %>
        The pod you're trying to add appears to have already been claimed by someone else. If you think this could be an
        error, please <a href="mailto:support@radartoolkit.com" class="warning-link">contact us</a>.
      <% elsif @error == ErrorsHelper::PodClaimErrors::PodIsAlreadyInYourAccount %>
        The pod you are trying to add is already in your account. You can
        <a target="_top" href="<%= client_path(@unix_user) %>" class="warning-link">view it's details</a> instead
      <% elsif @error == ErrorsHelper::PodClaimErrors::PodBelongsToOneOfYourOtherAccounts %>
        This pod currently belongs to <%= @client.account.name %>. If you want to add it to a different account, you can
        <a href='' class="warning-link" data-action="click->claim-pods#onMoveClaimedPod" data-pod-id="<%= @unix_user %>">
          move it </a> instead.
      <% end %>
    </div>
  <% end %>
  <!--  // If the pods list is not empty, the button should be enabled-->
<% else %>
  <%= turbo_stream.update 'claim-pods-input' do %>
    <%= render partial: "application/components/pod_id_input" %>
  <% end %>

  <%= turbo_stream.update 'claim-pods-error' %>

  <% if @clients_count > 1 %>
    <%= turbo_stream.replace 'pods-claimed-grid-count' do %>
      <p id="pods-claimed-grid-count">Pod list(<%= @clients_count %>)</p>
    <% end %>
    <%= turbo_stream.append 'pods-claimed-grid-content' do %>
      <%= render partial: "pods/modals/add_pod/pod_claimed", locals: { pod: @client, pods_count: @clients_count } %>
    <% end %>
  <% else %>
    <%= turbo_stream.update 'pods-claimed-grid' do %>
      <%= render partial: "pods/modals/add_pod/pods_claimed_grid", locals: { pods: [@client] } %>
    <% end %>
  <% end %>
<% end %>
<%= turbo_stream.replace 'claim-pods-continue-button' do %>
  <button type="button"
          id="claim-pods-continue-button"
          class="custom-button custom-button--primary custom-button--sm <%= @clients_count > 0 ? '' : 'custom-button--disabled' %>"
          data-action="click->claim-pods#goToSelectAccountAndNetworkStep"
  >Continue
  </button>
<% end %>