<%= turbo_frame_tag "add_pod_modal_wizard" do %>
  <div class="modal-dialog" style="width: max-content; max-width: none;">
    <div class="modal-content" style="width: max-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-size: 20px; color: #191c31;">Add a Pod</h5>

        <!--begin::Close-->
        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-muted svg-icon-2hx" data-bs-dismiss="modal" aria-label="Close">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"/>
                  <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="black"/>
                  <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="black"/>
              </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <% if @error %>
        <%= render partial: "add_pod_error" %>
      <% else %>
        <%= render partial: "add_pod_step_0" %>
        <%= form_with(url: check_claim_clients_path) do |form| %>
          <%= render partial: "add_pod_step_1", locals: { form: form }%>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
