<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="text-dark fw-bolder my-1 fs-2">Pods 
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item text-muted">Home
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item text-dark">Pods</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
    <% if !current_user.superuser %> <!-- TODO: REMOVE !!! -->
      <div class="d-flex align-items-center flex-nowrap text-nowrap py-1">
        <a href="<%= staging_clients_path %>" class="btn btn-secondary mx-5">Staging Pods</a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_pod_modal_wizard">Add Pod</button>
      </div>
    <% end %>
  </div>
</div>
<!--end::Toolbar-->

<div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
  <!--begin::Container-->
  <div class="container-xxl d-flex flex-column" style="max-width: none;">
  
    <% if notice %>
    <p id="notice"><%= notice %></p>
    <% end %>
    <%= render partial: "clients_table_filters", locals: { locations: @all_locations, hasUnindexed: @indexed_clients[{name: 'No location'}].present? } %>
    <% @indexed_clients.sort_by{|location, clients| location[:name]}.each do |location, clients| %>
      <%= render partial: "clients_table_per_location", locals: { clients: clients, location: location } %>
    <% end %>
  </div>
  <!--end::Container-->
</div>

<div class="modal fade" tabindex="-1" id="add_pod_modal_wizard" data-controller="add-pod" data-action="turbo:submit-end->add-pod#submit">
  <%= turbo_frame_tag "add_pod_modal_wizard", src: check_claim_clients_path do %>
  <% end %>
  <%= render partial: "add_pod_step_2" %>
  <!--%= turbo_frame_tag "add_pod_modal_wizard_final", src: claim_clients_path do %-->
  <!--% end %-->
</div>

<div class="modal fade" tabindex="-1" id="edit_pod_modal" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal">
  <%= turbo_frame_tag "edit_client_modal", target: "add_pod_step_2" do %>
  <% end %>
</div>

<div class="modal fade" tabindex="-1" id="new_location_modal" data-controller="modal" data-action="turbo:submit-end->modal#handleNewLocationFromClientModal">
  <%= turbo_frame_tag "new_location_modal", src: new_location_path(data_target: "create-pod-modal")  do %>
  <% end %>
</div>