<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="text-dark fw-bolder my-1 fs-2">Pods 
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item text-muted">Home
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item text-dark">Pods</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
    <% if current_user.superuser %>
      <div class="d-flex align-items-center flex-nowrap text-nowrap py-1">
        <!--<a href="<%= claim_clients_path %>" class="btn btn-primary">Add Pod</a>-->
        <a href="<%= staging_clients_path %>" class="btn btn-secondary mx-5">Staging Pods</a>
      </div>
    <% end %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_pod_modal">Add Pod</button>
  </div>
</div>
<!--end::Toolbar-->

<div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
  <!--begin::Container-->
  <%= render 'clients_list', clients: @clients %>
  <!--end::Container-->
</div>

<div class="modal fade" tabindex="-1" id="add_pod_modal" data-controller="modal" data-action="turbo:submit-end->modal#submit">
  <%= turbo_frame_tag "add_pod_modal", src: claim_clients_path do %>
  <% end %>
</div>

<div class="modal fade" tabindex="-1" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal">
  <%= turbo_frame_tag "edit_client_modal" do %>
  <% end %>
</div>