<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="page-main-title">Manage Pods
        <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item page-sub-title"><%= current_account.name %></li>
        <li class="breadcrumb-item page-sub-title">Networks</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
    <div class="pods--index-button-options-container">
      <% if @clients.count >= 1 %>
        <a href="<%= get_add_pod_modal_clients_path %>"
           class="custom-button custom-button--primary custom-button--lg"
           data-turbo-frame="add_pod_modal"
        >
          <%= image_tag image_url('white-plus.png'), width: 16, height: 16, class: 'me-2' %>
          Add Pod
        </a>
      <% end %>
      <%= render partial: "application/components/buttons/custom_more_options_button",
                 locals: {
                   type: TablesHelper::OptionsMenuType::PODS_INDEX,
                   with_bg: true,
                   big: true
                 }
      %>
    </div>
  </div>
</div>
<!--end::Toolbar-->
<%= turbo_frame_tag "unassigned-pods-banner" do %>
  <% if are_there_unassigned_pods? %>
    <%= render partial: "pods/components/unassigned_pods_banner" %>
  <% end %>
<% end %>

<div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
  <!--begin::Container-->
  <div id="clients-table-wrapper" class="d-flex flex-column w-100" data-controller="multi-row-table bulk-release-group-modal">
    <% if (empty_search_params? && @clients.length > 0) || (!empty_search_params?) %>
      <%= render partial: "pods/components/table_filters" %>
    <% end %>
    <%= render partial: "clients_index_content", locals: { clients: @clients } %>
    <% if current_user.super_user && !is_super_user_disabled? %>
      <div class="modal fade" tabindex="-1" id="bulk_change_release_group" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal">
        <%= render partial: "clients/bulk_change_release_group_modal" %>
      </div>
    <% end %>
  </div>
  <!--end::Container-->
</div>

<%= render partial: "application/components/modals/turbo_modal",
           locals: { turbo_frame_tag_id: "add_pod_modal", optional_added_controllers: "claim-pods pod-account-and-network" }
%>

<%= render partial: "application/components/modals/turbo_modal",
           locals: { turbo_frame_tag_id: "pod_id_modal" }
%>

<%= render partial: "application/components/modals/turbo_modal",
           locals: {
             turbo_frame_tag_id: "bulk_move_to_account_modal",
             optional_added_controllers: "multi-pod-select selected-pods-grid qr",
             needs_overflow: true
           }
%>
<%= render partial: "application/components/modals/turbo_modal",
           locals: {
             turbo_frame_tag_id: "bulk_move_to_network_qr_modal",
             optional_added_controllers: "multi-pod-select selected-pods-grid qr",
             needs_overflow: true
           }
%>
<%= render partial: "application/components/modals/turbo_modal",
           locals: {
             turbo_frame_tag_id: "edit_client_modal",
             optional_added_controllers: "edit-pod",
             optional_added_actions: "turbo:submit-start->edit-pod#handleSubmitStart turbo:submit-end->edit-pod#handleNewLocationFromClientModal"
           }
%>

<div class="modal fade" tabindex="-1" id="new_location_modal" data-controller="add-pod categories" data-action="turbo:submit-start->add-pod#handleSubmitStart turbo:submit-end->add-pod#handleNewLocationFromClientModal">
  <%= turbo_frame_tag "new_location_modal", src: new_location_path(data_target: "create-pod-modal", modal_target: "add_pod_modal_wizard") do %>
  <% end %>
</div>