<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <% if FeatureFlagHelper.is_available('networks', current_user) %>
        <h1 class="page-main-title"><%= @client.unix_user %></h1>
      <% else %>
        <h1 class="page-main-title"><%= @client.name.present? ? @client.name : "Unnamed Pod" %></h1>
      <% end %>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item page-sub-title"><%= current_account.name %>
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item page-sub-title">Pods</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
    <% if FeatureFlagHelper.is_available('networks', current_user) %>
      <div class="pods--header-options-container">
      <a class="custom-button custom-button--primary custom-button--lg <%= @client.test_requested ? 'custom-button--disabled' : '' %>"
        rel="nofollow"
        data-method="post"
        href="<%= @client.test_requested ? '#' : run_test_client_path(@client.unix_user) %>"
      >
        <%= image_tag image_url('run-speed-test-icon.png'), width: 16, height: 16, class: "me-2" %>
        Run speed test
      </a>
      <%= render partial: "application/components/buttons/custom_more_options_button",
          locals: {
            type: TablesHelper::OptionsMenuType::POD_OVERVIEW,
            with_bg: true,
            big: true
          }
        %>
      </div>
    <% end %>
  </div>
</div>
<!--end::Toolbar-->

<div class="post fs-6 d-flex flex-column-fluid justify-content-center" id="kt_post">
  <!--begin::Container-->
  <div class="clients--details-container">
    <!--begin::OptionsCard-->
    <%= render partial: "application/components/tabs/page_tabs",
      locals: {
        tabs: [
          { text: 'Overview', path: client_path(@client.unix_user) },
          { text: 'Measurements', path: client_measurements_path(@client.unix_user) },
          { text: 'Data Usage & Scheduling', path: client_data_usage_and_scheduling_path(@client.unix_user) },
          { text: 'Technical Info', path: client_technical_info_path(@client.unix_user) },
        ]
      }
    %>
    <!--end::OptionsCard-->
    <!--begin::Card-->
    <% if FeatureFlagHelper.is_available('networks', current_user) %>
      <%= render partial: "pods/pod_details", locals: { pod: @client } %>
    <% else %>
      <%= render partial: "client_details", locals: { client: @client, total_bytes: @total_avg } %>
    <% end %>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>

<div class="modal fade" tabindex="-1" id="edit_pod_modal" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal">
  <%= turbo_frame_tag "edit_client_modal", target: "add_pod_step_2", modal_target: "new_location_modal-edit" do %>
  <% end %>
</div>

<div class="modal fade"
  tabindex="-1"
  id="new_location_modal-edit"
  data-controller="edit-pod"
  data-action="turbo:submit-start->edit-pod#handleSubmitStart turbo:submit-end->edit-pod#handleNewLocationFromClientModal"
  data-clear-turbo-id="new_location_modal"
>
  <%= turbo_frame_tag "new_location_modal", src: new_location_path(data_target: "edit-pod-modal", modal_target: "edit_pod_modal") do %>
  <% end %>
</div>