<div class="d-flex flex-center flex-column flex-column-fluid">
  <!--begin::Wrapper-->
  <div class="w-lg-500px p-10 p-lg-15 mx-auto">
    <div class="text-center mb-10">
      <h1 class="text-dark mb-3">Change your password</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field fv-row mb-10 fv-plugins-icon-container">
        <% if resource.errors[:password] %>
          <div class="fv-plugins-message-container invalid-feedback"><%= resource.errors[:password].join(", ") %></div>
        <% end %>
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control form-control-lg form-control-solid" %>
      </div>

      <div class="field fv-row mb-10 fv-plugins-icon-container">
        <% if resource.errors[:password_confirmation] %>
          <div class="fv-plugins-message-container invalid-feedback"><%= resource.errors[:password_confirmation].join(", ") %></div>
        <% end %>
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control form-control-lg form-control-solid" %>
      </div>

      <div class="actions d-flex flex-wrap justify-content-center pb-lg-0">
        <%= f.submit "Change my password", class: "btn btn-lg btn-primary" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>