<div class="card" id="client-details">
  <!--begin::Card header-->
  <div class="card-header border-0">
    <!--begin::Card title-->
    <div class="card-title">
      <h2 class="fw-bolder mb-0"><%= client.unix_user %></h2>
    </div>
    <!--end::Card title-->
    <div class="card-toolbar">
      <a href="#" data-bs-toggle="modal" data-bs-target="#edit_client_modal_<%= client.unix_user %>" class="btn btn-light me-3">Edit</a>
      <a href="<%= client_measurements_path(client.unix_user) %>" class="btn btn-primary">View Measurements</a>
    </div>
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body pt-0">
    <div class="fw-bolder mt-5">Id</div>
    <div class="text-gray-600"><%= client.unix_user %></div>
    <div class="fw-bolder mt-5">Location</div>
    <div class="text-gray-600">
    <% if client.location != nil %>
      <%= link_to client.location.name, location_path(client.location) %>
    <% else %>
      Not Specified
    <% end %>
    </div>
    <div class="fw-bolder mt-5">Status</div>
    <div class="text-gray-600">
    <% if client.online? %>
      <span class="badge badge-light-success">Online</span>
    <% else %>
      <span class="badge badge-light-danger">Offline</span>
    <% end %>
    </div>
  </div>
  <!--end::Card body-->
</div>