<% content_for :content do %>

<div class="d-flex flex-column flex-root">
  <!--begin::Authentication - Signup Welcome Message -->
  <div class="d-flex flex-column flex-column-fluid">
    <!--begin::Content-->
    <div class="d-flex flex-row-fluid flex-column flex-column-fluid text-center p-10 py-lg-20">
      <h1 class="fw-bolder fs-2qx text-gray-800 mb-7">Check Pod Status</h1>
      <!--begin::Message-->
      <div class="fw-bold fs-3 text-muted mb-15">Lookup a pod's current status</div>

      <%= turbo_frame_tag "status" do %>
      <% end %>

      <%= form_with(url: status_clients_path, data: {"turbo-frame" => "status"}) do |form| %>
        <div class="fv-row mb-7 fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="required fs-6 fw-bold mb-2">ID</label>
          <!--end::Label-->
          <!--begin::Input-->
          <%= form.text_field :id, class: "form-control form-control-solid" %>
          <!--end::Input-->
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>

        <div class="fv-row mb-7 fv-plugins-icon-container">
          <!--begin::Label-->
          <label class="required fs-6 fw-bold mb-2">Secret</label>
          <!--end::Label-->
          <!--begin::Input-->
          <%= form.text_field :secret, class: "form-control form-control-solid" %>
          <!--end::Input-->
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>

        <%= form.submit "Lookup", class: "btn btn-primary" %>
      <% end %>
      <!--end::Message-->
    </div>
    <!--end::Content-->
    <!--begin::Illustration-->
    <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-150px min-h-lg-350px" style="background-image: url(assets/media/illustrations/sigma-1/7.png)"></div>
    <!--end::Illustration-->
  </div>
  <!--end::Authentication - Signup Welcome Message-->
</div>

<% end %>
