<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @client.unix_user %>
</p>

<p>
  <strong>Location:</strong>
  <% if @client.location != nil %>
  <%= link_to @client.location.name, location_path(@client.location) %>
  <% end %>
</p>

<p>
  <strong>Online:</strong>
  <%= @client.online?.to_s %>
</p>

<%= link_to 'Measurements', client_measurements_path(@client.unix_user) %> |
<%= link_to 'Edit', edit_client_path(@client.unix_user) %> |
<%= link_to 'Back', clients_path %>
