<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Online:</strong>
  <%= @client.online?.to_s %>
</p>

<%= link_to 'Measurements', client_measurements_path(@client.unix_user) %> |
<%= link_to 'Edit', edit_client_path(@client.unix_user) %> |
<%= link_to 'Back', clients_path %>
