<%= form_with(model: Account, url: account_path(@account.id), method: :put, data: {"turbo-frame" => "_top"}) do |form| %>
  <div class="modal-dialog">
    <div class="modal-content">
      <%= render partial: "application/components/modals/modal_header", locals: {title: "Edit account"} %>
      <div class="modal-body">
        <div class="d-flex flex-column text-start mb-7">
          <!--begin::Label-->
          <label class="forms--label mb-2 required"><%= "#{@account.is_personal? ? 'Account' : 'Organization'} Name" %></label>
          <!--end::Label-->
          <!--begin::Input-->
          <%= form.text_field :name, class: "forms--text-input", value: @account.name %>
          <!--end::Input-->
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>

        <div class="d-flex flex-column text-start mb-7">
          <label class="forms--label mb-2 required">Account type</label>
          <div class="d-flex flex-row justify-content-start">
            <div class="form-check form-check-custom form-check-solid me-5">
              <input class="form-check-input me-2"
                     type="radio"
                     value="personal"
                     name="account[account_type]"
                     <%= @account.is_personal? ? "checked=checked" : nil %>
                     id="personal-radio"
                />
              <label class="regular-text" for="personal-radio">Personal</label>
            </div>
            <div class="form-check form-check-custom form-check-solid">
              <input class="form-check-input me-2"
                     type="radio"
                     value="organization"
                     name="account[account_type]"
                     <%= @account.is_organization? ? "checked=checked" : nil %>
                     id="organization-radio"
                />
              <label class="regular-text" for="organization-radio">Organization</label>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer modals--footer">
        <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Cancel"} %>
        <%= form.submit "Save", class: "custom-button custom-button--sm custom-button--primary" %>
      </div>
    </div>
  </div>
<% end %>