---
import styles from './styles/evaluation_results_incoming_image_content.module.css';
import incomingImageStyles from '../../common/wrappers/styles/section_with_upcoming_image.module.css';
import BulletPoint from "../../common/content/BulletPoint.astro";
import HeroWithText from "../../common/content/HeroWithText.astro";

import telehealthUsageScrollImage from '../../../assets/images/telehealth-usage-scroll.webp';
import communityOpinionsScrollImage from '../../../assets/images/community-opinions-scroll.webp';
import urbanVsRuralScrollImage from '../../../assets/images/urbar-vs-rural-scroll.webp';
import barriersScrollImage from '../../../assets/images/barriers-scroll.webp';
import affordabilityScrollImage from '../../../assets/images/affordability-scroll.webp';
import AvailableResourcesCard from "../../common/wrappers/AvailableResourcesCard.astro";
import type {Resource, RelatedLink} from "./types";

const adoptionAndConnectivityResources: Resource[] = [
  {
    title: 'An examination of the implementation and effectiveness of a broadband pilot program targeting rural communities in the United States',
    link: '/files/findings/evaluation-results/2025-01-17 Implementation Study White Paper.pdf',
    fileType: 'PDF',
    filename: '2025-01-17 Implementation Study White Paper.pdf'
  },
  {
    title: 'Consumer perceptions of broadband and telehealth across Telehealth Broadband Pilot Program counties',
    link: '/files/findings/evaluation-results/2024-12-31 Consumer Interview White Paper.pdf',
    fileType: 'PDF',
    filename: '2024-12-31 Consumer Interview White Paper.pdf'
  },
  {
    title: 'Perceptions of how broadband and other influences impede or facilitate telehealth utilization among healthcare stakeholders in TBP sites',
    link: '/files/findings/evaluation-results/2024-12-31 Healthcare Stakeholders White Paper.pdf',
    fileType: 'PDF',
    filename: '2024-12-31 Healthcare Stakeholders White Paper.pdf'
  }
];

const adoptionAndConnectivityLinks: RelatedLink[] = [
  {
    title: 'Association between broadband capacity and telehealth utilization',
    link: 'https://journals.sagepub.com/doi/full/10.1177/1357633X231166026'
  }
];

const perspectivesResources: Resource[] = [
  {
    title: 'An examination of the implementation and effectiveness of a broadband pilot program targeting rural communities in the United States',
    link: '/files/findings/evaluation-results/2025-01-17 Implementation Study White Paper.pdf',
    fileType: 'PDF',
    filename: '2025-01-17 Implementation Study White Paper.pdf'
  },
  {
    title: 'Consumer perceptions of broadband and telehealth across Telehealth Broadband Pilot Program counties',
    link: '/files/findings/evaluation-results/2024-12-31 Consumer Interview White Paper.pdf',
    fileType: 'PDF',
    filename: '2024-12-31 Consumer Interview White Paper.pdf'
  },
];

const perspectiveLinks: RelatedLink[] = [
  {
    title: 'Association between broadband capacity and telehealth utilization',
    link: 'https://journals.sagepub.com/doi/full/10.1177/1357633X231166026'
  }
];

const urbanVsRuralResources: Resource[] = [
  {
    title: 'An examination of the implementation and effectiveness of a broadband pilot program targeting rural communities in the United States',
    link: '/files/findings/evaluation-results/2025-01-17 Implementation Study White Paper.pdf',
    fileType: 'PDF',
    filename: '2025-01-17 Implementation Study White Paper.pdf'
  },
  {
    title: 'Cost and policy implications for broadband expansion in Alaska, Michigan, Texas, and West Virginia',
    link: '/files/findings/evaluation-results/2024-12-31 BEAD Spending Summary.pdf',
    fileType: 'PDF',
    filename: '2024-12-31 BEAD Spending Summary.pdf'
  },
  {
    title: 'Poor Representation of Rural Counties of the United States in Some Measures of Consumer Broadband - Brief',
    link: '/files/findings/evaluation-results/2024-12-31 Number of Speed Tests Brief.pdf',
    fileType: 'PDF',
    filename: '2024-12-31 Number of Speed Tests Brief.pdf'
  },
  {
    title: 'A comparison of promised and received broadband capacity for rural communities: Results from a broadband pilot program',
    link: '/files/findings/evaluation-results/2024-12-31 Pod Data White Paper.pdf',
    fileType: 'PDF',
    filename: '2024-12-31 Pod Data White Paper.pdf'
  }
];

const urbanVsRuralLinks: RelatedLink[] = [{
  title: 'Poor Representation of Rural Counties of the United States in Some Measures of Consumer Broadband',
  link: 'https://www.liebertpub.com/doi/full/10.1089/tmr.2024.0048',
}];


const accessResources: Resource[] = [
  {
    title: 'An examination of the implementation and effectiveness of a broadband pilot program targeting rural communities in the United States',
    link: '/files/findings/evaluation-results/2025-01-17 Implementation Study White Paper.pdf',
    fileType: 'PDF',
    filename: '2025-01-17 Implementation Study White Paper.pdf'
  },
  {
    title: 'Poor Representation of Rural Counties of the United States in Some Measures of Consumer Broadband - Brief',
    link: '/files/findings/evaluation-results/2024-12-31 Number of Speed Tests Brief.pdf',
    fileType: 'PDF',
    filename: '2024-12-31 Number of Speed Tests Brief.pdf'
  },
  {
    title: 'A comparison of promised and received broadband capacity for rural communities: Results from a broadband pilot program',
    link: '/files/findings/evaluation-results/2024-12-31 Pod Data White Paper.pdf',
    fileType: 'PDF',
    filename: '2024-12-31 Pod Data White Paper.pdf'
  }
];

const accessLinks: RelatedLink[] = [{
  title: 'Poor Representation of Rural Counties of the United States in Some Measures of Consumer Broadband',
  link: 'https://www.liebertpub.com/doi/full/10.1089/tmr.2024.0048',
}, {
  title: 'Willingness to pay for internet speed and quality',
  link: 'https://www.sciencedirect.com/science/article/pii/S0736585324000777',
}, {
  title: 'Telehealth and Willingness-to-Pay for Internet Services',
  link: 'https://www.liebertpub.com/doi/full/10.1089/tmj.2023.0692',
}];

const affordabilityResources: Resource[] = [
  {
    title: 'An examination of the implementation and effectiveness of a broadband pilot program targeting rural communities in the United States',
    link: '/files/findings/evaluation-results/2025-01-17 Implementation Study White Paper.pdf',
    fileType: 'PDF',
    filename: '2025-01-17 Implementation Study White Paper.pdf'
  }
];

const affordabilityLinks: RelatedLink[] = [
  {
    title: 'Willingness to pay for internet speed and quality',
    link: 'https://www.sciencedirect.com/science/article/pii/S0736585324000777',
  }, {
    title: 'Telehealth and Willingness-to-Pay for Internet Services',
    link: 'https://www.liebertpub.com/doi/full/10.1089/tmj.2023.0692',
  }
];
---

<div class={incomingImageStyles.mainWrapper}>
  <div id="telehealth-usage" class={incomingImageStyles.rowContainer}>
    <HeroWithText head="Telehealth Usage"
      title="Telehealth Adoption and Connectivity"
    />
    <img src={telehealthUsageScrollImage.src} alt="simple fixes" class={incomingImageStyles.responsiveImage}/>
    <div class={incomingImageStyles.bulletPoints} data-borderless="true">
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Higher Adoption with Better Broadband"
          content="Telehealth usage grows significantly in areas with reliable, high-speed internet."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 14">
            <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(15.0977 1.09766)" d="M6 6L6 0L0 0" fill-rule="evenodd"/>
            <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.09766 1.09766)" d="M20 0L12.943111 7.0568891C12.693038 7.3071222 12.35377 7.4477153 12 7.4477153C11.64623 7.4477153 11.306962 7.3071222 11.056889 7.0568891L8.2764444 4.2764444C8.026371 4.0262113 7.6871033 3.885618 7.3333335 3.885618C6.9795632 3.885618 6.640295 4.0262113 6.3902221 4.2764444L0 10.666667" fill-rule="evenodd"/>
          </svg>
        </BulletPoint>
      </div>
      <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Access to Advanced Services"
          content="Strong broadband supports video consultations and remote monitoring."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1 5)" d="M11.666667 0C12.141387 0 12.783408 0.10700352 13.447213 0.43890613C14.608126 1.0193621 15.333333 2.1071737 15.333333 3.6666667L15.333333 10.333333C15.333333 10.808054 15.22633 11.450075 14.894427 12.11388C14.313972 13.274793 13.226159 14 11.666667 14L3.6666667 14C3.191946 14 2.5499249 13.892997 1.8861197 13.561094C0.72520775 12.980638 0 11.892826 0 10.333333L0 3.6666667C0 3.191946 0.10700352 2.5499251 0.43890613 1.8861197C1.0193621 0.72520775 2.1071737 0 3.6666667 0L11.666667 0ZM3.4944158 2.004858C2.8303554 2.0436423 2.4611857 2.3136964 2.2277606 2.7805469C2.0596631 3.1167417 2 3.4747205 2 3.6666667L2 10.333333C2 11.107174 2.2747922 11.519362 2.7805469 11.77224C3.1167417 11.940337 3.4747205 12 3.6666667 12L11.666667 12C12.440507 12 12.852695 11.725207 13.105573 11.219453C13.27367 10.883258 13.333333 10.525279 13.333333 10.333333L13.333333 3.6666667C13.333333 2.8928263 13.058541 2.4806378 12.552786 2.2277606C12.216592 2.0596631 11.858613 2 11.666667 2L3.6666667 2L3.4944158 2.004858ZM19.586956 1.9222666C20.103548 1.6629698 20.717634 1.6900069 21.209438 1.9937016C21.701242 2.2973962 22.000458 2.8343329 22 3.4115555L22 10.587556C22 11.165009 21.701078 11.701308 21.209961 12.005032C20.718851 12.30875 20.105522 12.336622 19.588446 12.07848L16.552891 10.561146C16.058884 10.314215 15.858589 9.7135649 16.10552 9.2195578C16.352451 8.7255507 16.953102 8.5252552 17.447109 8.7721872L20 10.048249L20 3.9512494L17.447109 5.2278128C16.988388 5.4571061 16.437716 5.3007812 16.163681 4.8817492L16.10552 4.7804422C15.858589 4.2864347 16.058884 3.6857851 16.552891 3.4388537L19.586956 1.9222666Z"/>
          </svg>
        </BulletPoint>
      </div>
      <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Healthcare Gaps in Low-Speed Areas"
          content="Poor connectivity limits telehealth adoption, creating healthcare gaps."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1 3.00003)" d="M11.007559 0C17.026972 0.045500696 21.88866 4.8843837 21.998142 10.860735L21.999716 12.999621C21.999716 14.288264 20.955065 15.332915 19.66642 15.332915L2.3335938 15.332915C1.0449508 15.332915 0.00029941168 14.288264 0.00029941168 12.999621L0.0003290819 11.161156C-0.022301883 8.2233839 1.1231304 5.3969688 3.1845994 3.3037994C5.163609 1.2943571 7.8311815 0.11872271 10.640571 0.0082452549L11.007559 0ZM11 1.9989715L10.694203 2.0077176C8.4012871 2.1042178 6.2253499 3.0665462 4.6095624 4.7071815C2.9203289 6.4223914 1.9817252 8.7384462 2.0002995 11.153453L2.0002995 12.999621C2.0002995 13.183695 2.1495204 13.332915 2.3335938 13.332915L7.3484325 13.332201C7.4946847 11.712904 8.6937304 10.397318 10.255752 10.075262L12.051266 4.6862936C12.225913 4.1623502 12.792233 3.8791902 13.316176 4.0538378C13.84012 4.2284856 14.12328 4.7948055 13.948632 5.318749L12.307747 10.239761C13.587689 10.728543 14.523481 11.913871 14.651582 13.332201L19.66642 13.332915C19.850494 13.332915 19.999716 13.183695 19.999716 12.999621L19.999743 11.143348C20.036362 6.2207928 16.147219 2.1843169 11.25999 2.0058343L11 1.9989715ZM10.971522 12.002204L11.000008 11.99968C10.194143 11.99968 9.5218697 12.571646 9.3669968 13.331768L12.633018 13.331768C12.480684 12.584108 11.827776 12.018484 11.039534 12.000139L10.971522 12.002204ZM17.333157 12.002346C16.596781 12.002346 15.999832 11.405396 15.999832 10.669023C15.999832 9.9326477 16.596781 9.3356991 17.333157 9.3356991C18.06953 9.3356991 18.666479 9.9326477 18.666479 10.669023C18.666479 11.362081 18.137693 11.931634 17.461563 11.996243L17.333157 12.002346ZM4.6668591 9.3330326C5.4032331 9.3330326 6.0001826 9.9299812 6.0001826 10.666356C6.0001826 11.359414 5.4713969 11.928967 4.7952671 11.993576L4.6668591 11.99968C3.9304848 11.99968 3.3335354 11.40273 3.3335354 10.666356C3.3335354 9.9299812 3.9304848 9.3330326 4.6668591 9.3330326ZM6.0001535 6.0024629C6.7365279 6.0024629 7.333477 6.599412 7.333477 7.3357863C7.333477 8.0288448 6.8046913 8.5983982 6.1285615 8.6630068L6.0001535 8.6691103C5.2637792 8.6691103 4.6668296 8.0721607 4.6668296 7.3357863C4.6668296 6.599412 5.2637792 6.0024629 6.0001535 6.0024629ZM15.999862 5.9997964C16.736237 5.9997964 17.333185 6.5967455 17.333185 7.3331199C17.333185 8.0261784 16.804399 8.5957317 16.128269 8.6603403L15.999862 8.6664438C15.263487 8.6664438 14.666537 8.0694942 14.666537 7.3331199C14.666537 6.5967455 15.263487 5.9997964 15.999862 5.9997964ZM8.6667423 3.3358741C9.4031162 3.3358741 10.000066 3.9328234 10.000066 4.6691976C10.000066 5.3622556 9.4712801 5.9318094 8.7951498 5.9964175L8.6667423 6.002521C7.9303679 6.002521 7.3334184 5.4055719 7.3334184 4.6691976C7.3334184 3.9328234 7.9303679 3.3358741 8.6667423 3.3358741Z"/>
          </svg>
        </BulletPoint>
      </div>
    </div>
    <div class={styles.resourcesContainer}>
      <AvailableResourcesCard resources={adoptionAndConnectivityResources} links={adoptionAndConnectivityLinks} />
    </div>
  </div>
  <div id="community-opinions" class={incomingImageStyles.rowContainer}>
    <HeroWithText head="Community Opinions"
      title="Resident Perspectives on Connectivity"
    />
      <img src={communityOpinionsScrollImage.src} alt="Dad and son looking at a computer" class={incomingImageStyles.responsiveImage}/>
    <div class={incomingImageStyles.bulletPoints} data-borderless="true">
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Satisfaction with Current Service"
          content="Some accept their limited internet for basic needs."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 16 16">
            <path fill="#4B7BE5" transform="translate(0.25 0.25)" d="M7.75 0C12.03008 0 15.5 3.4699197 15.5 7.75C15.5 12.03008 12.03008 15.5 7.75 15.5C3.4699197 15.5 0 12.03008 0 7.75C0 3.4699197 3.4699197 0 7.75 0ZM7.75 1.5C4.298347 1.5 1.5 4.298347 1.5 7.75C1.5 11.201653 4.298347 14 7.75 14C11.201653 14 14 11.201653 14 7.75C14 4.298347 11.201653 1.5 7.75 1.5ZM11.513345 8.8666668C11.927559 8.8667469 12.26328 9.2025986 12.2632 9.6168118C12.26312 10.031025 11.927268 10.366747 11.513055 10.366667C10.202205 10.366413 9.0044546 11.109066 8.421855 12.283334C8.2377596 12.654388 7.7877216 12.80595 7.4166665 12.621855C7.0456114 12.43776 6.8940501 11.987721 7.078145 11.616667C7.9140496 9.9318476 9.6325607 8.8663025 11.513345 8.8666668ZM4.9499998 5.8333335C5.4930801 5.8333335 5.9333334 6.2735868 5.9333334 6.8166666C5.9333334 7.3209553 5.5537271 7.7365823 5.0646772 7.7933846L4.9499998 7.8000002C4.40692 7.8000002 3.9666667 7.3597465 3.9666667 6.8166666C3.9666667 6.2735868 4.40692 5.8333335 4.9499998 5.8333335ZM10.083333 5.8333335C10.626413 5.8333335 11.066667 6.2735868 11.066667 6.8166666C11.066667 7.3209553 10.68706 7.7365823 10.19801 7.7933846L10.083333 7.8000002C9.5402536 7.8000002 9.1000004 7.3597465 9.1000004 6.8166666C9.1000004 6.2735868 9.5402536 5.8333335 10.083333 5.8333335Z"/>
          </svg>
        </BulletPoint>
      </div>
      <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Desire for Better Options"
          content="Many want improved broadband and recognize its limitations."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1.99974 1.99974)" d="M15.844222 5.0249653C16.997063 7.7374735 16.615225 10.858967 14.842545 13.21361L14.748 13.334L19.707415 18.294001C20.097912 18.684553 20.097866 19.317719 19.707314 19.708216C19.316763 20.098711 18.683598 20.098667 18.2931 19.708115L13.335237 14.749434C11.634011 16.08024 9.4509306 16.709667 7.2501316 16.440454C4.3246107 16.082588 1.8122363 14.191161 0.65939611 11.478653L0.56250113 11.240634C-1.0481877 7.1037788 0.91090786 2.4079075 5.0249653 0.65939611C9.2181396 -1.1227405 14.062086 0.8317914 15.844222 5.0249653ZM5.8072605 2.500052C2.6306529 3.8501389 1.149965 7.5197501 2.500052 10.696358C3.373405 12.751263 5.2766953 14.184145 7.4929719 14.455252C9.7092485 14.726358 11.901806 13.794501 13.244729 12.010703C14.587652 10.226905 14.87692 7.8621659 14.003567 5.8072605C12.65348 2.6306529 8.9838686 1.149965 5.8072605 2.500052Z"/>
          </svg>
        </BulletPoint>
      </div>
      <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Perceived Lack of Choices"
          content="In some areas, residents feel stuck due to limited provider options."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(2 2)" d="M2.8 0C4.3463974 0 5.5999999 1.2536027 5.5999999 2.8C5.5999999 4.3463974 4.3463974 5.5999999 2.8 5.5999999C1.2536027 5.5999999 0 4.3463974 0 2.8L0.005110045 2.6294317C0.0932611 1.1624628 1.3108767 0 2.8 0ZM2.8 2C2.3581722 2 2 2.3581722 2 2.8C2 3.2418277 2.3581722 3.5999999 2.8 3.5999999C3.2418277 3.5999999 3.5999999 3.2418277 3.5999999 2.8C3.5999999 2.3581722 3.2418277 2 2.8 2ZM2.8 7.1999998C4.3463974 7.1999998 5.5999999 8.4536028 5.5999999 10C5.5999999 11.546397 4.3463974 12.8 2.8 12.8C1.2536027 12.8 0 11.546397 0 10L0.005110045 9.8294315C0.0932611 8.362463 1.3108767 7.1999998 2.8 7.1999998ZM2.8 9.1999998C2.3581722 9.1999998 2 9.5581722 2 10C2 10.441828 2.3581722 10.8 2.8 10.8C3.2418277 10.8 3.5999999 10.441828 3.5999999 10C3.5999999 9.5581722 3.2418277 9.1999998 2.8 9.1999998ZM2.8 14.4C4.3463974 14.4 5.5999999 15.653603 5.5999999 17.200001C5.5999999 18.746397 4.3463974 20 2.8 20C1.2536027 20 0 18.746397 0 17.200001L0.005110045 17.029432C0.0932611 15.562463 1.3108767 14.4 2.8 14.4ZM2.8 16.4C2.3581722 16.4 2 16.758173 2 17.200001C2 17.641829 2.3581722 18 2.8 18C3.2418277 18 3.5999999 17.641829 3.5999999 17.200001C3.5999999 16.758173 3.2418277 16.4 2.8 16.4ZM19 1.8C19.552284 1.8 20 2.2477152 20 2.8C20 3.3522847 19.552284 3.8 19 3.8L7 3.8C6.4477153 3.8 6 3.3522847 6 2.8C6 2.2477152 6.4477153 1.8 7 1.8L19 1.8ZM19 9C19.552284 9 20 9.4477148 20 10C20 10.552285 19.552284 11 19 11L7 11C6.4477153 11 6 10.552285 6 10C6 9.4477148 6.4477153 9 7 9L19 9ZM19 16.200001C19.552284 16.200001 20 16.647715 20 17.200001C20 17.752285 19.552284 18.200001 19 18.200001L7 18.200001C6.4477153 18.200001 6 17.752285 6 17.200001C6 16.647715 6.4477153 16.200001 7 16.200001L19 16.200001Z"/>
          </svg>
        </BulletPoint>
      </div>
    </div>
    <div class={styles.resourcesContainer}>
      <AvailableResourcesCard resources={perspectivesResources} links={perspectiveLinks} />
    </div>
  </div>
  <div id="urban-vs-rural" class={incomingImageStyles.rowContainer}>
    <HeroWithText head="Urban vs. Rural"
      title="Telehealth Disparities Between Urban and Rural Areas"
    />
    <img src={urbanVsRuralScrollImage.src} alt="Dad and son looking at a computer" class={incomingImageStyles.responsiveImage}/>
    <div class={incomingImageStyles.bulletPoints} data-borderless="true">
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Telehealth Availability in Rural Clinics"
          content="Rural clinics are less likely to offer telehealth."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(2 1)" d="M10.000004 13.2C11.877772 13.2 13.400003 14.722232 13.400003 16.6C13.400003 18.477768 11.877772 20 10.000004 20C8.1222353 20 6.6000037 18.477768 6.6000037 16.6L6.6050348 16.413452C6.7018809 14.622441 8.1848278 13.2 10.000004 13.2ZM19.707111 0.29289323C20.097635 0.6834175 20.097635 1.3165824 19.707111 1.7071068L16.970444 4.4430785C17.178566 4.4263921 17.393648 4.4744973 17.583742 4.5946031C18.332279 5.067544 19.034845 5.6095972 19.682222 6.2136521C20.086025 6.5904317 20.107931 7.2232175 19.731152 7.6270194C19.354372 8.0308208 18.721586 8.0527267 18.317785 7.6759477C17.761772 7.1571436 17.15836 6.6915908 16.515465 6.2853971C16.190979 6.08038 16.024696 5.7195272 16.052469 5.3617411L1.7071105 19.707108C1.3165863 20.097631 0.68342125 20.097631 0.29289696 19.707108C-0.097627334 19.316582 -0.097627334 18.683418 0.29289696 18.292892L18.292896 0.29289323C18.683422 -0.097631074 19.316586 -0.097631074 19.707111 0.29289323ZM10.000004 15.2C9.2268047 15.2 8.6000042 15.826801 8.6000042 16.6C8.6000042 17.373199 9.2268047 18 10.000004 18C10.773202 18 11.400003 17.373199 11.400003 16.6C11.400003 15.826801 10.773202 15.2 10.000004 15.2ZM12.843455 10.206061C13.627487 10.554225 14.34064 11.043904 14.94718 11.650562C15.337666 12.041124 15.337604 12.67429 14.947042 13.064775C14.556479 13.455262 13.923314 13.4552 13.532828 13.064638C13.100042 12.631767 12.591185 12.282366 12.031752 12.033939C11.526998 11.809793 11.29952 11.218903 11.523664 10.714149C11.74781 10.209394 12.338701 9.9819155 12.843455 10.206061ZM10.398946 6.9574776C10.432593 7.5087361 10.012985 7.9828959 9.4617262 8.0165424C7.370729 8.1441689 5.3991246 9.0341434 3.9202905 10.517925C3.5304189 10.909101 2.8972547 10.910158 2.5060787 10.520287C2.114903 10.130415 2.1138456 9.4972506 2.5037169 9.1060753C4.328073 7.2756157 6.7603331 6.1777029 9.3398809 6.0202575C9.89114 5.9866109 10.365299 6.4062185 10.398946 6.9574776ZM15.26108 7.3954935C16.07851 7.8637676 16.829956 8.4387875 17.495615 9.1053982C17.88586 9.4962015 17.885408 10.129366 17.494606 10.519611C17.103802 10.909857 16.470638 10.909405 16.080393 10.518601C15.540168 9.9776058 14.930323 9.5109406 14.266927 9.1309071C13.787706 8.8563786 13.621769 8.2453451 13.896297 7.7661233C14.170825 7.2869024 14.781859 7.1209655 15.26108 7.3954935ZM12.54092 2.6290085C13.084253 2.7280421 13.444428 3.2487831 13.345395 3.7921162C13.246362 4.3354492 12.72562 4.6956253 12.182287 4.5965915C8.3923025 3.9057887 4.4988456 5.047617 1.6822503 7.6759224C1.2784625 8.0527163 0.64567584 8.0308342 0.2688815 7.6270466C-0.10791283 7.223259 -0.086030416 6.5904722 0.31775725 6.2136779C3.5965745 3.1540504 8.128973 1.8248404 12.54092 2.6290085Z"/>
          </svg>
        </BulletPoint>
      </div>
      <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Access Disparities"
          content="Urban residents have greater access to teleheath services."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 32 32">
            <path fill="#4B7BE5" transform="translate(1 1)" d="M15 0C17.614147 0 19.733334 2.1191854 19.733334 4.7333331C19.733334 7.0471501 18.073109 8.9732008 15.878931 9.3852167C19.625164 9.8191795 22.533333 13.003304 22.533333 16.866667L22.533333 19.666666C22.533333 20.218952 22.085619 20.666666 21.533333 20.666666L19.637667 20.666334L18.795036 29.099504C18.747849 29.571383 18.377687 29.939386 17.916941 29.993212L17.799999 30L12.2 30C11.686249 30 11.256083 29.610706 11.204963 29.099504L10.360666 20.666334L8.4666662 20.666666C7.9538307 20.666666 7.5311594 20.280626 7.4733944 19.783287L7.4666667 19.666666L7.4666667 16.866667C7.4666667 13.003304 10.374836 9.8191795 14.121454 9.384016C11.92689 8.9732008 10.266666 7.0471501 10.266666 4.7333331L10.271538 4.5166683C10.384781 2.0030882 12.458467 0 15 0ZM5.6666665 3.7333333C7.7653489 3.7333333 9.4666662 5.4346514 9.4666662 7.5333333C9.4666662 9.4804821 8.0021629 11.085578 6.1145601 11.307215C6.4420319 11.470063 6.6666665 11.808798 6.6666665 12.2C6.6666665 12.752285 6.2189512 13.2 5.6666665 13.2C3.6416225 13.2 2 14.841622 2 16.866667L2 18.666L2.8666666 18.666666C3.3321958 18.666666 3.7304776 18.98665 3.8381972 19.42948L3.8589447 19.542631L4.6820002 26.132999L7.5333333 26.133333C8.0461693 26.133333 8.4688406 26.519373 8.5266056 27.016712L8.5333338 27.133333C8.5333338 27.685617 8.085618 28.133333 7.5333333 28.133333L3.8 28.133333C3.2956767 28.133333 2.8702757 27.757797 2.8077221 27.257368L1.983 20.666L1 20.666666C0.48716417 20.666666 0.064492837 20.280626 0.0067277313 19.783287L0 19.666666L0 16.866667C0 14.0008 2.1274533 11.631827 4.889215 11.252892C3.163682 10.895251 1.8666667 9.3657589 1.8666667 7.5333333L1.8716112 7.3377857C1.9733871 5.3299804 3.6335685 3.7333333 5.6666665 3.7333333ZM26.233334 4.2424369C27.409058 4.9212413 28.133333 6.175724 28.133333 7.5333333C28.133333 8.8909426 27.409058 10.145425 26.233334 10.82423C25.877565 11.029633 25.496817 11.172881 25.106205 11.253977C27.870487 11.629535 30 13.999413 30 16.866667L30 19.666666C30 20.218952 29.552284 20.666666 29 20.666666L28.015667 20.666L27.192278 27.257368C27.134537 27.719303 26.767622 28.07482 26.314852 28.126781L26.200001 28.133333L22.466667 28.133333C21.914381 28.133333 21.466667 27.685617 21.466667 27.133333C21.466667 26.581049 21.914381 26.133333 22.466667 26.133333L25.316668 26.132999L26.141056 19.542631C26.198797 19.080698 26.56571 18.72518 27.018482 18.67322L27.133333 18.666666L27.999666 18.666L28 16.866667C28 14.906946 26.46258 13.30631 24.528067 13.205083L24.333334 13.2C23.781048 13.2 23.333334 12.752285 23.333334 12.2C23.333334 11.808388 23.558441 11.469352 23.886316 11.305229C23.382128 11.247286 22.887384 11.086377 22.433332 10.82423C21.257608 10.145425 20.533333 8.8909426 20.533333 7.5333333L20.539993 7.3081012C20.615202 6.0381141 21.322927 4.8835301 22.433332 4.2424369C23.609056 3.563632 25.05761 3.563632 26.233334 4.2424369ZM15 11.333333C11.944024 11.333333 9.4666662 13.810691 9.4666662 16.866667L9.4666662 18.666334L11.266666 18.666666C11.740899 18.666666 12.143909 18.998373 12.243313 19.451479L12.261703 19.567163L13.104667 27.999334L16.894667 27.999334L17.738297 19.567163C17.785484 19.095284 18.155645 18.72728 18.616394 18.673456L18.733334 18.666666L20.532667 18.666334L20.533333 16.866667C20.533333 13.883452 18.172541 11.451631 15.217275 11.337521L15 11.333333ZM5.6666665 5.7333331C4.672554 5.7333331 3.8666666 6.5392208 3.8666666 7.5333333C3.8666666 8.5274458 4.672554 9.333333 5.6666665 9.333333C6.660779 9.333333 7.4666667 8.5274458 7.4666667 7.5333333C7.4666667 6.5392208 6.660779 5.7333331 5.6666665 5.7333331ZM23.433332 5.9744873C22.876411 6.2960267 22.533333 6.8902555 22.533333 7.5333333C22.533333 8.1764116 22.876411 8.7706404 23.433332 9.0921793C23.990255 9.4137182 24.676411 9.4137182 25.233334 9.0921793C25.790255 8.7706404 26.133333 8.1764116 26.133333 7.5333333C26.133333 6.8902555 25.790255 6.2960267 25.233334 5.9744873C24.676411 5.6529484 23.990255 5.6529484 23.433332 5.9744873ZM15 2C13.490421 2 12.266666 3.2237551 12.266666 4.7333331C12.266666 6.2429118 13.490421 7.4666667 15 7.4666667C16.509579 7.4666667 17.733334 6.2429118 17.733334 4.7333331C17.733334 3.2237551 16.509579 2 15 2Z"/>
          </svg>
        </BulletPoint>
      </div>
      <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Healthcare Choices in Rural Areas"
          content="Limited telehealth access restricts healthcare options in rural regions."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1 1)" d="M13 0C14.656855 0 16 1.3431457 16 3L16 6L19 6C20.597681 6 21.903662 7.24892 21.994907 8.8237276L22 9L22 13C22 14.656855 20.656855 16 19 16L16 16L16 19C16 20.597681 14.75108 21.903662 13.176272 21.994907L13 22L9 22C7.3431458 22 6 20.656855 6 19L6 16L3 16C1.4023191 16 0.096339121 14.75108 0.0050926935 13.176272L0 13L0 9C0 7.3431458 1.3431457 6 3 6L6 6L6 3C6 1.4023191 7.24892 0.096339121 8.8237276 0.0050926935L9 0L13 0ZM13 2L9 2C8.4477148 2 8 2.4477153 8 3L8 7C8 7.5522847 7.5522847 8 7 8L3 8C2.4477153 8 2 8.4477148 2 9L2 13C2 13.552285 2.4477153 14 3 14L7 14C7.5522847 14 8 14.447715 8 15L8 19C8 19.552284 8.4477148 20 9 20L13 20C13.552285 20 14 19.552284 14 19L14 15C14 14.447715 14.447715 14 15 14L19 14C19.552284 14 20 13.552285 20 13L20 9C20 8.4477148 19.552284 8 19 8L15 8C14.447715 8 14 7.5522847 14 7L14 3C14 2.4477153 13.552285 2 13 2Z"/>
          </svg>
        </BulletPoint>
      </div>
    </div>
    <div class={styles.resourcesContainer}>
      <AvailableResourcesCard resources={urbanVsRuralResources} links={urbanVsRuralLinks} />
    </div>
  </div>
  <div id="barriers" class={incomingImageStyles.rowContainer}>
    <HeroWithText head="Barriers"
      title="Challenges to Telehealth Access"
    />
      <img src={barriersScrollImage.src} alt="Dad and son looking at a computer" class={incomingImageStyles.responsiveImage}/>
    <div class={incomingImageStyles.bulletPoints} data-borderless="true">
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Digital Literacy Gaps"
          content="Many lack the skills to navigate telehealth platforms."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 25 24">
            <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3.45)" d="M9 2.6219726C6.4113193 1.035096 3.4614589 0.13293166 0.428 0.00037253386C0.31658599 -0.0043705222 0.20802332 0.036340479 0.12719999 0.11317253C0.046558708 0.18928187 0.00059359026 0.29508838 0 0.40597254L0 13.799573C0.00022568832 14.01878 0.17299491 14.198954 0.39199999 14.208372C3.1693251 13.812761 5.989078 14.550492 8.2167997 16.255573C8.4645433 16.358225 8.7345295 16.395416 9.0008001 16.363573" fill-rule="evenodd"/>
            <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.9992 3.45)" d="M0.00079999998 2.6219726C2.5894809 1.035096 5.539341 0.13293166 8.5727997 0.00037253386C8.6842136 -0.0043705222 8.7927771 0.036340479 8.8736 0.11317253C8.9548454 0.18985523 9.0008001 0.29665378 9.0008001 0.40837252L9.0008001 13.799573C9.0005741 14.01878 8.8278055 14.198954 8.6087999 14.208372C5.8314748 13.812761 3.0117221 14.550492 0.78399998 16.255573C0.53625655 16.358225 0.26627091 16.395416 0 16.363573" fill-rule="evenodd"/>
            <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.3379 6.07197)" d="M0.66206896 0L0.66206896 13.7496" fill-rule="evenodd"/>
            <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.2 17.5824)" d="M0 0.0128L0 2.5936C-0.0003453251 2.717962 0.055936564 2.8357193 0.15292571 2.9135597C0.24991485 2.9914002 0.37706313 3.020858 0.49840158 2.9935999C2.9000089 2.4928246 5.3467398 2.2402968 7.8000016 2.24C10.10902 2.2387972 12.411244 2.4901586 14.665602 2.9895999C14.786862 3.0162208 14.913656 2.9865196 15.010478 2.908813C15.107301 2.8311067 15.163743 2.7137482 15.164001 2.5896001L15.164001 0" fill-rule="evenodd"/>
          </svg>
        </BulletPoint>
      </div>
      <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Unreliable Infrastructure"
          content="Outages and poor connections disrupt telehealth access."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1 1.99998)" d="M11 5.6195126C12.656842 5.6195126 13.999978 6.9626484 13.999978 8.6194906C13.999978 9.9253626 13.165606 11.036358 12.000894 11.448445L12 19.227371C12 19.779655 11.552285 20.227371 11 20.227371C10.447715 20.227371 10 19.779655 10 19.227371L10.000096 11.448795C8.8348665 11.036986 8.0000219 9.9257326 8.0000219 8.6194906L8.0051155 8.4432192C8.0963612 6.8684235 9.4023314 5.6195126 11 5.6195126ZM18.123974 0.23804128C20.582876 2.3278501 22 5.3920498 22 8.6190462C22 11.846042 20.582876 14.910242 18.123974 17.00005C17.703144 17.357712 17.072054 17.306503 16.714394 16.885674C16.356733 16.464844 16.40794 15.833754 16.82877 15.476092C18.840559 13.766284 20 11.259262 20 8.6190462C20 5.9788299 18.840559 3.471808 16.82877 1.761999C16.40794 1.4043382 16.356733 0.77324748 16.714394 0.35241821C17.072054 -0.068411097 17.703144 -0.11961939 18.123974 0.23804128ZM5.2856069 0.35241821C5.6432676 0.77324748 5.5920591 1.4043382 5.1712298 1.761999C3.1594412 3.471808 2 5.9788299 2 8.6190462C2 11.259262 3.1594412 13.766284 5.1712298 15.476092C5.5920591 15.833754 5.6432676 16.464844 5.2856069 16.885674C4.9279461 17.306503 4.2968554 17.357712 3.8760262 17.00005C1.4171234 14.910242 0 11.846042 0 8.6190462C0 5.3920498 1.4171234 2.3278501 3.8760262 0.23804128C4.2968554 -0.11961939 4.9279461 -0.068411097 5.2856069 0.35241821ZM15.532821 3.2859471C17.097801 4.6157665 17.999765 6.5658145 17.999765 8.6194906C17.999765 10.673166 17.097801 12.623214 15.532821 13.953033C15.111959 14.310656 14.480873 14.259388 14.123251 13.838526C13.76563 13.417664 13.816896 12.786577 14.237759 12.428956C15.355541 11.479136 15.999764 10.086322 15.999764 8.6194906C15.999764 7.1526589 15.355541 5.7598438 14.237759 4.8100247C13.816896 4.4524031 13.76563 3.821317 14.123251 3.4004545C14.480873 2.9795923 15.111959 2.9283254 15.532821 3.2859471ZM7.876749 3.4004545C8.2343702 3.821317 8.1831036 4.4524031 7.7622414 4.8100247C6.6444592 5.7598438 6.0002351 7.1526589 6.0002351 8.6194906C6.0002351 10.086322 6.6444592 11.479136 7.7622414 12.428956C8.1831036 12.786577 8.2343702 13.417664 7.876749 13.838526C7.5191274 14.259388 6.8880415 14.310656 6.4671788 13.953033C4.9021983 12.623214 4.0002351 10.673166 4.0002351 8.6194906C4.0002351 6.5658145 4.9021983 4.6157665 6.4671788 3.2859471C6.8880415 2.9283254 7.5191274 2.9795923 7.876749 3.4004545ZM11 7.6195126C10.447727 7.6195126 10.000022 8.0672178 10.000022 8.6194906C10.000022 9.1717625 10.447727 9.6194677 11 9.6194677C11.552273 9.6194677 11.999978 9.1717625 11.999978 8.6194906C11.999978 8.0672178 11.552273 7.6195126 11 7.6195126Z"/>
          </svg>
        </BulletPoint>
      </div>
      <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Limited Support Services"
          content="Lack of local tech support hinders troubleshooting efforts."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1.99999 1.99996)" d="M14.06663 0.19572566C15.07013 0.61157179 15.703428 1.6138611 15.648192 2.698513L15.591389 3.8186588C15.583344 3.9786589 15.643323 4.1345973 15.756504 4.2479506C15.869671 4.36129 16.025473 4.4214864 16.183537 4.4137716L17.30545 4.3568716C18.389574 4.3034201 19.390205 4.9374142 19.804953 5.940516C20.219688 6.9435945 19.958992 8.0991182 19.153057 8.8275537L18.31955 9.5795183C18.200161 9.6873636 18.132021 9.8407393 18.132021 10.001646C18.132021 10.162553 18.200161 10.315928 18.31908 10.423351L19.15365 11.176273C19.9596 11.904547 20.22016 13.06116 19.804356 14.064686C19.38854 15.068235 18.386284 15.701592 17.301641 15.64635L16.180414 15.589484C16.020109 15.581238 15.863814 15.641323 15.750302 15.754844C15.636776 15.868377 15.576678 16.024719 15.584964 16.185804L15.642082 17.312521C15.690156 18.391657 15.057803 19.385523 14.059939 19.799126C13.062052 20.212738 11.912024 19.957613 11.178386 19.15616L10.42487 18.322515C10.317191 18.203251 10.164043 18.135189 10.003383 18.135189C9.842721 18.135189 9.6895742 18.203251 9.580102 18.324495L8.8230295 19.158529C8.0947323 19.959112 6.9426856 20.217121 5.9425077 19.803633C4.9423528 19.390154 4.3087869 18.393982 4.3586092 17.30727L4.4162354 16.186684C4.4244838 16.02632 4.364387 15.869978 4.2508607 15.756444C4.1373477 15.642924 3.9810541 15.582838 3.8200264 15.591122L2.7009962 15.647875C1.6163592 15.704491 0.61347872 15.07237 0.19665636 14.069401C-0.2201563 13.066455 0.039260838 11.90972 0.84535015 11.18006L1.6784122 10.427775C1.7978009 10.31993 1.8659393 10.166555 1.8659393 10.005649C1.8659393 9.8447409 1.7978009 9.6913662 1.6765689 9.581851L0.84366667 8.8257103C0.041156512 8.0977001 -0.21787632 6.9441996 0.19629651 5.9429488C0.61047894 4.9416752 1.608712 4.3082657 2.6939189 4.3601437L3.816278 4.417069C3.9768932 4.4255137 4.1335425 4.3653493 4.2472262 4.2515478C4.3609238 4.137733 4.4209471 3.9809766 4.412055 3.8146074L4.3583879 2.6923258C4.3076468 1.6106988 4.9407916 0.61345202 5.9412398 0.19926496C6.9417109 -0.21493171 8.0944767 0.042980131 8.8245697 0.84565938L9.5769091 1.6764864C9.6860418 1.7976316 9.8389492 1.8656911 9.9993811 1.8656911C10.159813 1.8656911 10.312719 1.7976316 10.423982 1.6741424L11.178246 0.84648538C11.906493 0.040462118 13.063107 -0.2201301 14.06663 0.19572566ZM12.659369 2.1904562L11.9061 3.0170097C11.419448 3.5572479 10.72648 3.8656909 9.9993811 3.8656909C9.2722816 3.8656909 8.5793133 3.5572479 8.0926609 3.0170097L7.3435555 2.1897542C7.1824222 2.0126021 6.9275098 1.9555697 6.7062721 2.0471625C6.4850111 2.1387649 6.3449664 2.3593447 6.3561478 2.5977004L6.409483 3.7133722C6.4484162 4.4404683 6.1767697 5.1498985 5.6621714 5.6650295C5.1475592 6.1801744 4.4383998 6.4525418 3.713119 6.4144058L2.59552 6.3577199C2.3564467 6.3462915 2.1359279 6.4862175 2.04442 6.7074356C1.9529024 6.9286766 2.0101402 7.1835623 2.1877234 7.3446598L3.0190554 8.0993795C3.5582378 8.5864296 3.8659394 9.279047 3.8659394 10.005649C3.8659394 10.732249 3.5582378 11.424867 3.0189421 11.91202L2.186645 12.663612C2.008738 12.824651 1.9514155 13.080251 2.0435164 13.301867C2.1356075 13.523458 2.3571527 13.6631 2.5982168 13.650518L3.7179992 13.593726C4.4437308 13.556393 5.1512804 13.828404 5.6651187 14.342276C6.1789436 14.856133 6.4509239 15.563688 6.4135957 16.289408L6.3562407 17.404411C6.3452797 17.643564 6.4854174 17.863907 6.7066135 17.955353C6.9277864 18.046787 7.1825395 17.989735 7.3428736 17.813488L8.0974216 16.982241C8.5843096 16.442968 9.2768431 16.135189 10.003383 16.135189C10.729922 16.135189 11.422455 16.442968 11.908968 16.981823L12.657859 17.810381C12.819166 17.986593 13.073473 18.043009 13.294139 17.951546C13.514829 17.860073 13.654698 17.64024 13.644356 17.407673L13.587567 16.287819C13.550239 15.562088 13.822219 14.854532 14.336043 14.340674C14.849882 13.826803 15.557431 13.554791 16.28244 13.592088L17.40316 13.648928C17.643061 13.661147 17.864712 13.521078 17.95668 13.299114C18.04866 13.077127 17.991022 12.821273 17.813349 12.660724L16.978905 11.907915C16.439724 11.420865 16.132021 10.728248 16.132021 10.001646C16.132021 9.2750444 16.439724 8.582427 16.979374 8.0949545L17.812666 7.3431854C17.990778 7.1822009 18.048447 6.9265881 17.956703 6.7046995C17.864969 6.4828343 17.643679 6.3426251 17.405348 6.3543749L16.282951 6.4112983C15.558808 6.446651 14.853484 6.174139 14.341212 5.6610851C13.828954 5.1480451 13.557505 4.442317 13.593933 3.7177968L13.65077 2.5970078C13.662991 2.3570304 13.522912 2.135335 13.300976 2.0433657C13.079063 1.951406 12.8233 2.0090311 12.659369 2.1904562ZM12.300216 6.0167403C13.723954 6.838788 14.601004 8.3579779 14.601004 10.002047C14.601004 11.646114 13.723954 13.165305 12.300216 13.987352C10.876456 14.809412 9.1223049 14.809412 7.6985455 13.987352C6.2748075 13.165305 5.397758 11.646114 5.397758 10.002047L5.4031634 9.7786827C5.4786196 8.2213106 6.3395228 6.8014221 7.6985455 6.0167403C9.1223049 5.1946802 10.876456 5.1946802 12.300216 6.0167403ZM8.6985931 7.7487636C7.8936396 8.2135334 7.397758 9.0724792 7.397758 10.002047C7.397758 10.931613 7.8936396 11.79056 8.6985931 12.255329C9.5035257 12.720087 10.495235 12.720087 11.300168 12.255329C12.105122 11.79056 12.601004 10.931613 12.601004 10.002047C12.601004 9.0724792 12.105122 8.2135334 11.300168 7.7487636C10.495235 7.2840056 9.5035257 7.2840056 8.6985931 7.7487636Z"/>
          </svg>
        </BulletPoint>
      </div>
    </div>
    <div class={styles.resourcesContainer}>
      <AvailableResourcesCard resources={accessResources} links={accessLinks} />
    </div>
  </div>
  <div id="affordability" class={incomingImageStyles.rowContainer}>
    <HeroWithText head="Affordability"
      title="Financial Barriers to Connectivity"
    />
    <img src={affordabilityScrollImage.src} alt="Dad and son looking at a computer" class={incomingImageStyles.responsiveImage}/>
    <div class={incomingImageStyles.bulletPoints} data-borderless="true">
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Value of Connectivity Improvements"
          content="Users benefit most from upgrades at lower speeds, such as moving from 1 Mbps to 25 Mbps."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 16 16">
            <path fill="#4B7BE5" transform="translate(1.25119 1.25)" d="M6.7804446 0.21978424L12.280444 5.7221556C12.573275 6.0151119 12.573173 6.4899859 12.280216 6.7828159C11.98726 7.0756459 11.512385 7.0755439 11.219556 6.7825875L7 2.562L7 13.000252C7 13.414466 6.6642137 13.750252 6.25 13.750252C5.8357863 13.750252 5.5 13.414466 5.5 13.000252L5.5 2.5599999L1.2804444 6.7825875C1.0142353 7.0489111 0.5975768 7.0732069 0.30391833 6.8554158L0.21978424 6.7828159C-0.073172107 6.4899859 -0.073274463 6.0151119 0.21955562 5.7221556L5.7195554 0.21978424C6.012475 -0.07326141 6.487525 -0.07326141 6.7804446 0.21978424Z" fill-rule="evenodd"/>
          </svg>
        </BulletPoint>
      </div>
      <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Income-Based Limitations"
          content="Lower-income households value speed increases differently than higher-income ones."
          borderless
        >
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 26 24">
              <path fill="#4B7BE5" transform="translate(0.0998716 2)" d="M1.2298342 10.970006L23.229834 16.160049C23.767365 16.28686 24.100319 16.825413 23.973509 17.362942C23.846701 17.900471 23.308147 18.233425 22.770618 18.106617L14.202 16.084999L15.714428 17.975306C16.238239 18.630068 15.772065 19.6 14.933559 19.6L9.0668926 19.6C8.2283859 19.6 7.7622132 18.630068 8.2860241 17.975306L10.497 15.211L0.77061754 12.916572C0.23308814 12.789762 -0.099866427 12.25121 0.026942739 11.71368C0.15375189 11.176151 0.69230473 10.843197 1.2298342 10.970006ZM11.999892 16.533333L11.146893 17.599333L12.851892 17.599333L11.999892 16.533333ZM17.133558 0C20.925915 0 24.000225 3.0743115 24.000225 6.8666668C24.000225 10.659022 20.925915 13.733334 17.133558 13.733334C13.341204 13.733334 10.266892 10.659022 10.266892 6.8666668L10.270874 6.6306009C10.395301 2.9475493 13.420211 0 17.133558 0ZM17.133558 2C14.445773 2 12.266892 4.1788807 12.266892 6.8666668C12.266892 9.5544529 14.445773 11.733334 17.133558 11.733334C19.821344 11.733334 22.000225 9.5544529 22.000225 6.8666668C22.000225 4.1788807 19.821344 2 17.133558 2ZM17.133558 2.2C17.593431 2.2 17.980801 2.5104201 18.097561 2.9331529L18.600225 2.9333334C19.15251 2.9333334 19.600225 3.3810487 19.600225 3.9333334C19.600225 4.4856181 19.15251 4.9333334 18.600225 4.9333334L16.613102 4.9333334C16.463615 4.9334373 16.335182 5.0394998 16.306814 5.1862712C16.278448 5.3330426 16.358109 5.4793243 16.494673 5.5342746L18.513067 6.3410454C19.54262 6.752902 20.134823 7.8376813 19.924479 8.926424C19.743702 9.8621254 19.013891 10.574302 18.109112 10.755216C18.008183 11.200507 17.609739 11.533334 17.133558 11.533334C16.674053 11.533334 16.286934 11.223406 16.169836 10.801188L15.666892 10.800002C15.114608 10.800002 14.666892 10.352285 14.666892 9.8000011C14.666892 9.247716 15.114608 8.8000011 15.666892 8.8000011L17.653917 8.8000011C17.803633 8.8001747 17.932392 8.6940365 17.960791 8.5470409C17.989191 8.4000444 17.909235 8.253583 17.770491 8.198081L15.750238 7.3905644C14.72307 6.9772744 14.133051 5.8938246 14.343155 4.8067465C14.523791 3.8721333 15.252259 3.1603904 16.157108 2.978637C16.25835 2.5333145 16.65703 2.2 17.133558 2.2Z"/>
            </svg>
        </BulletPoint>
      </div>
      <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
      <div class={incomingImageStyles.bulletPointContainer}>
        <BulletPoint
          title="Cost Considerations in Access"
          content="Financial constraints make even modest improvements unattainable for some residents."
          borderless
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 16 16">
            <path fill="#4B7BE5" transform="translate(0.25 0.25)" d="M10.198251 0.086384609C10.621937 0.22761318 10.972135 0.53142029 11.171665 0.93074882L12.435946 3.4595082C13.648896 3.6873002 14.566667 4.7520399 14.566667 6.031137L14.567259 6.3906641C15.120207 6.6665792 15.5 7.2378387 15.5 7.8978033L15.5 10.697803C15.5 11.357768 15.120207 11.929028 14.567259 12.204943L14.566667 12.56447C14.566667 14.009615 13.395145 15.181137 11.95 15.181137L2.6166666 15.181137C1.1715215 15.181137 0 14.009615 0 12.56447L0 6.031137C0 4.6507812 1.0688319 3.5200646 2.4240291 3.4214532L8.9127216 0.17791736C9.3121223 -0.021916954 9.7745647 -0.054843958 10.198251 0.086384609ZM11.95 4.9144702L2.6166666 4.9144702C1.9999487 4.9144702 1.5 5.4144187 1.5 6.031137L1.5 12.56447C1.5 13.181189 1.9999487 13.681137 2.6166666 13.681137L11.95 13.681137C12.566718 13.681137 13.066667 13.181189 13.066667 12.56447L13.066 12.381L11.483334 12.381137C9.7804556 12.381137 8.3999996 11.000682 8.3999996 9.2978039C8.3999996 7.5949254 9.7804556 6.2144699 11.483334 6.2144699L13.066 6.2140002L13.066667 6.031137C13.066667 5.4144187 12.566718 4.9144702 11.95 4.9144702ZM13.816667 7.7144699L11.483334 7.7144699C10.608883 7.7144699 9.8999996 8.4233522 9.8999996 9.2978039C9.8999996 10.172255 10.608883 10.881137 11.483334 10.881137L13.816667 10.881137C13.917919 10.881137 14 10.799056 14 10.697803L14 7.8978033C14 7.7965512 13.917919 7.7144699 13.816667 7.7144699ZM11.483334 10.281137C10.940253 10.281137 10.5 9.8408833 10.5 9.2978039C10.5 8.7547235 10.940253 8.3144703 11.483334 8.3144703C12.026413 8.3144703 12.466666 8.7547235 12.466666 9.2978039C12.466666 9.8020916 12.087061 10.217719 11.598011 10.274521L11.483334 10.281137ZM9.5837212 1.5194683L5.7940001 3.414L10.736 3.414L9.8299341 1.6013895C9.8081932 1.5578787 9.7700529 1.5247909 9.7239094 1.5094095C9.6777649 1.4940282 9.6274004 1.4976144 9.5837212 1.5194683Z"/>
          </svg>
        </BulletPoint>
      </div>
    </div>
    <div class={styles.resourcesContainer}>
      <AvailableResourcesCard resources={affordabilityResources} links={affordabilityLinks} />
    </div>
  </div>
</div>