<%= form_with model: @location do |form| %>
  <div class="modal-body modals--body" data-action="click->categories#checkCloseColorPicker keydown->categories#checkCloseColorPicker">
    <% if @location&.errors.present? %>
      <div id="error_explanation">
        <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

        <ul>
          <% @location&.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row" data-controller="location-form">
      <div class="col-lg-6 mb-10 mb-lg-0">
        <div class="forms--row">
          <!--begin::Label-->
          <label class="required forms--label mb-2">Name</label>
          <!--end::Label-->
          <!--begin::Input-->
          <%= form.text_field :name, name: "location[name]" ,class: "forms--text-input form-control form-control-solid", placeholder: 'Your location name', data: { "location-form-target" => "name" } %>
          <!--end::Input-->
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>

        <% if !current_account&.is_all_accounts? %>
          <div class="fv-row mb-7 fv-plugins-icon-container position-relative">
            <!--begin::Label-->
            <label class="forms--label mb-2">Categories</label>
            <!--end::Label-->
            <input name="location[categories]" autocomplete="off" type="hidden" value="<%= @location.categories.map{|c| c.id}.join(",") %>" id="location_categories" data-categories-target="hiddenCategoriesInput">
            <div class="category--location-select-container"
                data-categories-target="selectClickableContainer"
                data-action="click->categories#toggleFocus"
                data-categories-location-id-value="<%= @location.id.nil? ? nil : @location.id %>" 
            > 
              <%= turbo_frame_tag "selected-categories" do %>
                <%= render partial: "location_categories/table_cell", locals: {categories: @location.categories, shows_tooltip: false, row: -1} %>
              <% end %>
              <span class="svg-icon svg-icon-5 m-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
                </svg>
              </span>
            </div>
            <%= turbo_frame_tag "location-categories-dropdown" do %>
            <% end %>
          </div>
        <% else %>
          <div class="forms--row d-flex flex-column">
            <label class="forms--label mb-2 required">Account</label>
            <select class="form-select forms--select"
                    data-controller="select2"
                    id="client-accounts-dropdown"
                    data-placeholder="Select an account"
                    name="location[account_id]"
                    data-select2-id="select2-data-account_id"
                    tabindex="-1"
            >
              <% policy_scope(Account).each_with_index do |account, index|%>
                <%= render partial: "clients/client_select_option", locals: { option: account, selected: index === 0} %>
              <% end %> 
            </select>
          </div>
        <% end %>

        <div class="forms--row">
          <!--begin::Label-->
          <label class="required forms--label mb-2">Address</label>
          <!--end::Label-->
          <!--begin::Input-->
          <div class="forms--input-group input-group" data-location-form-target="addressWrapper">
            <input class="forms--text-input forms--text-input-with-decoration form-control form-control-solid" placeholder="Your location address" data-location-form-target="address" data-action="input->location-form#onAddressChange" type="text" name="location[address]" id="location_address" value="<%= @location&.address %>"/>
            <div class="d-none forms--input-decoration" data-location-form-target="spinner">
              <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
            </div>
            <span class="svg-icon svg-icon-primary svg-icon-2 forms--input-decoration forms--input-decoration-clickable" data-action="click->location-form#autofillGeoData" data-location-form-target="geoIcon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path opacity="0.3" d="M21 11H18.9C18.5 7.9 16 5.49998 13 5.09998V3C13 2.4 12.6 2 12 2C11.4 2 11 2.4 11 3V5.09998C7.9 5.49998 5.50001 8 5.10001 11H3C2.4 11 2 11.4 2 12C2 12.6 2.4 13 3 13H5.10001C5.50001 16.1 8 18.4999 11 18.8999V21C11 21.6 11.4 22 12 22C12.6 22 13 21.6 13 21V18.8999C16.1 18.4999 18.5 16 18.9 13H21C21.6 13 22 12.6 22 12C22 11.4 21.6 11 21 11ZM12 17C9.2 17 7 14.8 7 12C7 9.2 9.2 7 12 7C14.8 7 17 9.2 17 12C17 14.8 14.8 17 12 17Z" fill="black"/>
                <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" fill="black"/>
              </svg>
            </span>
          </div>
          <!--end::Input-->
          <div class="fv-plugins-message-container invalid-feedback" data-location-form-target="locationErrorMessage"></div>
        </div>

        <div class="forms--row fv-row mb-7 fv-plugins-icon-container d-flex align-items-center">
          <%= form.check_box :manual_lat_long, name: "location[manual_lat_long]",class: "form-check-input forms--checkbox me-2", data: { "location-form-target" => "manualLatLong", action: "input->location-form#onManualChange" } %>
          <label class="regular-text" for="flexSwitchDefault">
              Adjust coordinates manually
          </label>
        </div>

        <input id="automatic_location" name="location[automatic_location]" data-location-form-target="automaticLocation" style="display:none" value="<%= @location&.automatic_location || false %>"/>

        <div class="row mb-7">
          <div class="col-6 fv-plugins-icon-container">
            <!--begin::Label-->
            <label data-location-form-target="conditional" class="forms--label mb-2 <%= @location&.manual_lat_long ? '' : 'text-muted'%>">Latitude</label>
            <!--end::Label-->
            <!--begin::Input-->
            <%= form.text_field :latitude,
                name: "location[latitude]", 
                class: "conditional form-control form-control-solid #{@location&.manual_lat_long ? '' : 'text-muted'} forms--text-input", 
                readonly: !@location&.manual_lat_long, 
                data: { "location-form-target" => "latitude", action: "input->location-form#onLatitudeChange" } 
            %>
            <!--end::Input-->
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>

          <div class="col-6 fv-plugins-icon-container">
            <!--begin::Label-->
            <label data-location-form-target="conditional" class="forms--label mb-2 <%= @location&.manual_lat_long ? '' : 'text-muted' %>">Longitude</label>
            <!--end::Label-->
            <!--begin::Input-->
            <%= form.text_field :longitude, 
                name: "location[longitude]",
                class: "conditional form-control form-control-solid #{@location&.manual_lat_long ? '' : 'text-muted'} forms--text-input", 
                readonly: !@location&.manual_lat_long, 
                data: { "location-form-target" => "longitude", action: "input->location-form#onLongitudeChange" } 
            %>
            <!--end::Input-->
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>

        <div class="row mb-7">
          <div class="col-6 fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="forms--label mb-2 required">Expected Mbps Up</label>
            <!--end::Label-->
            <!--begin::Input-->
            <%= form.text_field :expected_mbps_up, name: "location[expected_mbps_up]", class: "form-control form-control-solid forms--text-input", data: { "location-form-target" => "expectedUpload" } %>
            <!--end::Input-->
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>

          <div class="col-6 fv-plugins-icon-container">
            <!--begin::Label-->
            <label class="forms--label mb-2 required">Expected Mbps Down</label>
            <!--end::Label-->
            <!--begin::Input-->
            <%= form.text_field :expected_mbps_down, name: "location[expected_mbps_down]", class: "form-control form-control-solid forms--text-input", data: { "location-form-target" => "expectedDownload" }%>
            <!--end::Input-->
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-10 mb-lg-0">
        <div style="height: 300px;"
             data-location-form-target="map"
             data-action="modal:shown->location#display"
             data-controller="location"
             data-location-latitude-value="<%= @location&.latitude %>"
             data-location-longitude-value="<%= @location&.longitude %>"
             data-draggable="true"
        ></div>
      </div>
    </div>
  </div>

  <div class="modal-footer modals--footer">
    <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Cancel"} %>
    <% if data_target.present? %>
      <%= form.submit submit_name, class: "custom-button custom-button--primary custom-button--sm", data: { "target": "modal.#{data_target_val}", "bs-toggle" => "modal", "bs-target" => modal_target } %>
    <% else %>
      <%= form.submit submit_name, class: "custom-button custom-button--primary custom-button--sm" %>
    <% end %>
  </div>
<% end %>
