<div class="card card-flush col-md-4 col-sm-6 col-xs-12 mb-10 w-100 mw-375px min-w-325px" id="locations_grid_row_<%= location.id %>">
  <div class="card-header d-flex flex-row align-items-center py-3">
    <div class="d-flex flex-column" style="width: 75%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
      <div class="card-title fs-1">
        <%= location.name %>
      </div>
      <h5 class="card-subtitle" style="color: #b5b5c3; font-size: 14px;">
        <%= location.address %>
      </h5>
    </div>
    <div class="d-flex align-items-center justify-content-center"
       style="border-radius:50%; background-color:#f5f8fa; min-width: 40px; width: 40px; min-height: 40px; height: 40px;">
      <button type="button"
              class="btn dropwdown-toggle"
              style="background-color: transparent; width: 100%; margin: auto; display: flex; justify-content: center; align-items: center"
              aria-expanded="false"
              data-bs-toggle="dropdown"
      >
        <i class="fas fa-ellipsis-v text-gray-600" style="margin-left: 4px;"></i>
      </button>
      <div class="dropdown-menu fw-bold fs-7 w-150px py-4"
           data-kt-menu="true">
        <!--begin::Menu item-->
        <div class="menu-item">
          <%= link_to "Edit", edit_location_path(location), { class: "menu-link text-hover-gray-500 text-gray-700 px-3", data: { "turbo-frame" => "edit_location_modal" } } %>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item">
          <%= link_to 'Delete', location_path(location), method: :delete, data: { confirm: 'Are you sure?' }, class: "menu-link text-hover-gray-500 text-gray-700 px-3" %>
        </div>
        <!--end::Menu item-->
      </div>
    </div>
  </div>
  <div class="card-body pt-3">
    <div class="list-group">
      <div class="list-group-item border-top-0 border-end-0 border-start-0
                  border-bottom-dashed border-gray-400 ps-0
                  d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
          <div class="list-group-item-label fw-bold">
            Avg. Download Speed
          </div>
          <div class="list-group-item-value fw-bolder" style="color: <%= location.download_avg.present? ? "#181c33" : '#b5b5c3' %>; font-size: 14px;">
            <%= location.download_avg.present? ? "#{location.download_avg} Mbps" : 'Not available' %>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class="list-group-item-label" style="color: #b5b5c3; font-size: 13px;">
            Expected: <%= location.expected_mbps_down.present? ? "#{location.expected_mbps_down} Mbps" : 'Not available' %>
          </div>
          <div class="list-group-item-value"
               style="color: <%= location.download_diff.present? ? location.download_diff.start_with?('+') ? '#50cd89' : '#f1416c' : '#b5b5c3' %>;">
            <%= location.download_diff.present? ? location.download_diff : '-' %>
          </div>
        </div>
      </div>
      <div class="list-group-item border-top-0 border-end-0 border-start-0
                  border-bottom-dashed border-gray-400 ps-0
                  d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
          <div class="list-group-item-label fw-bold">
            Avg. Upload Speed
          </div>
          <div class="list-group-item-value fw-bolder" style="color: <%= location.upload_avg.present? ? '#181c33' : '#b5b5c3' %>; font-size: 14px;">
            <%= location.upload_avg.present? ? "#{location.upload_avg} Mbps" : 'Not available' %>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class="list-group-item-label" style="color: #b5b5c3; font-size: 13px;">
            Expected: <%= location.expected_mbps_up.present? ? "#{location.expected_mbps_up} Mbps" : 'Not available' %>
          </div>
          <div class="list-group-item-value"
               style="color: <%= location.upload_diff.present? ? location.upload_diff.start_with?('+') ? '#50cd89' : '#f1416c' : '#b5b5c3' %>;">
            <%= location.upload_diff.present? ? location.upload_diff : '-' %>
          </div>
        </div>
      </div>
      <div class="list-group-item border-0 ps-0
                  d-flex flex-row justify-content-between">
        <div class="list-group-item-label fw-bold">
          Current Pods
        </div>
        <div class="list-group-item-value fw-bolder">
          <%= location.clients.size %>
        </div>
      </div>
    </div>
      <div class="card-footer d-flex justify-content-end px-0 pb-3 border-0">
        <a href="<%= location_path(location) %>" class="btn btn-light-primary w-100" data-turbo-frame="_top">View Details</a>
      </div>
  </div>
</div>