<tr id="<%= dom_id(location) %>">
  <td style="padding-left: 30px">
    <div class="d-flex flex-row align-items-center">
      <div class="d-flex align-items-center justify-content-center me-5" 
           style="border-radius:50%; background-color:#f1faff; min-width: 36px; width: 36px; min-height: 36px; height: 36px">
        <span class="svg-icon svg-icon-2 svg-icon-primary" style="position: relative;">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="black"/>
            <path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="black"/>
          </svg>
        </span>
      </div>
      <div class="d-flex flex-column align-items-left justify-content-start">
        <a class="text-gray-800 text-hover-primary fw-bolder"
           style="font-size:15px; max-width: 15vw;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
           href="<%= location_path(location)%>" data-turbo-frame="_top">
            <%= location.name %>
        </a>
        <div style="font-size: 13px; color: #b5b5c3"><%= location.address %></div>
      </div>
    </div>
  </td>
  <% if current_account.is_all_accounts? %>
    <td style="padding-left: 30px"><%= location.account.name %></td>
  <% else %>
    <td class="text-gray-600 mb-1"
        style="font-size:14px; color: #b5b5c3;">
        <%= render partial: "location_categories/table_cell", locals: {categories: location.categories, shows_tooltip: true, row: row} %>
    </td>
  <% end %>
  <td class="text-gray-600 mb-1"
      style="font-size:14px; color: #b5b5c3;">
      <span>
        <%= location.download_avg.present? ? "#{location.download_avg} Mbps / " : 'Not available / ' %>
      </span>
      <span>
        <%= location.expected_mbps_down.present? ? "#{location.expected_mbps_down} Mbps" : 'Not available' %>
      </span>
      <span class="ms-2"
            style="color: <%= location.download_diff.present? && location.download_diff.start_with?('+') ? "#50cd89" : "#f1416c" %>">
        <%= location.download_diff.present? ? location.download_diff : '' %>
      </span>
  </td>
  <td class="text-gray-600 mb-1"
      style="font-size:14px; color: #b5b5c3;">
    <span>
        <%= location.upload_avg.present? ?  "#{location.upload_avg} Mbps / " : 'Not available / '%>
      </span>
      <span>
        <%= location.expected_mbps_up.present? ? "#{location.expected_mbps_up} Mbps" : 'Not available' %>
      </span>
      <span class="ms-2"
            style="color: <%= location.upload_diff.present? && location.upload_diff.start_with?('+') ? "#50cd89" : "#f1416c" %>">
        <%= location.upload_diff.present? ? location.upload_diff : '' %>
      </span>
  </td>
  <td class="text-end" style="padding-right: 30px">
    <div class="btn-group">
      <button type="button"
              class="btn btn-sm btn-light btn-active-light-primary dropwdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="border-radius: 6px; display: flex; justify-content: center; align-items: center"
              id="<%= "options-button-#{location.id}" %>"
      >
        Options
        <span class="svg-icon svg-icon-5 m-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
          </svg>
        </span>
      </button>
      <div class="dropdown-menu fw-bold fs-7 w-125px py-4"
           aria-labelledby="<%= "options-button-#{location.id}" %>">
        <!--begin::Menu item-->
        <div class="menu-item">
          <%= link_to "View", location_path(location), class: "menu-link text-hover-gray-500 text-gray-700 px-3", data: {"turbo-frame" => "_top"} %>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item">
          <%= link_to "Edit", edit_location_path(location), { class: "menu-link text-hover-gray-500 text-gray-700 px-3", data: { "turbo-frame" => "edit_location_modal" } } %>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item">
          <%= link_to 'Delete', location_path(location), method: :delete, data: { confirm: 'Are you sure?' }, class: "menu-link text-hover-gray-500 text-gray-700 px-3" %>
        </div>
        <!--end::Menu item-->
      </div>
    </div>
  </td>
</tr>
