<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="text-dark fw-bolder my-1 fs-2">Locations 
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item text-muted">Home
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item text-dark">Locations</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
    <div class="d-flex align-items-center flex-nowrap text-nowrap py-1">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_location_modal">Add Location</button>
    </div>
  </div>
</div>
<!--end::Toolbar-->

<%= turbo_frame_tag "locations_display" do %>
  <div class="post fs-6 d-flex flex-column" id="kt_post">
    <div class="container-fluid">
      <!--begin::DisplaySwitcher-->
        <div class="d-flex flex-row w-100 px-5 mb-10" style="height: max-content">
          <a href="<%= locations_path(display: 'table') %>" 
            class="btn btn-light btn-active-light-dark btn-active-icon-primary py-2 px-3 
                    <%= params[:display].nil? || params[:display] == 'table' ? 'active' : '' %>"
            style="height:max-content">
            <span class="svg-icon svg-icon-muted svg-icon-2 m-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path opacity="0.3" d="M2 21V14C2 13.4 2.4 13 3 13H21C21.6 13 22 13.4 22 14V21C22 21.6 21.6 22 21 22H3C2.4 22 2 21.6 2 21Z" fill="black"/>
                <path d="M2 10V3C2 2.4 2.4 2 3 2H21C21.6 2 22 2.4 22 3V10C22 10.6 21.6 11 21 11H3C2.4 11 2 10.6 2 10Z" fill="black"/>
              </svg>
            </span>
          </a>
          <a href="<%= locations_path(display: 'grid') %>" 
            class="btn btn-light btn-active-light-dark btn-active-icon-primary py-2 px-3 me-3
                    <%= params[:display] == 'grid' ? 'active' : '' %>"" 
            style="height:max-content">
            <span class="svg-icon svg-icon-2 m-0">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
                <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
                <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
                <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
              </svg>
            </span>
          </a>
        </div>
      <!--end::DisplaySwitcher-->
      <!--begin::Container-->
        <div class="container-auto px-5">
          <% if notice %>
            <p id="notice"><%= notice %></p>
          <% end %>
          <!--begin::Card-->
          <% if params[:display] == 'grid' %>
            <%= render partial: 'locations_grid', locals: { locations: @locations } %>
          <% else %>
            <%= render partial: 'locations_table', locals: { locations: @locations } %>
          <% end %>
          <!--end::Card-->
        </div>
      <!--end::Container-->
    </div>
  </div>
<% end %>

<div class="modal fade" tabindex="-1" id="new_location_modal" data-controller="modal" data-action="turbo:submit-end->modal#submit">
  <%= turbo_frame_tag "new_location_modal", src: new_location_path do %>
  <% end %>
</div>

<div class="modal fade" tabindex="-1" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal">
  <%= turbo_frame_tag "edit_location_modal" do %>
  <% end %>
</div>