<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="text-dark fw-bolder my-1 fs-2">Locations
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item text-muted">Home</li>
        <li class="breadcrumb-item text-muted">
          <a href="<%= locations_path %>" class="text-muted text-hover-primary">Locations</a>
        </li>
        <li class="breadcrumb-item text-dark"><%= @location.name %></li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Toolbar-->

<div class="post fs-6 d-flex flex-column-fluid justify-content-center" id="kt_post">
  <!--begin::Container-->
    <div class="container-xxl w-100 d-flex" style="max-width: none;">
      <!--begin::OptionsCard-->
        <%= render partial: "options_card", locals: { location: @location } %>
      <!--end::OptionsCard-->
      <% if notice %>
      <p id="notice"><%= notice %></p>
      <% end %>
      <!--begin::LocationCard-->
        <%= render partial: "location_details", locals: { location: @location } %>
      <!--end::LocationCard-->
    </div>
  <!--end:Container-->
</div>
<!--begin::LocationModal-->
<div class="modal fade" tabindex="-1" id="edit_location_modal_<%= @location.id %>" data-controller="modal" data-action="turbo:submit-end->modal#submit">
  <%= turbo_frame_tag "edit_location_modal", src: edit_location_path(@location) do %>
  <% end %>
</div>
<!--end::LocationModal-->
<!--begin::AddPodModal-->
<div class="modal fade" tabindex="-1" id="add_pod_modal" data-controller="modal" data-action="turbo:submit-end->modal#submit">
  <%= turbo_frame_tag "add_pod_modal", src: claim_clients_path(location_id: @location.id) do %>
  <% end %>
</div>
<!--end::AddPodModal-->