<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="page-main-title"><%= @location.name.present? ? @location.name : "Unnamed Location" %> 
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item text--secondary"><%= current_account.name %>
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item text--secondary">Locations</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Toolbar-->

<div class="post fs-6 d-flex flex-column-fluid justify-content-center" id="kt_post">
  <!--begin::Container-->
    <div class="container-xxl w-100 d-flex" style="max-width: none;">
      <!--begin::OptionsCard-->
        <%= render partial: "options_card", locals: { location: @location, style: 'locations' } %>
      <!--end::OptionsCard-->
      <!--begin::LocationCard-->
        <%= render partial: "location_details", locals: { location: @location } %>
      <!--end::LocationCard-->
    </div>
  <!--end:Container-->
</div>
<!--begin::LocationModal-->
<div class="modal fade" tabindex="-1" id="edit_location_modal" data-controller="modal categories" data-action="handleCategorySearch@window->categories#handleCategorySearchResponse turbo:submit-end->modal#submit turbo:frame-render->categories#initializeCategories">
  <%= turbo_frame_tag "edit_location_modal", src: edit_location_path(@location) do %>
  <% end %>
</div>
<!--end::LocationModal-->
<!--begin::AddPodModal-->
<div class="modal fade" tabindex="-1" id="add_pod_modal" data-controller="modal add-pod" data-action="turbo:submit-end->modal#submit">
  <%= turbo_frame_tag "add_pod_modal", src: claim_clients_path(location_id: @location.id) do %>
  <% end %>
</div>
<!--end::AddPodModal-->

<div class="modal fade" tabindex="-1" id="add_pod_modal_step_0" data-controller="add-client-to-location">
    <%= render partial: 'location_clients/add_pod_step_0', locals: { location: @location } %>
</div>

<div class="modal fade" tabindex="-1" id="add_pod_step_1_existing">
    <%= render partial: 'location_clients/add_pod_step_1_existing', locals: { location: @location } %>
</div>

<div class="modal fade" tabindex="-1" id="add_pod_step_2_existing">
    <%= render partial: 'location_clients/add_pod_step_2_existing', locals: { location: @location } %>
</div>