<%= render partial: "application/components/modals/modal_header",
    locals: { title: "Move to network", is_custom: true }
%>
<%= form_with(model: Client, url: bulk_move_to_network_clients_path(), method: :post) do |form| %>
  <div class="modals--content-container" data-type="full">
    <input hidden type="text" name="current_network_id" value="<%= @location&.id %>"/>
    <input hidden type="text" name="ids" value="<%= @clients.map(&:unix_user).to_s %>"/>
    <div class="modals--form-row mb-2">
      <label class="forms--label mb-2">Move pods to...</label>
      <select id="network_select"
        class="form-select forms--select"
        data-placeholder="Choose a Network"
        tabindex="-1"
        data-controller="select2"
        name="location_id"
      >
        <% policy_scope(Location).where.not(id: @location&.id).each do |location| %>
          <option value="<%= location.id %>" label="<%= location.name %>"><%= location.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="modals--footer-container">
    <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Cancel", is_custom: true} %>
    <button type="submit" class="custom-button custom-button--primary custom-button--lg">Move pods</button>
  </div>
<% end %>