<div class="d-flex flex-center flex-column flex-column-fluid devise--sign-in-container" data-controller="registration password-reveal">
  <!--begin::Wrapper-->
  <div class="w-100">
    <div class="text-center mb-10">
      <h1 class="page-main-title">Change your password</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, data: { "registration-target" => "passwordChangeForm" } }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="forms--input-group d-flex flex-column mb-4">
        <%= f.password_field :password,
            autofocus: true,
            autocomplete: "off",
            class: "w-100 forms--text-input forms--text-input-focusable forms--text-input-with-decoration",
            tabindex: 1,
            placeholder: "New password",
            data: {
              "password-reveal-target" => "passwordInput",
              "registration-target" => "passwordInput"
            }
        %>
        <span class="forms--input-decoration btn btn-sm btn-icon"
          data-action="click->password-reveal#toggleVisibility">
          <%= image_tag image_url("hidden-password-icon.png"), class: "invisible", width: "16", height: "16", data: { "password-reveal-target" => "eyeSlashIcon" }%>
          <%= image_tag image_url("visible-password-icon.png"), class: "", width: "16", height: "16", data: { "password-reveal-target" => "eyeIcon" }%>
        </span>
      </div>

      <div class="forms--input-group d-flex flex-column mb-4">
        <%= f.password_field :password_confirmation,
          autocomplete: "off",
          class: "w-100 forms--text-input forms--text-input-focusable forms--text-input-with-decoration",
          tabindex: 2,
          placeholder: "Repeat new password",
          data: { 
            "password-reveal-target" => "passwordConfirmationInput",
            "registration-target" => "passwordCheckInput"
          }
        %>
        <span class="password-confirmation forms--input-decoration btn btn-sm btn-icon"
          data-action="click->password-reveal#toggleVisibility">
          <%= image_tag image_url("hidden-password-icon.png"), class: "invisible password-confirmation", width: "16", height: "16", data: { "password-reveal-target" => "eyeSlashIconConfirmation" }%>
          <%= image_tag image_url("visible-password-icon.png"), class: "password-confirmation", width: "16", height: "16", data: { "password-reveal-target" => "eyeIconConfirmation" }%>
        </span>
      </div>

      <div class="mt-2 devise--alert wrap invisible"
        data-registration-target="alert"
        data-alert-type="alert"
      ></div>

      <p class="additional-text mt-6 mb-8 wrap">Your password must be at least 8 characters with letters, numbers and symbols.</p>

      <div class="text-center mt-8">
        <button type="button"
          class="custom-button custom-button--lg custom-button--primary mx-auto my-2 w-100"
          data-action="click->registration#checkPasswordChange"
          data-registration-target="continueButton"
        >
          Reset password
        </button>
      </div>
      <button type="button"
        class="invisible custom-button custom-button--lg custom-button--primary custom-button--disabled disabled mx-auto w-100"
        disabled="true"
        data-registration-target="continueButtonSpinner"
      >
        <div class="spinner-border spinner-border-sm text-light m-auto" role="status"></div>
      </button>
    <% end %>
  </div>
</div>