<div class="tables--checkbox-container" style="width: <%= widths[0] %>">
  <div class="form-check form-check-sm form-check-custom form-check-solid justify-content-center">
    <input id="check-box-network-<%= index %>"
            class="forms--checkbox"
            type="checkbox"
            value="1"
            data-multi-row-table-target="formCheckBoxInput"
            data-action="input->multi-row-table#onCheckBoxChange"
            data-row-type="Network"
    />
  </div>
</div>

<div class="tables--name-container tables--grows-on-small"
  style="width: <%= widths[1] %>"
  data-url="<%= location_path(row) %>"
  data-action="click->table#goToDetails"
>
  <div class="tables--network-icon-container me-2"
    data-network-status="<%= row.online ? 'online' : 'offline'%>"
  >
    <%= image_tag image_url(row.online ? 'network-online-icon.png' : 'hollow-networks-icon.png'), width: 24, height: 24 %>
    <% if row.online %>
      <div class="tables--network-online-dot"></div>
    <% end %>
  </div>
  <div class="tables--network-name-pod-count-container">
    <p class="tables--network-name ellipsis m-0"><%= row.name %></p>
    <% pod_count = row.clients.count %>
    <span class="tables--network-pod-count ellipsis"><%= pod_count %> pod<%= pod_count != 1 ? 's' : '' %></span>
  </div>
</div>

<div class="tables--hides-on-small"
  style="width: <%= widths[2] %>; max-width: <%= widths[2] %>"
>
  <%= render partial: "categories/components/table_cell", locals: { categories: row.categories, shows_tooltip: true, row: index } %>
</div>

<div class="tables--network-avg-value-diff-container tables--hides-on-small" style="width: <%= widths[3] %>">
  <% download_avg = row.download_avg_and_diff[:avg] %>
  <% download_diff = row.download_avg_and_diff[:diff] %>
    <p class="tables--network-avg-value ellipsis m-0" data-present="true"><%= download_avg.present? ? "#{download_avg.round(2)} Mbps" : '-' %></p>
  <% if download_diff.present? && download_diff != '-' %>
  <span class="widgets--location-diff-text"
        data-negative="<%= download_diff.include?('-') %>"><%= download_diff %></span>
  <% end %>
</div>

<div class="tables--network-avg-value-diff-container tables--hides-on-small" style="width: <%= widths[3] %>">
  <% upload_avg = row.upload_avg_and_diff[:avg] %>
  <% upload_diff = row.upload_avg_and_diff[:diff] %>
  <p class="tables--network-avg-value ellipsis m-0" data-present="true"><%= upload_avg.present? ? "#{upload_avg.round(2)} Mbps" : '-' %></p>
  <% if upload_diff.present? && upload_diff != '-' %>
  <span class="widgets--location-diff-text"
        data-negative="<%= upload_diff.include?('-') %>"><%= upload_diff %></span>
  <% end %>
</div>

<div class="tables--hides-on-small" style="width: <%= widths[5] %>">
  <%= render partial: "application/components/buttons/custom_more_options_button",
      locals: { index: index, type: Location.name, row: row }
  %>
</div>

<a href="<%= location_path(row) %>"
  class="tables--appears-on-small"
  style="width: 5%"
>
  <%= image_tag image_url('caret-right.png'), width: 16, height: 16 %>
</a>