<div class="application--speed-cell">
  <div class="application--speed-cell-header">
    <div class="application-speed-cell-icon-title">
      <%= svg_tag("#{type}-icon.svg", { width: 16, height: 16, class: "#{ diff.include?('-') ? 'svg--fill-red' : 'svg--fill-green'}" }) %>
      <div class="application--speed-cell-value">
        <span class="forms--label ellipsis application--speed-cell-title"><%= "Avg. #{type}" %></span>
        <div class="widgets--location-avg-container wrap">
          <% if avg != "-" %>
            <span class="application--speed-value-text"><%= avg %></span>
            <span class="help-dark-text">Mbps</span>
          <% else %>
            <span class="help-dark-text"><%= avg %></span>
          <% end %>
        </div>
      </div>
    </div>
    <% if diff != "-" %>
      <span class="widgets--location-diff-text"
            data-negative="<%= diff.include?('-') %>"
            data-neutral="<%= diff == "-" %>"
      ><%= diff %></span>
    <% end %>
  </div>
</div>
