---
import styles from './styles/state_guidance_and_recommendations.module.css';
import commonStyles from '../../../common.module.css';
import HeroWithText from "../../common/content/HeroWithText.astro";
import guidanceLight from '../../../assets/images/state-findings-guidance-light.webp';

const { title } = Astro.props;
---

<section class={`${commonStyles.paddedSection} ${styles.section}`} id="guidance-and-recommendations">
  <img src={guidanceLight.src} class={styles.light}/>
  <div class={styles.heroContainer}>
    <HeroWithText head={'Guidance & Recommendations'} title={title}/>
  </div>
</section>
<slot/>
