---
import styles from './styles/state_findings_hero.module.css';
import HeroWithText from "../../common/content/HeroWithText.astro";
import TransparentSecondaryButton from "../../common/buttons/TransparentSecondaryButton.astro";

const { state, head, title, subtitle, reportUrl } = Astro.props;
---

<section class={styles.section}>
  <div class={styles.gradient}></div>
  <div class={styles.heroContainer}>
    <HeroWithText head={head} title={title} content={subtitle} />
  </div>
  <div class={styles.downloadButtonContainer}>
    <TransparentSecondaryButton href={reportUrl} download>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
        <path fill="white" transform="translate(0.25 0.25)" d="M7.75 0C8.1642132 0 8.5 0.33578643 8.5 0.75L8.5 9.9720001L11.21967 7.2530031C11.485936 6.9867368 11.9026 6.9625306 12.196212 7.1803851L12.28033 7.2530031C12.573223 7.5458965 12.573223 8.0207701 12.28033 8.3136635L8.2803297 12.313663C7.9874368 12.606557 7.5125632 12.606557 7.2196698 12.313663L3.2196698 8.3136635C2.9267766 8.0207701 2.9267766 7.5458965 3.2196698 7.2530031C3.5125632 6.9601102 3.9874368 6.9601102 4.2803302 7.2530031L7 9.9720001L7 0.75C7 0.33578643 7.3357863 0 7.75 0ZM14.75 14C15.164213 14 15.5 14.335787 15.5 14.75C15.5 15.164213 15.164213 15.5 14.75 15.5L0.75 15.5C0.33578643 15.5 0 15.164213 0 14.75C0 14.335787 0.33578643 14 0.75 14L14.75 14Z"/>
      </svg>
      Download {state} Report
    </TransparentSecondaryButton>
  </div>
</section>