<div class="card" style="width: 100%; height: max-content; margin-bottom: 25px">
  <div class="card-header d-flex align-items-center" style="height: 65px">
    <div class="card-title fw-bolder" style="font-size: 20px; color: #3f4254">
      Data Usage
    </div>
  </div>
  <div class="card-body pt-0 d-flex flex-row justify-content-start align-items-start">
    <div style="margin-top: 30px; width: 60%">
      <div class="location-data--row mb-6 d-flex flex-row align-items-center justify-content-between flex-wrap">
        <div class="fw-bolder w-50" style="min-width: 130px">Avg. Data Usage</div>
        <div class="fw-bold d-flex flex-row w-100 w-xl-50" style="color: #5e6278; font-size: 14px; <%= client.data_cap_max_usage.nil? ? "color: #b5b5c3;" : "" %>">
          <%= client.get_measurement_data(total_avg) %>
        </div>
      </div>
      <div class="location-data--row mb-6 d-flex flex-row align-items-start justify-content-between flex-wrap">
        <div class="fw-bolder w-50" style="min-width: 130px">Data Cap</div>
        <div class="fw-bold d-flex flex-column w-100 w-xl-50" style="color: #5e6278; font-size: 14px; <%= client.data_cap_max_usage.nil? ? "color: #b5b5c3;" : "" %>">
          <%= client.data_cap_max_usage.nil? ? "Disabled" : "#{(client.data_cap_max_usage / (1024 ** 2)).round(0)} MB per #{client.get_periodicity_period}" %>
          <% if client.data_cap_max_usage.nil? %>
            <div class="d-flex flex-row justify-content-start align-items-center text-hover-light-primary mt-2" style="cursor: pointer">
              <a  href="#"
                  class="fw-bold" 
                  data-bs-target="#manage_pod_data_cap_modal" 
                  data-bs-toggle="modal"
              >
                Enable Data Cap
              </a>
              <span class="svg-icon svg-icon-primary svg-icon-1x ms-1">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1" transform="rotate(-180 18 13)" fill="currentColor"/>
                  <path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z" fill="currentColor"/>
                </svg>
              </span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="location-data--row mb-6 d-flex flex-row align-items-center justify-content-between flex-wrap">
        <div class="fw-bolder w-50" style="min-width: 130px"><%= client.data_cap_periodicity.capitalize() %> Usage</div>
        <div class="fw-bold d-flex flex-row w-100 w-xl-50" style="color: #5e6278; font-size: 14px;">
          <% if client.data_cap_max_usage.nil? %>
            <%= client.data_cap_current_period_usage.nil? ? "N/A" : "#{(client.data_cap_current_period_usage / (1024 ** 2)).round(0)} MB" %>
          <% else %>
            <div class="d-flex flex-row align-items-center justify-content-center">
              <div class="w-100px h-5px d-flex justify-content-start align-items-center" style="border-radius: 6.5px; background-color: <%= client.get_data_cap_percentage_usage >= 80 ? "#fff3f6" : "#e7f6ff" %>">
                <div class="h-5px" style="width: <%= "#{client.get_data_cap_percentage_usage}%" %>; background-color: <%= client.get_data_cap_percentage_usage >= 80 ? "#f1416c" : "#00a3ff" %>; border-radius: 5px"></div>
              </div>
              <p class="ms-3 mt-0 mb-0 me-0"><%= "#{(client.data_cap_current_period_usage / (1024 ** 2)).round(0)} MB (#{client.get_data_cap_percentage_usage}% used)" %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-start" style="width: 40%; margin-top: 30px;">
      <button type="button"
              class="btn btn-primary"
              data-bs-target="#manage_pod_data_cap_modal"
              data-bs-toggle="modal"
      >Manage Data Cap
      </button>
    </div>
  </div>
</div>