<%= form_with(model: client, url: client_data_usage_path(client.unix_user), method: :put, data: {"turbo-frame" => "_top"}) do |form| %>
<div class="modal-dialog" data-controller="client-data-cap-form">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" style="font-size: 20px">Manage Data Cap</h5>
      <!--begin::Close-->
      <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
        <span class="svg-icon svg-icon-muted svg-icon-2hx" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"/>
              <rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="black"/>
              <rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="black"/>
          </svg>
      </span>
        <!--end::Svg Icon-->
      </div>
      <!--end::Close-->
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-6 mb-10 mb-lg-0 w-100">
          <div class="fv-row mb-7 fv-plugins-icon-container">
            <label class="fs-6 fw-bold mb-2">Status</label>
            <div class="form-check form-switch form-check-custom form-check-solid">
              <input class="form-check-input"
                     type="checkbox"
                     role="switch"
                     id="flexSwitchCheckDefault"
                     name="client[wants_to_have_data_cap]"
                     <%= client.data_cap_max_usage.present? ? "checked" : nil %>
                     data-action="input->client-data-cap-form#onSwitchChange"
                />
              <label class="form-check-label" for="flexSwitchCheckDefault">Use a data cap on this Pod</label>
            </div>
          </div>
          <div class="fv-row mb-7 fv-plugins-icon-container">
            <label class="required fs-6 fw-bold mb-2">Data Limit</label>
            <div class="d-flex flex-row justify-content-between align-items-center w-100">
              <div class="input-group" style="width: 47.5%">
                <input value="<%= (client.data_cap_max_usage.nil? ? 0 : (client.data_cap_max_usage / (1024**2)).round(0)) %>"
                       name="client[data_cap_max_usage]"
                       min="1"
                       step="1"
                       class="conditional form-control form-control-solid <%= client.data_cap_max_usage.present? ? '' : 'text-muted'%>"
                       <%= client.data_cap_max_usage.nil? ? "readonly" : nil %>
                       placeholder="0"
                       data-client-data-cap-form-target="dataCapValueInput"
                  />
                <span class="input-group-text" style="background-color: #f5f8fa; border: none; color: #a1a5b7">MB</span>
              </div>
              <div style="width: 47.5%">
                <select id="client_data_cap_periodicity"
                        class="form-select select2-hidden-accessible"
                        data-placeholder="Choose period"
                        tabindex="-1"
                        data-controller="select2"
                        style="background-color: #f5f8fa;"
                        <%= client.data_cap_max_usage.nil? ? "disabled" : nil %>
                        data-client-data-cap-form-target="dataCapValueSelect"
                        name="client[data_cap_periodicity]"
                        data-remove-searchbar="true"
                >
                  <option value="0" label="per day" <%= client.data_cap_max_usage && client.get_data_cap_periodicity_value == 0  ? "selected" : nil%>>per day</option>
                  <option value="1" label="per week" <%= client.data_cap_max_usage && client.get_data_cap_periodicity_value == 1  ? "selected" : nil%>>per week</option>
                  <option value="2" label="per month" <%= client.data_cap_max_usage && client.get_data_cap_periodicity_value == 2  ? "selected" : nil%>>per month</option>
                  <option value="3" label="per year" <%= client.data_cap_max_usage && client.get_data_cap_periodicity_value == 3  ? "selected" : nil%>>per year</option>
                </select>
              </div>
            </div>
          </div>
          <p class="fw-bold" style="width: 100%; font-size: 14px; letter-spacing: 0.1px; color: #a2a5b7">A data cap limits the amount of data this Pod will use for speed tests.
            The current monthly usage is <%= client.data_cap_current_period_usage.present? ? (client.data_cap_current_period_usage / (1024**2)).round(0) : 0%> MB.</p>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex flex-row justify-content-end">
      <!--begin::LaterButton-->
      <button type="button"
              class="btn btn-light"
              data-bs-dismiss="modal"
              style="height: 48px;"
      >Cancel</button>
      <!--end::LaterButton-->
      <!--begin::ContinueButton-->
      <button type="submit"
              class="btn btn-primary <%= client.data_cap_current_period_usage.nil? ? 'disabled' : '' %>"
              style="height: 48px;"
      >Save</button>
      <!--end::ContinueButton-->
    </div>
  </div>
</div>
<% end %>