<%= form_with(model: client, url: client_data_usage_path(client.unix_user), method: :put, data: {"turbo-frame" => "_top"}) do |form| %>
<div class="modal-dialog" data-controller="client-data-cap-form">
  <div class="modal-content">
    <%= render partial: "application/components/modals/modal_header", locals: {title: "Manage Data Cap"} %>
    <div class="modal-body modals--body">
      <div class="forms--row">
        <label class="forms--label mb-2">Status</label>
        <div class="form-check form-switch form-check-custom form-check-solid">
          <input class="forms--checkbox"
                  type="checkbox"
                  role="switch"
                  id="flexSwitchCheckDefault"
                  name="client[wants_to_have_data_cap]"
                  <%= client.data_cap_max_usage.present? ? "checked" : nil %>
                  data-action="input->client-data-cap-form#onSwitchChange"
            />
          <label class="form-check-label regular-text" for="flexSwitchCheckDefault">Use a data cap on this Pod</label>
        </div>
      </div>
      <div class="forms--row  <%= client.data_cap_max_usage.nil? ? 'form-custom-opaque' : '' %>"
            data-client-data-cap-form-target="formRowContainer">
        <label class="required forms--label mb-2">Monthly Data Cap</label>
        <div class="d-flex flex-row justify-content-between align-items-center w-100">
          <div class="input-group forms--input-group">
            <input value="<%= client.data_cap_max_usage.nil? ? client.get_suggested_data_cap(method(:get_value_in_preferred_unit)) : get_value_in_preferred_unit(client.data_cap_max_usage).round(0) %>"
                    name="client[data_cap_max_usage]"
                    min="1"
                    step="1"
                    class="forms--text-input forms--text-input-focusable conditional <%= client.data_cap_max_usage.present? ? '' : 'text-muted'%> w-50 me-2"
                    <%= client.data_cap_max_usage.nil? ? "readonly" : nil %>
                    placeholder="0"
                    data-client-data-cap-form-target="dataCapValueInput"
                    data-action="input->client-data-cap-form#onInputChange"
                    data-client-average-usage="<%= get_value_in_preferred_unit(client.data_cap_current_period_usage).ceil(0) %>"
              />
            <select class="forms--select <%= client.data_cap_max_usage.nil? ? "disabled" : nil %>%"
              data-client-data-cap-form-target="dataUnitSelect"
              data-action="change->client-data-cap-form#onUnitChange"
              name="user[data_cap_unit]"
            >
              <option label="MB" value="mb" <%= current_user.prefers_gb_unit ? nil : 'selected' %>>MB</option>
              <option label="GB" value="gb" <%= current_user.prefers_gb_unit ? 'selected' : nil %>>GB</option>
            </select>
          </div>
        </div>
      </div>
      <div id="data-cap-warning"
            data-client-data-cap-form-target="dataCapWarning"
            class="flex-row justify-content-start align-items-start mb-3"
            style="width: 100%; min-height: 62px; padding: 10px; background-color: rgba(248, 156, 71, 0.05); border: dashed 1px #f89c47; border-radius: 6px; display: <%= client.data_cap_max_usage.present? && client.get_data_cap_percentage_usage == 100 ? 'flex' : 'none' %>; "
      >
        <span class="svg-icon svg-icon-warning svg-icon-2hx me-3">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
            <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor"/>
            <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor"/>
          </svg>
        </span>
        <div class="w-100">
          <p class="w-100 m-0 warning-text"
              data-client-data-cap-form-target="dataCapWarningText"
          >Current month usage (<%= "#{get_value_in_preferred_unit(client.data_cap_current_period_usage).round(0)} #{current_user.data_cap_unit}" %>) is over the entered data cap. No more tests will be run this monthly cycle.</p>
        </div>
      </div>
      <p class="help-text mb-4 wrap">A data cap limits the amount of data this Pod will use for speed tests.</p>
      <div class="forms--row  <%= client.data_cap_max_usage.nil? ? 'form-custom-opaque' : '' %>"
            data-client-data-cap-form-target="formRowContainer"
      >
        <label class="required forms--label mb-2">Monthly usage resets on...</label>
        <div class="d-flex flex-row justify-content-between align-items-center w-100">
          <div class="input-group forms--input-group">
            <select id="client_data_cap_reset"
                    class="forms--select form-select select2-hidden-accessible <%= client.data_cap_max_usage.nil? ? 'select2-custom-disabled' : '' %>"
                    data-placeholder="Choose reset"
                    tabindex="-1"
                    data-controller="select2"
                    style="background-color: #f5f8fa;"
                    aria-disabled="<%= client.data_cap_max_usage.nil? %>"
                    <%= client.data_cap_max_usage.present? ? nil : "disabled" %>
                    data-client-data-cap-form-target="monthlyResetValueSelect"
                    name="client[data_cap_reset]"
                    data-remove-searchbar="true"
                    data-action="select2-select->client-data-cap-form#onSelectChange"
            >
              <option value="1"  label="First day of month" <%= client.data_cap_max_usage.present? && client.data_cap_day_of_month == 1 ? "selected" : nil %>>First day of month</option>
              <option value="-1" label="Last day of month" <%= client.data_cap_max_usage.present? && client.data_cap_day_of_month == -1 ? "selected" : nil %>>Last day of month</option>
              <option value="2"  label="Choose specific day..." <%= client.data_cap_max_usage.present? && client.data_cap_day_of_month != -1 && client.data_cap_day_of_month != 1 ? "selected" : nil %>>Choose specific day...</option>
            </select>
          </div>
          <div class="input-group forms--input-group"
                style="display: <%= client.data_cap_max_usage.present? && client.data_cap_day_of_month != 1 && client.data_cap_day_of_month != -1 ? 'block' : 'none' %>"
                data-client-data-cap-form-target="resetDayInputGroup"
          >
            <select id="client_data_cap_reset_day"
                    class="forms--select form-select select2-hidden-accessible"
                    data-placeholder="Choose reset day"
                    tabindex="-1"
                    data-controller="select2"
                    style="background-color: #f5f8fa;"
                    aria-disabled="<%= client.data_cap_max_usage.nil? %>"
                    data-client-data-cap-form-target="monthlyResetDayValueSelect"
                    name="client[data_cap_day_of_month]"
                    data-remove-searchbar="true"
                    data-action="select2-select->client-data-cap-form#onDaySelectChange"
            >
              <% (1..31).each {|day|  %>
                <option value="<%= day %>"  label="Day <%= day %>" <%= client.data_cap_max_usage.present? && client.data_cap_day_of_month == day ? "selected" : nil %>>Day <%= day %></option>
              <% } %>
            </select>
          </div>
        </div>
      </div>
      <p class="help-text wrap mb-4" data-client-data-cap-form-target="testFrequencyText"><%= client.get_frequency_text %></p>
    </div>
    <div class="modal-footer modals--footer">
      <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Cancel"} %>
      <!--begin::ContinueButton-->
      <button type="submit"
              class="custom-button custom-button--primary custom-button--sm <%= client.data_cap_current_period_usage.nil? ? 'disabled custom-button--disabled' : '' %>"
      >Save</button>
      <!--end::ContinueButton-->
    </div>
  </div>
</div>
<% end %>