<%= form_with(model: client, url: client_scheduling_path(client.unix_user), method: :put, data: {"turbo-frame" => "_top"}) do |form| %>
  <div class="modal-dialog" data-controller="client-scheduling-form">
    <div class="modal-content">
    <%= render partial: "application/components/modals/modal_header", locals: {title: "Manage Custom Scheduling"} %>
      <div class="modal-body modals--body">  
        <div class="forms--row">
          <label class="forms--label mb-2">Status</label>
          <div class="form-check form-switch form-check-custom form-check-solid">
            <input class="form-check-input forms--checkbox"
                    type="checkbox"
                    role="switch"
                    id="flexSwitchCheckDefault"
                    name="client[custom_scheduling]"
                    <%= client.custom_scheduling ? "checked" : nil %>
                    data-action="input->client-scheduling-form#onSwitchChange"
              />
            <label class="form-check-label regular-text" for="flexSwitchCheckDefault">Use a custom scheduling on this Pod</label>
          </div>
        </div>
        <div class="forms--row">
          <label class="required forms--label mb-2">Scheduling</label>
          <div class="d-flex flex-row justify-content-between align-items-center w-100">
            <div class="input-group forms--input-group">
              <input value="<%= client.scheduling_amount_per_period %>"
                      name="client[scheduling_amount_per_period]"
                      min="1"
                      type="number"
                      step="1"
                      class="conditional form-control form-control-solid <%= client.custom_scheduling ? '' : 'text-muted'%> forms--text-input"
                      <%= client.custom_scheduling ? nil : "readonly" %>
                      placeholder="1"
                      data-client-scheduling-form-target="schedulingValueInput"
                      data-action="input->client-scheduling-form#onInputChange"
                />
            </div>
            <div class="input-group forms--input-group">
              <select id="client_scheduling_periodicity"
                      class="form-select select2-hidden-accessible forms--select"
                      data-placeholder="Choose period"
                      tabindex="-1"
                      data-controller="select2"
                      style="background-color: #f5f8fa;"
                      <%= client.custom_scheduling ? nil : "disabled" %>
                      data-client-scheduling-form-target="schedulingValueSelect"
                      name="client[scheduling_periodicity]"
                      data-remove-searchbar="true"
                      data-action="select2-select->client-scheduling-form#onSelectChange"
              >
                <option value="0" label="per hour"  <%= client.custom_scheduling && client.get_scheduling_periodicity_value == 0 ? "selected" : nil %>>per hour</option>
                <option value="1" label="per day"   <%= client.custom_scheduling && client.get_scheduling_periodicity_value == 1 ? "selected" : nil %>>per day</option>
                <option value="2" label="per week"  <%= client.custom_scheduling && client.get_scheduling_periodicity_value == 2 ? "selected" : nil %>>per week</option>
                <option value="3" label="per month" <%= client.custom_scheduling && client.get_scheduling_periodicity_value == 3 ? "selected" : nil %>>per month</option>
              </select>
            </div>
          </div>
        </div>
        <p class="help-text" data-client-scheduling-form-target="podPeriodicityString"><%= client.get_scheduling_periodicity_string %></p>  
      </div>
      <div class="modal-footer modals--footer">
        <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Cancel"} %>
        <!--begin::ContinueButton-->
        <button type="submit"
                class="custom-button custom-button--primary custom-button--sm <%= client.data_cap_current_period_usage.nil? ? 'disabled custom-button--disabled' : '' %>"
        >Save</button>
        <!--end::ContinueButton-->
      </div>
    </div>
  </div>
<% end %>