<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="page-main-title"><%= @client.name.present? ? @client.name : "Unnamed Pod" %> 
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item page-sub-title"><%= current_account.name %>
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item page-sub-title">Pods</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Toolbar-->

<div class="post fs-6 d-flex flex-column-fluid justify-content-center" id="kt_post">
  <!--begin::Container-->
  <div class="clients--details-container">
    <%= render partial: "application/components/tabs/page_tabs",
      locals: {
        tabs: [
          { text: 'Overview', path: client_path(@client.unix_user) },
          { text: 'Measurements', path: client_measurements_path(@client.unix_user) },
          { text: 'Data Usage & Scheduling', path: client_data_usage_and_scheduling_path(@client.unix_user) },
          { text: 'Technical Info', path: client_technical_info_path(@client.unix_user) },
        ]
      }
    %>
    <% if FeatureFlagHelper.is_available('networks', current_user) %>
      <div class="pods--usage-cards-container">
        <%= render partial: "pod_usage/components/data_usage_card", locals: { pod: @client, total_avg: @total_avg } %>
        <%= render partial: "pod_usage/components/data_cap_card", locals: { pod: @client } %>
        <%= render partial: "pod_usage/components/scheduling_card", locals: { pod: @client } %>
      </div>
    <% else %>
      <div class="d-flex flex-column clients--detail-card">
        <!--begin::Data Cap Card-->
        <%= render partial: "data_cap_card", locals: {client: @client, total_avg: @total_avg} %>
        <!--end::Data Cap Card-->
        <!--begin::Scheduling Card-->
        <%= render partial: "scheduling_card", locals: {client: @client} %>
        <!--end::Scheduling Card-->
      </div>
    <% end %>
  </div>
  <!--end::Container-->
</div>

<div class="modal fade" tabindex="-1" id="manage_pod_data_cap_modal" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal">
  <%= render partial: "client_data_usage_and_scheduling/manage_pod_data_cap_modal", locals: {client: @client} %>
</div>

<div class="modal fade" tabindex="-1" id="manage_pod_scheduling_modal" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal">
  <%= render partial: "client_data_usage_and_scheduling/manage_pod_scheduling_modal", locals: {client: @client} %>
</div>
