---
import incomingImageStyles from '../../../common/wrappers/styles/section_with_upcoming_image.module.css';
import BulletPoint from "../../../common/content/BulletPoint.astro";
import HeroWithText from "../../../common/content/HeroWithText.astro";

import verticalIncoming1 from '../../../../assets/images/wv-vertical-incoming-1.webp';
import verticalIncoming2 from '../../../../assets/images/wv-vertical-incoming-2.webp';
---

<div class={incomingImageStyles.mainWrapper}>
    <div id="outreach-strategies" class={incomingImageStyles.rowContainer}>
        <HeroWithText head="Outreach Strategies"
                      title="Effective Local Outreach"
        />
        <div class={incomingImageStyles.bulletPoints} data-borderless="true">
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Leveraging Relationships"
                        content="The West Virginia Primary Care Association's existing relationships with healthcare providers facilitated widespread pod deployments. This approach enabled participation across 104 locations, including 21 healthcare sites and 42 consumer homes."
                        borderless
                >
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: .75">
                    <path fill="#4B7BE5" transform="translate(1 1)" d="M15 0C17.614147 0 19.733334 2.1191854 19.733334 4.7333331C19.733334 7.0471501 18.073109 8.9732008 15.878931 9.3852167C19.625164 9.8191795 22.533333 13.003304 22.533333 16.866667L22.533333 19.666666C22.533333 20.218952 22.085619 20.666666 21.533333 20.666666L19.637667 20.666334L18.795036 29.099504C18.747849 29.571383 18.377687 29.939386 17.916941 29.993212L17.799999 30L12.2 30C11.686249 30 11.256083 29.610706 11.204963 29.099504L10.360666 20.666334L8.4666662 20.666666C7.9538307 20.666666 7.5311594 20.280626 7.4733944 19.783287L7.4666667 19.666666L7.4666667 16.866667C7.4666667 13.003304 10.374836 9.8191795 14.121454 9.384016C11.92689 8.9732008 10.266666 7.0471501 10.266666 4.7333331L10.271538 4.5166683C10.384781 2.0030882 12.458467 0 15 0ZM5.6666665 3.7333333C7.7653489 3.7333333 9.4666662 5.4346514 9.4666662 7.5333333C9.4666662 9.4804821 8.0021629 11.085578 6.1145601 11.307215C6.4420319 11.470063 6.6666665 11.808798 6.6666665 12.2C6.6666665 12.752285 6.2189512 13.2 5.6666665 13.2C3.6416225 13.2 2 14.841622 2 16.866667L2 18.666L2.8666666 18.666666C3.3321958 18.666666 3.7304776 18.98665 3.8381972 19.42948L3.8589447 19.542631L4.6820002 26.132999L7.5333333 26.133333C8.0461693 26.133333 8.4688406 26.519373 8.5266056 27.016712L8.5333338 27.133333C8.5333338 27.685617 8.085618 28.133333 7.5333333 28.133333L3.8 28.133333C3.2956767 28.133333 2.8702757 27.757797 2.8077221 27.257368L1.983 20.666L1 20.666666C0.48716417 20.666666 0.064492837 20.280626 0.0067277313 19.783287L0 19.666666L0 16.866667C0 14.0008 2.1274533 11.631827 4.889215 11.252892C3.163682 10.895251 1.8666667 9.3657589 1.8666667 7.5333333L1.8716112 7.3377857C1.9733871 5.3299804 3.6335685 3.7333333 5.6666665 3.7333333ZM26.233334 4.2424369C27.409058 4.9212413 28.133333 6.175724 28.133333 7.5333333C28.133333 8.8909426 27.409058 10.145425 26.233334 10.82423C25.877565 11.029633 25.496817 11.172881 25.106205 11.253977C27.870487 11.629535 30 13.999413 30 16.866667L30 19.666666C30 20.218952 29.552284 20.666666 29 20.666666L28.015667 20.666L27.192278 27.257368C27.134537 27.719303 26.767622 28.07482 26.314852 28.126781L26.200001 28.133333L22.466667 28.133333C21.914381 28.133333 21.466667 27.685617 21.466667 27.133333C21.466667 26.581049 21.914381 26.133333 22.466667 26.133333L25.316668 26.132999L26.141056 19.542631C26.198797 19.080698 26.56571 18.72518 27.018482 18.67322L27.133333 18.666666L27.999666 18.666L28 16.866667C28 14.906946 26.46258 13.30631 24.528067 13.205083L24.333334 13.2C23.781048 13.2 23.333334 12.752285 23.333334 12.2C23.333334 11.808388 23.558441 11.469352 23.886316 11.305229C23.382128 11.247286 22.887384 11.086377 22.433332 10.82423C21.257608 10.145425 20.533333 8.8909426 20.533333 7.5333333L20.539993 7.3081012C20.615202 6.0381141 21.322927 4.8835301 22.433332 4.2424369C23.609056 3.563632 25.05761 3.563632 26.233334 4.2424369ZM15 11.333333C11.944024 11.333333 9.4666662 13.810691 9.4666662 16.866667L9.4666662 18.666334L11.266666 18.666666C11.740899 18.666666 12.143909 18.998373 12.243313 19.451479L12.261703 19.567163L13.104667 27.999334L16.894667 27.999334L17.738297 19.567163C17.785484 19.095284 18.155645 18.72728 18.616394 18.673456L18.733334 18.666666L20.532667 18.666334L20.533333 16.866667C20.533333 13.883452 18.172541 11.451631 15.217275 11.337521L15 11.333333ZM5.6666665 5.7333331C4.672554 5.7333331 3.8666666 6.5392208 3.8666666 7.5333333C3.8666666 8.5274458 4.672554 9.333333 5.6666665 9.333333C6.660779 9.333333 7.4666667 8.5274458 7.4666667 7.5333333C7.4666667 6.5392208 6.660779 5.7333331 5.6666665 5.7333331ZM23.433332 5.9744873C22.876411 6.2960267 22.533333 6.8902555 22.533333 7.5333333C22.533333 8.1764116 22.876411 8.7706404 23.433332 9.0921793C23.990255 9.4137182 24.676411 9.4137182 25.233334 9.0921793C25.790255 8.7706404 26.133333 8.1764116 26.133333 7.5333333C26.133333 6.8902555 25.790255 6.2960267 25.233334 5.9744873C24.676411 5.6529484 23.990255 5.6529484 23.433332 5.9744873ZM15 2C13.490421 2 12.266666 3.2237551 12.266666 4.7333331C12.266666 6.2429118 13.490421 7.4666667 15 7.4666667C16.509579 7.4666667 17.733334 6.2429118 17.733334 4.7333331C17.733334 3.2237551 16.509579 2 15 2Z"/>
                  </svg>
                </BulletPoint>
            </div>
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Community-Driven Recruitment"
                        content="Engaging local leaders and trusted institutions helped overcome skepticism and encouraged participation."
                        borderless
                >
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="24">
                        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(12.6978 1.5)" d="M4.8996396 0C2.9769237 -0.0092755463 1.2282523 1.1121993 0.43471357 2.8635476C-0.35882515 4.6148958 -0.04904107 6.6690602 1.225693 8.1084967L0.61259085 11.635934L3.806881 9.6659813C5.6413202 10.088742 7.5556722 9.4221621 8.7308064 7.9514627C9.9059401 6.4807639 10.133657 4.4665103 9.3165188 2.7705796C8.4993811 1.0746489 6.7821617 -0.0024905135 4.8996396 0Z" fill-rule="evenodd"/>
                        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3.94961 9.89872)" d="M0 3.1494973C0 4.8889165 1.4100779 6.2989945 3.1494973 6.2989945C4.8889165 6.2989945 6.2989945 4.8889165 6.2989945 3.1494973C6.2989945 1.4100779 4.8889165 0 3.1494973 0C1.4100779 0 0 1.4100779 0 3.1494973" fill-rule="evenodd"/>
                        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.5 17.6001)" d="M11.198213 4.8966107C10.821181 2.0926933 8.4282589 0 5.5991063 0C2.7699533 0 0.37703046 2.0926933 0 4.8966107" fill-rule="evenodd"/>
                    </svg>
                </BulletPoint>
            </div>
        </div>
        <img src={verticalIncoming1.src} alt="simple fixes" class={incomingImageStyles.responsiveImage}/>
    </div>
    <div id="lessons-learned" class={incomingImageStyles.rowContainer}>
        <HeroWithText head="Lessons Learned"
                      title="Key Takeaways"
        />
        <div class={incomingImageStyles.bulletPoints} data-borderless="true">
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Infrastructure Needs Investment"
                        content="Broadband infrastructure in rural West Virginia requires targeted investment to address the significant gaps in speed and reliability, especially among consumers and in more mountainous areas."
                        borderless
                >
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: 0.75">
                        <path fill="#4B7BE5" transform="translate(2 2)" d="M20.066668 10.688889C24.283556 10.688889 27.842165 12.422358 27.994894 14.98359L28 15.155556L28 23.533333C28 26.190601 24.377033 28 20.066668 28C15.7563 28 12.133333 26.190601 12.133333 23.533333L12.133333 15.155556L12.138439 14.98359C12.291168 12.422358 15.849777 10.688889 20.066668 10.688889ZM7.9333334 0C12.150223 0 15.708832 1.7334684 15.861561 4.2947016L15.866667 4.4666667L15.866667 9.0888891C15.866667 9.6411734 15.418951 10.088889 14.866667 10.088889C14.314382 10.088889 13.866667 9.6411734 13.866667 9.0888891L13.867066 7.4921432C12.402204 8.4016542 10.268721 8.9333334 7.9333334 8.9333334C5.5984697 8.9333334 3.4654193 8.4018927 2.0005851 7.4927549L2 8.8000002C2 9.9751873 4.5859346 11.266666 7.9306793 11.26667C8.5515471 11.265022 9.1714821 11.218438 9.7856236 11.127281C10.331923 11.046194 10.840521 11.423325 10.921608 11.969624C11.002694 12.515924 10.625565 13.024521 10.079265 13.105608C9.3696604 13.210934 8.6533632 13.264759 7.9333334 13.266666C5.5985951 13.266666 3.4655342 12.735804 2.0006642 11.826882L2 13.133333C2 14.30852 4.5859346 15.6 7.9368896 15.600006C8.540741 15.602154 9.1439133 15.559325 9.7414026 15.471875C10.287866 15.391893 10.795699 15.770051 10.87568 16.316515C10.955662 16.862976 10.577504 17.37081 10.031041 17.450792C9.3352957 17.552622 8.6329308 17.602495 7.9333334 17.6C5.5985951 17.6 3.4655342 17.069138 2.0006642 16.160215L2 17.466667C2 18.641853 4.5859346 19.933332 7.9306793 19.933336C8.5515471 19.931688 9.1714821 19.885105 9.7856236 19.793947C10.331923 19.712862 10.840521 20.089991 10.921608 20.636292C11.002694 21.18259 10.625565 21.691187 10.079265 21.772274C9.3696604 21.8776 8.6533632 21.931425 7.9333334 21.933332C5.5985951 21.933332 3.4655342 21.40247 2.0006642 20.493549L2 21.799999C2 22.975212 4.5859647 24.26675 7.9367623 24.266756C8.5408068 24.268827 9.1440201 24.225977 9.7414026 24.138542C10.287866 24.058561 10.795699 24.436718 10.87568 24.983181C10.955662 25.529644 10.577504 26.037477 10.031041 26.117458C9.3354654 26.219265 8.6331453 26.269156 7.9333334 26.266911C3.6230001 26.266911 0 24.457273 0 21.799999L0 4.4666667L0.005106051 4.2947016C0.1578353 1.7334684 3.7164438 0 7.9333334 0ZM26.00032 22.226271C24.535421 23.135567 22.401928 23.666666 20.066668 23.666666C17.731405 23.666666 15.597911 23.135567 14.133012 22.226271L14.133333 23.533333C14.133333 24.708521 16.719269 26 20.066668 26C23.414066 26 26 24.708521 26 23.533333L26.00032 22.226271ZM26.000401 18.181032C24.535538 19.090544 22.402054 19.622223 20.066668 19.622223C17.731279 19.622223 15.597796 19.090544 14.132934 18.181032L14.133333 19.200001C14.133333 20.375187 16.719269 21.666666 20.066668 21.666666C23.414066 21.666666 26 20.375187 26 19.200001L26.000401 18.181032ZM20.066668 12.688889C16.718916 12.688889 14.133333 13.981681 14.133333 15.155556C14.133333 16.329432 16.718916 17.622223 20.066668 17.622223C23.414417 17.622223 26 16.329432 26 15.155556C26 13.981681 23.414417 12.688889 20.066668 12.688889ZM7.9333334 2C4.5855832 2 2 3.2927916 2 4.4666667C2 5.640542 4.5855832 6.9333334 7.9333334 6.9333334C11.281084 6.9333334 13.866667 5.640542 13.866667 4.4666667C13.866667 3.2927916 11.281084 2 7.9333334 2Z"/>
                    </svg>
                </BulletPoint>
            </div>
            <div class={incomingImageStyles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
                <BulletPoint
                        title="Local Champions are Vital"
                        content="Establishing trusted community champions proved crucial in fostering participation and sustaining engagement in the program."
                        borderless
                >
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="25">
                      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(9.21708 9.21441)" d="M0 2.85658C0 4.4342256 1.2791865 5.71316 2.8571429 5.71316C4.4350991 5.71316 5.7142859 4.4342256 5.7142859 2.85658C5.7142859 1.2789345 4.4350991 0 2.8571429 0C1.2791865 0 0 1.2789345 0 2.85658" fill-rule="evenodd"/>
                      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(7.7885 17.7842)" d="M0 4.2848701C0 1.9184016 1.9187796 0 4.2857141 0C6.6526489 0 8.5714283 1.9184016 8.5714283 4.2848701L0 4.2848701Z" fill-rule="evenodd"/>
                      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(5.64565 5.64374)" d="M1.8828571 10.972068C-0.62763351 8.4620409 -0.62761694 4.3925109 1.8828943 1.8825048C4.3934054 -0.62750161 8.4637375 -0.62750161 10.974249 1.8825048C13.484759 4.3925109 13.484776 8.4620409 10.974286 10.972068" fill-rule="evenodd"/>
                      <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(2.07422 2.07368)" d="M2.9285715 17.067345C-0.97637832 13.162766 -0.97616297 6.8325481 2.9290524 2.9282351C6.8342676 -0.97607833 13.165732 -0.97607833 17.070948 2.9282351C20.976164 6.8325481 20.976377 13.162766 17.071428 17.067345" fill-rule="evenodd"/>
                    </svg>
                </BulletPoint>
            </div>
        </div>
        <img src={verticalIncoming2.src} alt="Dad and son looking at a computer" class={incomingImageStyles.responsiveImage}/>
    </div>
</div>