<div class="dashboard--top-level-tabs-container">
  <a href="<%= dashboard_path %>"
     target="_top"
     <%= is_active_full_path?(dashboard_path) ? 'data-active=true' : nil %>
  >Overview</a>
  <a href="<%= dashboard_comparison_path %>"
     target="_top"
     <%= is_active_full_path?(dashboard_comparison_path) ? 'data-active=true' : nil %>
  >Compare</a>
</div>

<div class="dashboard--filters-container">
  <%= render partial: "dashboard/components/date_filter",
             locals: {
               menu_id: 'date-range-filter-menu',
               key: 'days',
               default_value: 30,
               default_label: 'Last 30 days',
               options: [
                 { label: 'Last 7 days', value: '7'},
                 { label: 'Last 30 days', value: '30'},
                 { label: 'Last 90 days', value: '90'},
               ],
             }
  %>
</div>