<% if params[:start].present? && params[:end].present? %>
  <% current_filter_label = get_custom_date_range_label(params) %>
<% elsif params[key].present? %>
  <% current_filter_label = options.select {|opt| opt[:value] == params[key]}.first&.fetch(:label) %>
<% end %>
<% current_filter_label ||= default_label %>
<% public_use = local_assigns[:public_use] || false %>
<% no_z_index = local_assigns[:no_z_index] || false %>

<div class="tables--filters-button-container"
     data-controller="filters"
     data-action="click->filters#toggleFiltersMenu"
     data-menu-id="<%= menu_id %>"
     data-is-calendar-open="false"
     data-no-z-index="<%= no_z_index %>"
>
  <button type="button"
          class="custom-button custom-button--sm custom-button--secondary-light"
          data-public-use="<%= public_use %>"
          id="date-filter-button"
  >
    <%= svg_tag('calendar-icon.svg', { class: 'me-2' }) %>
    <%= current_filter_label %>
    <%= image_tag image_url('caret.png'), width: 16, height: 16, class: "ms-2" %>
  </button>
  <div class="tables--filters-menu-container invisible"
       data-filters-target="filtersMenu"
       id="<%= menu_id %>"
  >
    <% options.each do |option| %>
      <%= render partial: "application/components/filters/realtime_filter_option",
                 locals: {
                   base_menu_id: menu_id,
                   custom_actions: "click->dashboard-realtime-filters#selectFilter:prevent",
                   base_button_id: 'date-filter-button',
                   key: 'days',
                   value: option[:value],
                   label: option[:label],
                   active: params[:days] == option[:value] || (option[:value] == RangeEvaluator::LAST_24_HOURS && params[:days].nil? && params[:start].nil? && params[:end].nil?),
                   overridden_keys: "start, end"
                 }
      %>
    <% end %>
    <button class="tables--filters-menu-item table-filter-option active custom-button custom-button--transparent"
            data-action="click->filters#openCalendar"
            data-calendar-id="dashboard-custom-datepicker-<%= menu_id %>"
    >Custom date range...</button>
  </div>
  <div class="dashboard--date-range-filter-container"
       id="dashboard-custom-datepicker-<%= menu_id %>"
       data-controller="dashboard-time-filter"
       hidden="hidden"
       data-action="clearTimeFilter@window->dashboard-time-filter#clearFilter"
  >
    <div class="dashboard--date-range-filter-content-container">
      <div class="forms--input-group">
        <label class="forms--label">Starting date</label>
        <%= render partial: "dashboard/components/date_filter_input", locals: {type: "start"} %>
      </div>
      <div class="forms--input-group">
        <label class="forms--label">End date</label>
        <%= render partial: "dashboard/components/date_filter_input", locals: {type: "end"} %>
      </div>
      <%= render partial: "dashboard/components/datepicker" %>
    </div>
    <div class="dashboard--date-range-filter-footer">
      <button class="custom-button custom-button--transparent"
              data-action="click->dashboard-time-filter#clearFilter"
      >Clear filter</button>
      <button class="custom-button custom-button--primary custom-button--notification"
              data-action="click->dashboard-time-filter#applyDateRange"
      >Apply</button>
    </div>
  </div>
</div>