<div class="dashboard--filters-container">
  <%= render partial: "dashboard/components/date_filter",
             locals: {
               menu_id: 'date-range-filter-menu',
               key: 'days',
               default_value: 30,
               default_label: 'Last 30 days',
               options: [
                 { label: 'Last 7 days', value: '7'},
                 { label: 'Last 30 days', value: '30'},
                 { label: 'Last 90 days', value: '90'},
               ],
             }
  %>
  <% if params[:start] && params[:end] %>
    <% start = Time.at(params[:start].to_i / 1000) %>
    <% end_date = Time.at(params[:end].to_i / 1000) %>
  <% end %>
  <% if current_account.is_all_accounts? %>
    <%= render partial: "application/components/tables/filter",
               locals: {
                 menu_id: 'account-filter-menu',
                 key: 'account_id',
                 default_value: '-1',
                 default_label: 'All accounts',
                 pagination: false,
                 options: [
                   { label: 'All accounts', value: '-1'},
                   *policy_scope(Account).map {|account| { label: account.name , value: "#{account.id}" }}
                 ],
               }
    %>
  <% end %>
  <%= render partial: "application/components/tables/filter",
             locals: {
               menu_id: 'network-filter-menu',
               key: 'network_id',
               default_value: nil,
               default_label: 'All networks',
               pagination: false,
               options: [
                 { label: 'All networks', value: nil},
                 *policy_scope(Location).map {|network| { label: network.name , value: "#{network.id}" }}
               ],
             }
  %>
  <%= render partial: "application/components/tables/filter",
             locals: {
               menu_id: 'category-filter-menu',
               key: 'category_id',
               default_value: nil,
               default_label: 'All categories',
               pagination: false,
               options: [
                 { label: 'All categories', value: nil},
                 *policy_scope(Category).map {|category| { label: category.name , value: "#{category.id}" }}
               ],
             }
  %>
  <%= render partial: "application/components/tables/filter",
             locals: {
               menu_id: 'isp-filter-menu',
               key: 'isp_id',
               default_value: nil,
               default_label: 'All ISPs',
               pagination: false,
               options: [
                 { label: 'All ISPs', value: nil},
                 *policy_scope(AutonomousSystemOrg).map {|isp| { label: isp.name , value: "#{isp.id}" }}
               ],
             }
  %>
</div>