<td class="regular-text" data-controller="localtime" style="width: 30%"><%= measurement.created_at %></td>
<td class="regular-text"><%= measurement.style %></td>
<td class="regular-text"><%= measurement.get_download %></td>
<td class="regular-text"><%= measurement.get_upload %></td>
<td class="regular-text"><%= measurement.get_latency %></td>
<td class="regular-text"><%= measurement.get_jitter %></td>
<td>
  <%= link_to "View Details",
              client_measurement_path(id: measurement.id),
              class: "custom-button custom-button--secondary custom-button--sm px-3",
              data: { turbo_frame: "measurement_details_modal" } %>
</td>