---
import Navbar from "../components/common/layout/Navbar.astro";
import Footer from "../components/common/layout/Footer.astro";
import styles from './styles/layout.module.css';
import BaseHead from "../components/common/layout/BaseHead.astro";

const { title, description, heroVariant, heroBgStyle } = Astro.props;
---

<html lang="en">
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-R9NFQS7DWR"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-R9NFQS7DWR');
	</script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-EMYMMFTBKJ"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-EMYMMFTBKJ');
	</script>
	<!-- End: Google tag -->
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <BaseHead title={title} description={description} />
</head>
<body>
  <div class={styles.heroImage} id="hero-image" data-variant={heroVariant} style={heroBgStyle}></div>
  <Navbar/>
  <main class={styles.main}>
    <slot />
  </main>
  <Footer/>
  
  
  <script defer async>
    window.addEventListener('mousemove', (event) => {
      document.body.setAttribute('data-mouse-position', JSON.stringify({ x: event.clientX, y: event.clientY }));
    });
    
    const mutationObserver = new MutationObserver((mutations) => {
      mutations.forEach((mutation) => {
        const hasIdInUrl = window.location.hash.length > 1;
        
        if(!hasIdInUrl) return;
        const id = window.location.hash.slice(1);
        const element = document.getElementById(id);
        if(element) {
          element.scrollIntoView({ behavior: 'smooth' });
        }
      });
    });
    
    mutationObserver.observe(document.body, { childList: true, subtree: true });
  </script>
</body>
</html>
