---
import Navbar from "../components/common/layout/Navbar.astro";
import Footer from "../components/common/layout/Footer.astro";
import styles from './styles/parallax_layout.module.css';
import BaseHead from "../components/common/layout/BaseHead.astro";

const { bgImageSrc, title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <BaseHead title={title} description={description}/>
  </head>
  <body>
    <main class={styles.parallaxContainer} id="parallax-scrollable-container">
      <div id="parallax-background-image"
           class={styles.parallaxBackgroundImage}
      >
        <img src={bgImageSrc}
          alt="Parallax Background Image"
          loading="eager"
        />
      </div>
      <Navbar/>
      <slot />
      <Footer/>
    </main>
    
    <script>
      const scrollableContainer = document.getElementById("parallax-scrollable-container")!;
      scrollableContainer.style.overflowY = 'hidden';
      
      const parallaxImageContainer = (document.getElementById("parallax-background-image")! as HTMLDivElement);
      const parallaxImage = parallaxImageContainer.querySelector('img')!;
      let initialParallaxImageWidth = 0;
      let initialParallaxImageHeight = 0;
      let initialWhiteLineHeight = 0;
    
      function initialSetup() {
        const scrollableContainer = document.getElementById("parallax-scrollable-container")!;
        const scrollPercentage = scrollableContainer.scrollTop / window.innerHeight;
        
        const mainHero = document.getElementById("parallax-main-hero-text")!;
        const parallaxOverlay = document.querySelector('#parallax-overlay') as HTMLElement;
        
        const initialParallaxOverlayOpacity = 0.70;
        const newOpacity = initialParallaxOverlayOpacity - initialParallaxOverlayOpacity * scrollPercentage;
        parallaxOverlay.style.opacity = newOpacity.toString();
        mainHero.style.opacity = (1 - scrollPercentage * 2).toString();
        
        const whiteLine = document.getElementById("vertical-white-line")!;
        whiteLine.style.opacity = `${1 - scrollPercentage / 2}`;
        const { bottom } = mainHero.getBoundingClientRect();
        const { top: whiteLineTop } = whiteLine.getBoundingClientRect();
        const whiteLineColor = 'rgba(255, 255, 255, 0.2)';
        if(bottom >= whiteLineTop) {
          const percentageOverlap = (bottom - whiteLineTop) / whiteLine.clientHeight;
          whiteLine.style.background = `linear-gradient(to bottom, transparent 0%, transparent ${percentageOverlap * 100}%, ${whiteLineColor} ${percentageOverlap * 100 + 1}%, ${whiteLineColor} 100%)`;
        } else {
          whiteLine.style.height = `${initialWhiteLineHeight}px`;
          whiteLine.style.background = `linear-gradient(to bottom, ${whiteLineColor} 0%, ${whiteLineColor} 100%)`;
        }
        whiteLine.style.bottom = `${scrollPercentage * 100}%`;
        whiteLine.style.opacity = `${1 - scrollPercentage / 2}`;
        
        const {
          top: incomingImageTop,
          bottom: incomingImageBottom,
          width: referenceWidth,
        } = document.getElementById("parallax-content-image")!.getBoundingClientRect();
        
        return { incomingImageTop, incomingImageBottom, referenceWidth };
      }
      
      function getReferences() {
        const incomingImage = document.getElementById("parallax-content-image")! as HTMLImageElement;
        const parallaxImageContainer = document.getElementById("parallax-background-image")! as HTMLDivElement;
        const parallaxImage = parallaxImageContainer.querySelector('img')!;
        const currentPixelsScrolled = document.getElementById("parallax-scrollable-container")!.scrollTop;
        const incomingText = document.getElementById("parallax-reference-container")!;
        return { incomingImage, parallaxImage, parallaxImageContainer, currentPixelsScrolled, incomingText };
      }
      
      function swapIfNecessary(percentageScrolled: number, incomingImage: HTMLImageElement, parallaxImageContainer: HTMLDivElement) {
        const { bottom: incomingBottom, width: incomingWidth } = incomingImage.getBoundingClientRect();
        const { bottom: parallaxBottom, width: parallaxWidth } = parallaxImageContainer.getBoundingClientRect();
        if(percentageScrolled >= 1 &&
           incomingBottom <= parallaxBottom &&
           parallaxWidth <= incomingWidth
         ) {
          parallaxImageContainer.style.opacity = '0';
          incomingImage.style.opacity = '1';
        } else {
          parallaxImageContainer.style.opacity = '1';
          incomingImage.style.opacity = '0';
        }
      }
      
      function handleResponsiveMainParallaxImage() {
        initialSetup();
        const { incomingImage, parallaxImageContainer, parallaxImage, currentPixelsScrolled } = getReferences();
        const THREE_REM = 3 * 16;
        const NAVBAR_HEIGHT = 72;
        const referenceHeight = incomingImage.height;
        const totalPixelsToBeScrolledUntilSwap = referenceHeight + THREE_REM - NAVBAR_HEIGHT;
        let percentageScrolled = currentPixelsScrolled / totalPixelsToBeScrolledUntilSwap;
        let newScale = 1.25 - (0.25 * percentageScrolled);
        newScale = newScale < 1 ? 1 : newScale;
        parallaxImage.style.scale = `${newScale}`;
        
        const newTop = 0 - (THREE_REM * percentageScrolled);
        parallaxImageContainer.style.top = `${newTop}px`;
        
        swapIfNecessary(percentageScrolled, incomingImage, parallaxImageContainer);
      }
      
      function handleMainParallaxImage() {
        const { referenceWidth } = initialSetup();
        const { incomingImage, parallaxImageContainer, parallaxImage, currentPixelsScrolled } = getReferences();
        const SIX_REM = 6 * 16;
        const referenceHeight = incomingImage.height;
        const totalPixelsToBeScrolledUntilSwap = referenceHeight + SIX_REM;
        let percentageScrolled = currentPixelsScrolled / totalPixelsToBeScrolledUntilSwap;
        let newScale = 1.5 - (0.5 * percentageScrolled);
        newScale = newScale < 1 ? 1 : newScale;
        parallaxImage.style.scale = `${newScale}`;
        const percentageBreakpoint = 0.75;
        if(percentageScrolled >= percentageBreakpoint) {
          parallaxImageContainer.style.borderBottomLeftRadius = '1rem';
          parallaxImageContainer.style.borderBottomRightRadius = '1rem';
          const normalizedPercentage = (percentageScrolled - percentageBreakpoint) / (1 - percentageBreakpoint);
          
          const diffBetweenImageWidth = initialParallaxImageWidth - referenceWidth;
          let newWidth = initialParallaxImageWidth - (diffBetweenImageWidth * normalizedPercentage);
          newWidth = newWidth < referenceWidth ? referenceWidth : newWidth;
          parallaxImageContainer.style.minWidth = `${newWidth}px`;
          parallaxImageContainer.style.width = `${newWidth}px`;
          
          const diffBetweenImageHeight = initialParallaxImageHeight - referenceHeight;
          let newHeight = initialParallaxImageHeight - (diffBetweenImageHeight * normalizedPercentage);
          newHeight = newHeight < referenceHeight ? referenceHeight : newHeight;
          parallaxImageContainer.style.height = `${newHeight}px`;
        } else {
          parallaxImageContainer.style.borderBottomLeftRadius = '0';
          parallaxImageContainer.style.borderBottomRightRadius = '0';
          parallaxImageContainer.style.minWidth = `${initialParallaxImageWidth}px`;
          parallaxImageContainer.style.width = `${initialParallaxImageWidth}px`;
          parallaxImageContainer.style.height = `${initialParallaxImageHeight}px`;
        }
        
        swapIfNecessary(percentageScrolled, incomingImage, parallaxImageContainer);
      }
      
      function handleVerticallyShiftedImages() {
        const verticalShiftImageLeft = document.getElementById("vertical-offset-image-left")!;
        const verticalShiftImageRight = document.getElementById("vertical-offset-image-right")!;
        const { top: leftTop } = verticalShiftImageLeft.getBoundingClientRect();
        if(leftTop <= window.innerHeight) {
          const topPercentage = leftTop / window.innerHeight;
          const initialMargin = -40;
          const marginShift = 80;
          const newValue = initialMargin + (marginShift * (1 - topPercentage));
          verticalShiftImageLeft.style.marginTop = `${newValue}px`;
          verticalShiftImageRight.style.marginBottom = `${newValue}px`;
        }
      }
      
      function handleHorizontalShiftImages() {
        const horizontalShiftImage = document.getElementById("horizontal-shift-image")!;
        const {top: horizontalShiftTop} = horizontalShiftImage.getBoundingClientRect();
        const targetShiftPx = 100;
        if (horizontalShiftTop <= window.innerHeight) {
          const topPercentage = horizontalShiftTop / window.innerHeight;
          const newValue = targetShiftPx * (1 - topPercentage);
          horizontalShiftImage.style.transform = `translate3d(calc(-45% - ${newValue}px), -50%, 0)`;
        }
      }
      
      function handleThreeImageCarrousel() {
        const threeImageCarrousel = document.getElementById("three-image-carrousel")!;
        const { top: carrouselTop } = threeImageCarrousel.getBoundingClientRect();
        const targetShiftPx = 100;
        if(carrouselTop <= window.innerHeight) {
          const topPercentage = carrouselTop / window.innerHeight;
          const newValue = targetShiftPx - targetShiftPx * (1 - topPercentage);
          threeImageCarrousel.style.left = `${newValue}px`;
        }
      }
      
      function handleScroll() {
        const windowWidth = window.innerWidth;
        if(windowWidth > 768) {
          handleMainParallaxImage();
          handleVerticallyShiftedImages();
          handleHorizontalShiftImages();
          handleThreeImageCarrousel();
        } else {
          handleResponsiveMainParallaxImage();
        }
      }
      
      
      // Need to "lock" the scrollable container until the image is loaded so that we can get
      // the actual image dimensions post-render
      function handleLoadedImage() {
        scrollableContainer.style.overflowY = 'auto';
        initialParallaxImageWidth = parallaxImageContainer.clientWidth;
        initialParallaxImageHeight = parallaxImageContainer.clientHeight;
        initialWhiteLineHeight = document.getElementById("vertical-white-line")!.clientHeight;
        document.getElementById("parallax-scrollable-container")!.removeEventListener('scroll', handleScroll);
        document.getElementById("parallax-scrollable-container")!.addEventListener('scroll', handleScroll);
      }
      
      if(!parallaxImage.complete) {
        parallaxImage.onload = handleLoadedImage;
      } else {
        handleLoadedImage();
      }
      
      window.addEventListener('resize', handleLoadedImage);
    </script>
</body>
</html>
