---
import styles from './styles/available_resources_card.module.css';
import type {RelatedLink, Resource} from "../../findings/evaluation-results/types";

const { resources, links } = Astro.props;
---

<div class={styles.card}>
  <div class={styles.container}>
    <span>Available Resources</span>
    <ul class={styles.listContainer}>
      {resources.map((resource: Resource) => (
        <li class={styles.listItem}>
          <span class={styles.fileTypeBadge}>{resource.fileType}</span>
          <a href={resource.link} download={resource.filename}>{resource.title}</a>
        </li>
      ))}
    </ul>
  </div>
  <div class={styles.divider}></div>
  <div class={styles.container}>
    <span>Related Links</span>
    <ul class={styles.listContainer}>
      {links.map((link: RelatedLink) => (
        <li class={styles.listItem}>
          <a href={link.link} target="_blank">
            {link.title}
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
              <path fill="#DBDEEA" transform="translate(3.41637 2.74119)" d="M9.099432 0C9.5136452 0 9.849432 0.33578643 9.849432 0.75L9.849432 7.75C9.849432 8.1642132 9.5136452 8.5 9.099432 8.5C8.6852188 8.5 8.349432 8.1642132 8.349432 7.75L8.349 2.5539999L1.2803301 9.6227751C0.98743689 9.9156685 0.51256311 9.9156685 0.21966991 9.6227751C-0.073223308 9.3298817 -0.073223308 8.8550081 0.21966991 8.5621147L7.2810001 1.5L2.0623853 1.5C1.6826895 1.5 1.3688943 1.2178462 1.319232 0.85177058L1.3123853 0.75C1.3123853 0.33578643 1.6481718 0 2.0623853 0L9.099432 0Z" fill-rule="evenodd"/>
            </svg>
          </a>
        </li>
      ))}
    </ul>
  </div>
</div>