<!DOCTYPE html>
<html>
  <head>
    <title>Radar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled aside-fixed aside-default-enabled" data-kt-aside-minimize="on">
    <% if content_for?(:content) %>
      <%= yield(:content) %>
    <% elsif user_signed_in? %>
      <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">
          <!--begin::Aside-->
          <div id="kt_aside" class="aside aside-default aside-hoverable"
               data-kt-drawer="true"
               data-kt-drawer-name="aside"
               data-kt-drawer-activate="{default: true, lg: false}"
               data-kt-drawer-overlay="true"
               data-kt-drawer-width="{default:'200px', '300px': '250px'}"
               data-kt-drawer-direction="start"
               data-kt-drawer-toggle="#kt_aside_toggle"
               data-controller="drawer accounts-drawer-menu"
               data-action="mouseenter->accounts-drawer-menu#handleMouseEnter mouseleave->accounts-drawer-menu#handleMouseLeave"
          >
            <!--begin::Brand-->
            <div class="aside-logo flex-column-auto pt-9 pb-5" id="kt_aside_logo">
              <!--begin::Logo-->
              <a href="<%= dashboard_path %>">
                <img alt="Logo" src="<%= image_url('logo-with-phrase@3x.png') %>" width="108" class="max-h-50px logo-default">
                <img alt="Logo" src="<%= image_url('favico@3x.png') %>" width="32" class="max-h-50px logo-minimize">
              </a>
              <!--end::Logo-->
            </div>
            <!--end::Brand-->
            <!--begin::Aside menu-->
            <div class="aside-menu flex-column-fluid">
              <!--begin::Aside Menu-->
              <!--begin::Menu-->
              <div class="menu menu-column menu-fit menu-rounded menu-title-gray-600 menu-icon-gray-400 menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-5 my-5 mt-lg-2 mb-lg-0" id="kt_aside_menu" data-kt-menu="true" data-controller="menu">
                <div class="menu-fit hover-scroll-y me-lg-n5 pe-lg-5"
                     id="kt_aside_menu_wrapper"
                     data-kt-scroll="true"
                     data-kt-scroll-activate="{default: false, lg: true}"
                     data-kt-scroll-height="auto"
                     data-kt-scroll-wrappers="#kt_aside_menu"
                     data-kt-scroll-offset="20px"
                     data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer"
                >
                  <% if current_account.present? %>
                    <button class="btn d-flex flex-row justify-content-center align-items-center"
                            data-bs-toggle="collapse"
                            data-bs-target="#accounts-collapse"
                            type="button"
                            aria-expanded="false"
                            aria-controls="accounts-collapse"
                            style="padding-left: 0"
                            data-accounts-drawer-menu-target="accountsMenuButton"
                            data-action="click->accounts-drawer-menu#toggleMenu"
                    >
                      <!--begin::AccountIcon-->
                      <div class="d-flex justify-content-center align-items-center fw-bolder"
                           style="width: 40px; height: 40px; background-color: #dbf2ff; color: #00a3ff; font-size: 20px; border-radius: 8px">
                        <%= current_account.name[0].upcase %>
                      </div>
                      <!--end::AccountIcon-->
                      <span class="menu-title sidebar--account-selected-title" style="overflow: hidden; max-width: 120px; margin-left: 15px; white-space: nowrap; text-overflow: ellipsis"><%= current_account.name %></span>
                      <i class="fas fa-angle-right" style="position: absolute; right: 38px;" data-accounts-drawer-menu-target="rightAngle"></i>
                      <i class="fas fa-angle-down" style="position: absolute; right: 38px; display: none; color: #00a3ff;" data-accounts-drawer-menu-target="downAngle"></i>
                    </button>
                    <div id="accounts-collapse" class="collapse">
                    <% current_user.accounts.not_deleted.order("LOWER(name)").each do |account| %>
                      <%= render partial: "accounts/sidebar_account_item", locals: { account: account } %>
                    <% end %>
                    <button type="button"
                            class="sidebar--account-add-button"
                            data-bs-toggle="modal"
                            data-bs-target="#add_account_wizard"
                    >
                      <div class="sidebar--add-account-row text-primary d-flex flex-row">
                        <span class="svg-icon svg-icon-primary svg-icon-1x sidebar--account-add-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"/>
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"/>
                          </svg>
                        </span>
                        <p>Add new account</p>
                      </div>
                    </button>
                  </div>
                  <% else %>
                    <button class="btn d-flex flex-row justify-content-center align-items-center"
                            type="button"
                            style="padding-left: 0"
                            data-bs-toggle="modal"
                            data-bs-target="#add_account_wizard"
                    >
                      <div class="d-flex justify-content-center align-items-center fw-bolder"
                           style="width: 40px; height: 40px; background-color: #dbf2ff; color: #00a3ff; font-size: 20px; border-radius: 8px; border: 1px dashed rgba(0, 163, 255, 0.5)">
                        <span class="svg-icon svg-icon-primary svg-icon-2x" style="margin-right: 0">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black"/>
                            <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black"/>
                          </svg>
                        </span>
                      </div>
                      <span class="menu-title sidebar--account-empty-title text-nowrap" style="margin-left: 15px;">Add new account</span>
                    </button>
                  <% end %>
                  <div style="height: 1px; width: 40px; background-color: #edf0f4; margin-bottom: 15px; margin-top: 16px;"
                       data-accounts-drawer-menu-target="smallDivider"
                  ></div>
                  <div style="height: 1px; width: 190px; background-color: #edf0f4; display: none; margin-bottom: 15px; margin-top: 16px;"
                       data-accounts-drawer-menu-target="fullSizeDivider"
                  ></div>
                  <div class="menu-item mb-5 ms-2">
                    <a class="menu-link <%= active_path?(dashboard_path) %>" href="<%= dashboard_path %>">
                      <span class="menu-icon">
                        <!--begin::Svg Icon | path: /icons/duotune/general/gen002.svg-->
                        <span class="svg-icon svg-icon-2x">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M3 7.19995H10C10.6 7.19995 11 6.79995 11 6.19995V3.19995C11 2.59995 10.6 2.19995 10 2.19995H3C2.4 2.19995 2 2.59995 2 3.19995V6.19995C2 6.69995 2.4 7.19995 3 7.19995Z" fill="black"/>
                            <path opacity="0.3" d="M10.1 22H3.10001C2.50001 22 2.10001 21.6 2.10001 21V10C2.10001 9.4 2.50001 9 3.10001 9H10.1C10.7 9 11.1 9.4 11.1 9V20C11.1 21.6 10.7 22 10.1 22ZM13.1 18V21C13.1 21.6 13.5 22 14.1 22H21.1C21.7 22 22.1 21.6 22.1 21V18C22.1 17.4 21.7 17 21.1 17H14.1C13.5 17 13.1 17.4 13.1 18ZM21.1 2H14.1C13.5 2 13.1 2.4 13.1 3V14C13.1 14.6 13.5 15 14.1 15H21.1C21.7 15 22.1 14.6 22.1 14V3C22.1 2.4 21.7 2 21.1 2Z" fill="black"/>
                          </svg>
                        </span>
                        <!--end::Svg Icon-->
                      </span>
                      <span class="menu-title">Dashboard</span>
                    </a>
                  </div>
                  <% if current_account.present? %>
                    <div class="menu-item mb-5 ms-2">
                      <a class="menu-link <%= active_path?(clients_path) %>" href="<%= clients_path %>">
                        <span class="menu-icon">
                          <span class="svg-icon svg-icon-2x">
                            <!--begin::Svg Icon | path: assets/media/icons/duotune/electronics/elc007.svg-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path d="M12.4409 22C13.5455 22 14.4409 21.1046 14.4409 20C14.4409 18.8954 13.5455 18 12.4409 18C11.3364 18 10.4409 18.8954 10.4409 20C10.4409 21.1046 11.3364 22 12.4409 22Z" fill="black"/>
                              <path opacity="0.3" d="M9.04095 14.8L9.94095 16.1C10.6409 15.6 11.5409 15.3 12.4409 15.3C13.3409 15.3 14.2409 15.6 14.9409 16.1L15.8409 14.8C16.1409 14.3 16.0409 13.6 15.4409 13.4C14.5409 13 13.5409 12.7 12.4409 12.7C11.3409 12.7 10.3409 12.9 9.44095 13.4C8.84095 13.6 8.74095 14.3 9.04095 14.8Z" fill="black"/>
                              <path opacity="0.3" d="M3.14096 5.80005L4.04095 7.19995C6.44095 5.59995 9.34094 4.69995 12.4409 4.69995C15.5409 4.69995 18.4409 5.59995 20.8409 7.19995L21.7409 5.80005C22.0409 5.30005 21.8409 4.70002 21.3409 4.40002C18.7409 2.90002 15.6409 2 12.4409 2C9.24094 2 6.14095 2.90002 3.54095 4.40002C3.04095 4.70002 2.84096 5.30005 3.14096 5.80005Z" fill="black"/>
                              <path opacity="0.3" d="M6.14097 10.3L7.04096 11.7C8.64096 10.7 10.441 10.1 12.541 10.1C14.641 10.1 16.441 10.7 18.041 11.7L18.941 10.3C19.241 9.80005 19.141 9.10002 18.541 8.90002C16.741 7.90002 14.741 7.40002 12.541 7.40002C10.341 7.40002 8.34096 7.90002 6.54096 8.90002C5.94096 9.10002 5.74097 9.80005 6.14097 10.3Z" fill="black"/>
                            </svg>
                            <!--end::Svg Icon-->
                          </span>
                        </span>
                        <span class="menu-title">Pods</span>
                      </a>
                    </div>
                    <div class="menu-item mb-5 ms-2">
                      <a class="menu-link <%= active_path?(locations_path) %>" href="<%= locations_path %>">
                        <span class="menu-icon">
                          <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen018.svg-->
                          <span class="svg-icon svg-icon-2x">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path opacity="0.3" d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z" fill="black"/>
                              <path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z" fill="black"/>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Locations</span>
                      </a>
                    </div>
                    <div class="menu-item mb-5 ms-2">
                      <a class="menu-link <%= active_path?(users_account_index_path) %>" href="<%= users_account_index_path %>">
                        <span class="menu-icon">
                          <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen018.svg-->
                          <span class="svg-icon svg-icon-2x">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path d="M16.0173 9H15.3945C14.2833 9 13.263 9.61425 12.7431 10.5963L12.154 11.7091C12.0645 11.8781 12.1072 12.0868 12.2559 12.2071L12.6402 12.5183C13.2631 13.0225 13.7556 13.6691 14.0764 14.4035L14.2321 14.7601C14.2957 14.9058 14.4396 15 14.5987 15H18.6747C19.7297 15 20.4057 13.8774 19.912 12.945L18.6686 10.5963C18.1487 9.61425 17.1285 9 16.0173 9Z" fill="black"/>
                              <rect opacity="0.3" x="14" y="4" width="4" height="4" rx="2" fill="black"/>
                              <path d="M4.65486 14.8559C5.40389 13.1224 7.11161 12 9 12C10.8884 12 12.5961 13.1224 13.3451 14.8559L14.793 18.2067C15.3636 19.5271 14.3955 21 12.9571 21H5.04292C3.60453 21 2.63644 19.5271 3.20698 18.2067L4.65486 14.8559Z" fill="black"/>
                              <rect opacity="0.3" x="6" y="5" width="6" height="6" rx="3" fill="black"/>
                            </svg>
                          </span>
                          <!--end::Svg Icon-->
                        </span>
                        <span class="menu-title">Users</span>
                      </a>
                    </div>
                  <% end %>
                </div>
              </div>
              <!--end::Menu-->
            </div>
            <!--end::Aside menu-->
            <!--begin::Footer-->
            <div class="aside-footer flex-column-auto pb-5 d-none" id="kt_aside_footer">
              <a href="<%= dashboard_path %>" class="btn btn-light-primary w-100">Button</a>
            </div>
            <!--end::Footer-->
          </div>
          <!--end::Aside-->
          <!--begin::Wrapper-->
          <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
              <!--begin::Container-->
              <div class="container-fluid d-flex align-items-stretch justify-content-between">
                <!--begin::Logo bar-->
                <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                  <!--begin::Aside Toggle-->
                  <div class="d-flex align-items-center d-lg-none">
                    <div class="btn btn-icon btn-active-color-primary ms-n2 me-1" id="kt_aside_toggle">
                      <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                      <span class="svg-icon svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
                          <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
                        </svg>
                      </span>
                      <!--end::Svg Icon-->
                    </div>
                  </div>
                  <!--end::Aside Toggle-->
                  <!--begin::Logo-->
                  <a href="<%= dashboard_path %>" class="d-lg-none">
                    <img alt="Logo" src="<%= image_url('favico@3x.png') %>" class="mh-40px">
                  </a>
                  <!--end::Logo-->
                  <!--begin::Aside toggler-->
                  <div class="btn btn-icon w-auto ps-0 btn-active-color-primary d-none d-lg-inline-flex me-2 me-lg-5 active" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr060.svg-->
                    <span class="svg-icon svg-icon-2 rotate-180">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M9.60001 11H21C21.6 11 22 11.4 22 12C22 12.6 21.6 13 21 13H9.60001V11Z" fill="black"></path>
                        <path d="M6.2238 13.2561C5.54282 12.5572 5.54281 11.4429 6.22379 10.7439L10.377 6.48107C10.8779 5.96697 11.75 6.32158 11.75 7.03934V16.9607C11.75 17.6785 10.8779 18.0331 10.377 17.519L6.2238 13.2561Z" fill="black"></path>
                        <rect opacity="0.3" x="2" y="4" width="2" height="16" rx="1" fill="black"></rect>
                      </svg>
                    </span>
                    <!--end::Svg Icon-->
                  </div>
                  <!--end::Aside toggler-->
                </div>
                <!--end::Logo bar-->
                <!--begin::Topbar-->
                <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                  <!--begin::Spacer-->
                  <div class="d-flex align-items-stretch"></div>
                  <!--end::Spacer-->
                  <!--begin::Toolbar wrapper-->
                  <div class="d-flex align-items-stretch flex-shrink-0">
                    <!--begin::User-->
                    <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
                      <!--begin::Menu wrapper-->
                      <div class="cursor-pointer symbol symbol-35px symbol-lg-35px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                        <% if current_user.avatar.attached? %>
                          <%= image_tag current_user.avatar.variant(resize_to_limit: [35,35]) %>
                        <% else %>
                          <%= image_tag "blank.png" %>
                        <% end %>
                      </div>
                      <!--begin::Menu-->
                      <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 w-275px" data-kt-menu="true" data-controller="menu">
                        <!--begin::Menu item-->
                        <div class="menu-item px-3">
                          <div class="menu-content d-flex align-items-center px-3">
                            <!--begin::Avatar-->
                            <div class="symbol symbol-50px me-5">
                              <% if current_user.avatar.attached? %>
                                <%= image_tag current_user.avatar.variant(resize_to_limit: [50, 50]) %>
                              <% else %>
                                <%= image_tag "blank.png" %>
                              <% end %>
                            </div>
                            <!--end::Avatar-->
                            <!--begin::Username-->
                            <div class="d-flex flex-column">
                              <div class="fw-bolder d-flex align-items-center fs-5">Hello, <%= current_user.first_name %></div>
                              <span class="fw-bold text-muted fs-7"><%= current_user.email %></span>
                            </div>
                            <!--end::Username-->
                          </div>
                        </div>
                        <!--end::Menu item-->
                        <!--begin::Menu separator-->
                        <div class="separator my-2"></div>
                        <!--end::Menu separator-->
                        <!--begin::Menu item-->
                        <div class="menu-item px-5">
                          <a href="<%= edit_user_registration_path %>" class="menu-link px-5">My Profile</a>
                        </div>
                        <!--end::Menu item-->
                        <!--begin::Menu separator-->
                        <div class="separator my-2"></div>
                        <!--end::Menu separator-->
                        <!--begin::Menu item-->
                        <div class="menu-item px-5">
                          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "menu-link px-5" %>
                        </div>
                        <!--end::Menu item-->
                      </div>
                      <!--end::Menu-->
                      <!--end::Menu wrapper-->
                    </div>
                    <!--end::User -->
                  </div>
                  <!--end::Toolbar wrapper-->
                </div>
                <!--end::Topbar-->
              </div>
              <!--end::Container-->
            </div>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
              <%= yield %>
            </div>
            <!--end::Content-->
            <!--begin::Footer-->
            <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
              <!--begin::Container-->
              <div class="container-fluid d-flex flex-column flex-md-row flex-stack">
                <!--begin::Copyright-->
                <div class="text-dark order-2 order-md-1">
                  <span class="text-muted fw-bold me-2"></span>
                  <a href="#" target="_blank" class="text-gray-800 text-hover-primary"></a>
                </div>
                <!--end::Copyright-->
                <!--begin::Menu-->
                <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
                  <!--<li class="menu-item">
                    <a href="#" target="_blank" class="menu-link px-2">About</a>
                  </li>-->
                  <li class="menu-item">
                    <a href="mailto:support@exactlylabs.com?subject=[Radar]" target="_blank" class="menu-link px-2">Support</a>
                  </li>
                </ul>
                <!--end::Menu-->
              </div>
              <!--end::Container-->
            </div>
            <!--end::Footer-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Page-->
      </div>
      <div class="modal fade"
           tabindex="-1"
           id="add_account_wizard"
           data-controller="add-account"
      >
        <%= render partial: "accounts/add_account_wizard/add_account_wizard" %>
      </div>

    <div class="modal fade"
         tabindex="-1"
         id="edit_account_modal"
         aria-hidden="true"
         data-controller="modal"
         data-action="turbo:submit-end->modal#submit"
    >
      <%= yield %>
    </div>
    <div class="modal fade"
         tabindex="-1"
         id="delete_account_modal"
         aria-hidden="true"
         data-controller="modal"
    >
      <%= yield %>
    </div>
    <% end %>

  </body>
</html>
