<!DOCTYPE html>
<html style="font-size: 16px !important;">
  <head>
    <title>Radar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <% if Rails.env.production? %>
      <script
        src="https://browser.sentry-cdn.com/7.9.0/bundle.min.js"
        integrity="sha384-4Q6VnoFQcxYhNxg1ic5R+RRx0fam6rRf9PFAE3oTZhtTV2S8IM7uyl8Bg2z3AFi9"
        crossorigin="anonymous"
      ></script>
      <script>
        // based on sentry.rb file config
        Sentry.init({
          dsn: "https://824cb73d4b5149459eb889296687f94f@o1197382.ingest.sentry.io/6320151",
          tracesSampleRate: 0.0,
          environment: "production",
        });
        <% if current_account.present? %>
          Sentry.setContext("account", { id: <%= current_account.id %>, name: "<%= current_account.name %>" });
        <% end %>
        <% if user_signed_in? %>
          Sentry.setUser({
            id: <%= current_user.id %>,
            email: "<%= current_user.email %>"
          });
        <% end %>
      </script>
    <% end %>
    <script>
      window.onload = function() {
        const userAgent = window.navigator.userAgent;
        if(userAgent && /MSIE|Trident/.test(userAgent)) {
          // need to use className as classList might not be supported yet in old browsers
          const banner = document.getElementById("unsupported-browser-notice");
          banner.className = banner.className.replace("invisible", "");
        }
      };
    </script>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>
  <body data-controller="hello" data-environment="<%= ENV["RAILS_ENV"] %>">
    <% if content_for?(:content) %>
      <%= yield(:content) %>
    <% elsif user_signed_in? %>
      <div class="application--main-container">
        <%= render partial: "application/components/misc/supported_browsers_banner" %>
        <%= render partial: "application/components/sidebar/new_sidebar" %>
        <div class="application--content-container">
          <%= yield %>
        </div>
      </div>
      
      <div class="modal fade"
        tabindex="-1"
        data-controller="modal"
        data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal"
      >
        <%= turbo_frame_tag "add_member_modal" do %>
        <% end %>
      </div>
      <%= render partial: "application/components/modals/turbo_modal",
        locals: { turbo_frame_tag_id: "create_account_modal" }
      %>
      <%= render partial: "application/components/modals/turbo_modal",
          locals: { turbo_frame_tag_id: "edit_account_modal" }
      %>
      <%= render partial: "application/components/modals/turbo_modal",
          locals: { turbo_frame_tag_id: "delete_account_modal" }
      %>
    <% end %>
    <%= render partial: "application/notice_alert", locals: {notice: notice.present? ? notice : @notice} %>
    <%= render partial: "application/components/alerts/empty_notice_alert", locals: {notice: notice.present? ? notice : @notice} %>
    <%= turbo_frame_tag 'realtime-notice' do %>
    <% end %>
    <div data-controller="downloads">
      <%= render partial: "application/components/downloads/download_progress_alert" %>
      <%= render partial: "application/components/downloads/download_complete_alert" %>
      <%= render partial: "application/components/downloads/download_error_alert" %>
    </div>
  </body>
</html>
