
<div class="d-flex flex-center flex-column flex-column-fluid">
	<!--begin::Wrapper-->
	<div class="w-lg-500px p-10 p-lg-15 mx-auto">
		<!--begin::Form-->
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false }, class: "form w-100 fv-plugins-bootstrap5 fv-plugins-framework" }) do |f| %>
			<!--begin::Heading-->
			<div class="text-center mb-10">
				<!--begin::Title-->
				<h1 class="page-main-title">Sign In to Radar</h1>
				<!--end::Title-->
				<!--begin::Link-->
				<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
				<div class="additional-text">New Here?
				<a href="<%= new_registration_path(resource_name) %>" class="regular-link">Create an Account</a></div>
				<% end %>
				<!--end::Link-->
			</div>
			<!--begin::Heading-->
			<div class="fv-plugins-message-container invalid-feedback">
				<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
				<%- end -%>
			</div>
			<!--begin::Input group-->
			<div class="forms--input-group d-flex flex-column mb-4">
				<!--begin::Label-->
				<label class="forms--label mb-2 required">Email</label>
				<!--end::Label-->
				<!--begin::Input-->
				<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "forms--text-input", tabindex: 1 %>
				<!--end::Input-->
			<div class="fv-plugins-message-container invalid-feedback"></div></div>
			<!--end::Input group-->
			<!--begin::Input group-->
			<div class="forms--input-group d-flex flex-column mb-4">
				<!--begin::Wrapper-->
				<div class="d-flex flex-stack mb-2">
					<!--begin::Label-->
					<label class="forms--label mb-2 required">Password</label>
					<!--end::Label-->
					<!--begin::Link-->
					<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
					<a href="<%= new_password_path(resource_name) %>" class="regular-link" tabindex="4">Forgot Password ?</a>
					<% end %>
					<!--end::Link-->
				</div>
				<!--end::Wrapper-->
				<div class="position-relative mb-3" data-controller="password-reveal">
					<!--begin::Input-->
					<%= f.password_field :password, autocomplete: "current-password", class: "forms--text-input forms--text-input-with-decoration w-100", tabindex: 2, data: { "password-reveal-target" => "passwordInput" } %>
					<!--end::Input-->
					<span class="forms--input-decoration btn btn-sm btn-icon"
								data-action="click->password-reveal#toggleVisibility">
						<i data-password-reveal-target="eyeSlashIcon" class="bi bi-eye-slash fs-2"></i>
						<i data-password-reveal-target="eyeIcon" class="bi bi-eye fs-2 d-none"></i>
        	</span>
				</div>
			<div class="fv-plugins-message-container invalid-feedback"></div></div>
			<!--end::Input group-->
			<!--begin::Actions-->
			<div class="text-center">
				<!--begin::Submit button-->
				<%= f.submit "Sign In", class: "custom-button custom-button--lg custom-button--primary mx-auto my-2", tabindex: 3 %>
				<!--end::Submit button-->
				<!--begin::Google link-->
				<!--<a href="#" class="btn btn-light-primary btn-lg fw-bolder my-2">-->
				<!--end::Google link-->
			</div>
			<!--end::Actions-->
		<div></div><% end %>
		<!--end::Form-->
	</div>
	<!--end::Wrapper-->
</div>
<!--end::Content-->