---
import HeroWithText from "../common/HeroWithText.astro";
import styles from './broadband_modal.module.css';
import image from '../../assets/images/broadband.webp';
---

<div id="broadband-modal-content" class={styles.content}>
  <section class={styles.modalHero}>
    <div class={styles.bgImage} data-bg-image={'true'} style={`background-image: url(${image.src})`}></div>
    <div class={styles.gradient}></div>
    <div class={styles.heroContainer}>
      <HeroWithText head="Broadband Mapping" title="Explore Broadband Nationwide" content="Explore a comprehensive online map aggregating millions of anonymized crowd-sourced internet speed tests across the U.S. This tool reveals the real median speeds experienced at state, county, and tribal levels, enabling users to track changes in internet quality over time, compare ISPs, and explore test data categorized by the FCC’s served, underserved, and unserved areas." />
    </div>
  </section>
  <div style="height: 2000px"></div>
</div>