<section class="landing--top-most-section">
  <nav class="landing--navbar">
    <div class="landing--navbar-logos-container">
      <%= image_tag image_url('new-radar-logo.png'), class: 'landing--radar-logo' %>
      <div class="landing--logo-divider"></div>
      <%= image_tag image_url('tbpp-logo-navbar.png'), class: 'landing--tbpp-logo' %>
    </div>
    <div class="landing--navbar-links-container">
      <!-- <a href="/users/sign_in" class="landing--transparent-button">Log in</a> -->
      <a href="<%= get_started_modal_path %>" class="landing--primary-button" data-turbo="true" data-turbo-frame="get_started_modal" data-turbo-stream="true">
        Join the program
      </a>
    </div>
  </nav>
  <section class="landing--hero">
    <h1>Helping rural America get better Internet connectivity.</h1>
    <p>The Telehealth Broadband Pilot Program wants to understand, with your help, where and how quality Internet affects access to online services for rural Americans. Help us gather the necessary data.</p>
    <a href="<%= get_started_modal_path %>" class="landing--primary-button" data-turbo="true" data-turbo-frame="get_started_modal" data-turbo-stream="true">
      Join us today
      <%= image_tag image_url('arrow-right-white.png'), width: 16, height: 16 %>
    </a>
    <%= image_tag image_url('landing-houses-big.png'), id: 'houses' %>
  </section>
</section>

<section class="landing--insights-section">
  <div class="landing--insights-content">
    <div class="landing--insights-content-text">
      <h4>Together, we will get real insights about Internet quality in rural America.</h4>
      <p>We developed Radar Pods to enable Internet consumers to collect real data about the actual quality of their Internet service. We are looking to use it with you to find real insights about rural Internet speed.</p>
    </div>
    <%= image_tag image_url('insight-houses-big.png'), id: 'insight-houses' %>
    <div class="landing--insights-bullet-points-container">
      <%= render partial: "public/components/landing_bullet_point",
                 locals: {
                   icon_url: 'compare-locations-icon.png',
                   title: 'Join the program',
                   content: "Whether you're an individual or a business, we want you to take a Radar Pod and plug it into your Internet connection for 90 days, to collect data regarding internet speed and Internet outages."
                 }
      %>
      <%= render partial: "public/components/landing_bullet_point",
                 locals: {
                   icon_url: 'insights-icon.png',
                   title: 'Help us getting insights',
                   content: "We will use our Pod data to get insights about the actual quality of your Internet service and understand where Internet infrastructure improvements need to be made."
                 }
      %>
      <%= render partial: "public/components/landing_bullet_point",
                 locals: {
                   icon_url: 'schedule-tests-icon.png',
                   title: 'Track your Internet performance',
                   content: 'We encourage you to interact with your own data and keep your Pods after the 90-day period. The data will help you understand the performance of your own Internet connection.'
                 }
      %>
    </div>
  </div>
</section>

<section class="landing--states-section" data-controller="state-tabs">
  <div class="landing--states-join-program-container">
    <%= image_tag image_url('dashed-line.png'), width: 1, height: 48, id: 'dashed-line' %>
    <%= image_tag image_url('join-program-icon.png'), width: 32, height: 32 %>
    <span>Participate in our program</span>
  </div>
  <h4>We're looking for all businesses and residential internet consumers in our study areas.</h4>
  <%= render partial: "public/components/landing_state_tabs" %>
</section>

<section class="landing--connectivity-section">
  <div class="landing--connectivity-title-container">
    <h2>See what's wrong with your connectivity at a glance.</h2>
    <div class="landing--connectivity-cards-container">
      <%= image_tag image_url('office-home-cards-big.png'), id: 'top' %>
      <%= image_tag image_url('oval-shadow-big.png'), id: 'bottom' %>
    </div>
  </div>
  <div class="landing--connectivity-bullets-container">
    <%= render partial: "public/components/landing_bullet_point",
               locals: {
                 icon_url: 'track-performance-icon.png',
                 title: 'Track performance',
                 content: 'Analyze how your connectivity performs during peak-times and compare it to past performance.'
               }
    %>
    <%= render partial: "public/components/landing_bullet_point",
               locals: {
                 icon_url: 'network-outages-icon.png',
                 title: 'Detect network outages',
                 content: 'Keep track of any network outages and know when your internet connection goes offline.'
               }
    %>
    <%= render partial: "public/components/landing_bullet_point",
               locals: {
                 icon_url: 'compare-locations-icon.png',
                 title: 'Compare locations',
                 content: 'Have multiple locations set up and see how your internet providers compare to each other.'
               }
    %>
    <%= render partial: "public/components/landing_bullet_point",
               locals: {
                 icon_url: 'schedule-tests-icon.png',
                 title: 'Go beyond speeds',
                 content: 'Get insights on what impacts your video streaming and calls by analyzing different metrics.'
               }
    %>
  </div>
</section>


<section class="landing--qa-section" data-controller="qa">
  <div class="landing--qa-content">
    <h4>Questions? We've got you covered.</h4>
    <%= render partial: "public/components/landing_qa" %>
  </div>
</section>


<section class="landing--contact-section">
  <h4>Get in touch with us.</h4>
  <p>Our local teams can help you get started with Radar Pods.</p>
  <div class="landing--phones-container">
    <div class="landing--phone">
      <h6>Michigan</h6>
      <p>+1 (989) 484-9883</p>
      <a href="mailto:michigan@radartoolkit.com">michigan@radartoolkit.com</a>
    </div>
    <div class="landing--phone-divider"></div>
    <div class="landing--phone">
      <h6>West Virginia</h6>
      <p>+1 (304) 814-2684</p>
      <a href="mailto:westvirginia@radartoolkit.com">westvirginia@radartoolkit.com</a>
    </div>
    <div class="landing--phone-divider"></div>
    <div class="landing--phone">
      <h6>Alaska</h6>
      <p>+1 (206) 895-2825</p>
      <a href="mailto:alaska@radartoolkit.com">alaska@radartoolkit.com</a>
    </div>
    <div class="landing--phone-divider"></div>
    <div class="landing--phone">
      <h6>Texas</h6>
      <p>+1 (806) 758-7932</p>
      <a href="mailto:texas@radartoolkit.com">texas@radartoolkit.com</a>
    </div>
  </div>
  <p class="landing--contact-alternative">You can also contact our Radar Toolkit team by calling +1 (206) 895-2825 or send us a message to <a href="mailto:info@radartoolkit.com">info@radartoolkit.com</a>.</p>

  <div class="landing--get-started-box">
    <h5>Join the effort today.</h5>
    <p>Let's help rural America get better Internet connectivity together.</p>
    <a href="<%= get_started_modal_path %>" class="landing--primary-button" data-turbo="true" data-turbo-frame="get_started_modal" data-turbo-stream="true">
      Get started
      <%= image_tag image_url('arrow-right-white.png'), width: 16, height: 16 %>
    </a>
  </div>

  <div class="landing--logos-container">
    <% logo_urls = %w{radar-logo-landing.png ttuhsc-logo.png wvpca-logo.png cmu-logo.png anthc-logo.png exactly-logo.png xlab-logo.png} %>
    <% logo_urls.each do |url| %>
      <%= image_tag image_url(url) %>
    <% end %>
  </div>
</section>

<section class="landing--footer-tbpp">
  <div class="landing--footer-tbpp-content">
    <%= image_tag image_url('tbpp-dark-logo.png') %>
    <div class="landing--contact-vertical-divider"></div>
    <div class="landing--contact-divider"></div>
    <div>
      <p>This project was developed as part of the <b>Telehealth Broadband Pilot Program (TBPP)</b>.</p>
      <p>The TBPP is made possible by grant #GA540183 from the <b>Office for the Advancement of Telehealth, Health Resources and Services Administration (HRSA), Department of Health & Human Resources (DHHS)</b>.</p>
    </div>
  </div>
</section>


<footer class="landing--footer">
  <div class="landing--footer-content">
    <p>Copyright © <%= Time.now.year %> Radar. All rights reserved.</p>
    <div>
      <a href="https://radartoolkit.com/privacy-policy">Privacy Policy</a>
    </div>
  </div>
</footer>

<%= render partial: "application/components/modals/turbo_modal",
           locals: { turbo_frame_tag_id: "get_started_modal", optional_added_controllers: 'public-page-modal' }
%>