<p id="notice"><%= notice %></p>

<p>
  <strong>Style:</strong>
  <%= @measurement.style %>
</p>

<p>
  <strong>Result:</strong>
  <%= link_to @measurement.result.filename, @measurement.result if @measurement.result.attached? %>
</p>

<p>
  <strong>Download:</strong>
  <%= @measurement.download %>
</p>

<p>
  <strong>Upload:</strong>
  <%= @measurement.upload %>
</p>

<p>
  <strong>Latency:</strong>
  <%= @measurement.latency %>
</p>

<p>
  <strong>Jitter:</strong>
  <%= @measurement.jitter %>
</p>

<%= link_to 'Edit', edit_client_measurement_path(@client.unix_user, @measurement) %> |
<%= link_to 'Back', client_measurements_path(@client.unix_user) %>
