<% custom_url = local_assigns[:custom_url] || nil %>
<% responsive = local_assigns[:responsive] || false %>

<div class="widgets--widget" data-widget-type="<%= type %>" data-pod-page="<%= custom_url.present? %>">
  <%= render partial: "application/components/widgets/widget_header", locals: { type: type } %>
  <div class="widgets--widget-content">
    <% case type %>
    <% when WidgetsHelper::WidgetTypes::LOCATIONS_MAP %>
      <%= render partial: "application/components/widgets/locations_map/locations_map" %>
    <% when WidgetsHelper::WidgetTypes::ONLINE_POD_COUNT %>
      <%= render partial: "dashboard/components/widgets/online_pods" %>
    <% when WidgetsHelper::WidgetTypes::DOWNLOAD_SPEED %>
      <%= render partial: "dashboard/components/widgets/download_speeds", locals: { custom_url: custom_url, responsive: responsive } %>
    <% when WidgetsHelper::WidgetTypes::UPLOAD_SPEED %>
      <%= render partial: "dashboard/components/widgets/upload_speeds", locals: { custom_url: custom_url, responsive: responsive } %>
    <% when WidgetsHelper::WidgetTypes::LATENCY %>
      <%= render partial: "dashboard/components/widgets/latency", locals: { custom_url: custom_url, responsive: responsive } %>
    <% when WidgetsHelper::WidgetTypes::DATA_USAGE %>
      <%= render partial: "dashboard/components/widgets/data_usage", locals: { custom_url: custom_url, responsive: responsive } %>
    <% when WidgetsHelper::WidgetTypes::TOTAL_DATA %>
      <%= render partial: "dashboard/components/widgets/total_data", locals: { custom_url: custom_url, responsive: responsive } %>
    <% when WidgetsHelper::WidgetTypes::OUTAGES %>
      <%= render partial: "dashboard/components/widgets/outages" %>
    <% else %>
      <%= render partial: "application/components/widgets/locations_map/locations_map" %>
    <% end %>
  </div>
</div>