<div class="card w-100 mb-6">
  <div class="card-header d-flex align-items-center" style="height: 65px">
    <div class="dialog-main-title">
      Technical Info
    </div>
  </div>
  <div class="card-body pt-0 d-flex flex-row justify-content-start align-items-start">
    <div style="margin-top: 30px; width: 100%">
      <div class="location-data--row mb-6 d-flex flex-row align-items-start justify-content-between flex-wrap">
        <div class="forms--label" style="width: 25%; min-width: 130px">Pod Version</div>
        <div class="fw-bold d-flex flex-column <%= client.target_client_version.nil? || client.client_version.nil? ? "additional-text" : "regular-text" %>" style="width: 75%;">
          <%= client.client_version.nil? ? "-" : client.client_version.version %>
          <% if client.target_client_version.present? && client.client_version.present? %>
            <span class="additional-text"><%= client.target_client_version.version == client.client_version.version ? "Latest version" : "Outdated version" %></span>
          <% end %>
        </div>
      </div>
      <div class="location-data--row mb-6 d-flex flex-row align-items-center justify-content-between flex-wrap">
        <div class="forms--label" style="width: 25%; min-width: 130px">Pod Type</div>
        <div class="fw-bold d-flex flex-row <%= client.raw_watchdog_version.nil? ? "additional-text" : "regular-text" %>" style="width: 75%;">
          <%= client.raw_watchdog_version.nil? ? "Software Installed" : "Physical Pod" %>
        </div>
      </div>
      <div class="location-data--row mb-6 d-flex flex-row align-items-center justify-content-between flex-wrap">
        <div class="forms--label" style="width: 25%; min-width: 130px">MAC address</div>
        <div class="fw-bold d-flex flex-row <%= client.network_interfaces.nil? ? "additional-text" : "regular-text" %>" style="width: 75%;">
          <%= client.get_mac_address %>
        </div>
      </div>
      <div class="location-data--row mb-6 d-flex flex-row align-items-center justify-content-between flex-wrap">
        <div class="forms--label" style="width: 25%; min-width: 130px">Agent Version</div>
        <div class="fw-bold d-flex flex-row <%= client.raw_version.nil? ? "additional-text" : "regular-text" %>" style="width: 75%;">
          <%= client.raw_version.nil? ? "Not Available" : client.raw_version %>
        </div>
      </div>
      <div class="location-data--row mb-6 d-flex flex-row align-items-center justify-content-between flex-wrap">
        <div class="forms--label" style="width: 25%; min-width: 130px">OS Version</div>
        <div class="fw-bold d-flex flex-row <%= client.os_version.nil? ? "additional-text" : "regular-text" %>" style="width: 75%;">
          <%= client.os_version.nil? ? "Not Available" : pod_os_to_human(client.os_version) %>
        </div>
      </div>
      <div class="location-data--row mb-6 d-flex flex-row align-items-center justify-content-between flex-wrap">
        <div class="forms--label" style="width: 25%; min-width: 130px">Hardware Platform</div>
        <div class="fw-bold d-flex flex-row <%= client.hardware_platform.nil? ? "additional-text" : "regular-text" %>" style="width: 75%;">
          <%= client.hardware_platform.nil? ? "Not Available" : client.hardware_platform %>
        </div>
      </div>
    </div>
  </div>
</div>