<%= render partial: "application/components/modals/modal_header",
           locals: { title: "Add a pod", is_custom: true }
%>
<%#= form_with(url: get_add_pod_modal_clients_path, method: :get, data: { turbo: true, turbo_stream: true }) do |form| %>
<div class="modal-body modals--body d-flex flex-column justify-content-center align-items-center text-center">
  <input hidden
         type="text"
         name="network_id"
         value="<%= resource.id %>"
    />
  <div class="pods--ask-add-pod-icon-container">
    <%= image_tag image_url('pod-online-icon.png'), width: 32, height: 32 %>
  </div>
  <h3 class="pods--ask-add-pod-title wrap">Would you like to add a pod to your network?</h3>
  <span class="additional-text wrap">Pods keep connected to your Internet network and perform various tests throughout the day or at your request.</span>
</div>
<div class="modal-footer modals--footer">
  <%= render partial: "application/components/buttons/close_modal_button", locals: { text: "Not now", is_custom: true } %>
  <%= link_to get_add_pod_modal_clients_path, data: { method: :get, turbo_stream: true }, class: "custom-button custom-button--primary custom-button--lg" do %>
    <%= image_tag image_url('white-plus.png'), width: 16, height: 16, class: 'me-2' %>
    Add Pod
  <% end %>
  <!--    <button type="submit"-->
  <!--            class="custom-button custom-button--primary custom-button--sm"-->
  <!--    >-->
  <%#= image_tag image_url('white-plus.png'), width: 16, height: 16, class: 'me-2' %>
  <!--      Add Pod-->
  <!--    </button>-->
</div>
<%# end %>

