<% raise "Filter key is required" if local_assigns[:key].nil? %>
<% raise "Label is required" if local_assigns[:label].nil? %>
<% raise "Value is required" if local_assigns[:value].nil? %>
<% raise "Base button ID is required" if local_assigns[:base_button_id].nil? %>
<% active = local_assigns[:active] || false %>
<% custom_actions = local_assigns[:custom_actions] || '' %>

<button class="tables--filters-menu-item outages table-filter-option <%= active ? 'active' : '' %>"
        data-value="<%= value %>"
        data-key="<%= key %>"
        data-label="<%= label %>"
        data-action="click->realtime-filters#selectFilter <%= custom_actions %>"
        data-realtime-filters-target="filter"
        data-base-button-id="<%= base_button_id %>"
>
  <%= label %>
  <%= image_tag image_url('checkmark-blue-icon.png'), width: 16, height: 16 %>
</button>