---
import styles from './styles/approach_data_collection_card.module.css';
import ReadMoreButton from "../common/buttons/ReadMoreButton.astro";
const { title, content, image } = Astro.props;
---

<li class={styles.card}>
  <img src={image.src}
    class={styles.cardImage}
    alt={`${title} image`}
  />
  <h4 class={styles.title}>{title}</h4>
  <p class={styles.content}>{content}</p>
  <ReadMoreButton href="/resources" text="Learn More" />
</li>