---
import styles from './styles/scrolling_timeline.module.css';

const { title, content, side } = Astro.props;
---

<div class={styles.timelineItem} data-side={side}>
  <h6 class={styles.timelineItemTitle}>{title}</h6>
  <p class={styles.timelineItemContent}>{content}</p>
</div>