---
import '../../global.css';
import styles from './styles/template.module.css';
import BaseLayout from "../../layouts/BaseLayout.astro";
import StateFindingsHero from "../../components/findings/states/StateFindingsHero.astro";
import StateFindingsOverview from "../../components/findings/states/StateFindingsOverview.astro";
import StateGuidanceAndRecommendations from "../../components/findings/states/StateGuidanceAndRecommendations.astro";
import SectionWithIncomingImage from "../../components/common/wrappers/SectionWithIncomingImage";
import BulletPoint from "../../components/common/content/BulletPoint.astro";
import StateFindings from "../../components/findings/states/StateFindings.astro";
import StateFindingsInANutshell from "../../components/findings/FindingsBottomSection.astro";
import Tab from "../../components/common/misc/Tab.astro";
import FloatingTabs from "../../components/common/misc/FloatingTabs.astro";
import AlaskaGuidanceAndRecommendationsContent
  from "../../components/findings/states/alaska/AlaskaGuidanceAndRecommendationsContent.astro";
import Modal from "../../components/common/wrappers/Modal.astro";
import StateFindingsButton from "../../components/findings/states/StateFindingsButton.astro";
import StateFindingsModal from "../../components/findings/states/StateFindingsModal.astro";

import findingsHero from '../../assets/images/alaska-findings-hero.webp';
import stateImage from '../../assets/images/alaska-state-image.webp';
import findingThumbnail1 from '../../assets/images/alaska-findings-thumbnail-1.webp';
import findingThumbnail2 from '../../assets/images/alaska-findings-thumbnail-2.webp';
import findingThumbnail3 from '../../assets/images/alaska-findings-thumbnail-3.webp';
import outreachStrategies from '../../assets/images/alaska-vertical-incoming-1.webp';
import lessonsLearned from '../../assets/images/alaska-vertical-incoming-2.webp';
import mainStateImage from '../../assets/images/alaska-main-findings-image.webp';
---

<BaseLayout
  title="Findings in Alaska"
  description="Findings in Alaska"
  heroBgStyle={{ backgroundImage: `url(${findingsHero.src})`, height: '536px' }}
>
  <StateFindingsHero
    state="Alaska"
    head="Findings in Alaska"
    title="Broadband Challenges in Remote Alaska"
    subtitle="Exploring the impact of extreme geography and weather on telehealth connectivity in Alaska's most remote regions."
    reportUrl="/findings/alaska-report.pdf"
  />
  
  <StateFindingsOverview
    state="Alaska"
    title="The Program in Alaska"
    firstParagraph="The Telehealth Broadband Pilot Program in Alaska focused on six remote boroughs and census areas: Aleutians West, Bristol Bay, Dillingham, Nome, North Slope, and Northwest Arctic."
    secondParagraph="Alaska's unique geography and extreme weather conditions posed significant challenges to broadband infrastructure. Despite efforts, most locations fell below the standards required for reliable telehealth services, emphasizing the need for tailored solutions to overcome these barriers."
    stateImageUrl={stateImage.src}
  />
  
  <div class={styles.mainBodyImageContainer} id="horizontal-shift-image">
    <img src={mainStateImage.src} alt="Alaska landscape" loading="eager" />
  </div>
  
  <StateFindings
    title="Insights in Rural Alaska"
    subtitle="Explore broadband access and gaps, telehealth challenges, and opportunities for community-driven solutions."
  >
    <StateFindingsButton
      modalId="broadband-performance-variability"
      backgroundImage={findingThumbnail1.src}
      head="01"
      title="Broadband Performance Variability"
    />
    <StateFindingsButton
      modalId="healthcare-connectivity-challenges"
      backgroundImage={findingThumbnail2.src}
      head="02"
      title="Healthcare Connectivity Challenges"
    />
    <StateFindingsButton
      modalId="community-anchor-institutions-as-potential-hubs"
      backgroundImage={findingThumbnail3.src}
      head="03"
      title="Community Anchor Institutions as Potential Hubs"
    />
  </StateFindings>
  
  <StateGuidanceAndRecommendations
    title="Implementation Insights for Alaska"
  >
    <FloatingTabs scrollToId="guidance-and-recommendations">
      <Tab
        id="outreach-strategies"
        label="Outreach Strategies"
        isActive="true"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: .5">
          <path fill="#ACAFCD" transform="translate(1 3.99832)" d="M25.405766 1.0016814L25.405766 20.806559C25.405766 21.605255 24.515619 22.081646 23.851065 21.638609L22.490015 20.731243C18.555607 18.108891 13.98151 16.623524 9.270998 16.427511C9.4997435 18.156 10.313359 19.766388 11.591622 20.982195C11.9918 21.36282 12.007651 21.995787 11.627026 22.395964C11.246401 22.796143 10.613434 22.811995 10.213256 22.431368C8.5320063 20.832266 7.4886336 18.691473 7.252871 16.405043L5.5011086 16.40523C2.4629302 16.40523 0 13.942299 0 10.90412C0 7.865942 2.4629302 5.4030118 5.5011086 5.4030118L8.2016888 5.4030118C13.287004 5.4025793 18.258486 3.8973856 22.489929 1.0770546L23.851065 0.16963112C24.515619 -0.27340537 25.405766 0.20298603 25.405766 1.0016814ZM23.404774 2.8666813L23.140614 3.0404112C18.989462 5.690546 14.210645 7.1871686 9.296031 7.3813581L9.2017736 7.3836813L9.2017736 14.423681L9.296031 14.426883C14.210646 14.621073 18.989468 16.117699 23.14069 18.767881L23.404774 18.940681L23.404774 2.8666813ZM7.2010002 7.4030118L5.5011086 7.4030118C3.6319535 7.4030118 2.1049068 8.867753 2.0051806 10.712025L2 10.90412C2 12.837729 3.5674996 14.405229 5.5011086 14.405229L7.2010002 14.405012L7.2010002 7.4030118ZM28.006653 8.1036768C28.558937 8.1036768 29.006653 8.5513926 29.006653 9.1036768L29.006653 12.704564C29.006653 13.256848 28.558937 13.704564 28.006653 13.704564C27.454367 13.704564 27.006653 13.256848 27.006653 12.704564L27.006653 9.1036768C27.006653 8.5513926 27.454367 8.1036768 28.006653 8.1036768Z"/>
        </svg>
      </Tab>
      <Tab
        id="lessons-learned"
        label="Lessons Learned"
        isActive="false"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="24" style="scale: 0.667">
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3.45)" d="M9 2.6219726C6.4113193 1.035096 3.4614589 0.13293166 0.428 0.00037253386C0.31658599 -0.0043705222 0.20802332 0.036340479 0.12719999 0.11317253C0.046558708 0.18928187 0.00059359026 0.29508838 0 0.40597254L0 13.799573C0.00022568832 14.01878 0.17299491 14.198954 0.39199999 14.208372C3.1693251 13.812761 5.989078 14.550492 8.2167997 16.255573C8.4645433 16.358225 8.7345295 16.395416 9.0008001 16.363573" fill-rule="evenodd"/>
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.9992 3.45)" d="M0.00079999998 2.6219726C2.5894809 1.035096 5.539341 0.13293166 8.5727997 0.00037253386C8.6842136 -0.0043705222 8.7927771 0.036340479 8.8736 0.11317253C8.9548454 0.18985523 9.0008001 0.29665378 9.0008001 0.40837252L9.0008001 13.799573C9.0005741 14.01878 8.8278055 14.198954 8.6087999 14.208372C5.8314748 13.812761 3.0117221 14.550492 0.78399998 16.255573C0.53625655 16.358225 0.26627091 16.395416 0 16.363573" fill-rule="evenodd"/>
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.3379 6.07197)" d="M0.66206896 0L0.66206896 13.7496" fill-rule="evenodd"/>
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.2 17.5824)" d="M0 0.0128L0 2.5936C-0.0003453251 2.717962 0.055936564 2.8357193 0.15292571 2.9135597C0.24991485 2.9914002 0.37706313 3.020858 0.49840158 2.9935999C2.9000089 2.4928246 5.3467398 2.2402968 7.8000016 2.24C10.10902 2.2387972 12.411244 2.4901586 14.665602 2.9895999C14.786862 3.0162208 14.913656 2.9865196 15.010478 2.908813C15.107301 2.8311067 15.163743 2.7137482 15.164001 2.5896001L15.164001 0" fill-rule="evenodd"/>
        </svg>
      </Tab>
    </FloatingTabs>
    <div class={styles.incomingImageContainer}>
      <SectionWithIncomingImage
        client:only="react"
        contentIds={['outreach-strategies', 'lessons-learned']}
        imageSrcs={[outreachStrategies.src, lessonsLearned.src]}
        highSensitivity
      >
        <AlaskaGuidanceAndRecommendationsContent/>
      </SectionWithIncomingImage>
    </div>
  </StateGuidanceAndRecommendations>
  
  <StateFindingsInANutshell>
    <BulletPoint
      title="Targeted Investments"
      content="Focus on improving broadband infrastructure in the most underserved areas, particularly for consumer homes."
      bigCircle
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
        <path fill="#4B7BE5" transform="translate(2 2)" d="M20.066668 10.688889C24.283556 10.688889 27.842165 12.422358 27.994894 14.98359L28 15.155556L28 23.533333C28 26.190601 24.377033 28 20.066668 28C15.7563 28 12.133333 26.190601 12.133333 23.533333L12.133333 15.155556L12.138439 14.98359C12.291168 12.422358 15.849777 10.688889 20.066668 10.688889ZM7.9333334 0C12.150223 0 15.708832 1.7334684 15.861561 4.2947016L15.866667 4.4666667L15.866667 9.0888891C15.866667 9.6411734 15.418951 10.088889 14.866667 10.088889C14.314382 10.088889 13.866667 9.6411734 13.866667 9.0888891L13.867066 7.4921432C12.402204 8.4016542 10.268721 8.9333334 7.9333334 8.9333334C5.5984697 8.9333334 3.4654193 8.4018927 2.0005851 7.4927549L2 8.8000002C2 9.9751873 4.5859346 11.266666 7.9306793 11.26667C8.5515471 11.265022 9.1714821 11.218438 9.7856236 11.127281C10.331923 11.046194 10.840521 11.423325 10.921608 11.969624C11.002694 12.515924 10.625565 13.024521 10.079265 13.105608C9.3696604 13.210934 8.6533632 13.264759 7.9333334 13.266666C5.5985951 13.266666 3.4655342 12.735804 2.0006642 11.826882L2 13.133333C2 14.30852 4.5859346 15.6 7.9368896 15.600006C8.540741 15.602154 9.1439133 15.559325 9.7414026 15.471875C10.287866 15.391893 10.795699 15.770051 10.87568 16.316515C10.955662 16.862976 10.577504 17.37081 10.031041 17.450792C9.3352957 17.552622 8.6329308 17.602495 7.9333334 17.6C5.5985951 17.6 3.4655342 17.069138 2.0006642 16.160215L2 17.466667C2 18.641853 4.5859346 19.933332 7.9306793 19.933336C8.5515471 19.931688 9.1714821 19.885105 9.7856236 19.793947C10.331923 19.712862 10.840521 20.089991 10.921608 20.636292C11.002694 21.18259 10.625565 21.691187 10.079265 21.772274C9.3696604 21.8776 8.6533632 21.931425 7.9333334 21.933332C5.5985951 21.933332 3.4655342 21.40247 2.0006642 20.493549L2 21.799999C2 22.975212 4.5859647 24.26675 7.9367623 24.266756C8.5408068 24.268827 9.1440201 24.225977 9.7414026 24.138542C10.287866 24.058561 10.795699 24.436718 10.87568 24.983181C10.955662 25.529644 10.577504 26.037477 10.031041 26.117458C9.3354654 26.219265 8.6331453 26.269156 7.9333334 26.266911C3.6230001 26.266911 0 24.457273 0 21.799999L0 4.4666667L0.005106051 4.2947016C0.1578353 1.7334684 3.7164438 0 7.9333334 0ZM26.00032 22.226271C24.535421 23.135567 22.401928 23.666666 20.066668 23.666666C17.731405 23.666666 15.597911 23.135567 14.133012 22.226271L14.133333 23.533333C14.133333 24.708521 16.719269 26 20.066668 26C23.414066 26 26 24.708521 26 23.533333L26.00032 22.226271ZM26.000401 18.181032C24.535538 19.090544 22.402054 19.622223 20.066668 19.622223C17.731279 19.622223 15.597796 19.090544 14.132934 18.181032L14.133333 19.200001C14.133333 20.375187 16.719269 21.666666 20.066668 21.666666C23.414066 21.666666 26 20.375187 26 19.200001L26.000401 18.181032ZM20.066668 12.688889C16.718916 12.688889 14.133333 13.981681 14.133333 15.155556C14.133333 16.329432 16.718916 17.622223 20.066668 17.622223C23.414417 17.622223 26 16.329432 26 15.155556C26 13.981681 23.414417 12.688889 20.066668 12.688889ZM7.9333334 2C4.5855832 2 2 3.2927916 2 4.4666667C2 5.640542 4.5855832 6.9333334 7.9333334 6.9333334C11.281084 6.9333334 13.866667 5.640542 13.866667 4.4666667C13.866667 3.2927916 11.281084 2 7.9333334 2Z"/>
      </svg>
    </BulletPoint>
    <BulletPoint
      title="Broadband Challenges"
      content="Continue to work with community organization and local governments to identify and deploy innovative broadband solutions."
      bigCircle
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
        <path fill="#4B7BE5" transform="translate(1 1)" d="M15 0C17.614147 0 19.733334 2.1191854 19.733334 4.7333331C19.733334 7.0471501 18.073109 8.9732008 15.878931 9.3852167C19.625164 9.8191795 22.533333 13.003304 22.533333 16.866667L22.533333 19.666666C22.533333 20.218952 22.085619 20.666666 21.533333 20.666666L19.637667 20.666334L18.795036 29.099504C18.747849 29.571383 18.377687 29.939386 17.916941 29.993212L17.799999 30L12.2 30C11.686249 30 11.256083 29.610706 11.204963 29.099504L10.360666 20.666334L8.4666662 20.666666C7.9538307 20.666666 7.5311594 20.280626 7.4733944 19.783287L7.4666667 19.666666L7.4666667 16.866667C7.4666667 13.003304 10.374836 9.8191795 14.121454 9.384016C11.92689 8.9732008 10.266666 7.0471501 10.266666 4.7333331L10.271538 4.5166683C10.384781 2.0030882 12.458467 0 15 0ZM5.6666665 3.7333333C7.7653489 3.7333333 9.4666662 5.4346514 9.4666662 7.5333333C9.4666662 9.4804821 8.0021629 11.085578 6.1145601 11.307215C6.4420319 11.470063 6.6666665 11.808798 6.6666665 12.2C6.6666665 12.752285 6.2189512 13.2 5.6666665 13.2C3.6416225 13.2 2 14.841622 2 16.866667L2 18.666L2.8666666 18.666666C3.3321958 18.666666 3.7304776 18.98665 3.8381972 19.42948L3.8589447 19.542631L4.6820002 26.132999L7.5333333 26.133333C8.0461693 26.133333 8.4688406 26.519373 8.5266056 27.016712L8.5333338 27.133333C8.5333338 27.685617 8.085618 28.133333 7.5333333 28.133333L3.8 28.133333C3.2956767 28.133333 2.8702757 27.757797 2.8077221 27.257368L1.983 20.666L1 20.666666C0.48716417 20.666666 0.064492837 20.280626 0.0067277313 19.783287L0 19.666666L0 16.866667C0 14.0008 2.1274533 11.631827 4.889215 11.252892C3.163682 10.895251 1.8666667 9.3657589 1.8666667 7.5333333L1.8716112 7.3377857C1.9733871 5.3299804 3.6335685 3.7333333 5.6666665 3.7333333ZM26.233334 4.2424369C27.409058 4.9212413 28.133333 6.175724 28.133333 7.5333333C28.133333 8.8909426 27.409058 10.145425 26.233334 10.82423C25.877565 11.029633 25.496817 11.172881 25.106205 11.253977C27.870487 11.629535 30 13.999413 30 16.866667L30 19.666666C30 20.218952 29.552284 20.666666 29 20.666666L28.015667 20.666L27.192278 27.257368C27.134537 27.719303 26.767622 28.07482 26.314852 28.126781L26.200001 28.133333L22.466667 28.133333C21.914381 28.133333 21.466667 27.685617 21.466667 27.133333C21.466667 26.581049 21.914381 26.133333 22.466667 26.133333L25.316668 26.132999L26.141056 19.542631C26.198797 19.080698 26.56571 18.72518 27.018482 18.67322L27.133333 18.666666L27.999666 18.666L28 16.866667C28 14.906946 26.46258 13.30631 24.528067 13.205083L24.333334 13.2C23.781048 13.2 23.333334 12.752285 23.333334 12.2C23.333334 11.808388 23.558441 11.469352 23.886316 11.305229C23.382128 11.247286 22.887384 11.086377 22.433332 10.82423C21.257608 10.145425 20.533333 8.8909426 20.533333 7.5333333L20.539993 7.3081012C20.615202 6.0381141 21.322927 4.8835301 22.433332 4.2424369C23.609056 3.563632 25.05761 3.563632 26.233334 4.2424369ZM15 11.333333C11.944024 11.333333 9.4666662 13.810691 9.4666662 16.866667L9.4666662 18.666334L11.266666 18.666666C11.740899 18.666666 12.143909 18.998373 12.243313 19.451479L12.261703 19.567163L13.104667 27.999334L16.894667 27.999334L17.738297 19.567163C17.785484 19.095284 18.155645 18.72728 18.616394 18.673456L18.733334 18.666666L20.532667 18.666334L20.533333 16.866667C20.533333 13.883452 18.172541 11.451631 15.217275 11.337521L15 11.333333ZM5.6666665 5.7333331C4.672554 5.7333331 3.8666666 6.5392208 3.8666666 7.5333333C3.8666666 8.5274458 4.672554 9.333333 5.6666665 9.333333C6.660779 9.333333 7.4666667 8.5274458 7.4666667 7.5333333C7.4666667 6.5392208 6.660779 5.7333331 5.6666665 5.7333331ZM23.433332 5.9744873C22.876411 6.2960267 22.533333 6.8902555 22.533333 7.5333333C22.533333 8.1764116 22.876411 8.7706404 23.433332 9.0921793C23.990255 9.4137182 24.676411 9.4137182 25.233334 9.0921793C25.790255 8.7706404 26.133333 8.1764116 26.133333 7.5333333C26.133333 6.8902555 25.790255 6.2960267 25.233334 5.9744873C24.676411 5.6529484 23.990255 5.6529484 23.433332 5.9744873ZM15 2C13.490421 2 12.266666 3.2237551 12.266666 4.7333331C12.266666 6.2429118 13.490421 7.4666667 15 7.4666667C16.509579 7.4666667 17.733334 6.2429118 17.733334 4.7333331C17.733334 3.2237551 16.509579 2 15 2Z"/>
      </svg>
    </BulletPoint>
  </StateFindingsInANutshell>


  <Modal id={'broadband-performance-variability'} isOpen={false} clearPaddings bgColor="#0F0E25">
    <StateFindingsModal head="01" title="Broadband Performance Variability" heroImage={findingThumbnail1.src}>
      <div class={styles.twoElementGrid}>
        <BulletPoint
          title="Very Low Overall Speeds"
          content="Median broadband speeds across healthcare sites, consumers, and other Community Anchor Institutions (CAls) were among the lowest across all TBP states. Healthcare locations reported average median download speeds of 27.1 Mbps, well below the 100 Mbps standard."
          direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1 3.00003)" d="M11.007559 0C17.026972 0.045500696 21.88866 4.8843837 21.998142 10.860735L21.999716 12.999621C21.999716 14.288264 20.955065 15.332915 19.66642 15.332915L2.3335938 15.332915C1.0449508 15.332915 0.00029941168 14.288264 0.00029941168 12.999621L0.0003290819 11.161156C-0.022301883 8.2233839 1.1231304 5.3969688 3.1845994 3.3037994C5.163609 1.2943571 7.8311815 0.11872271 10.640571 0.0082452549L11.007559 0ZM11 1.9989715L10.694203 2.0077176C8.4012871 2.1042178 6.2253499 3.0665462 4.6095624 4.7071815C2.9203289 6.4223914 1.9817252 8.7384462 2.0002995 11.153453L2.0002995 12.999621C2.0002995 13.183695 2.1495204 13.332915 2.3335938 13.332915L7.3484325 13.332201C7.4946847 11.712904 8.6937304 10.397318 10.255752 10.075262L12.051266 4.6862936C12.225913 4.1623502 12.792233 3.8791902 13.316176 4.0538378C13.84012 4.2284856 14.12328 4.7948055 13.948632 5.318749L12.307747 10.239761C13.587689 10.728543 14.523481 11.913871 14.651582 13.332201L19.66642 13.332915C19.850494 13.332915 19.999716 13.183695 19.999716 12.999621L19.999743 11.143348C20.036362 6.2207928 16.147219 2.1843169 11.25999 2.0058343L11 1.9989715ZM10.971522 12.002204L11.000008 11.99968C10.194143 11.99968 9.5218697 12.571646 9.3669968 13.331768L12.633018 13.331768C12.480684 12.584108 11.827776 12.018484 11.039534 12.000139L10.971522 12.002204ZM17.333157 12.002346C16.596781 12.002346 15.999832 11.405396 15.999832 10.669023C15.999832 9.9326477 16.596781 9.3356991 17.333157 9.3356991C18.06953 9.3356991 18.666479 9.9326477 18.666479 10.669023C18.666479 11.362081 18.137693 11.931634 17.461563 11.996243L17.333157 12.002346ZM4.6668591 9.3330326C5.4032331 9.3330326 6.0001826 9.9299812 6.0001826 10.666356C6.0001826 11.359414 5.4713969 11.928967 4.7952671 11.993576L4.6668591 11.99968C3.9304848 11.99968 3.3335354 11.40273 3.3335354 10.666356C3.3335354 9.9299812 3.9304848 9.3330326 4.6668591 9.3330326ZM6.0001535 6.0024629C6.7365279 6.0024629 7.333477 6.599412 7.333477 7.3357863C7.333477 8.0288448 6.8046913 8.5983982 6.1285615 8.6630068L6.0001535 8.6691103C5.2637792 8.6691103 4.6668296 8.0721607 4.6668296 7.3357863C4.6668296 6.599412 5.2637792 6.0024629 6.0001535 6.0024629ZM15.999862 5.9997964C16.736237 5.9997964 17.333185 6.5967455 17.333185 7.3331199C17.333185 8.0261784 16.804399 8.5957317 16.128269 8.6603403L15.999862 8.6664438C15.263487 8.6664438 14.666537 8.0694942 14.666537 7.3331199C14.666537 6.5967455 15.263487 5.9997964 15.999862 5.9997964ZM8.6667423 3.3358741C9.4031162 3.3358741 10.000066 3.9328234 10.000066 4.6691976C10.000066 5.3622556 9.4712801 5.9318094 8.7951498 5.9964175L8.6667423 6.002521C7.9303679 6.002521 7.3334184 5.4055719 7.3334184 4.6691976C7.3334184 3.9328234 7.9303679 3.3358741 8.6667423 3.3358741Z"/>
          </svg>
        </BulletPoint>
        <BulletPoint
          title="Consumer Struggles"
          content="Consumers faced the most significant challenges, with over 63% of speed tests falling below the outdated 25/3 Mbps threshold. This limited access severely restricted the feasibility of telehealth services for households."
          direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" style="scale: 1.5">
            <path fill="#4B7BE5" transform="translate(0.25 0.25)" d="M7.75 0C12.03008 0 15.5 3.4699197 15.5 7.75C15.5 12.03008 12.03008 15.5 7.75 15.5C3.4699197 15.5 0 12.03008 0 7.75C0 3.4699197 3.4699197 0 7.75 0ZM7.75 1.5C4.298347 1.5 1.5 4.298347 1.5 7.75C1.5 11.201653 4.298347 14 7.75 14C11.201653 14 14 11.201653 14 7.75C14 4.298347 11.201653 1.5 7.75 1.5ZM11.513345 8.8666668C11.927559 8.8667469 12.26328 9.2025986 12.2632 9.6168118C12.26312 10.031025 11.927268 10.366747 11.513055 10.366667C10.202205 10.366413 9.0044546 11.109066 8.421855 12.283334C8.2377596 12.654388 7.7877216 12.80595 7.4166665 12.621855C7.0456114 12.43776 6.8940501 11.987721 7.078145 11.616667C7.9140496 9.9318476 9.6325607 8.8663025 11.513345 8.8666668ZM4.9499998 5.8333335C5.4930801 5.8333335 5.9333334 6.2735868 5.9333334 6.8166666C5.9333334 7.3209553 5.5537271 7.7365823 5.0646772 7.7933846L4.9499998 7.8000002C4.40692 7.8000002 3.9666667 7.3597465 3.9666667 6.8166666C3.9666667 6.2735868 4.40692 5.8333335 4.9499998 5.8333335ZM10.083333 5.8333335C10.626413 5.8333335 11.066667 6.2735868 11.066667 6.8166666C11.066667 7.3209553 10.68706 7.7365823 10.19801 7.7933846L10.083333 7.8000002C9.5402536 7.8000002 9.1000004 7.3597465 9.1000004 6.8166666C9.1000004 6.2735868 9.5402536 5.8333335 10.083333 5.8333335Z"/>
          </svg>
        </BulletPoint>
      </div>
    </StateFindingsModal>
  </Modal>
  <Modal id={'healthcare-connectivity-challenges'} isOpen={false} clearPaddings bgColor="#0F0E25">
    <StateFindingsModal head="02" title="Healthcare Connectivity Challenges" heroImage={findingThumbnail2.src}>
      <div class={styles.twoElementGrid}>
        <BulletPoint
                title="Broadband Gaps in Critical Locations"
                content="Of the 42 healthcare locations evaluated, only 6.6% of speed tests met the 100/20 Mbps benchmark, with frequent inconsistencies even at higher-performing sites."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1 3.00003)" d="M11.007559 0C17.026972 0.045500696 21.88866 4.8843837 21.998142 10.860735L21.999716 12.999621C21.999716 14.288264 20.955065 15.332915 19.66642 15.332915L2.3335938 15.332915C1.0449508 15.332915 0.00029941168 14.288264 0.00029941168 12.999621L0.0003290819 11.161156C-0.022301883 8.2233839 1.1231304 5.3969688 3.1845994 3.3037994C5.163609 1.2943571 7.8311815 0.11872271 10.640571 0.0082452549L11.007559 0ZM11 1.9989715L10.694203 2.0077176C8.4012871 2.1042178 6.2253499 3.0665462 4.6095624 4.7071815C2.9203289 6.4223914 1.9817252 8.7384462 2.0002995 11.153453L2.0002995 12.999621C2.0002995 13.183695 2.1495204 13.332915 2.3335938 13.332915L7.3484325 13.332201C7.4946847 11.712904 8.6937304 10.397318 10.255752 10.075262L12.051266 4.6862936C12.225913 4.1623502 12.792233 3.8791902 13.316176 4.0538378C13.84012 4.2284856 14.12328 4.7948055 13.948632 5.318749L12.307747 10.239761C13.587689 10.728543 14.523481 11.913871 14.651582 13.332201L19.66642 13.332915C19.850494 13.332915 19.999716 13.183695 19.999716 12.999621L19.999743 11.143348C20.036362 6.2207928 16.147219 2.1843169 11.25999 2.0058343L11 1.9989715ZM10.971522 12.002204L11.000008 11.99968C10.194143 11.99968 9.5218697 12.571646 9.3669968 13.331768L12.633018 13.331768C12.480684 12.584108 11.827776 12.018484 11.039534 12.000139L10.971522 12.002204ZM17.333157 12.002346C16.596781 12.002346 15.999832 11.405396 15.999832 10.669023C15.999832 9.9326477 16.596781 9.3356991 17.333157 9.3356991C18.06953 9.3356991 18.666479 9.9326477 18.666479 10.669023C18.666479 11.362081 18.137693 11.931634 17.461563 11.996243L17.333157 12.002346ZM4.6668591 9.3330326C5.4032331 9.3330326 6.0001826 9.9299812 6.0001826 10.666356C6.0001826 11.359414 5.4713969 11.928967 4.7952671 11.993576L4.6668591 11.99968C3.9304848 11.99968 3.3335354 11.40273 3.3335354 10.666356C3.3335354 9.9299812 3.9304848 9.3330326 4.6668591 9.3330326ZM6.0001535 6.0024629C6.7365279 6.0024629 7.333477 6.599412 7.333477 7.3357863C7.333477 8.0288448 6.8046913 8.5983982 6.1285615 8.6630068L6.0001535 8.6691103C5.2637792 8.6691103 4.6668296 8.0721607 4.6668296 7.3357863C4.6668296 6.599412 5.2637792 6.0024629 6.0001535 6.0024629ZM15.999862 5.9997964C16.736237 5.9997964 17.333185 6.5967455 17.333185 7.3331199C17.333185 8.0261784 16.804399 8.5957317 16.128269 8.6603403L15.999862 8.6664438C15.263487 8.6664438 14.666537 8.0694942 14.666537 7.3331199C14.666537 6.5967455 15.263487 5.9997964 15.999862 5.9997964ZM8.6667423 3.3358741C9.4031162 3.3358741 10.000066 3.9328234 10.000066 4.6691976C10.000066 5.3622556 9.4712801 5.9318094 8.7951498 5.9964175L8.6667423 6.002521C7.9303679 6.002521 7.3334184 5.4055719 7.3334184 4.6691976C7.3334184 3.9328234 7.9303679 3.3358741 8.6667423 3.3358741Z"/>
          </svg>
        </BulletPoint>
        <BulletPoint
                title="Impact on Patient Care"
                content="Poor connectivity delayed clinical workflows, increased risks to patients, and reduced the ability to provide telehealth services."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" style="scale: 1.5">
            <path fill="#4B7BE5" transform="translate(0.25 0.25)" d="M7.75 0C12.03008 0 15.5 3.4699197 15.5 7.75C15.5 12.03008 12.03008 15.5 7.75 15.5C3.4699197 15.5 0 12.03008 0 7.75C0 3.4699197 3.4699197 0 7.75 0ZM7.75 1.5C4.298347 1.5 1.5 4.298347 1.5 7.75C1.5 11.201653 4.298347 14 7.75 14C11.201653 14 14 11.201653 14 7.75C14 4.298347 11.201653 1.5 7.75 1.5ZM11.513345 8.8666668C11.927559 8.8667469 12.26328 9.2025986 12.2632 9.6168118C12.26312 10.031025 11.927268 10.366747 11.513055 10.366667C10.202205 10.366413 9.0044546 11.109066 8.421855 12.283334C8.2377596 12.654388 7.7877216 12.80595 7.4166665 12.621855C7.0456114 12.43776 6.8940501 11.987721 7.078145 11.616667C7.9140496 9.9318476 9.6325607 8.8663025 11.513345 8.8666668ZM4.9499998 5.8333335C5.4930801 5.8333335 5.9333334 6.2735868 5.9333334 6.8166666C5.9333334 7.3209553 5.5537271 7.7365823 5.0646772 7.7933846L4.9499998 7.8000002C4.40692 7.8000002 3.9666667 7.3597465 3.9666667 6.8166666C3.9666667 6.2735868 4.40692 5.8333335 4.9499998 5.8333335ZM10.083333 5.8333335C10.626413 5.8333335 11.066667 6.2735868 11.066667 6.8166666C11.066667 7.3209553 10.68706 7.7365823 10.19801 7.7933846L10.083333 7.8000002C9.5402536 7.8000002 9.1000004 7.3597465 9.1000004 6.8166666C9.1000004 6.2735868 9.5402536 5.8333335 10.083333 5.8333335Z"/>
          </svg>
        </BulletPoint>
      </div>
    </StateFindingsModal>
  </Modal>
  <Modal id={'community-anchor-institutions-as-potential-hubs'} isOpen={false} clearPaddings bgColor="#0F0E25">
    <StateFindingsModal head="03" title="Community Anchor Institutions as Potential Hubs" heroImage={findingThumbnail3.src}>
      <div class={styles.oneElementGrid}>
        <BulletPoint
                title="Better Connectivity as CAIs"
                content="Other CAls, such as schools and libraries, demonstrated stronger connectivity, with median speeds of 77.6 Mbps download and 67.3 Mbps upload. These institutions could act as central hubs for telehealth access."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
            <path fill="#4B7BE5" transform="translate(1 1)" d="M15 0C17.614147 0 19.733334 2.1191854 19.733334 4.7333331C19.733334 7.0471501 18.073109 8.9732008 15.878931 9.3852167C19.625164 9.8191795 22.533333 13.003304 22.533333 16.866667L22.533333 19.666666C22.533333 20.218952 22.085619 20.666666 21.533333 20.666666L19.637667 20.666334L18.795036 29.099504C18.747849 29.571383 18.377687 29.939386 17.916941 29.993212L17.799999 30L12.2 30C11.686249 30 11.256083 29.610706 11.204963 29.099504L10.360666 20.666334L8.4666662 20.666666C7.9538307 20.666666 7.5311594 20.280626 7.4733944 19.783287L7.4666667 19.666666L7.4666667 16.866667C7.4666667 13.003304 10.374836 9.8191795 14.121454 9.384016C11.92689 8.9732008 10.266666 7.0471501 10.266666 4.7333331L10.271538 4.5166683C10.384781 2.0030882 12.458467 0 15 0ZM5.6666665 3.7333333C7.7653489 3.7333333 9.4666662 5.4346514 9.4666662 7.5333333C9.4666662 9.4804821 8.0021629 11.085578 6.1145601 11.307215C6.4420319 11.470063 6.6666665 11.808798 6.6666665 12.2C6.6666665 12.752285 6.2189512 13.2 5.6666665 13.2C3.6416225 13.2 2 14.841622 2 16.866667L2 18.666L2.8666666 18.666666C3.3321958 18.666666 3.7304776 18.98665 3.8381972 19.42948L3.8589447 19.542631L4.6820002 26.132999L7.5333333 26.133333C8.0461693 26.133333 8.4688406 26.519373 8.5266056 27.016712L8.5333338 27.133333C8.5333338 27.685617 8.085618 28.133333 7.5333333 28.133333L3.8 28.133333C3.2956767 28.133333 2.8702757 27.757797 2.8077221 27.257368L1.983 20.666L1 20.666666C0.48716417 20.666666 0.064492837 20.280626 0.0067277313 19.783287L0 19.666666L0 16.866667C0 14.0008 2.1274533 11.631827 4.889215 11.252892C3.163682 10.895251 1.8666667 9.3657589 1.8666667 7.5333333L1.8716112 7.3377857C1.9733871 5.3299804 3.6335685 3.7333333 5.6666665 3.7333333ZM26.233334 4.2424369C27.409058 4.9212413 28.133333 6.175724 28.133333 7.5333333C28.133333 8.8909426 27.409058 10.145425 26.233334 10.82423C25.877565 11.029633 25.496817 11.172881 25.106205 11.253977C27.870487 11.629535 30 13.999413 30 16.866667L30 19.666666C30 20.218952 29.552284 20.666666 29 20.666666L28.015667 20.666L27.192278 27.257368C27.134537 27.719303 26.767622 28.07482 26.314852 28.126781L26.200001 28.133333L22.466667 28.133333C21.914381 28.133333 21.466667 27.685617 21.466667 27.133333C21.466667 26.581049 21.914381 26.133333 22.466667 26.133333L25.316668 26.132999L26.141056 19.542631C26.198797 19.080698 26.56571 18.72518 27.018482 18.67322L27.133333 18.666666L27.999666 18.666L28 16.866667C28 14.906946 26.46258 13.30631 24.528067 13.205083L24.333334 13.2C23.781048 13.2 23.333334 12.752285 23.333334 12.2C23.333334 11.808388 23.558441 11.469352 23.886316 11.305229C23.382128 11.247286 22.887384 11.086377 22.433332 10.82423C21.257608 10.145425 20.533333 8.8909426 20.533333 7.5333333L20.539993 7.3081012C20.615202 6.0381141 21.322927 4.8835301 22.433332 4.2424369C23.609056 3.563632 25.05761 3.563632 26.233334 4.2424369ZM15 11.333333C11.944024 11.333333 9.4666662 13.810691 9.4666662 16.866667L9.4666662 18.666334L11.266666 18.666666C11.740899 18.666666 12.143909 18.998373 12.243313 19.451479L12.261703 19.567163L13.104667 27.999334L16.894667 27.999334L17.738297 19.567163C17.785484 19.095284 18.155645 18.72728 18.616394 18.673456L18.733334 18.666666L20.532667 18.666334L20.533333 16.866667C20.533333 13.883452 18.172541 11.451631 15.217275 11.337521L15 11.333333ZM5.6666665 5.7333331C4.672554 5.7333331 3.8666666 6.5392208 3.8666666 7.5333333C3.8666666 8.5274458 4.672554 9.333333 5.6666665 9.333333C6.660779 9.333333 7.4666667 8.5274458 7.4666667 7.5333333C7.4666667 6.5392208 6.660779 5.7333331 5.6666665 5.7333331ZM23.433332 5.9744873C22.876411 6.2960267 22.533333 6.8902555 22.533333 7.5333333C22.533333 8.1764116 22.876411 8.7706404 23.433332 9.0921793C23.990255 9.4137182 24.676411 9.4137182 25.233334 9.0921793C25.790255 8.7706404 26.133333 8.1764116 26.133333 7.5333333C26.133333 6.8902555 25.790255 6.2960267 25.233334 5.9744873C24.676411 5.6529484 23.990255 5.6529484 23.433332 5.9744873ZM15 2C13.490421 2 12.266666 3.2237551 12.266666 4.7333331C12.266666 6.2429118 13.490421 7.4666667 15 7.4666667C16.509579 7.4666667 17.733334 6.2429118 17.733334 4.7333331C17.733334 3.2237551 16.509579 2 15 2Z"/>
          </svg>
        </BulletPoint>
      </div>
    </StateFindingsModal>
  </Modal>
</BaseLayout>

<script src="../../scripts/findings_template.ts"></script>
