---
import '../../global.css';
import styles from './styles/implementation_learnings.module.css';
import commonStyles from '../../common.module.css';
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeroWithText from "../../components/common/content/HeroWithText.astro";
import FloatingTabs from "../../components/common/misc/FloatingTabs.astro";
import Tab from "../../components/common/misc/Tab.astro";
import SectionWithIncomingImage from "../../components/common/wrappers/SectionWithIncomingImage";
import TransparentSecondaryButton from "../../components/common/buttons/TransparentSecondaryButton.astro";
import ImplementationLearningsIncomingImageContent
  from "../../components/findings/implementation-learnings/ImplementationLearningsIncomingImageContent.astro";

import heroBgImage from '../../assets/images/implementation-learnings-hero.jpg';
import evaluationResultsLights from '../../assets/images/evaluation-results-lights.webp';
import implementationLearningsResults from '../../assets/images/implementation-learnings-results.webp';
import guidanceLight from '../../assets/images/state-findings-guidance-light.webp';
import engagementStrategies from '../../assets/images/implementation-learnings-engagement-strategies.jpg';
import deploymentMethods from '../../assets/images/implementation-learnings-deployment-methods.jpg';
import motivatingParticipation from '../../assets/images/implementation-learnings-motivating-participation.jpg';
import StateFindingsInANutshell from "../../components/findings/FindingsBottomSection.astro";
import BulletPoint from "../../components/common/content/BulletPoint.astro";
---

<BaseLayout
        title="Implementation Learnings"
        description="Implementation Learnings"
        heroBgStyle={{backgroundImage: `url(${heroBgImage.src})`, height: '536px'}}
>
    <section class={commonStyles.paddedSection}>
        <div class={styles.heroContainer}>
            <HeroWithText head="Implementation Learnings"
                          title="Strategies for Rural Data Collection"
                          content="Lessons learned from innovative approaches to gathering broadband data in rural communities."
            />
        </div>
        <div class={styles.downloadButtonContainer}>
            <TransparentSecondaryButton href={'/downloads/implementation-findings.pdf'} download>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
                    <path fill="white" transform="translate(0.25 0.25)" d="M7.75 0C8.1642132 0 8.5 0.33578643 8.5 0.75L8.5 9.9720001L11.21967 7.2530031C11.485936 6.9867368 11.9026 6.9625306 12.196212 7.1803851L12.28033 7.2530031C12.573223 7.5458965 12.573223 8.0207701 12.28033 8.3136635L8.2803297 12.313663C7.9874368 12.606557 7.5125632 12.606557 7.2196698 12.313663L3.2196698 8.3136635C2.9267766 8.0207701 2.9267766 7.5458965 3.2196698 7.2530031C3.5125632 6.9601102 3.9874368 6.9601102 4.2803302 7.2530031L7 9.9720001L7 0.75C7 0.33578643 7.3357863 0 7.75 0ZM14.75 14C15.164213 14 15.5 14.335787 15.5 14.75C15.5 15.164213 15.164213 15.5 14.75 15.5L0.75 15.5C0.33578643 15.5 0 15.164213 0 14.75C0 14.335787 0.33578643 14 0.75 14L14.75 14Z"/>
                </svg>
                Download Full Report
            </TransparentSecondaryButton>
        </div>
    </section>


    <section class={`${commonStyles.paddedSection} ${styles.evaluationResultsSection}`}>
        <div class={styles.evaluationResultsTop}>
            <div class={styles.evaluationResultsHeroContainer}>
                <HeroWithText head="Overview"
                              title="Guiding Future Rural Broadband Projects"
                              content="In collaboration with ANTHC and local Community Lead Partners (CLPs), our implementation efforts leveraged diverse data collection methods designed to address rural challenges. From in-person outreach to advanced remote and mobile tools, these strategies tackled regional barriers and uncovered insights to guide future rural broadband projects."
                />
            </div>
            <div class={styles.sidePicturesContainer}>
                <img src={implementationLearningsResults.src} alt="Evaluation Results hero image"/>
            </div>
        </div>
    </section>

    <section class={`${commonStyles.paddedSection} ${styles.scrollerSection}`}>
        <img src={guidanceLight.src} class={styles.light}/>
        <div class={styles.guidanceHeroContainer}>
            <HeroWithText head={'Guidance & Recommendations'} title={'Strategies and Learnings from West Virginia'}/>
        </div>
        <img src={evaluationResultsLights.src} alt="Evaluation results lights" class={styles.scrollerLights} />
        <FloatingTabs scrollToId="guidance-and-recommendations">
            <Tab
                    id="engagement-strategies"
                    label="Engagement Strategies"
                    isActive="true"
            >
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                    <path fill="none" stroke="white" transform="translate(1 1)" d="M13 0C14.656855 0 16 1.3431457 16 3L16 6L19 6C20.597681 6 21.903662 7.24892 21.994907 8.8237276L22 9L22 13C22 14.656855 20.656855 16 19 16L16 16L16 19C16 20.597681 14.75108 21.903662 13.176272 21.994907L13 22L9 22C7.3431458 22 6 20.656855 6 19L6 16L3 16C1.4023191 16 0.096339121 14.75108 0.0050926935 13.176272L0 13L0 9C0 7.3431458 1.3431457 6 3 6L6 6L6 3C6 1.4023191 7.24892 0.096339121 8.8237276 0.0050926935L9 0L13 0ZM13 2L9 2C8.4477148 2 8 2.4477153 8 3L8 7C8 7.5522847 7.5522847 8 7 8L3 8C2.4477153 8 2 8.4477148 2 9L2 13C2 13.552285 2.4477153 14 3 14L7 14C7.5522847 14 8 14.447715 8 15L8 19C8 19.552284 8.4477148 20 9 20L13 20C13.552285 20 14 19.552284 14 19L14 15C14 14.447715 14.447715 14 15 14L19 14C19.552284 14 20 13.552285 20 13L20 9C20 8.4477148 19.552284 8 19 8L15 8C14.447715 8 14 7.5522847 14 7L14 3C14 2.4477153 13.552285 2 13 2Z"/>
                </svg>
            </Tab>
            <Tab
                    id="deployment-methods"
                    label="Deployment Methods"
                    isActive="false"
            >
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="24">
                    <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(12.6978 1.5)" d="M4.8996396 0C2.9769237 -0.0092755463 1.2282523 1.1121993 0.43471357 2.8635476C-0.35882515 4.6148958 -0.04904107 6.6690602 1.225693 8.1084967L0.61259085 11.635934L3.806881 9.6659813C5.6413202 10.088742 7.5556722 9.4221621 8.7308064 7.9514627C9.9059401 6.4807639 10.133657 4.4665103 9.3165188 2.7705796C8.4993811 1.0746489 6.7821617 -0.0024905135 4.8996396 0Z" fill-rule="evenodd"/>
                    <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3.94961 9.89872)" d="M0 3.1494973C0 4.8889165 1.4100779 6.2989945 3.1494973 6.2989945C4.8889165 6.2989945 6.2989945 4.8889165 6.2989945 3.1494973C6.2989945 1.4100779 4.8889165 0 3.1494973 0C1.4100779 0 0 1.4100779 0 3.1494973" fill-rule="evenodd"/>
                    <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.5 17.6001)" d="M11.198213 4.8966107C10.821181 2.0926933 8.4282589 0 5.5991063 0C2.7699533 0 0.37703046 2.0926933 0 4.8966107" fill-rule="evenodd"/>
                </svg>
            </Tab>
            <Tab
                    id="motivating-participation"
                    label="Motivating Participation"
                    isActive="false"
            >
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16">
                    <path fill="#ACAFCD" transform="translate(2.25 0.25)" d="M5.75 0C8.9145155 0 11.5 2.4131219 11.5 5.4166727C11.5 7.3554192 9.0927839 11.719155 6.7780004 14.976051C6.5426803 15.30716 6.1571307 15.500281 5.75 15.500281C5.3428693 15.500281 4.9573197 15.30716 4.7220078 14.976063C2.4072156 11.719155 0 7.3554192 0 5.4166727C0 2.4131219 2.5854843 0 5.75 0ZM5.75 1.5C3.3916683 1.5 1.5 3.2655594 1.5 5.4166727C1.5 6.7717161 3.454308 10.432788 5.3908763 13.306403L5.75 13.831L5.9276896 13.573394C7.8593283 10.754781 9.8701849 7.0537553 9.9939766 5.554759L10 5.4166727C10 3.2655594 8.1083317 1.5 5.75 1.5ZM5.75 2.3333364C7.5338039 2.3333364 9 3.7017879 9 5.4166727C9 7.1315575 7.5338039 8.5000095 5.75 8.5000095C3.9661961 8.5000095 2.5 7.1315575 2.5 5.4166727L2.505183 5.2405486C2.6014946 3.6090391 4.0277066 2.3333364 5.75 2.3333364ZM5.75 3.8333364C4.7723799 3.8333364 4 4.5542254 4 5.4166727C4 6.2791204 4.7723799 7.0000091 5.75 7.0000091C6.7276201 7.0000091 7.5 6.2791204 7.5 5.4166727C7.5 4.5542254 6.7276201 3.8333364 5.75 3.8333364Z"/>
                </svg>
            </Tab>
        </FloatingTabs>
        <div id="guidance-and-recommendations" class={styles.evaluationResultsContentContainer}>
            <SectionWithIncomingImage
                    client:only="react"
                    contentIds={['engagement-strategies', 'deployment-methods', 'motivating-participation']}
                    imageSrcs={[engagementStrategies.src, deploymentMethods.src, motivatingParticipation.src]}
            >
                <ImplementationLearningsIncomingImageContent />
            </SectionWithIncomingImage>
        </div>
    </section>
    
  <StateFindingsInANutshell
    textAlign="left"
    head="Promising Future Tactics"
    title="Exploring Future Strategies"
    rightSideLights
  >
    <BulletPoint
      title="Local Media & Mailers"
      content="Radio Public Service Announcements (PSAs), press, and mailers generated significant interest and awareness. Although not fully evaluated, this approach showed promise for broader outreach."
      variant="implementation-learnings-future"
      direction="column"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="25">
        <path fill="#4B7BE5" transform="translate(1 0.125597)" d="M19.944614 0.67209125C20.125864 1.1937876 19.849878 1.7636378 19.32818 1.9448873L9.5749998 5.3330002L20.111111 5.3336058C21.154316 5.3336058 22 6.1792903 22 7.2224946L22 20.111383C22 21.154589 21.154316 22.000273 20.111111 22.000273L1.8888888 22.000273C0.84568435 22.000273 0 21.154589 0 20.111383L0 7.2224946C0 6.1792903 0.84568435 5.3336058 1.8888888 5.3336058L3.4779999 5.3330002L18.67182 0.055657636C19.193516 -0.12559181 19.763365 0.15039492 19.944614 0.67209125ZM20 13.555L2 13.555L2 19.999605L20 19.999605L20 13.555ZM6.3333335 14.000273C7.325738 14.000273 8.2427568 14.529714 8.7389593 15.389161C9.2351618 16.24861 9.2351618 17.307491 8.7389593 18.166939C8.2427568 19.026386 7.325738 19.555828 6.3333335 19.555828C4.7992091 19.555828 3.5555556 18.312174 3.5555556 16.778049C3.5555556 15.243926 4.7992091 14.000273 6.3333335 14.000273ZM16.555555 17.111383C17.10784 17.111383 17.555555 17.559099 17.555555 18.111383C17.555555 18.663668 17.10784 19.111383 16.555555 19.111383L11.666667 19.111383C11.114382 19.111383 10.666667 18.663668 10.666667 18.111383C10.666667 17.559099 11.114382 17.111383 11.666667 17.111383L16.555555 17.111383ZM6.3333335 16.000273C5.9037786 16.000273 5.5555558 16.348495 5.5555558 16.778049C5.5555558 17.207605 5.9037786 17.555828 6.3333335 17.555828C6.6112065 17.555828 6.8679719 17.407585 7.0069089 17.166939C7.1458454 16.926294 7.1458454 16.629807 7.0069089 16.389162C6.8679719 16.148516 6.6112065 16.000273 6.3333335 16.000273ZM16.555555 14.444716C17.10784 14.444716 17.555555 14.892432 17.555555 15.444716C17.555555 15.997002 17.10784 16.444717 16.555555 16.444717L11.666667 16.444717C11.114382 16.444717 10.666667 15.997002 10.666667 15.444716C10.666667 14.892432 11.114382 14.444716 11.666667 14.444716L16.555555 14.444716ZM20 7.3336058L2 7.3336058L2 11.555L20 11.555L20 7.3336058ZM4.5555553 8.0002728C5.3533001 8.0002728 6 8.6469727 6 9.4447165C6 10.195536 5.427145 10.812556 4.6946654 10.882549L4.5555553 10.889161C3.7578108 10.889161 3.1111112 10.242461 3.1111112 9.4447165C3.1111112 8.6469727 3.7578108 8.0002728 4.5555553 8.0002728ZM18.333334 8.6669388C18.885618 8.6669388 19.333334 9.1146545 19.333334 9.6669388C19.333334 10.219224 18.885618 10.666939 18.333334 10.666939L16.111111 10.666939C15.558826 10.666939 15.111111 10.219224 15.111111 9.6669388C15.111111 9.1146545 15.558826 8.6669388 16.111111 8.6669388L18.333334 8.6669388ZM13.444445 8.6669388C13.996729 8.6669388 14.444445 9.1146545 14.444445 9.6669388C14.444445 10.219224 13.996729 10.666939 13.444445 10.666939L8.5555553 10.666939C8.0032711 10.666939 7.5555553 10.219224 7.5555553 9.6669388C7.5555553 9.1146545 8.0032711 8.6669388 8.5555553 8.6669388L13.444445 8.6669388Z"/>
      </svg>
    </BulletPoint>
    <BulletPoint
      title="Alternative Partnerships"
      content="Hyper-local partners with unique expertise surfaced throughout the project. Flexibility in partnerships could enhance effectiveness by tapping into specialized local knowledge."
      variant="implementation-learnings-future"
      direction="column"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="25">
        <path fill="#4B7BE5" transform="translate(0 0.159195)" d="M18.915913 12.810016C22.029408 13.896967 24 15.692489 24 17.863802C24 21.458265 18.561691 23.994776 12 23.994776C5.4404225 23.994776 0 21.453941 0 17.858915C0 15.69472 1.9571807 13.904124 5.0537 12.815615C5.5747299 12.632459 6.1455855 12.906359 6.3287416 13.427389C6.5118976 13.94842 6.2379971 14.519275 5.7169671 14.702431C3.3306725 15.541278 2 16.75869 2 17.858915C2 19.933853 6.4128351 21.994776 12 21.994776C17.589045 21.994776 22 19.937439 22 17.863802C22 16.759247 20.658176 15.536631 18.25671 14.698256C17.735287 14.516222 17.460157 13.945958 17.642191 13.424535C17.824224 12.903111 18.394489 12.627982 18.915913 12.810016ZM13.783161 0.47758523C14.886756 1.1144532 15.566667 2.2915523 15.566667 3.5654871C15.566667 4.6840644 15.042476 5.727984 14.167547 6.39709C15.652748 7.1761618 16.666666 8.734149 16.666666 10.528953L16.666666 12.723055C16.666666 13.274038 16.22098 13.721213 15.669998 13.723049L15.082334 13.724971L14.458938 18.716003C14.401172 19.177914 14.034266 19.533403 13.581514 19.58536L13.466666 19.591911L10.533334 19.591911C10.029032 19.591911 9.6036415 19.216406 9.5410624 18.716003L8.9163332 13.726971L8.333333 13.727942C7.8204975 13.727942 7.3978262 13.341901 7.3400612 12.844563L7.3333335 12.727942L7.3333335 10.528953C7.3333335 8.734149 8.3472519 7.1761618 9.8336763 6.3959994C8.9575243 5.727984 8.4333334 4.6840644 8.4333334 3.5654871L8.4395847 3.3541374C8.5101862 2.1624308 9.1745548 1.0790716 10.216839 0.47758523C11.320282 -0.15919508 12.679718 -0.15919508 13.783161 0.47758523ZM12 7.8639708C10.527138 7.8639708 9.333333 9.0572262 9.333333 10.528953L9.333333 11.726971L9.8000002 11.727942C10.26551 11.727942 10.66378 12.047898 10.771519 12.490704L10.792271 12.60385L11.415334 17.590971L12.584333 17.590971L13.207729 12.60385C13.265349 12.143102 13.630623 11.788062 14.082125 11.734849L14.196669 11.727947L14.666333 11.72597L14.666667 10.528953C14.666667 9.1138315 13.562927 7.9561715 12.168655 7.8692141L12 7.8639708ZM11.216495 2.2098351C10.731831 2.4895275 10.433333 3.0063016 10.433333 3.5654871C10.433333 4.1246729 10.731831 4.6414471 11.216495 4.9211392C11.70131 5.2009192 12.29869 5.2009192 12.783505 4.9211392C13.268169 4.6414471 13.566667 4.1246729 13.566667 3.5654871C13.566667 3.0063016 13.268169 2.4895275 12.783505 2.2098351C12.29869 1.930055 11.70131 1.930055 11.216495 2.2098351Z"/>
      </svg>
    </BulletPoint>
    <BulletPoint
      title="Step-by-Step Engagement"
      content="Starting with simple requests (like web-based speed tests) made deeper involvement easier. Showing participants potential connectivity issues helped build interest in further data collection efforts."
      variant="implementation-learnings-future"
      direction="column"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="26">
        <path fill="#4B7BE5" transform="translate(0.232492 0.349027)" d="M17.751768 9.5217047C20.204344 9.5107317 22.436083 10.9425 23.448912 13.177965C24.35178 15.170738 24.135811 17.470604 22.92598 19.248278L22.754358 19.486897L23.332462 22.817209C23.473501 23.6294 22.634277 24.237003 21.919037 23.892466L21.822376 23.83951L18.729359 21.931898L18.677811 21.941757C15.785292 22.37385 12.959246 20.729391 11.91833 17.973713L11.837878 17.747864C10.818238 14.704576 12.271203 11.383877 15.200018 10.066789C16.002665 9.7075539 16.872219 9.5217047 17.751768 9.5217047ZM12.230924 0.057360351C15.99498 0.46374202 19.197359 2.9819255 20.479965 6.5439734C20.667068 7.0635986 20.397507 7.6365161 19.877882 7.8236203C19.358257 8.010725 18.785339 7.7411633 18.598236 7.2215376C17.574831 4.3793445 15.019621 2.3700609 12.016244 2.045805C9.012867 1.7215492 6.087677 3.139148 4.4812198 5.6974115C2.8747625 8.2556753 2.868576 11.506257 4.4652839 14.070617C4.6454897 14.360032 4.6658292 14.721315 4.5192466 15.029129L3.1178358 17.971018L6.0611019 16.569914C6.3305297 16.441633 6.6409068 16.441236 6.9081926 16.563972L7.0198603 16.624098C7.9163227 17.182737 8.9159727 17.555391 9.9593601 17.719904C10.504905 17.80592 10.877426 18.317902 10.79141 18.863447C10.705394 19.408993 10.193412 19.781515 9.6478662 19.695498C8.6012478 19.530478 7.5897269 19.198425 6.6514702 18.71357L6.4458356 18.601019L1.4337193 20.988239C0.61752915 21.376846 -0.23294391 20.574509 0.058515981 19.757523L0.10098112 19.655409L2.4868357 14.645019L2.4352145 14.552023C0.82614374 11.53495 0.8869127 7.8874121 2.6150293 4.9189334L2.7874713 4.6338253C4.8008032 1.4276189 8.4668684 -0.34902132 12.230924 0.057360351ZM17.759254 11.521799C17.153767 11.521799 16.562632 11.648108 16.018671 11.891564C14.028832 12.786395 13.041141 15.043731 13.734268 17.112486C14.427395 19.181242 16.575676 20.387884 18.702963 19.90329C18.958548 19.84507 19.226772 19.88953 19.449902 20.027105L20.981358 20.971897L20.705879 19.381359C20.661306 19.12468 20.718868 18.862566 20.863087 18.649593L20.942347 18.547457C22.046412 17.300177 22.3146 15.520614 21.627169 14.003346C20.939739 12.486083 19.424994 11.514301 17.759254 11.521799ZM17.755678 13.188526C18.307962 13.188526 18.755678 13.636242 18.755678 14.188526L18.755678 17.121786C18.755678 17.67407 18.307962 18.121786 17.755678 18.121786C17.203394 18.121786 16.755678 17.67407 16.755678 17.121786L16.755678 14.188526C16.755678 13.636242 17.203394 13.188526 17.755678 13.188526ZM10.170271 10.255267C10.925055 10.255267 11.536928 10.867141 11.536928 11.621924C11.536928 12.33231 10.994923 12.916102 10.301888 12.982326L10.170271 12.988582C9.4154863 12.988582 8.8036127 12.376709 8.8036127 11.621924C8.8036127 10.867141 9.4154863 10.255267 10.170271 10.255267ZM10.170271 4.3887491C11.735052 4.3887491 13.003557 5.6572547 13.003557 7.2220359C13.003557 8.7868166 11.735052 10.055323 10.170271 10.055323C9.6179857 10.055323 9.1702709 9.6076078 9.1702709 9.0553226C9.1702709 8.5424871 9.5563107 8.1198158 10.053649 8.0620508L10.170271 8.0553226C10.630482 8.0553226 11.003557 7.6822476 11.003557 7.2220359C11.003557 6.7618241 10.630482 6.3887491 10.170271 6.3887491C9.7454596 6.3887491 9.3948956 6.7066355 9.3434763 7.1175103L9.3369837 7.2220359C9.3369837 7.7743206 8.8892679 8.2220354 8.3369837 8.2220354C7.784699 8.2220354 7.3369837 7.7743206 7.3369837 7.2220359C7.3369837 5.6572547 8.6054897 4.3887491 10.170271 4.3887491Z"/>
      </svg>
    </BulletPoint>
  </StateFindingsInANutshell>
  
</BaseLayout>