---
import '../../global.css';
import styles from './styles/template.module.css';
import BaseLayout from "../../layouts/BaseLayout.astro";
import StateFindingsHero from "../../components/findings/states/StateFindingsHero.astro";
import StateFindingsOverview from "../../components/findings/states/StateFindingsOverview.astro";
import StateGuidanceAndRecommendations from "../../components/findings/states/StateGuidanceAndRecommendations.astro";
import SectionWithIncomingImage from "../../components/common/wrappers/SectionWithIncomingImage";
import BulletPoint from "../../components/common/content/BulletPoint.astro";
import StateFindings from "../../components/findings/states/StateFindings.astro";
import StateFindingsInANutshell from "../../components/findings/FindingsBottomSection.astro";
import Tab from "../../components/common/misc/Tab.astro";
import FloatingTabs from "../../components/common/misc/FloatingTabs.astro";
import Modal from "../../components/common/wrappers/Modal.astro";
import StateFindingsButton from "../../components/findings/states/StateFindingsButton.astro";
import StateFindingsModal from "../../components/findings/states/StateFindingsModal.astro";
import MichiganGuidanceAndRecommendationsContent
  from "../../components/findings/states/michigan/MichiganGuidanceAndRecommendationsContent.astro";

import findingsHero from '../../assets/images/michigan-findings-hero.webp';
import stateImage from '../../assets/images/michigan-state-image.webp';
import findingThumbnail1 from '../../assets/images/michigan-findings-thumbnail-1.webp';
import findingThumbnail2 from '../../assets/images/michigan-findings-thumbnail-2.webp';
import findingThumbnail3 from '../../assets/images/michigan-findings-thumbnail-3.webp';
import outreachStrategies from '../../assets/images/michigan-vertical-incoming-1.webp';
import lessonsLearned from '../../assets/images/michigan-vertical-incoming-2.webp';
import mainStateImage from '../../assets/images/michigan-main-findings-image.webp';
---

<BaseLayout
        title="Findings in Michigan"
        description="Findings in Michigan"
        heroBgStyle={{ backgroundImage: `url(${findingsHero.src})`, height: '536px' }}
>
  <StateFindingsHero
          state="Michigan"
          head="Findings in Michigan"
          title="Connectivity Barriers in Rural Michigan"
          subtitle="Exploring the effects of inconsistent broadband access on telehealth connectivity in Michigan's rural communities."
          reportUrl="/findings/michigan-report.pdf"
  />

  <StateFindingsOverview
          state="Michigan"
          title="Learnings from Michigan"
          firstParagraph="In Michigan, the Telehealth Broadband Pilot Program focused on six rural counties: Gladwin, Manistee, Missaukee, Montmorency, Osceola, and Oscoda."
          secondParagraph="Broadband access varied significantly across these counties, impacting both consumers and community institutions. While some areas demonstrated strong connectivity, many locations fell below the standards necessary for consistent telehealth services. Addressing these challenges is crucial for expanding healthcare accessibility and supporting rural communities."
          stateImageUrl={stateImage.src}
  />

  <div class={styles.mainBodyImageContainer} id="horizontal-shift-image">
    <img src={mainStateImage.src} alt="Michigan landscape" loading="eager"></img>
  </div>

  <StateFindings
          title="Insights in Rural Michigan"
          subtitle="Explore the broadband access and gaps, telehealth challenges, and opportunities for community-driven solutions."
  >
      <StateFindingsButton
              modalId="broadband-performance-variability"
              backgroundImage={findingThumbnail1.src}
              head="01"
              title="Broadband Performance Variability"
      />
      <StateFindingsButton
              modalId="healthcare-connectivity-challenges"
              backgroundImage={findingThumbnail2.src}
              head="02"
              title="Healthcare Connectivity Challenges"
      />
      <StateFindingsButton
              modalId="community-anchor-institutions-as-potential-hubs"
              backgroundImage={findingThumbnail3.src}
              head="03"
              title="Community Anchor Institutions as Potential Hubs"
      />
  </StateFindings>

  <StateGuidanceAndRecommendations title="Strategies and Learnings from Michigan">
    <FloatingTabs scrollToId="guidance-and-recommendations">
      <Tab
        id="outreach-strategies"
        label="Outreach Strategies"
        isActive="true"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: .5">
            <path fill="#ACAFCD" transform="translate(1 3.99832)" d="M25.405766 1.0016814L25.405766 20.806559C25.405766 21.605255 24.515619 22.081646 23.851065 21.638609L22.490015 20.731243C18.555607 18.108891 13.98151 16.623524 9.270998 16.427511C9.4997435 18.156 10.313359 19.766388 11.591622 20.982195C11.9918 21.36282 12.007651 21.995787 11.627026 22.395964C11.246401 22.796143 10.613434 22.811995 10.213256 22.431368C8.5320063 20.832266 7.4886336 18.691473 7.252871 16.405043L5.5011086 16.40523C2.4629302 16.40523 0 13.942299 0 10.90412C0 7.865942 2.4629302 5.4030118 5.5011086 5.4030118L8.2016888 5.4030118C13.287004 5.4025793 18.258486 3.8973856 22.489929 1.0770546L23.851065 0.16963112C24.515619 -0.27340537 25.405766 0.20298603 25.405766 1.0016814ZM23.404774 2.8666813L23.140614 3.0404112C18.989462 5.690546 14.210645 7.1871686 9.296031 7.3813581L9.2017736 7.3836813L9.2017736 14.423681L9.296031 14.426883C14.210646 14.621073 18.989468 16.117699 23.14069 18.767881L23.404774 18.940681L23.404774 2.8666813ZM7.2010002 7.4030118L5.5011086 7.4030118C3.6319535 7.4030118 2.1049068 8.867753 2.0051806 10.712025L2 10.90412C2 12.837729 3.5674996 14.405229 5.5011086 14.405229L7.2010002 14.405012L7.2010002 7.4030118ZM28.006653 8.1036768C28.558937 8.1036768 29.006653 8.5513926 29.006653 9.1036768L29.006653 12.704564C29.006653 13.256848 28.558937 13.704564 28.006653 13.704564C27.454367 13.704564 27.006653 13.256848 27.006653 12.704564L27.006653 9.1036768C27.006653 8.5513926 27.454367 8.1036768 28.006653 8.1036768Z"/>
        </svg>
      </Tab>
      <Tab
        id="lessons-learned"
        label="Lessons Learned"
        isActive="false"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="24" style="scale: 0.667">
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3.45)" d="M9 2.6219726C6.4113193 1.035096 3.4614589 0.13293166 0.428 0.00037253386C0.31658599 -0.0043705222 0.20802332 0.036340479 0.12719999 0.11317253C0.046558708 0.18928187 0.00059359026 0.29508838 0 0.40597254L0 13.799573C0.00022568832 14.01878 0.17299491 14.198954 0.39199999 14.208372C3.1693251 13.812761 5.989078 14.550492 8.2167997 16.255573C8.4645433 16.358225 8.7345295 16.395416 9.0008001 16.363573" fill-rule="evenodd"/>
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.9992 3.45)" d="M0.00079999998 2.6219726C2.5894809 1.035096 5.539341 0.13293166 8.5727997 0.00037253386C8.6842136 -0.0043705222 8.7927771 0.036340479 8.8736 0.11317253C8.9548454 0.18985523 9.0008001 0.29665378 9.0008001 0.40837252L9.0008001 13.799573C9.0005741 14.01878 8.8278055 14.198954 8.6087999 14.208372C5.8314748 13.812761 3.0117221 14.550492 0.78399998 16.255573C0.53625655 16.358225 0.26627091 16.395416 0 16.363573" fill-rule="evenodd"/>
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.3379 6.07197)" d="M0.66206896 0L0.66206896 13.7496" fill-rule="evenodd"/>
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.2 17.5824)" d="M0 0.0128L0 2.5936C-0.0003453251 2.717962 0.055936564 2.8357193 0.15292571 2.9135597C0.24991485 2.9914002 0.37706313 3.020858 0.49840158 2.9935999C2.9000089 2.4928246 5.3467398 2.2402968 7.8000016 2.24C10.10902 2.2387972 12.411244 2.4901586 14.665602 2.9895999C14.786862 3.0162208 14.913656 2.9865196 15.010478 2.908813C15.107301 2.8311067 15.163743 2.7137482 15.164001 2.5896001L15.164001 0" fill-rule="evenodd"/>
        </svg>
      </Tab>
    </FloatingTabs>
    <div class={styles.incomingImageContainer}>
      <SectionWithIncomingImage
              client:only="react"
              contentIds={['outreach-strategies', 'lessons-learned']}
              imageSrcs={[outreachStrategies.src, lessonsLearned.src]}
              highSensitivity
      >
        <MichiganGuidanceAndRecommendationsContent/>
      </SectionWithIncomingImage>
    </div>
  </StateGuidanceAndRecommendations>

  <StateFindingsInANutshell>
    <BulletPoint
            title="Broadband Improvements"
            content="Prioritize infrastructure upgrades in counties and areas with the greatest disparities."
            direction="column"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
        <path fill="#4B7BE5" transform="translate(2 2)" d="M7.6890411 14.211753L14.213944 7.6859608C15.760286 8.423892 17.603821 8.107296 18.815372 6.8957448C20.026924 5.6841931 20.343519 3.8406579 19.605589 2.2943163L18.339006 3.5644548C17.812775 4.0906863 16.959585 4.0906863 16.433353 3.5644548C15.907123 3.0382235 15.907123 2.185034 16.433353 1.6588026L17.699049 0.39221939C16.153025 -0.34316939 14.311453 -0.025403881 13.101277 1.1855707C11.891101 2.3965454 11.574551 4.2383261 12.310959 5.783864L5.7860556 12.307878C4.2397137 11.569948 2.3961785 11.886543 1.1846269 13.098095C-0.026924698 14.309647 -0.34352016 16.153181 0.39441076 17.699524L1.6609939 16.433828C2.001406 16.093416 2.4975672 15.960471 2.9625785 16.08507C3.4275901 16.209669 3.7908053 16.572886 3.9154048 17.037897C4.0400043 17.502909 3.9070582 17.999069 3.5666461 18.339481L2.3009517 19.603397C3.8469753 20.338787 5.6885467 20.021021 6.8987226 18.810047C8.1088991 17.599072 8.4254494 15.757292 7.6890411 14.211753Z" fill-rule="evenodd"/>
      </svg>
    </BulletPoint>
    <BulletPoint
      title="Expand Telehealth Readiness"
      content="Develop research partnerships with Michigan providers to ensure representation of their challenges."
      direction="column"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
        <path fill="#4B7BE5" transform="translate(1 1)" d="M13 0C14.656855 0 16 1.3431457 16 3L16 6L19 6C20.597681 6 21.903662 7.24892 21.994907 8.8237276L22 9L22 13C22 14.656855 20.656855 16 19 16L16 16L16 19C16 20.597681 14.75108 21.903662 13.176272 21.994907L13 22L9 22C7.3431458 22 6 20.656855 6 19L6 16L3 16C1.4023191 16 0.096339121 14.75108 0.0050926935 13.176272L0 13L0 9C0 7.3431458 1.3431457 6 3 6L6 6L6 3C6 1.4023191 7.24892 0.096339121 8.8237276 0.0050926935L9 0L13 0ZM13 2L9 2C8.4477148 2 8 2.4477153 8 3L8 7C8 7.5522847 7.5522847 8 7 8L3 8C2.4477153 8 2 8.4477148 2 9L2 13C2 13.552285 2.4477153 14 3 14L7 14C7.5522847 14 8 14.447715 8 15L8 19C8 19.552284 8.4477148 20 9 20L13 20C13.552285 20 14 19.552284 14 19L14 15C14 14.447715 14.447715 14 15 14L19 14C19.552284 14 20 13.552285 20 13L20 9C20 8.4477148 19.552284 8 19 8L15 8C14.447715 8 14 7.5522847 14 7L14 3C14 2.4477153 13.552285 2 13 2Z"/>
      </svg>
    </BulletPoint>
    <BulletPoint
            title="Leverage Community Anchor Institutions"
            content="Use well-connected institutions as community hubs for telehealth services."
            direction="column"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: 0.75">
          <path fill="#4B7BE5" transform="translate(1 1)" d="M15 0C17.614147 0 19.733334 2.1191854 19.733334 4.7333331C19.733334 7.0471501 18.073109 8.9732008 15.878931 9.3852167C19.625164 9.8191795 22.533333 13.003304 22.533333 16.866667L22.533333 19.666666C22.533333 20.218952 22.085619 20.666666 21.533333 20.666666L19.637667 20.666334L18.795036 29.099504C18.747849 29.571383 18.377687 29.939386 17.916941 29.993212L17.799999 30L12.2 30C11.686249 30 11.256083 29.610706 11.204963 29.099504L10.360666 20.666334L8.4666662 20.666666C7.9538307 20.666666 7.5311594 20.280626 7.4733944 19.783287L7.4666667 19.666666L7.4666667 16.866667C7.4666667 13.003304 10.374836 9.8191795 14.121454 9.384016C11.92689 8.9732008 10.266666 7.0471501 10.266666 4.7333331L10.271538 4.5166683C10.384781 2.0030882 12.458467 0 15 0ZM5.6666665 3.7333333C7.7653489 3.7333333 9.4666662 5.4346514 9.4666662 7.5333333C9.4666662 9.4804821 8.0021629 11.085578 6.1145601 11.307215C6.4420319 11.470063 6.6666665 11.808798 6.6666665 12.2C6.6666665 12.752285 6.2189512 13.2 5.6666665 13.2C3.6416225 13.2 2 14.841622 2 16.866667L2 18.666L2.8666666 18.666666C3.3321958 18.666666 3.7304776 18.98665 3.8381972 19.42948L3.8589447 19.542631L4.6820002 26.132999L7.5333333 26.133333C8.0461693 26.133333 8.4688406 26.519373 8.5266056 27.016712L8.5333338 27.133333C8.5333338 27.685617 8.085618 28.133333 7.5333333 28.133333L3.8 28.133333C3.2956767 28.133333 2.8702757 27.757797 2.8077221 27.257368L1.983 20.666L1 20.666666C0.48716417 20.666666 0.064492837 20.280626 0.0067277313 19.783287L0 19.666666L0 16.866667C0 14.0008 2.1274533 11.631827 4.889215 11.252892C3.163682 10.895251 1.8666667 9.3657589 1.8666667 7.5333333L1.8716112 7.3377857C1.9733871 5.3299804 3.6335685 3.7333333 5.6666665 3.7333333ZM26.233334 4.2424369C27.409058 4.9212413 28.133333 6.175724 28.133333 7.5333333C28.133333 8.8909426 27.409058 10.145425 26.233334 10.82423C25.877565 11.029633 25.496817 11.172881 25.106205 11.253977C27.870487 11.629535 30 13.999413 30 16.866667L30 19.666666C30 20.218952 29.552284 20.666666 29 20.666666L28.015667 20.666L27.192278 27.257368C27.134537 27.719303 26.767622 28.07482 26.314852 28.126781L26.200001 28.133333L22.466667 28.133333C21.914381 28.133333 21.466667 27.685617 21.466667 27.133333C21.466667 26.581049 21.914381 26.133333 22.466667 26.133333L25.316668 26.132999L26.141056 19.542631C26.198797 19.080698 26.56571 18.72518 27.018482 18.67322L27.133333 18.666666L27.999666 18.666L28 16.866667C28 14.906946 26.46258 13.30631 24.528067 13.205083L24.333334 13.2C23.781048 13.2 23.333334 12.752285 23.333334 12.2C23.333334 11.808388 23.558441 11.469352 23.886316 11.305229C23.382128 11.247286 22.887384 11.086377 22.433332 10.82423C21.257608 10.145425 20.533333 8.8909426 20.533333 7.5333333L20.539993 7.3081012C20.615202 6.0381141 21.322927 4.8835301 22.433332 4.2424369C23.609056 3.563632 25.05761 3.563632 26.233334 4.2424369ZM15 11.333333C11.944024 11.333333 9.4666662 13.810691 9.4666662 16.866667L9.4666662 18.666334L11.266666 18.666666C11.740899 18.666666 12.143909 18.998373 12.243313 19.451479L12.261703 19.567163L13.104667 27.999334L16.894667 27.999334L17.738297 19.567163C17.785484 19.095284 18.155645 18.72728 18.616394 18.673456L18.733334 18.666666L20.532667 18.666334L20.533333 16.866667C20.533333 13.883452 18.172541 11.451631 15.217275 11.337521L15 11.333333ZM5.6666665 5.7333331C4.672554 5.7333331 3.8666666 6.5392208 3.8666666 7.5333333C3.8666666 8.5274458 4.672554 9.333333 5.6666665 9.333333C6.660779 9.333333 7.4666667 8.5274458 7.4666667 7.5333333C7.4666667 6.5392208 6.660779 5.7333331 5.6666665 5.7333331ZM23.433332 5.9744873C22.876411 6.2960267 22.533333 6.8902555 22.533333 7.5333333C22.533333 8.1764116 22.876411 8.7706404 23.433332 9.0921793C23.990255 9.4137182 24.676411 9.4137182 25.233334 9.0921793C25.790255 8.7706404 26.133333 8.1764116 26.133333 7.5333333C26.133333 6.8902555 25.790255 6.2960267 25.233334 5.9744873C24.676411 5.6529484 23.990255 5.6529484 23.433332 5.9744873ZM15 2C13.490421 2 12.266666 3.2237551 12.266666 4.7333331C12.266666 6.2429118 13.490421 7.4666667 15 7.4666667C16.509579 7.4666667 17.733334 6.2429118 17.733334 4.7333331C17.733334 3.2237551 16.509579 2 15 2Z"/>
      </svg>
    </BulletPoint>
  </StateFindingsInANutshell>


  <Modal id={'broadband-performance-variability'} isOpen={false} clearPaddings bgColor="#0F0E25">
    <StateFindingsModal head="01" title="Broadband Performance Variability" heroImage={findingThumbnail1.src}>
      <div class={styles.twoElementGrid}>
        <BulletPoint
                title="Inconsistent Upload and Download Speeds Across Counties"
                content="Broadband quality and access differed widely among the six focus counties. Although some areas reported median download speeds exceeding a 100 Mbps benchmark, upload speeds often fell short around 20 Mbps. For instance, Oscoda County achieved impressive download speeds of 357.2 Mbps but had upload speeds averaging only 11.5 Mbps."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1 3.00003)" d="M11.007559 0C17.026972 0.045500696 21.88866 4.8843837 21.998142 10.860735L21.999716 12.999621C21.999716 14.288264 20.955065 15.332915 19.66642 15.332915L2.3335938 15.332915C1.0449508 15.332915 0.00029941168 14.288264 0.00029941168 12.999621L0.0003290819 11.161156C-0.022301883 8.2233839 1.1231304 5.3969688 3.1845994 3.3037994C5.163609 1.2943571 7.8311815 0.11872271 10.640571 0.0082452549L11.007559 0ZM11 1.9989715L10.694203 2.0077176C8.4012871 2.1042178 6.2253499 3.0665462 4.6095624 4.7071815C2.9203289 6.4223914 1.9817252 8.7384462 2.0002995 11.153453L2.0002995 12.999621C2.0002995 13.183695 2.1495204 13.332915 2.3335938 13.332915L7.3484325 13.332201C7.4946847 11.712904 8.6937304 10.397318 10.255752 10.075262L12.051266 4.6862936C12.225913 4.1623502 12.792233 3.8791902 13.316176 4.0538378C13.84012 4.2284856 14.12328 4.7948055 13.948632 5.318749L12.307747 10.239761C13.587689 10.728543 14.523481 11.913871 14.651582 13.332201L19.66642 13.332915C19.850494 13.332915 19.999716 13.183695 19.999716 12.999621L19.999743 11.143348C20.036362 6.2207928 16.147219 2.1843169 11.25999 2.0058343L11 1.9989715ZM10.971522 12.002204L11.000008 11.99968C10.194143 11.99968 9.5218697 12.571646 9.3669968 13.331768L12.633018 13.331768C12.480684 12.584108 11.827776 12.018484 11.039534 12.000139L10.971522 12.002204ZM17.333157 12.002346C16.596781 12.002346 15.999832 11.405396 15.999832 10.669023C15.999832 9.9326477 16.596781 9.3356991 17.333157 9.3356991C18.06953 9.3356991 18.666479 9.9326477 18.666479 10.669023C18.666479 11.362081 18.137693 11.931634 17.461563 11.996243L17.333157 12.002346ZM4.6668591 9.3330326C5.4032331 9.3330326 6.0001826 9.9299812 6.0001826 10.666356C6.0001826 11.359414 5.4713969 11.928967 4.7952671 11.993576L4.6668591 11.99968C3.9304848 11.99968 3.3335354 11.40273 3.3335354 10.666356C3.3335354 9.9299812 3.9304848 9.3330326 4.6668591 9.3330326ZM6.0001535 6.0024629C6.7365279 6.0024629 7.333477 6.599412 7.333477 7.3357863C7.333477 8.0288448 6.8046913 8.5983982 6.1285615 8.6630068L6.0001535 8.6691103C5.2637792 8.6691103 4.6668296 8.0721607 4.6668296 7.3357863C4.6668296 6.599412 5.2637792 6.0024629 6.0001535 6.0024629ZM15.999862 5.9997964C16.736237 5.9997964 17.333185 6.5967455 17.333185 7.3331199C17.333185 8.0261784 16.804399 8.5957317 16.128269 8.6603403L15.999862 8.6664438C15.263487 8.6664438 14.666537 8.0694942 14.666537 7.3331199C14.666537 6.5967455 15.263487 5.9997964 15.999862 5.9997964ZM8.6667423 3.3358741C9.4031162 3.3358741 10.000066 3.9328234 10.000066 4.6691976C10.000066 5.3622556 9.4712801 5.9318094 8.7951498 5.9964175L8.6667423 6.002521C7.9303679 6.002521 7.3334184 5.4055719 7.3334184 4.6691976C7.3334184 3.9328234 7.9303679 3.3358741 8.6667423 3.3358741Z"/>
          </svg>
        </BulletPoint>
        <BulletPoint
                title="Consumer Challenges"
                content="While Michigan-based consumers had higher average download speeds than some states, a significant proportion of speed tests fell below a 25/3 Mbps threshold, indicating inconsistent service reliability."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" style="scale: 1.5">
            <path fill="#4B7BE5" transform="translate(0.25 0.25)" d="M7.75 0C12.03008 0 15.5 3.4699197 15.5 7.75C15.5 12.03008 12.03008 15.5 7.75 15.5C3.4699197 15.5 0 12.03008 0 7.75C0 3.4699197 3.4699197 0 7.75 0ZM7.75 1.5C4.298347 1.5 1.5 4.298347 1.5 7.75C1.5 11.201653 4.298347 14 7.75 14C11.201653 14 14 11.201653 14 7.75C14 4.298347 11.201653 1.5 7.75 1.5ZM11.513345 8.8666668C11.927559 8.8667469 12.26328 9.2025986 12.2632 9.6168118C12.26312 10.031025 11.927268 10.366747 11.513055 10.366667C10.202205 10.366413 9.0044546 11.109066 8.421855 12.283334C8.2377596 12.654388 7.7877216 12.80595 7.4166665 12.621855C7.0456114 12.43776 6.8940501 11.987721 7.078145 11.616667C7.9140496 9.9318476 9.6325607 8.8663025 11.513345 8.8666668ZM4.9499998 5.8333335C5.4930801 5.8333335 5.9333334 6.2735868 5.9333334 6.8166666C5.9333334 7.3209553 5.5537271 7.7365823 5.0646772 7.7933846L4.9499998 7.8000002C4.40692 7.8000002 3.9666667 7.3597465 3.9666667 6.8166666C3.9666667 6.2735868 4.40692 5.8333335 4.9499998 5.8333335ZM10.083333 5.8333335C10.626413 5.8333335 11.066667 6.2735868 11.066667 6.8166666C11.066667 7.3209553 10.68706 7.7365823 10.19801 7.7933846L10.083333 7.8000002C9.5402536 7.8000002 9.1000004 7.3597465 9.1000004 6.8166666C9.1000004 6.2735868 9.5402536 5.8333335 10.083333 5.8333335Z"/>
          </svg>
        </BulletPoint>
      </div>
    </StateFindingsModal>
  </Modal>
  <Modal id={'healthcare-connectivity-challenges'} isOpen={false} clearPaddings bgColor="#0F0E25">
    <StateFindingsModal head="02" title="Healthcare Connectivity Challenges" heroImage={findingThumbnail2.src}>
      <div class={styles.twoElementGrid}>
        <BulletPoint
                title="Limited Participation"
                content="Unlike other states at the time of analysis, the TBP team was unable to enroll healthcare sites despite multiple different approaches. Most healthcare sites in this geography relied on a centralized IT service.  This dependency increased the cost to the organization to evaluate their ability to participate hindering healthcare site enrollments."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: .75">
            <path fill="#4B7BE5" transform="translate(1 1)" d="M15 0C17.614147 0 19.733334 2.1191854 19.733334 4.7333331C19.733334 7.0471501 18.073109 8.9732008 15.878931 9.3852167C19.625164 9.8191795 22.533333 13.003304 22.533333 16.866667L22.533333 19.666666C22.533333 20.218952 22.085619 20.666666 21.533333 20.666666L19.637667 20.666334L18.795036 29.099504C18.747849 29.571383 18.377687 29.939386 17.916941 29.993212L17.799999 30L12.2 30C11.686249 30 11.256083 29.610706 11.204963 29.099504L10.360666 20.666334L8.4666662 20.666666C7.9538307 20.666666 7.5311594 20.280626 7.4733944 19.783287L7.4666667 19.666666L7.4666667 16.866667C7.4666667 13.003304 10.374836 9.8191795 14.121454 9.384016C11.92689 8.9732008 10.266666 7.0471501 10.266666 4.7333331L10.271538 4.5166683C10.384781 2.0030882 12.458467 0 15 0ZM5.6666665 3.7333333C7.7653489 3.7333333 9.4666662 5.4346514 9.4666662 7.5333333C9.4666662 9.4804821 8.0021629 11.085578 6.1145601 11.307215C6.4420319 11.470063 6.6666665 11.808798 6.6666665 12.2C6.6666665 12.752285 6.2189512 13.2 5.6666665 13.2C3.6416225 13.2 2 14.841622 2 16.866667L2 18.666L2.8666666 18.666666C3.3321958 18.666666 3.7304776 18.98665 3.8381972 19.42948L3.8589447 19.542631L4.6820002 26.132999L7.5333333 26.133333C8.0461693 26.133333 8.4688406 26.519373 8.5266056 27.016712L8.5333338 27.133333C8.5333338 27.685617 8.085618 28.133333 7.5333333 28.133333L3.8 28.133333C3.2956767 28.133333 2.8702757 27.757797 2.8077221 27.257368L1.983 20.666L1 20.666666C0.48716417 20.666666 0.064492837 20.280626 0.0067277313 19.783287L0 19.666666L0 16.866667C0 14.0008 2.1274533 11.631827 4.889215 11.252892C3.163682 10.895251 1.8666667 9.3657589 1.8666667 7.5333333L1.8716112 7.3377857C1.9733871 5.3299804 3.6335685 3.7333333 5.6666665 3.7333333ZM26.233334 4.2424369C27.409058 4.9212413 28.133333 6.175724 28.133333 7.5333333C28.133333 8.8909426 27.409058 10.145425 26.233334 10.82423C25.877565 11.029633 25.496817 11.172881 25.106205 11.253977C27.870487 11.629535 30 13.999413 30 16.866667L30 19.666666C30 20.218952 29.552284 20.666666 29 20.666666L28.015667 20.666L27.192278 27.257368C27.134537 27.719303 26.767622 28.07482 26.314852 28.126781L26.200001 28.133333L22.466667 28.133333C21.914381 28.133333 21.466667 27.685617 21.466667 27.133333C21.466667 26.581049 21.914381 26.133333 22.466667 26.133333L25.316668 26.132999L26.141056 19.542631C26.198797 19.080698 26.56571 18.72518 27.018482 18.67322L27.133333 18.666666L27.999666 18.666L28 16.866667C28 14.906946 26.46258 13.30631 24.528067 13.205083L24.333334 13.2C23.781048 13.2 23.333334 12.752285 23.333334 12.2C23.333334 11.808388 23.558441 11.469352 23.886316 11.305229C23.382128 11.247286 22.887384 11.086377 22.433332 10.82423C21.257608 10.145425 20.533333 8.8909426 20.533333 7.5333333L20.539993 7.3081012C20.615202 6.0381141 21.322927 4.8835301 22.433332 4.2424369C23.609056 3.563632 25.05761 3.563632 26.233334 4.2424369ZM15 11.333333C11.944024 11.333333 9.4666662 13.810691 9.4666662 16.866667L9.4666662 18.666334L11.266666 18.666666C11.740899 18.666666 12.143909 18.998373 12.243313 19.451479L12.261703 19.567163L13.104667 27.999334L16.894667 27.999334L17.738297 19.567163C17.785484 19.095284 18.155645 18.72728 18.616394 18.673456L18.733334 18.666666L20.532667 18.666334L20.533333 16.866667C20.533333 13.883452 18.172541 11.451631 15.217275 11.337521L15 11.333333ZM5.6666665 5.7333331C4.672554 5.7333331 3.8666666 6.5392208 3.8666666 7.5333333C3.8666666 8.5274458 4.672554 9.333333 5.6666665 9.333333C6.660779 9.333333 7.4666667 8.5274458 7.4666667 7.5333333C7.4666667 6.5392208 6.660779 5.7333331 5.6666665 5.7333331ZM23.433332 5.9744873C22.876411 6.2960267 22.533333 6.8902555 22.533333 7.5333333C22.533333 8.1764116 22.876411 8.7706404 23.433332 9.0921793C23.990255 9.4137182 24.676411 9.4137182 25.233334 9.0921793C25.790255 8.7706404 26.133333 8.1764116 26.133333 7.5333333C26.133333 6.8902555 25.790255 6.2960267 25.233334 5.9744873C24.676411 5.6529484 23.990255 5.6529484 23.433332 5.9744873ZM15 2C13.490421 2 12.266666 3.2237551 12.266666 4.7333331C12.266666 6.2429118 13.490421 7.4666667 15 7.4666667C16.509579 7.4666667 17.733334 6.2429118 17.733334 4.7333331C17.733334 3.2237551 16.509579 2 15 2Z"/>
          </svg>
        </BulletPoint>
        <BulletPoint
                title="Innitiatives and Healthcare"
                content="The absence of rural healthcare site participation in the program highlights a potential disconnect between rural healthcare providers and the telehealth initiatives that could be available to them, which may exacerbate rural telehealth disparities over time."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1 1)" d="M13 0C14.656855 0 16 1.3431457 16 3L16 6L19 6C20.597681 6 21.903662 7.24892 21.994907 8.8237276L22 9L22 13C22 14.656855 20.656855 16 19 16L16 16L16 19C16 20.597681 14.75108 21.903662 13.176272 21.994907L13 22L9 22C7.3431458 22 6 20.656855 6 19L6 16L3 16C1.4023191 16 0.096339121 14.75108 0.0050926935 13.176272L0 13L0 9C0 7.3431458 1.3431457 6 3 6L6 6L6 3C6 1.4023191 7.24892 0.096339121 8.8237276 0.0050926935L9 0L13 0ZM13 2L9 2C8.4477148 2 8 2.4477153 8 3L8 7C8 7.5522847 7.5522847 8 7 8L3 8C2.4477153 8 2 8.4477148 2 9L2 13C2 13.552285 2.4477153 14 3 14L7 14C7.5522847 14 8 14.447715 8 15L8 19C8 19.552284 8.4477148 20 9 20L13 20C13.552285 20 14 19.552284 14 19L14 15C14 14.447715 14.447715 14 15 14L19 14C19.552284 14 20 13.552285 20 13L20 9C20 8.4477148 19.552284 8 19 8L15 8C14.447715 8 14 7.5522847 14 7L14 3C14 2.4477153 13.552285 2 13 2Z"/>
          </svg>
        </BulletPoint>
      </div>
    </StateFindingsModal>
  </Modal>
  <Modal id={'community-anchor-institutions-as-potential-hubs'} isOpen={false} clearPaddings bgColor="#0F0E25">
    <StateFindingsModal head="03" title="Community Anchor Institutions as Potential Hubs" heroImage={findingThumbnail3.src}>
      <div class={styles.oneElementGrid}>
        <BulletPoint
                title="Strong Performance"
                content="Community Anchor Institutions (CAls) showed steady broadband performance, with median speeds of 123.5 Mbps download and 11.1 Mbps upload. Schools and libraries could serve as pivotal hubs for telehealth initiatives in these regions however there is still work to be done to improve this."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="14">
            <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(15.0977 1.09766)" d="M6 6L6 0L0 0" fill-rule="evenodd"/>
            <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.09766 1.09766)" d="M20 0L12.943111 7.0568891C12.693038 7.3071222 12.35377 7.4477153 12 7.4477153C11.64623 7.4477153 11.306962 7.3071222 11.056889 7.0568891L8.2764444 4.2764444C8.026371 4.0262113 7.6871033 3.885618 7.3333335 3.885618C6.9795632 3.885618 6.640295 4.0262113 6.3902221 4.2764444L0 10.666667" fill-rule="evenodd"/>
          </svg>
        </BulletPoint>
      </div>
    </StateFindingsModal>
  </Modal>
</BaseLayout>

<script src="../../scripts/findings_template.ts"></script>