---
import '../../global.css';
import styles from './styles/template.module.css';
import BaseLayout from "../../layouts/BaseLayout.astro";
import StateFindingsHero from "../../components/findings/states/StateFindingsHero.astro";
import StateFindingsOverview from "../../components/findings/states/StateFindingsOverview.astro";
import StateGuidanceAndRecommendations from "../../components/findings/states/StateGuidanceAndRecommendations.astro";
import SectionWithIncomingImage from "../../components/common/wrappers/SectionWithIncomingImage";
import BulletPoint from "../../components/common/content/BulletPoint.astro";
import StateFindings from "../../components/findings/states/StateFindings.astro";
import StateFindingsInANutshell from "../../components/findings/states/StateFindingsInANutshell.astro";
import Tab from "../../components/common/misc/Tab.astro";
import FloatingTabs from "../../components/common/misc/FloatingTabs.astro";
import Modal from "../../components/common/wrappers/Modal.astro";
import StateFindingsButton from "../../components/findings/states/StateFindingsButton.astro";
import StateFindingsModal from "../../components/findings/states/StateFindingsModal.astro";
import WestVirginiaGuidanceAndRecommendationsContent
  from "../../components/findings/states/west-virginia/WestVirginiaGuidanceAndRecommendationsContent.astro";

import findingsHero from '../../assets/images/wv-findings-hero.webp';
import stateImage from '../../assets/images/wv-state-image.webp';
import findingThumbnail1 from '../../assets/images/wv-findings-thumbnail-1.webp';
import findingThumbnail2 from '../../assets/images/wv-findings-thumbnail-2.webp';
import findingThumbnail3 from '../../assets/images/wv-findings-thumbnail-3.webp';
import outreachStrategies from '../../assets/images/wv-vertical-incoming-1.webp';
import lessonsLearned from '../../assets/images/wv-vertical-incoming-2.webp';
import mainStateImage from '../../assets/images/wv-main-findings-image.webp';
---

<BaseLayout
        title="Findings in West Virginia"
        description="Findings in West Virginia"
        heroBgStyle={{ backgroundImage: `url(${findingsHero.src})`, height: '536px' }}
>
  <StateFindingsHero
          state="West Virginia"
          head="Findings in West Virginia"
          title="West Virginia's Connectivity Landscape"
          subtitle="Highlighting the effects of broadband limitations on healthcare connectivity in rural West Virginia."
          reportUrl="/findings/west-virginia-report.pdf"
  />

  <StateFindingsOverview
          state="West Virginia"
          title="The Study in West Virginia"
          firstParagraph="In West Virginia, the Telehealth Broadband Pilot focused on seven rural counties: Calhoun, Clay, Jackson, Kanawha, Nicholas, Ritchie, and Roane."
          secondParagraph="West Virginia's mountainous terrain and dispersed rural communities posed significant barriers to broadband deployment. Despite some progress, inconsistent and unreliable connectivity remains a significant obstacle to telehealth adoption across the region."
          stateImageUrl={stateImage.src}
  />

  <div class={styles.mainBodyImage} style={{backgroundImage: `url(${mainStateImage.src})`}}></div>

  <StateFindings
          title="Insights in Rural West Virginia"
          subtitle="Explore the broadband gaps, telehealth challenges, and opportunities for community-driven solutions."
  >
    <StateFindingsButton
            modalId="broadband-performance-variability"
            backgroundImage={findingThumbnail1.src}
            head="01"
            title="Broadband Performance Variability"
    />
    <StateFindingsButton
            modalId="healthcare-connectivity-challenges"
            backgroundImage={findingThumbnail2.src}
            head="02"
            title="Healthcare Connectivity Challenges"
    />
    <StateFindingsButton
            modalId="community-anchor-institutions-as-potential-hubs"
            backgroundImage={findingThumbnail3.src}
            head="03"
            title="Community Anchor Institutions as Potential Hubs"
    />
  </StateFindings>

  <StateGuidanceAndRecommendations title="Strategies and Learnings from West Virginia">
    <FloatingTabs scrollToId="guidance-and-recommendations">
      <Tab
              id="outreach-strategies"
              label="Outreach Strategies"
              isActive="true"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: .5">
          <path fill="#ACAFCD" transform="translate(1 3.99832)" d="M25.405766 1.0016814L25.405766 20.806559C25.405766 21.605255 24.515619 22.081646 23.851065 21.638609L22.490015 20.731243C18.555607 18.108891 13.98151 16.623524 9.270998 16.427511C9.4997435 18.156 10.313359 19.766388 11.591622 20.982195C11.9918 21.36282 12.007651 21.995787 11.627026 22.395964C11.246401 22.796143 10.613434 22.811995 10.213256 22.431368C8.5320063 20.832266 7.4886336 18.691473 7.252871 16.405043L5.5011086 16.40523C2.4629302 16.40523 0 13.942299 0 10.90412C0 7.865942 2.4629302 5.4030118 5.5011086 5.4030118L8.2016888 5.4030118C13.287004 5.4025793 18.258486 3.8973856 22.489929 1.0770546L23.851065 0.16963112C24.515619 -0.27340537 25.405766 0.20298603 25.405766 1.0016814ZM23.404774 2.8666813L23.140614 3.0404112C18.989462 5.690546 14.210645 7.1871686 9.296031 7.3813581L9.2017736 7.3836813L9.2017736 14.423681L9.296031 14.426883C14.210646 14.621073 18.989468 16.117699 23.14069 18.767881L23.404774 18.940681L23.404774 2.8666813ZM7.2010002 7.4030118L5.5011086 7.4030118C3.6319535 7.4030118 2.1049068 8.867753 2.0051806 10.712025L2 10.90412C2 12.837729 3.5674996 14.405229 5.5011086 14.405229L7.2010002 14.405012L7.2010002 7.4030118ZM28.006653 8.1036768C28.558937 8.1036768 29.006653 8.5513926 29.006653 9.1036768L29.006653 12.704564C29.006653 13.256848 28.558937 13.704564 28.006653 13.704564C27.454367 13.704564 27.006653 13.256848 27.006653 12.704564L27.006653 9.1036768C27.006653 8.5513926 27.454367 8.1036768 28.006653 8.1036768Z"/>
        </svg>
      </Tab>
      <Tab
              id="lessons-learned"
              label="Lessons Learned"
              isActive="false"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="24" style="scale: 0.667">
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3.45)" d="M9 2.6219726C6.4113193 1.035096 3.4614589 0.13293166 0.428 0.00037253386C0.31658599 -0.0043705222 0.20802332 0.036340479 0.12719999 0.11317253C0.046558708 0.18928187 0.00059359026 0.29508838 0 0.40597254L0 13.799573C0.00022568832 14.01878 0.17299491 14.198954 0.39199999 14.208372C3.1693251 13.812761 5.989078 14.550492 8.2167997 16.255573C8.4645433 16.358225 8.7345295 16.395416 9.0008001 16.363573" fill-rule="evenodd"/>
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.9992 3.45)" d="M0.00079999998 2.6219726C2.5894809 1.035096 5.539341 0.13293166 8.5727997 0.00037253386C8.6842136 -0.0043705222 8.7927771 0.036340479 8.8736 0.11317253C8.9548454 0.18985523 9.0008001 0.29665378 9.0008001 0.40837252L9.0008001 13.799573C9.0005741 14.01878 8.8278055 14.198954 8.6087999 14.208372C5.8314748 13.812761 3.0117221 14.550492 0.78399998 16.255573C0.53625655 16.358225 0.26627091 16.395416 0 16.363573" fill-rule="evenodd"/>
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.3379 6.07197)" d="M0.66206896 0L0.66206896 13.7496" fill-rule="evenodd"/>
          <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.2 17.5824)" d="M0 0.0128L0 2.5936C-0.0003453251 2.717962 0.055936564 2.8357193 0.15292571 2.9135597C0.24991485 2.9914002 0.37706313 3.020858 0.49840158 2.9935999C2.9000089 2.4928246 5.3467398 2.2402968 7.8000016 2.24C10.10902 2.2387972 12.411244 2.4901586 14.665602 2.9895999C14.786862 3.0162208 14.913656 2.9865196 15.010478 2.908813C15.107301 2.8311067 15.163743 2.7137482 15.164001 2.5896001L15.164001 0" fill-rule="evenodd"/>
        </svg>
      </Tab>
    </FloatingTabs>
    <div class={styles.incomingImageContainer}>
      <SectionWithIncomingImage
              client:only="react"
              contentIds={['outreach-strategies', 'lessons-learned']}
              imageSrcs={[outreachStrategies.src, lessonsLearned.src]}
              highSensitivity
      >
        <WestVirginiaGuidanceAndRecommendationsContent/>
      </SectionWithIncomingImage>
    </div>
  </StateGuidanceAndRecommendations>

  <StateFindingsInANutshell>
    <BulletPoint
            title="Improve Broadband Infrastructure"
            content="Prioritize expanding broadband access and reliability in counties with the poorest performance, particularly consumer locations."
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
        <path fill="#4B7BE5" transform="translate(1 1.99998)" d="M11 5.6195126C12.656842 5.6195126 13.999978 6.9626484 13.999978 8.6194906C13.999978 9.9253626 13.165606 11.036358 12.000894 11.448445L12 19.227371C12 19.779655 11.552285 20.227371 11 20.227371C10.447715 20.227371 10 19.779655 10 19.227371L10.000096 11.448795C8.8348665 11.036986 8.0000219 9.9257326 8.0000219 8.6194906L8.0051155 8.4432192C8.0963612 6.8684235 9.4023314 5.6195126 11 5.6195126ZM18.123974 0.23804128C20.582876 2.3278501 22 5.3920498 22 8.6190462C22 11.846042 20.582876 14.910242 18.123974 17.00005C17.703144 17.357712 17.072054 17.306503 16.714394 16.885674C16.356733 16.464844 16.40794 15.833754 16.82877 15.476092C18.840559 13.766284 20 11.259262 20 8.6190462C20 5.9788299 18.840559 3.471808 16.82877 1.761999C16.40794 1.4043382 16.356733 0.77324748 16.714394 0.35241821C17.072054 -0.068411097 17.703144 -0.11961939 18.123974 0.23804128ZM5.2856069 0.35241821C5.6432676 0.77324748 5.5920591 1.4043382 5.1712298 1.761999C3.1594412 3.471808 2 5.9788299 2 8.6190462C2 11.259262 3.1594412 13.766284 5.1712298 15.476092C5.5920591 15.833754 5.6432676 16.464844 5.2856069 16.885674C4.9279461 17.306503 4.2968554 17.357712 3.8760262 17.00005C1.4171234 14.910242 0 11.846042 0 8.6190462C0 5.3920498 1.4171234 2.3278501 3.8760262 0.23804128C4.2968554 -0.11961939 4.9279461 -0.068411097 5.2856069 0.35241821ZM15.532821 3.2859471C17.097801 4.6157665 17.999765 6.5658145 17.999765 8.6194906C17.999765 10.673166 17.097801 12.623214 15.532821 13.953033C15.111959 14.310656 14.480873 14.259388 14.123251 13.838526C13.76563 13.417664 13.816896 12.786577 14.237759 12.428956C15.355541 11.479136 15.999764 10.086322 15.999764 8.6194906C15.999764 7.1526589 15.355541 5.7598438 14.237759 4.8100247C13.816896 4.4524031 13.76563 3.821317 14.123251 3.4004545C14.480873 2.9795923 15.111959 2.9283254 15.532821 3.2859471ZM7.876749 3.4004545C8.2343702 3.821317 8.1831036 4.4524031 7.7622414 4.8100247C6.6444592 5.7598438 6.0002351 7.1526589 6.0002351 8.6194906C6.0002351 10.086322 6.6444592 11.479136 7.7622414 12.428956C8.1831036 12.786577 8.2343702 13.417664 7.876749 13.838526C7.5191274 14.259388 6.8880415 14.310656 6.4671788 13.953033C4.9021983 12.623214 4.0002351 10.673166 4.0002351 8.6194906C4.0002351 6.5658145 4.9021983 4.6157665 6.4671788 3.2859471C6.8880415 2.9283254 7.5191274 2.9795923 7.876749 3.4004545ZM11 7.6195126C10.447727 7.6195126 10.000022 8.0672178 10.000022 8.6194906C10.000022 9.1717625 10.447727 9.6194677 11 9.6194677C11.552273 9.6194677 11.999978 9.1717625 11.999978 8.6194906C11.999978 8.0672178 11.552273 7.6195126 11 7.6195126Z"/>
      </svg>
    </BulletPoint>
    <BulletPoint
            title="Expand Partnerships"
            content="Use CAIs and local champions as springboards for further broadband improvement and telehealth adoption."
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: .75">
        <path fill="#4B7BE5" transform="translate(1 1)" d="M15 0C17.614147 0 19.733334 2.1191854 19.733334 4.7333331C19.733334 7.0471501 18.073109 8.9732008 15.878931 9.3852167C19.625164 9.8191795 22.533333 13.003304 22.533333 16.866667L22.533333 19.666666C22.533333 20.218952 22.085619 20.666666 21.533333 20.666666L19.637667 20.666334L18.795036 29.099504C18.747849 29.571383 18.377687 29.939386 17.916941 29.993212L17.799999 30L12.2 30C11.686249 30 11.256083 29.610706 11.204963 29.099504L10.360666 20.666334L8.4666662 20.666666C7.9538307 20.666666 7.5311594 20.280626 7.4733944 19.783287L7.4666667 19.666666L7.4666667 16.866667C7.4666667 13.003304 10.374836 9.8191795 14.121454 9.384016C11.92689 8.9732008 10.266666 7.0471501 10.266666 4.7333331L10.271538 4.5166683C10.384781 2.0030882 12.458467 0 15 0ZM5.6666665 3.7333333C7.7653489 3.7333333 9.4666662 5.4346514 9.4666662 7.5333333C9.4666662 9.4804821 8.0021629 11.085578 6.1145601 11.307215C6.4420319 11.470063 6.6666665 11.808798 6.6666665 12.2C6.6666665 12.752285 6.2189512 13.2 5.6666665 13.2C3.6416225 13.2 2 14.841622 2 16.866667L2 18.666L2.8666666 18.666666C3.3321958 18.666666 3.7304776 18.98665 3.8381972 19.42948L3.8589447 19.542631L4.6820002 26.132999L7.5333333 26.133333C8.0461693 26.133333 8.4688406 26.519373 8.5266056 27.016712L8.5333338 27.133333C8.5333338 27.685617 8.085618 28.133333 7.5333333 28.133333L3.8 28.133333C3.2956767 28.133333 2.8702757 27.757797 2.8077221 27.257368L1.983 20.666L1 20.666666C0.48716417 20.666666 0.064492837 20.280626 0.0067277313 19.783287L0 19.666666L0 16.866667C0 14.0008 2.1274533 11.631827 4.889215 11.252892C3.163682 10.895251 1.8666667 9.3657589 1.8666667 7.5333333L1.8716112 7.3377857C1.9733871 5.3299804 3.6335685 3.7333333 5.6666665 3.7333333ZM26.233334 4.2424369C27.409058 4.9212413 28.133333 6.175724 28.133333 7.5333333C28.133333 8.8909426 27.409058 10.145425 26.233334 10.82423C25.877565 11.029633 25.496817 11.172881 25.106205 11.253977C27.870487 11.629535 30 13.999413 30 16.866667L30 19.666666C30 20.218952 29.552284 20.666666 29 20.666666L28.015667 20.666L27.192278 27.257368C27.134537 27.719303 26.767622 28.07482 26.314852 28.126781L26.200001 28.133333L22.466667 28.133333C21.914381 28.133333 21.466667 27.685617 21.466667 27.133333C21.466667 26.581049 21.914381 26.133333 22.466667 26.133333L25.316668 26.132999L26.141056 19.542631C26.198797 19.080698 26.56571 18.72518 27.018482 18.67322L27.133333 18.666666L27.999666 18.666L28 16.866667C28 14.906946 26.46258 13.30631 24.528067 13.205083L24.333334 13.2C23.781048 13.2 23.333334 12.752285 23.333334 12.2C23.333334 11.808388 23.558441 11.469352 23.886316 11.305229C23.382128 11.247286 22.887384 11.086377 22.433332 10.82423C21.257608 10.145425 20.533333 8.8909426 20.533333 7.5333333L20.539993 7.3081012C20.615202 6.0381141 21.322927 4.8835301 22.433332 4.2424369C23.609056 3.563632 25.05761 3.563632 26.233334 4.2424369ZM15 11.333333C11.944024 11.333333 9.4666662 13.810691 9.4666662 16.866667L9.4666662 18.666334L11.266666 18.666666C11.740899 18.666666 12.143909 18.998373 12.243313 19.451479L12.261703 19.567163L13.104667 27.999334L16.894667 27.999334L17.738297 19.567163C17.785484 19.095284 18.155645 18.72728 18.616394 18.673456L18.733334 18.666666L20.532667 18.666334L20.533333 16.866667C20.533333 13.883452 18.172541 11.451631 15.217275 11.337521L15 11.333333ZM5.6666665 5.7333331C4.672554 5.7333331 3.8666666 6.5392208 3.8666666 7.5333333C3.8666666 8.5274458 4.672554 9.333333 5.6666665 9.333333C6.660779 9.333333 7.4666667 8.5274458 7.4666667 7.5333333C7.4666667 6.5392208 6.660779 5.7333331 5.6666665 5.7333331ZM23.433332 5.9744873C22.876411 6.2960267 22.533333 6.8902555 22.533333 7.5333333C22.533333 8.1764116 22.876411 8.7706404 23.433332 9.0921793C23.990255 9.4137182 24.676411 9.4137182 25.233334 9.0921793C25.790255 8.7706404 26.133333 8.1764116 26.133333 7.5333333C26.133333 6.8902555 25.790255 6.2960267 25.233334 5.9744873C24.676411 5.6529484 23.990255 5.6529484 23.433332 5.9744873ZM15 2C13.490421 2 12.266666 3.2237551 12.266666 4.7333331C12.266666 6.2429118 13.490421 7.4666667 15 7.4666667C16.509579 7.4666667 17.733334 6.2429118 17.733334 4.7333331C17.733334 3.2237551 16.509579 2 15 2Z"/>
      </svg>
    </BulletPoint>
  </StateFindingsInANutshell>


  <Modal id={'broadband-performance-variability'} isOpen={false} clearPaddings bgColor="#0F0E25">
    <StateFindingsModal head="01" title="Broadband Performance Variability" heroImage={findingThumbnail1.src}>
      <div class={styles.twoElementGrid}>
        <BulletPoint
                title="Mixed Connectivity Results"
                content="Median download speeds varied widely across the counties, with some areas, such as Kanawha County, achieving 304.3 Mbps, while others, like Roane County, lagged behind at 15.3 Mbps."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1.5 2.5)" d="M18.114576 0C19.708153 0 21 1.2918477 21 2.8854227L21 15.581244C21 17.174818 19.708153 18.466667 18.114576 18.466667L2.8854227 18.466667C1.2918477 18.466667 0 17.174818 0 15.581244L0 2.8854227C0 1.2918477 1.2918477 0 2.8854227 0L18.114576 0ZM19 5.8000002L2 5.8000002L2 15.581244C2 16.07025 2.3964174 16.466667 2.8854227 16.466667L18.114576 16.466667C18.603582 16.466667 19 16.07025 19 15.581244L19 5.8000002ZM15.452497 8.6593065L15.079013 9.5276461C14.889895 9.9605494 14.696846 10.393564 14.504396 10.814306L14.079356 11.72442L13.945127 12.002858C13.356682 13.212653 12.919954 13.983425 12.551021 14.352779C11.418093 15.485707 9.5819073 15.485707 8.4493818 14.353182C7.3168573 13.220657 7.3168573 11.384471 8.4493818 10.251946C8.8187027 9.8826256 9.5890007 9.4459867 10.797991 8.8579025L11.367949 8.5854597C11.773335 8.3947639 12.197187 8.2012177 12.627119 8.0093479L13.586906 7.5878119L14.143401 7.3500066C14.969198 7.0032768 15.799356 7.8335624 15.452497 8.6593065ZM12.407022 10.583241L12.568989 10.232031L11.94017 10.527541L11.672833 10.656416C10.702168 11.128573 10.007301 11.522453 9.863596 11.66616C9.5121193 12.017636 9.5121193 12.587492 9.863596 12.938969C10.215072 13.290444 10.784928 13.290444 11.136404 12.938969C11.279786 12.795424 11.673957 12.099759 12.146594 11.128053L12.407022 10.583241ZM18.114576 2L2.8854227 2C2.3964174 2 2 2.3964174 2 2.8854227L2 3.8L19 3.8L19 2.8854227C19 2.3964174 18.603582 2 18.114576 2Z"/>
          </svg>
        </BulletPoint>
        <BulletPoint
                title="Consumer Challenges"
                content="Over 39% of speed tests from consumer homes fell below even the 25/3 Mbps threshold, highlighting the difficulty residents face in accessing consistent, high-quality internet."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" style="scale: 1.5">
            <path fill="#4B7BE5" transform="translate(0.25 0.25)" d="M7.75 0C12.03008 0 15.5 3.4699197 15.5 7.75C15.5 12.03008 12.03008 15.5 7.75 15.5C3.4699197 15.5 0 12.03008 0 7.75C0 3.4699197 3.4699197 0 7.75 0ZM7.75 1.5C4.298347 1.5 1.5 4.298347 1.5 7.75C1.5 11.201653 4.298347 14 7.75 14C11.201653 14 14 11.201653 14 7.75C14 4.298347 11.201653 1.5 7.75 1.5ZM11.513345 8.8666668C11.927559 8.8667469 12.26328 9.2025986 12.2632 9.6168118C12.26312 10.031025 11.927268 10.366747 11.513055 10.366667C10.202205 10.366413 9.0044546 11.109066 8.421855 12.283334C8.2377596 12.654388 7.7877216 12.80595 7.4166665 12.621855C7.0456114 12.43776 6.8940501 11.987721 7.078145 11.616667C7.9140496 9.9318476 9.6325607 8.8663025 11.513345 8.8666668ZM4.9499998 5.8333335C5.4930801 5.8333335 5.9333334 6.2735868 5.9333334 6.8166666C5.9333334 7.3209553 5.5537271 7.7365823 5.0646772 7.7933846L4.9499998 7.8000002C4.40692 7.8000002 3.9666667 7.3597465 3.9666667 6.8166666C3.9666667 6.2735868 4.40692 5.8333335 4.9499998 5.8333335ZM10.083333 5.8333335C10.626413 5.8333335 11.066667 6.2735868 11.066667 6.8166666C11.066667 7.3209553 10.68706 7.7365823 10.19801 7.7933846L10.083333 7.8000002C9.5402536 7.8000002 9.1000004 7.3597465 9.1000004 6.8166666C9.1000004 6.2735868 9.5402536 5.8333335 10.083333 5.8333335Z"/>
          </svg>
        </BulletPoint>
      </div>
    </StateFindingsModal>
  </Modal>
  <Modal id={'healthcare-connectivity-challenges'} isOpen={false} clearPaddings bgColor="#0F0E25">
    <StateFindingsModal head="02" title="Healthcare Connectivity Challenges" heroImage={findingThumbnail2.src}>
      <div class={styles.twoElementGrid}>
        <BulletPoint
                title="Progress at Healthcare Sites"
                content="West Virginia was the only state where the median speeds at healthcare locations met the 100/20 Mbps benchmark. However, only 44.9% of individual speed tests achieved this benchmark, showing significant inconsistencies in broadband quality."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="14">
            <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(15.0977 1.09766)" d="M6 6L6 0L0 0" fill-rule="evenodd"/>
            <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.09766 1.09766)" d="M20 0L12.943111 7.0568891C12.693038 7.3071222 12.35377 7.4477153 12 7.4477153C11.64623 7.4477153 11.306962 7.3071222 11.056889 7.0568891L8.2764444 4.2764444C8.026371 4.0262113 7.6871033 3.885618 7.3333335 3.885618C6.9795632 3.885618 6.640295 4.0262113 6.3902221 4.2764444L0 10.666667" fill-rule="evenodd"/>
          </svg>
        </BulletPoint>
        <BulletPoint
                title="Impact on Services"
                content="Poor broadband reliability at healthcare sites disrupted telehealth services, leading to delays and reduced access to critical care for rural residents."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
            <path fill="#4B7BE5" transform="translate(1 1)" d="M13 0C14.656855 0 16 1.3431457 16 3L16 6L19 6C20.597681 6 21.903662 7.24892 21.994907 8.8237276L22 9L22 13C22 14.656855 20.656855 16 19 16L16 16L16 19C16 20.597681 14.75108 21.903662 13.176272 21.994907L13 22L9 22C7.3431458 22 6 20.656855 6 19L6 16L3 16C1.4023191 16 0.096339121 14.75108 0.0050926935 13.176272L0 13L0 9C0 7.3431458 1.3431457 6 3 6L6 6L6 3C6 1.4023191 7.24892 0.096339121 8.8237276 0.0050926935L9 0L13 0ZM13 2L9 2C8.4477148 2 8 2.4477153 8 3L8 7C8 7.5522847 7.5522847 8 7 8L3 8C2.4477153 8 2 8.4477148 2 9L2 13C2 13.552285 2.4477153 14 3 14L7 14C7.5522847 14 8 14.447715 8 15L8 19C8 19.552284 8.4477148 20 9 20L13 20C13.552285 20 14 19.552284 14 19L14 15C14 14.447715 14.447715 14 15 14L19 14C19.552284 14 20 13.552285 20 13L20 9C20 8.4477148 19.552284 8 19 8L15 8C14.447715 8 14 7.5522847 14 7L14 3C14 2.4477153 13.552285 2 13 2Z"/>
          </svg>
        </BulletPoint>
      </div>
    </StateFindingsModal>
  </Modal>
  <Modal id={'community-anchor-institutions-as-potential-hubs'} isOpen={false} clearPaddings bgColor="#0F0E25">
    <StateFindingsModal head="03" title="Community Anchor Institutions as Potential Hubs" heroImage={findingThumbnail3.src}>
      <div class={styles.oneElementGrid}>
        <BulletPoint
                title="Strength in Community Locations"
                content="Schools, libraries, and other CAIs showed potential to support telehealth services, though their broadband quality was not uniformly high. Median speeds were better than consumer locations but fell short of the reliability needed for consistent telehealth."
                direction="column"
        >
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" style="scale: .75">
            <path fill="#4B7BE5" transform="translate(1 1)" d="M15 0C17.614147 0 19.733334 2.1191854 19.733334 4.7333331C19.733334 7.0471501 18.073109 8.9732008 15.878931 9.3852167C19.625164 9.8191795 22.533333 13.003304 22.533333 16.866667L22.533333 19.666666C22.533333 20.218952 22.085619 20.666666 21.533333 20.666666L19.637667 20.666334L18.795036 29.099504C18.747849 29.571383 18.377687 29.939386 17.916941 29.993212L17.799999 30L12.2 30C11.686249 30 11.256083 29.610706 11.204963 29.099504L10.360666 20.666334L8.4666662 20.666666C7.9538307 20.666666 7.5311594 20.280626 7.4733944 19.783287L7.4666667 19.666666L7.4666667 16.866667C7.4666667 13.003304 10.374836 9.8191795 14.121454 9.384016C11.92689 8.9732008 10.266666 7.0471501 10.266666 4.7333331L10.271538 4.5166683C10.384781 2.0030882 12.458467 0 15 0ZM5.6666665 3.7333333C7.7653489 3.7333333 9.4666662 5.4346514 9.4666662 7.5333333C9.4666662 9.4804821 8.0021629 11.085578 6.1145601 11.307215C6.4420319 11.470063 6.6666665 11.808798 6.6666665 12.2C6.6666665 12.752285 6.2189512 13.2 5.6666665 13.2C3.6416225 13.2 2 14.841622 2 16.866667L2 18.666L2.8666666 18.666666C3.3321958 18.666666 3.7304776 18.98665 3.8381972 19.42948L3.8589447 19.542631L4.6820002 26.132999L7.5333333 26.133333C8.0461693 26.133333 8.4688406 26.519373 8.5266056 27.016712L8.5333338 27.133333C8.5333338 27.685617 8.085618 28.133333 7.5333333 28.133333L3.8 28.133333C3.2956767 28.133333 2.8702757 27.757797 2.8077221 27.257368L1.983 20.666L1 20.666666C0.48716417 20.666666 0.064492837 20.280626 0.0067277313 19.783287L0 19.666666L0 16.866667C0 14.0008 2.1274533 11.631827 4.889215 11.252892C3.163682 10.895251 1.8666667 9.3657589 1.8666667 7.5333333L1.8716112 7.3377857C1.9733871 5.3299804 3.6335685 3.7333333 5.6666665 3.7333333ZM26.233334 4.2424369C27.409058 4.9212413 28.133333 6.175724 28.133333 7.5333333C28.133333 8.8909426 27.409058 10.145425 26.233334 10.82423C25.877565 11.029633 25.496817 11.172881 25.106205 11.253977C27.870487 11.629535 30 13.999413 30 16.866667L30 19.666666C30 20.218952 29.552284 20.666666 29 20.666666L28.015667 20.666L27.192278 27.257368C27.134537 27.719303 26.767622 28.07482 26.314852 28.126781L26.200001 28.133333L22.466667 28.133333C21.914381 28.133333 21.466667 27.685617 21.466667 27.133333C21.466667 26.581049 21.914381 26.133333 22.466667 26.133333L25.316668 26.132999L26.141056 19.542631C26.198797 19.080698 26.56571 18.72518 27.018482 18.67322L27.133333 18.666666L27.999666 18.666L28 16.866667C28 14.906946 26.46258 13.30631 24.528067 13.205083L24.333334 13.2C23.781048 13.2 23.333334 12.752285 23.333334 12.2C23.333334 11.808388 23.558441 11.469352 23.886316 11.305229C23.382128 11.247286 22.887384 11.086377 22.433332 10.82423C21.257608 10.145425 20.533333 8.8909426 20.533333 7.5333333L20.539993 7.3081012C20.615202 6.0381141 21.322927 4.8835301 22.433332 4.2424369C23.609056 3.563632 25.05761 3.563632 26.233334 4.2424369ZM15 11.333333C11.944024 11.333333 9.4666662 13.810691 9.4666662 16.866667L9.4666662 18.666334L11.266666 18.666666C11.740899 18.666666 12.143909 18.998373 12.243313 19.451479L12.261703 19.567163L13.104667 27.999334L16.894667 27.999334L17.738297 19.567163C17.785484 19.095284 18.155645 18.72728 18.616394 18.673456L18.733334 18.666666L20.532667 18.666334L20.533333 16.866667C20.533333 13.883452 18.172541 11.451631 15.217275 11.337521L15 11.333333ZM5.6666665 5.7333331C4.672554 5.7333331 3.8666666 6.5392208 3.8666666 7.5333333C3.8666666 8.5274458 4.672554 9.333333 5.6666665 9.333333C6.660779 9.333333 7.4666667 8.5274458 7.4666667 7.5333333C7.4666667 6.5392208 6.660779 5.7333331 5.6666665 5.7333331ZM23.433332 5.9744873C22.876411 6.2960267 22.533333 6.8902555 22.533333 7.5333333C22.533333 8.1764116 22.876411 8.7706404 23.433332 9.0921793C23.990255 9.4137182 24.676411 9.4137182 25.233334 9.0921793C25.790255 8.7706404 26.133333 8.1764116 26.133333 7.5333333C26.133333 6.8902555 25.790255 6.2960267 25.233334 5.9744873C24.676411 5.6529484 23.990255 5.6529484 23.433332 5.9744873ZM15 2C13.490421 2 12.266666 3.2237551 12.266666 4.7333331C12.266666 6.2429118 13.490421 7.4666667 15 7.4666667C16.509579 7.4666667 17.733334 6.2429118 17.733334 4.7333331C17.733334 3.2237551 16.509579 2 15 2Z"/>
          </svg>
        </BulletPoint>
      </div>
    </StateFindingsModal>
  </Modal>
</BaseLayout>


<script>
  function attachModals() {
    const stateFindingsContainer = document.getElementById('state-findings')!;
    const children = Array.from(stateFindingsContainer.children);
    children.forEach(button => {
      const modal = document.getElementById((button as HTMLButtonElement).dataset.modalId!);
      if(modal) {
        button.addEventListener('click', () => {
          modal.dataset.isOpen = 'true';
        });
      }
    });
  }
  
  attachModals()
</script>
