<%= turbo_frame_tag "public-page-#{client.unix_user}" do %>
  <div id="public--pod-icon-container">
    <span class="svg-icon svg-icon-2x svg-icon-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M12.4409 22C13.5455 22 14.4409 21.1046 14.4409 20C14.4409 18.8954 13.5455 18 12.4409 18C11.3364 18 10.4409 18.8954 10.4409 20C10.4409 21.1046 11.3364 22 12.4409 22Z" fill="black"/>
        <path opacity="0.3" d="M9.04095 14.8L9.94095 16.1C10.6409 15.6 11.5409 15.3 12.4409 15.3C13.3409 15.3 14.2409 15.6 14.9409 16.1L15.8409 14.8C16.1409 14.3 16.0409 13.6 15.4409 13.4C14.5409 13 13.5409 12.7 12.4409 12.7C11.3409 12.7 10.3409 12.9 9.44095 13.4C8.84095 13.6 8.74095 14.3 9.04095 14.8Z" fill="black"/>
        <path opacity="0.3" d="M3.14096 5.80005L4.04095 7.19995C6.44095 5.59995 9.34094 4.69995 12.4409 4.69995C15.5409 4.69995 18.4409 5.59995 20.8409 7.19995L21.7409 5.80005C22.0409 5.30005 21.8409 4.70002 21.3409 4.40002C18.7409 2.90002 15.6409 2 12.4409 2C9.24094 2 6.14095 2.90002 3.54095 4.40002C3.04095 4.70002 2.84096 5.30005 3.14096 5.80005Z" fill="black"/>
        <path opacity="0.3" d="M6.14097 10.3L7.04096 11.7C8.64096 10.7 10.441 10.1 12.541 10.1C14.641 10.1 16.441 10.7 18.041 11.7L18.941 10.3C19.241 9.80005 19.141 9.10002 18.541 8.90002C16.741 7.90002 14.741 7.40002 12.541 7.40002C10.341 7.40002 8.34096 7.90002 6.54096 8.90002C5.94096 9.10002 5.74097 9.80005 6.14097 10.3Z" fill="black"/>
      </svg>
    </span>
  </div>

  <p class="card-main-title mt-2 mb-3"><%= client.name || "Unnamed Pod" %></p>
  <div class="mx-auto mb-5 custom-badge custom-badge--<%= client.status_suffix_without_running %>"><%= client.status_without_running %></div>

  <div class="public--horizontal-divider"></div>

  <p class="dialog-main-title mb-2">This pod belongs to <%= client.account.name %></p>
  <p class="additional-text mb-6">This pod is monitoring the quality of the internet connection</p>

  <div class="public--horizontal-divider"></div>

  <% if client.location.nil? || client.location.latest_measurement.nil? %>
    <div class="public--no-measurement-container mb-8">
      <div class="public--no-measurement-icons-container">
        <div class="public--no-measurement-icon-container me-4">
          <%= image_tag image_url('download-icon-blue.png') %>
          <span class="public--additional-text">-</span>
        </div>
        <div class="public--no-measurement-icon-container">
          <%= image_tag image_url('upload-icon-blue.png') %>
          <span class="public--additional-text">-</span>
        </div>
      </div>
      <p class="additional-text m-0">No measurement available</p>
    </div>
  <% elsif client.status == "Test running" %>
    <div class="mx-auto d-flex flex-row justify-content-center align-items-center custom-badge custom-badge--<%= client.status_suffix %> mb-2">
      <div class="spinner-border spinner-border-sm me-1 public--custom-spinner" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <%= client.status %>
    </div>
    <p class="additional-text mb-7">Right now</p>
  <% else %>
    <div class="public--no-measurement-container">
      <div class="public--no-measurement-icons-container">
        <div class="public--no-measurement-icon-container me-4">
          <%= image_tag image_url('download-icon-blue.png') %>
          <span class="public--speed-text"><%= client.location.latest_measurement.download.round(2) %> <span class="public--speed-text-unit">Mbps</span></span>
        </div>
        <div class="public--no-measurement-icon-container">
          <%= image_tag image_url('upload-icon-blue.png') %>
          <span class="public--speed-text"><%= client.location.latest_measurement.upload.round(2) %> <span class="public--speed-text-unit">Mbps</span></span>
        </div>
      </div>
      <p class="public--additional-text"><%= "Last measurement on #{pretty_print_date_with_time(client.location.latest_measurement.created_at)}" %></p>
    </div>
  <% end %>

  <div class="public--status-card">
    <div id="public--status-card-status">
      <p class="regular-bold-text mb-1">Status</p>
      <div id="public--status-card-status-date">
        <div class="custom-badge custom-badge--<%= client.status_suffix_without_running %> mb-0 me-2"><%= client.status_without_running %></div>
        <p class="public--additional-text m-0"><%= client.get_status_timestamp %></p>
      </div>
    </div>
    <div class="public--vertical-divider-conditional"></div>
    <div class="public--horizontal-divider-conditional"></div>
    <div id="public--status-card-isp">
      <p class="regular-bold-text mb-1">Internet provider</p>
      <p class="additional-text m-0">
        <%= client.location.nil? ||
            client.location.latest_measurement.nil? ||
            client.location.latest_measurement.autonomous_system.nil? ? 
          "Not available" : 
          client.location.latest_measurement.autonomous_system.autonomous_system_org.name %>
      </p>
    </div> 
  </div>

  <div class="public--speed-cards-container">
    <div class="public--status-card half">
      <div class="public--status-card-speed">
        <%= image_tag image_url('download-icon-blue.png'), class: "public--arrow-icon" %>
        <p class="regular-bold-text mb-1">Avg Download Speed</p>
        <p class="additional-text m-0 text-left"><%= client.location.nil? || client.location.latest_measurement.nil? ? "N/A" : "#{client.location.measurements.average(:download).round(1)} Mbps" %></p>
      </div>
    </div>
    <div class="public--status-card half">
      <div class="public--status-card-speed">
        <%= image_tag image_url('upload-icon-blue.png'), class: "public--arrow-icon" %>
        <p class="regular-bold-text mb-1">Avg Upload Speed</p>
        <p class="additional-text m-0 text-left"><%= client.location.nil? || client.location.latest_measurement.nil? ? "N/A" : "#{client.location.measurements.average(:upload).round(1)} Mbps" %></p>
      </div>
    </div>
  </div>


  <% if client.status == "Test running" %>
    <span class="public--tooltip-wrapper additional-text wrap" data-bs-custom-class="additional-text wrap public--custom-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="A speed test is already running or you need to wait a few minutes before taking another one.">
      <a class="custom-button custom-button--primary custom-button--lg custom-button--disabled public--manage-pod-button disabled">
        <%= image_tag image_url('run-speed-test-icon.png'), id: 'public--run-speed-test-icon' %>
        Run speed test
      </a>
    </span>
  <% else %>
    <button class="custom-button custom-button--primary custom-button--lg public--manage-pod-button" data-action="click->public-page#runPublicTest">
      <%= image_tag image_url('run-speed-test-icon.png'), id: 'public--run-speed-test-icon' %>
      Run speed test
    </button>
  <% end %>

  <% if user_signed_in? %>
    <p class="additional-text w-100 mt-6 mb-0 mx-0 text-center wrap">You can run a new speed test or if you are responsible for managing this pod, you can <a href="<%= dashboard_path %>" data-turbo-frame="_top" class="regular-link">go to your dashboard.</a></p>
  <% else %>
    <p class="additional-text w-100 mt-6 mb-0 mx-0 text-center wrap">You can run a new speed test or if you are responsible for managing this pod, you can <a class="regular-link mb-0" href="#" data-bs-target="#dashboard_modal" data-bs-toggle="modal">go to your dashboard.</a></p>
  <% end %>
<% end %>