<%= render partial: "application/components/modals/modal_header",
           locals: { title: "Move a pod to \"#{resource.name}\"", is_custom: true }
%>

<%= form_with(url: move_a_pod_clients_path, method: :put) do |form| %>
  <div class="modals--content-container" data-type="full" data-resource="move-pod" data-controller="move-pod" data-current-account-name="<%= resource.account.name %>">
    <div class="modals--form-row mb-4">
      <label for="pod-to-move-select" class="forms--label">Choose a pod to move</label>
      <div class="pods--multi-pod-select-container"
           data-open="false"
           data-action="click->move-pod#toggleSelect"
      >
        <%= form.hidden_field :network_id, value: resource.id %>
        <%= form.hidden_field :unix_user, data: { move_pod_target: "podIdHiddenInput" } %>
        <p class="text--select" data-move-pod-target="emptyPodSelectedMessage">Choose a pod</p>
        <div class="pods--selected-pod-to-move-field" data-move-pod-target="podSelectedMessage" hidden="hidden">
          <%= image_tag image_url('pod-small-icon.png'), width: 16, height: 16 %>
          <p class="text--select" data-move-pod-target="podSelectedMessageText"></p>
        </div>

        <%= image_tag image_url('arrow-down-dark.png'), width: 16, height: 16 %>
        <%= render partial: "pods/modals/move_a_pod/pods_dropdown" %>
      </div>
    </div>
    <% if current_account.is_all_accounts? %>
      <div class="modals--banner mb-6" data-move-pod-target="warningBanner" hidden="hidden" data-type="warning">
      </div>
    <% end %>
  </div>

  <div class="modals--footer-container">
    <%= render partial: "application/components/buttons/close_modal_button", locals: { text: "Cancel", is_custom: true } %>
    <!--begin::ContinueButton-->
    <button type="submit"
            class="custom-button custom-button--lg custom-button--primary"
            data-controller="loading-feedback"
            data-action="click->loading-feedback#replaceContent"
            data-selected-pods-grid-target="continueButton"
    >Continue
    </button>
    <!--end::ContinueButton-->
  </div>
<% end %>