<div class="modal-header modals--header">
  <%= link_to categories_path, { class: "tables--row-option table-menu-option", "data-turbo-frame" => "categories_modal", "data-action" => "click->custom-modal#closeModal", id: "manage-categories-button-ref" } do %>
    <%= image_tag image_url('arrow-left-dark.png'), width: 24, height: 24, class: "hoverable" %>
  <% end %>
  <h5 class="modals--title">Manage categories</h5>
  <div class="custom-close-button hoverable" data-action="click->custom-modal#closeModal">
    <%= image_tag image_url('close-modal-icon.png'), width: 24, height: 24 %>
  </div>
</div>
<%= form_with(url: import_categories_url, method: :post) do |form| %>
  <%= render partial: "categories/import_from_another_account_form",
             locals: {
               accounts: @accounts,
               form: form,
             }
  %>
<% end %>