<% import_from_accounts = @categories.select { |_, categories| categories.count > 0 }.keys.map { |account| [account.name, account.id] } %>
<% import_to_accounts = current_account.is_all_accounts? ? @categories.keys.map { |account| [account.name, account.id] } : nil %>
<div class="modal-dialog category--modal-dialog" data-controller="categories">
  <div class="modal-content category--modal-content">
    <%= render partial: "application/components/modals/modal_header", locals: { title: "Import categories" } %>
    <%= form_with(url: import_categories_url, method: :post) do |form| %>
      <div class="modal-body modals--body d-flex flex-column justify-content-start align-items-center category--modal-body">
        <div class="" >
          <div>
            <%= form.label :import_from, "Import from..." %>
            <%= form.select :import_from, options_for_select(import_from_accounts), {}, { class: "", data: { action: "change->categories#showCategoriesForSelectedAccount" } } %>
          </div>
          <% if current_account.is_all_accounts? %>
            <div>
              <%= form.label :import_to, "Import to..." %>
              <%= form.select :import_to, options_for_select(import_to_accounts), {}, { class: "" } %>
            </div>
          <% end %>
          <div>
            <% @categories.each do |account, account_categories| %>
              <div data-categories-target="AccountCategoriesPicker" id="account-<%= account.id %>-categories" <%= account.id == import_from_accounts.first[1] ? nil : "hidden=hidden" %>>
                <div>
                  <%= form.label :categories, "Categories" %>
                  <select name="categories[]" data-categories-target="SelectedCategories" data-action="change->categories#updateSelectedCategories" >
                    <option value="" disabled selected>Choose a category</option>
                    <% account_categories.each do |category| %>
                      <option value="<%= category.id %>"><%= category.name %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer modals--footer">
        <%= form.submit "Import categories", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>