<%= turbo_frame_tag dom_id(category), class: "category--turbo-frame" do %>
  <div class="category--list-item" data-controller="categories" id="<%= dom_id(category) %>">
    <div class="category--list-item-left-container">
      <div class="category--marker category--marker-list" style="background-color: <%= category.color_hex %>"></div>
      <div class="category--list-item-text-container">
        <p class="category--list-item-title"><%= category.name %></p>
      </div>
    </div>
    <div class="category--list-item-options-container">
      <% unless category.locked %>
        <%= render partial: "application/components/buttons/custom_more_options_button",
                   locals: {
                     index: category.id,
                     type: Category.name,
                     with_bg: false,
                     big: false,
                     row: category,
                   }
        %>
      <% end %>
    </div>
  </div>
<% end %>