<%= turbo_frame_tag dom_id(category), class: "category--turbo-frame" do %>
<div class="category--list-item" data-controller="categories" id="<%= dom_id(category) %>">
  <div class="category--list-item-left-container">
    <div class="category--marker category--marker-list" style="background-color: <%= category.color_hex %>"></div>
    <div class="category--list-item-text-container">
      <p class="category--list-item-title"><%= category.name %></p>
      <p class="category--list-item-subtitle"><%= category.locations.count %> <%= category.locations.count == 1 ? "location" : "locations" %></p>
    </div>
  </div>
  <div class="category--list-item-options-container">
    <% if !category.locked %>
      <a class="category--more-options-icon-container" href="<%= category_edit_path(category.id) %>">
        <%= image_tag image_url('edit-pencil.png'), id: 'category--edit-pencil-icon' %>
      </a>
      <div class="category--more-options-icon-container" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
        <i class="fas fa-ellipsis-v text-gray-700" id="category--list-item-menu-icon@<%= category.id %>"></i>
      </div>
      <div class="menu menu-sub menu-sub-dropdown category--options-menu"
          data-kt-menu="true"
          data-categories-target="menuIcon"
          id="categoy--list-item-more-options@<%= category.id %>"
      >
        <a class="category--options-menu-item"
          href="<%= category_edit_path(category.id) %>"
          data-turbo-frame="category--<%= category.id %>"
        >Edit category</a>
        <a class="category--options-menu-item"
          href="<%= category_delete_path(category.id) %>"
          data-turbo-frame="delete_category_modal"
          data-action="click->categories#closeBaseModal"
        >Delete category</a>
      </div>
    <% end %>
  </div>
</div>
<% end %>