<div class="modal-dialog category--modal-dialog">
  <div class="modal-content category--modal-content">
    <%= render partial: "application/components/modals/modal_header", locals: {title: "Manage location categories"} %>
    <div class="modal-body modals--body d-flex flex-column justify-content-start align-items-center category--modal-body"
         data-controller="categories"
         data-action="click->categories#checkCloseColorPicker keydown->categories#checkCloseColorPicker"
    >
      <div class="category--search-add-container">
        <%= render partial: "categories/search_input", locals: { url: categories_path, turbo_frame: "categories" } %>
        <%= render partial: "categories/add_category_button" %>
      </div>
      <%= turbo_frame_tag "new-category" do %>
      <% end %>
      <%= turbo_frame_tag "categories", class: "category--list-container" do %>
        <% if categories.count > 0  %>
          <% categories.each do |category| %>
            <%= render partial: "categories/list_item", locals: {category: category} %>
          <% end %>
        <% elsif params[:query].present? %>
          <p class="category--empty-state-text">No categories found for "<%= params[:query] %>".</p>
        <% else %>
          <%= render partial: "categories/empty_list" %>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer modals--footer">
      <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Close"} %>
    </div>
  </div>
</div>