<%= turbo_frame_tag "new-category", class: "category--form-frame-tag" do %>
  <%= form_with(model: Category.new, url: categories_path, method: :post) do |form| %>
    <div class="category--list-item-edit">
      <div class="category--list-item-text-container-edit">
        <%= form.text_field :name, class: "category--list-item-input", placeholder: "New Category name", autofocus: true, data: { action: "input->categories#checkCategoryName", "category-id": "-1" } %>
        <%= form.hidden_field :color_hex, value: "#4b7be5", "data-categories-target" => "hiddenHexInput" %>
        <%= render partial: "categories/color_picker", locals: {category: Category.new} %>
      </div>
      <div class="category--list-item-options-container">
        <button type="button"
                class="category--edit-button category--edit-cancel-button"
                data-controller="fetch"
                data-url="<%= category_cancel_new_path %>"
                data-action="click->fetch#fetchTurbo"
        >
          <%= image_tag image_url('cancel.png'), class: 'category--edit-button-icon' %>
        </button>
        <button id="category--submit--1" type="submit" class="category--edit-button category--edit-confirm-button">
          <%= image_tag image_url('white-checkmark.png'), class: 'category--edit-button-icon' %>
        </button>
      </div>
    </div>
  <% end %>
<% end %>