<%= turbo_frame_tag dom_id(@category) do %>
  <%= form_with(model: @category, url: category_path(@category.id), method: :put) do |form| %>
    <div class="category--list-item-edit">
      <div class="category--list-item-text-container-edit">
        <%= form.text_field :name, class: "category--list-item-input", placeholder: "Category name", autofocus: true, data: {action: "input->categories#checkCategoryName", "category-id": @category.id} %>
        <%= form.hidden_field :color_hex, "data-categories-target" => "hiddenHexInput" %>
        <%= render partial: "categories/color_picker", locals: {category: @category} %>
      </div>
      <div class="category--list-item-options-container">
        <%= link_to category_cancel_edit_path(@category), class: "category--edit-button category--edit-cancel-button" do %>
          <%= image_tag image_url('cancel.png'), class: 'category--edit-button-icon' %>
        <% end %>
        <button id="category--submit-<%= @category.id %>" type="submit" class="category--edit-button category--edit-confirm-button">
          <%= image_tag image_url('white-checkmark.png'), class: 'category--edit-button-icon' %>
        </button>
      </div>
    </div>
  <% end %>
<% end %>