<%= turbo_frame_tag "new-category" do %>
  <%= form_with(model: @category, url: categories_path, method: :post) do |form| %>
    <div class="category--list-item-edit" data-controller="categories">
      <div class="category--list-item-text-container-edit">
        <%= form.text_field :name, class: "category--list-item-input", placeholder: "New Category name", autofocus: true %>
        <%= form.hidden_field :color_hex, value: "#4b7be5", "data-categories-target" => "hiddenHexInput" %>
        <div class="category--markers-container">
          <% ["#4b7be5", "#f7aa5a", "#98cb87", "#f75a5a", "#9c65e5", "#f24084"].each do |hex| %>
            <div class="category--marker category--marker-hoverable <%= hex == '#4b7be5' ? 'category--marker-selected' : nil %>" 
                 style="background-color: <%= hex %>"
                 data-categories-hex-value="<%= hex %>"
                 data-action="click->categories#pickColor"
                 data-categories-target="colorBall"
            ></div>
          <% end %>
        </div>
      </div>
      <div class="category--list-item-options-container">
        <%= link_to category_cancel_new_path, class: "category--edit-button category--edit-cancel-button" do %>
          <%= image_tag image_url('cancel.png'), class: 'category--edit-button-icon' %>
        <% end %>
        <button type="submit" class="category--edit-button category--edit-confirm-button">
          <%= image_tag image_url('white-checkmark.png'), class: 'category--edit-button-icon' %>
        </button>
      </div>
    </div>
  <% end %>
<% end %>