<tr id="<%= dom_id(update_group) %>">
  <td style="padding-left: 30px">
    <div class="d-flex flex-row justify-content-start align-items-center">
      <p class="fw-bold m-0" style="font-size:15px; color: #3f4254; max-width: 15vw;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
        <%= update_group.name.present? ? update_group.name : "Unnamed Release Group" %>
      </p>
      <% if update_group.default %>
        <span class="badge badge-light-primary ms-2">Default</span>
      <% end %>
    </div>
  </td>
  <td class="mb-1"
      style="font-size:15px; color: #5e6278; max-width: 15vw;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
    <%= update_group.clients.size %> pods
  </td>
  <td class="mb-1"
      style="font-size:15px; color: #5e6278; max-width: 15vw;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
    <%= update_group.client_version.nil? ? "N/A" : update_group.client_version.version %>
  </td>
  <td class="mb-1" style="text-align: right">
    <% unless update_group.default %>
      <%= link_to "Set as Default", default_update_group_path(update_group.id), method: :post, class: "btn btn-light-primary" %>
    <% end %>
  </td>
  <td class="text-end" style="padding-right: 30px">
    <div class="btn-group">
      <button  type="button"
               class="btn btn-sm btn-light btn-active-light-primary dropwdown-toggle"
               data-bs-toggle="dropdown"
               aria-expanded="false"
               style="border-radius: 6px; display: flex; justify-content: center; align-items: center"
               id="<%= "options-button-#{update_group.id}" %>"
      >
        Options
        <span class="svg-icon svg-icon-5 m-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
          </svg>
        </span>
      </button>
      <div class="dropdown-menu fw-bold fs-7 dropdown-menu-start"
           aria-labelledby="<%= "options-button-#{update_group.id}" %>"
           style="min-width: 90px; width: max-content; height: max-content"
      >
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item">
          <%= link_to "Edit", edit_update_group_path(update_group.id), { class: "menu-link text-hover-gray-500 text-gray-700 px-3 py-2", data: { "turbo-frame" => "edit_update_group_modal" } } %>
        </div>
        <!--end::Menu item-->
        <!--begin::Menu item-->
        <div class="menu-item">
          <%= link_to 'Delete', update_group_path(update_group.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "menu-link text-hover-gray-500 text-gray-700 px-3 py-2" %>
        </div>
        <!--end::Menu item-->
      </div>
    </div>
  </td>
</tr>