<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <h1 class="page-main-title">Release Groups
        <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item text-muted page-sub-title"><%= current_account.name %>
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <a href="/clients" class="breadcrumb-item page-sub-title text-active-dark">Pods</a>
        <li class="breadcrumb-item text-dark page-sub-title">Release Groups</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
    <div class="d-flex align-items-center flex-nowrap text-nowrap py-1">
      <%= link_to "Create Release Group", new_update_group_path, { class: "custom-button custom-button--primary custom-button--sm", data: { "turbo-frame" => "create_update_group_modal" } } %>
    </div>
  </div>
  <a href="<%= clients_path %>" class="custom-button custom-button--secondary custom-button--sm ps-3 pe-4-4 py-3 ms-8 mt-3">
    <span class="svg-icon svg-icon-gray custom-button--icon custom-button--icon-start">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.5" x="6" y="11" width="13" height="2" rx="1" fill="currentColor"/>
        <path d="M8.56569 11.4343L12.75 7.25C13.1642 6.83579 13.1642 6.16421 12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75L5.70711 11.2929C5.31658 11.6834 5.31658 12.3166 5.70711 12.7071L11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25C13.1642 17.8358 13.1642 17.1642 12.75 16.75L8.56569 12.5657C8.25327 12.2533 8.25327 11.7467 8.56569 11.4343Z" fill="currentColor"/>
      </svg>
    </span>
    Back to Pods
  </a>
</div>
<!--end::Toolbar-->

<div class="post fs-6 d-flex flex-column-fluid" id="kt_post">
  <!--begin::Container-->
  <div class="container-xxl d-flex flex-column" style="max-width: none;">
    <% if @update_groups.blank? %>
      <%= render partial: "empty_update_groups_view" %>
    <% else %>
      <%= render partial: "update_groups_table", locals: {update_groups: @update_groups} %>
    <% end %>
  </div>
  <!--end::Container-->
</div>

<div class="modal fade" tabindex="-1" id="edit_update_group" data-controller="modal" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal">
  <%= turbo_frame_tag "edit_update_group_modal" do %>
  <% end %>
</div>

<div class="modal fade" tabindex="-1" id="create_update_group" data-controller="modal" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal">
  <%= turbo_frame_tag "create_update_group_modal" do %>
  <% end %>
</div>