---
import '../../global.css';
import ParallaxLayout from "../../layouts/ParallaxLayout.astro";
import styles from './styles/template.module.css';
import commonStyles from '../../common.module.css';
import HeroWithText from "../../components/common/content/HeroWithText.astro";
import Epigraph from "../../components/stories/Epigraph.astro";
import Quote from "../../components/stories/Quote.astro";
import MoreStoriesCard from "../../components/stories/MoreStoriesCard.astro";

import arenacCounty from '../../assets/images/arenac-county.webp';
import openField from '../../assets/images/open-field.webp';
import barn from '../../assets/images/barn.webp';
import oldManRiver from '../../assets/images/old-man-river.webp';
import oldLadyOffice from '../../assets/images/old-lady-office.webp';
import street from '../../assets/images/street.webp';
import womanOffice from '../../assets/images/woman-office.webp';
import subRegionalClinic from '../../assets/images/sub-regional-clinic.webp';
import healthcareBurnout from '../../assets/images/healthcare-burnout.webp';
import theTelehealthStruggle from '../../assets/images/the-telehealth-struggle.webp';
import learningInterrupted from '../../assets/images/learning-interrupted.webp';
import oldLadyThinking from '../../assets/images/old-lady-thinking.webp';
---

<ParallaxLayout
  bgImageSrc={arenacCounty.src}
  title="Stories from the Field: Real Rural Connectivity Challenges"
  description="Read firsthand accounts of how connectivity issues impact rural communities. Stories of resilience, innovation, and lessons learned from real experiences."
>
  
  <section class={styles.header}>
    <div class={styles.overlay} id="parallax-overlay"></div>
    <div class={styles.verticalWhiteLine} id="vertical-white-line"></div>
    <div class={styles.mainHeroContainer} id="parallax-main-hero-text">
      <HeroWithText
        head="Stories"
        title="Healthcare Sites Go Dark"
        content="Alaska's connectivity outage leaves rural communities in crisis."
      />
    </div>
  </section>
  
  <img src={arenacCounty.src}
       class={styles.contentImage}
       alt="Arenac County"
       id="parallax-content-image"
       loading="eager"
  />
  
  <section class={commonStyles.paddedSection} id="parallax-reference-container">
    <div class={styles.textContainer}>
      <HeroWithText head="Alaska · By John Doe"
        title="When Connectivity Becomes a Lifeline: Alaska's Healthcare Struggles Amid an Internet Outage"
        content=`When a severed internet cable left healthcare facilities across rural Alaska reliant on slow satellite connections, healthcare professionals and patients alike faced months of critical service interruptions.
        
        In rural Alaska, internet access isn't merely a convenience; it's a lifeline. When a major fiber-optic cable was accidentally severed in early spring, healthcare facilities across the region were forced to abandon their high-speed connections and revert to limited, sluggish satellite internet. For the healthcare workers and patients who rely on reliable connectivity, it was an abrupt and disorienting shift—one that underscored the fragility of critical services in isolated areas.`
      />
    </div>
  </section>
  
  <section class={styles.verticallyAnimatedImagesContainer}>
    <img alt="barn image" src={barn.src} class={styles.verticalAnimated} data-position="left" id="vertical-offset-image-left" loading="eager"/>
    <img alt="open field image" src={openField.src} class={styles.verticalAnimated} data-position="right" id="vertical-offset-image-right" loading="eager"/>
  </section>
  
  <section class={commonStyles.paddedSection}>
    <p class={styles.paddedText}>When a severed internet cable left healthcare facilities across rural Alaska reliant on slow satellite connections, healthcare professionals and patients alike faced months of critical service interruptions.
    <br/><br/>In rural Alaska, internet access isn't merely a convenience; it's a lifeline. When a major fiber-optic cable was accidentally severed in early spring, healthcare facilities across the region were forced to abandon their high-speed connections and revert to limited, sluggish satellite internet. For the healthcare workers and patients who rely on reliable connectivity, it was an abrupt and disorienting shift—one that underscored the fragility of critical services in isolated areas.
    <br/><br/>At the small clinic in the town of Kodiak, Dr. Mark Evans recalls the day the internet went dark. "We noticed immediately," he recounts, sitting behind his desk with files piled high. "I was in the middle of a telehealth consultation when the call dropped. It was a patient over 200 miles away. By the time I tried reconnecting, the entire network had shifted to satellite."</p>
  </section>
  
  <section class={`${commonStyles.paddedSection} ${styles.horizontalShiftContainer}`}>
    <img src={oldManRiver.src}
      class={styles.horizontalShiftImage}
      id="horizontal-shift-image"
      alt={'Old man looking at a river'}
      loading="eager"
    />
  </section>
  
  <section class={styles.completeSection}>
    <div class={styles.textContainer}>
      <h3>Patients Feel the Impact</h3>
      <p>For patients like Linda North, a 68-year-old managing diabetes, the outage forced her into a difficult decision: make the grueling, often treacherous journey to the clinic or go without the care she relied on.
      <br/><br/>"Before, I could get a check-up with just a phone call and a laptop," Linda explains, her voice tinged with frustration. "After the cable was cut, I missed two appointments before finally making the two-hour drive."</p>
    </div>
    <div class={styles.quoteWrapper}>
      <Quote
        quote="It wasn't just about inconvenience. It felt like I was losing access to my healthcare entirely."
        author="Linda North"
      />
    </div>
    <div class={styles.videoContainer}>
      <video class={styles.video} src="" poster={oldLadyThinking.src} controls></video>
      <div class={styles.epigraphContainer}>
        <Epigraph text="Linda explains all the inconveniences that the outage caused in her life and the impact on her health."/>
      </div>
    </div>
    <div class={styles.textContainer}>
      <p>The clinic staff began documenting each patient's struggles, collecting accounts that illustrated the magnitude of the problem. For rural communities that had been gradually embracing telehealth, the outage felt like a step backward.
      <br/><br/>Dr. Evans' clinic wasn't the only facility affected; dozens of healthcare sites across Alaska faced similar challenges. While the shift to satellite was intended as a temporary fix, weeks turned into months, and each day brought new complications. The clinic's part-time IT technician, Tom Erickson, did his best to troubleshoot the situation but found himself at the mercy of outdated equipment. "It's like putting a bandage on a broken leg," Tom admits, visibly frustrated in a video interview.</p>
    </div>
    <div class={styles.quoteWrapper}>
      <Quote
        quote="We're used to fixing minor issues, but this was on a whole other level. Satellite just couldn't keep up with the demand."
        author="Tom Erikson, IT technician"
      />
    </div>
    <div class={`${styles.textContainer} ${styles.textContainerWithPadding}`}>
      <p>Providers reported a sharp increase in burnout, with doctors and nurses struggling to maintain patient care standards amidst constant connectivity issues. Routine telehealth consultations were disrupted, leaving providers unable to offer consistent care or even respond promptly to emergencies.</p>
    </div>
    
    <div id="three-image-carrousel" class={styles.threeImageCarrousel}>
      <img src={oldLadyOffice.src} alt="Old lady in an office" loading="eager"/>
      <img src={street.src} alt="Street image" loading="eager"/>
      <img src={womanOffice.src} alt="Woman in an office" loading="eager"/>
    </div>
  </section>

  <section class={styles.completeSection}>
    <div class={styles.textContainer}>
      <h3>Months of Waiting and Uncertain Outcome</h3>
      <p>For over three months, the healthcare sites dependent on this cable faced what felt like an endless series of setbacks. Rumors of repair timelines circulated among the community, with updates from service providers often vague and inconsistent. In the meantime, healthcare facilities across the state developed makeshift solutions, including offline charting and extended hours, to accommodate patients as best as possible.</p>
    </div>
    <div class={styles.quoteWrapper}>
      <Quote
        quote="This experience taught us that connectivity is as vital as any other medical equipment in rural healthcare."
        author="Dr. Evans concludes."
      />
    </div>
    <div class={styles.verticallyAnimatedImagesContainer}>
      <img src={openField.src} class={styles.verticalAnimated} loading="eager"/>
      <img src={openField.src} class={styles.verticalAnimated} loading="eager"/>
    </div>
    <div class={styles.textContainer}>
      <p>When service was finally restored, the relief was palpable. But for Dr. Evans, the experience left a lasting impression on the necessity for a resilient backup system. "We can't afford to be left in the dark again," he says. "For rural healthcare, reliable connectivity isn't just a luxury; it's part of the standard of care."</p>
    </div>
    <div class={styles.subRegionalClinicContainer}>
      <img src={subRegionalClinic.src} alt="Sub-regional clinic" loading="eager"/>
      <Epigraph text="Dr. Mark Evans' clinic in Kodiak, Alaska."/>
    </div>
    <div class={styles.textContainer}>
      <p>The community now advocates for diversified connectivity options, pushing for investments in backup infrastructure to ensure they’re never forced to go without essential healthcare access again.</p>
    </div>
  </section>
  
  <section class={`${commonStyles.paddedSection} ${styles.moreStoriesSection}`}>
    <div class={styles.moreStoriesHeroContainer}>
      <HeroWithText head="More Stories"
        title="You might also be interested"
      />
    </div>
    <div class={styles.moreStoriesGrid}>
      <MoreStoriesCard head="Michigan"
        title="Healthcare Burnout"
        preview="A rural Michigan clinic struggled with years of unstable internet due to misconfigured Wi-Fi, which part-time IT staff couldn’t resolve. This impacted telehealth, delayed charting, and ultimately led to provider burnout and turnover."
        link="/stories/michigan-healthcare-burnout"
        imageSrc={healthcareBurnout}
      />
      <MoreStoriesCard head="Texas"
         title="The Telehealth Struggle"
         preview="A remote Texas clinic's outdated equipment caused frequent connection drops during telehealth sessions, preventing many elderly and disabled patients from accessing essential health services."
         link="/stories/the-telehealth-struggle"
         imageSrc={theTelehealthStruggle}
      />
      <MoreStoriesCard head="West Virginia"
         title="Learning Interrupted"
         preview="In rural West Virginia, a school's limited satellite connection disrupted online learning, with students often unable to join lessons or complete assignments. For many families, it was their only reliable internet access."
         link="/stories/learning-interrupted"
         imageSrc={learningInterrupted}
      />
    </div>
  </section>
  
</ParallaxLayout>