<% responsive = @responsive || false %>
<% entity_array = @latency.map{|row| row['entity_identifier']}.to_set.to_a %>

<%= turbo_frame_tag "compare-latency-widget#{responsive ? '-responsive' : ''}" do %>
  <% if @latency.count == 0 %>
    <%= render partial: "dashboard/components/widgets/no_data" %>
  <% else %>
    <canvas id="compare-latency-chart"
            data-controller="multi-line-chart"
            data-line-chart-data="<%= @latency.to_json %>"
            data-parent-id="compare-latency-widget<%= responsive ? '-responsive' : '' %>"
            data-y-step-size="1"
            data-label-suffix=" s"
            data-action="toggleLine@window->multi-line-chart#toggleLine"
            data-chart-id="compareLatency"
            data-is-compare-chart="true"
            data-entity-count="<%= entity_array.count %>"
            data-query-time-interval="<%= @query_time_interval %>"
            data-skeleton-id="latency-chart-skeleton"
            data-toggler-id="latency-toggler"
    ></canvas>
    <div id="latency-toggler" class="widgets--comparison-toggler" style="display: none">
      <%= render partial: "dashboard/components/widgets/multi_line_line_toggler",
                 locals: {
                   chart_id: "compareLatency",
                   options: entity_array.each_with_index.map { |entity_name, i| { label: entity_name, hex: ChartsHelper::COLORS[i] }}
                 }
      %>
    </div>
    <div id="latency-chart-skeleton" style="position: absolute; inset: 0">
      <%= render partial: "dashboard/components/widgets/line_chart_skeleton" %>
    </div>
  <% end %>
<% end %>