<% responsive = @responsive || false %>

<%= turbo_frame_tag "compare-total-data-widget#{responsive ? '-responsive' : ''}" do %>
  <% if @total_data.count == 0 %>
    <%= render partial: "dashboard/components/widgets/no_data" %>
  <% else %>
    <canvas id="compare-total-data-chart<%= responsive ? '-responsive' : ''%>"
            data-controller="bar-chart"
            data-line-chart-data="<%= @total_data.to_json %>"
            data-parent-id="compare-total-data-widget<%= responsive ? '-responsive' : ''%>"
            data-label-suffix="<%= current_user&.data_cap_unit || "GB" %>"
            data-chart-id="compareTotalData"
            data-is-compare-chart="true"
            data-skeleton-id="total-data-chart-skeleton"
    ></canvas>
    <div id="total-data-chart-skeleton" style="position: absolute; inset: 0">
      <%= render partial: "dashboard/components/widgets/line_chart_skeleton" %>
    </div>
  <% end %>
<% end %>