---
import styles from '../../pages/styles/_opportunities.module.css';
import incomingImageStyles from "../common/wrappers/styles/section_with_upcoming_image.module.css";
import HeroWithText from '../common/content/HeroWithText.astro';
import BulletPoint from '../common/content/BulletPoint.astro';
import SectionWithIncomingImage from '../common/wrappers/SectionWithIncomingImage';
import FloatingTabs from '../common/misc/FloatingTabs.astro';
import Tab from '../common/misc/Tab.astro';

import blueGreenHorizontalLight from '../../assets/images/blue-green-horizontal-light-2.webp';
import yellowPinkZigZagLight from '../../assets/images/yellow-pink-zigzag-light.webp';
import simpleFixes from '../../assets/images/simple-fixes-create-big-changes.webp';
import empowering from '../../assets/images/empowering-through-knowledge.webp';
import bridging from '../../assets/images/bridging-the-gap.webp';
import providing from '../../assets/images/providing-communities-with-data.webp';
---

<div class={styles.exploreOpportunitiesSection}>
  <div class={styles.exploreOpportunitiesHeader}>
    <img src={blueGreenHorizontalLight.src} alt="blue green light" class={styles.blueGreenHorizontalLight} data-position="right" />
    <HeroWithText
      head="in a nutshell"
      title="Explore the Opportunities"
      content="From hardware upgrades to community education, these strategies empower individuals and businesses to maximize connectivity, improving quality and accessibility in rural areas"
    />
  </div>
  <div class={styles.summaries}>
    <div class={styles.summaryItem}>
      <BulletPoint
        title="Optimize Existing Resources"
        content="Focus on improving internet quality with existing infrastructure and tools in rural communities."
        direction="column"
        borderless
        variant="opportunities-in-a-nutshell"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
          <path fill="#4B7BE5" transform="translate(2 2)" d="M7.6890411 14.211753L14.213944 7.6859608C15.760286 8.423892 17.603821 8.107296 18.815372 6.8957448C20.026924 5.6841931 20.343519 3.8406579 19.605589 2.2943163L18.339006 3.5644548C17.812775 4.0906863 16.959585 4.0906863 16.433353 3.5644548C15.907123 3.0382235 15.907123 2.185034 16.433353 1.6588026L17.699049 0.39221939C16.153025 -0.34316939 14.311453 -0.025403881 13.101277 1.1855707C11.891101 2.3965454 11.574551 4.2383261 12.310959 5.783864L5.7860556 12.307878C4.2397137 11.569948 2.3961785 11.886543 1.1846269 13.098095C-0.026924698 14.309647 -0.34352016 16.153181 0.39441076 17.699524L1.6609939 16.433828C2.001406 16.093416 2.4975672 15.960471 2.9625785 16.08507C3.4275901 16.209669 3.7908053 16.572886 3.9154048 17.037897C4.0400043 17.502909 3.9070582 17.999069 3.5666461 18.339481L2.3009517 19.603397C3.8469753 20.338787 5.6885467 20.021021 6.8987226 18.810047C8.1088991 17.599072 8.4254494 15.757292 7.6890411 14.211753Z" fill-rule="evenodd"/>
        </svg>
      </BulletPoint>
    </div>
    <div class={styles.summaryItem}>
      <BulletPoint
        title="Empower Communities"
        content="Raise awareness of internet options and educate residents on how to use and advocate for better services."
        direction="column"
        borderless
        variant="opportunities-in-a-nutshell"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 25 24">
          <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3.45)" d="M9 2.6219726C6.4113193 1.035096 3.4614589 0.13293166 0.428 0.00037253386C0.31658599 -0.0043705222 0.20802332 0.036340479 0.12719999 0.11317253C0.046558708 0.18928187 0.00059359026 0.29508838 0 0.40597254L0 13.799573C0.00022568832 14.01878 0.17299491 14.198954 0.39199999 14.208372C3.1693251 13.812761 5.989078 14.550492 8.2167997 16.255573C8.4645433 16.358225 8.7345295 16.395416 9.0008001 16.363573" fill-rule="evenodd"/>
          <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.9992 3.45)" d="M0.00079999998 2.6219726C2.5894809 1.035096 5.539341 0.13293166 8.5727997 0.00037253386C8.6842136 -0.0043705222 8.7927771 0.036340479 8.8736 0.11317253C8.9548454 0.18985523 9.0008001 0.29665378 9.0008001 0.40837252L9.0008001 13.799573C9.0005741 14.01878 8.8278055 14.198954 8.6087999 14.208372C5.8314748 13.812761 3.0117221 14.550492 0.78399998 16.255573C0.53625655 16.358225 0.26627091 16.395416 0 16.363573" fill-rule="evenodd"/>
          <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.3379 6.07197)" d="M0.66206896 0L0.66206896 13.7496" fill-rule="evenodd"/>
          <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.2 17.5824)" d="M0 0.0128L0 2.5936C-0.0003453251 2.717962 0.055936564 2.8357193 0.15292571 2.9135597C0.24991485 2.9914002 0.37706313 3.020858 0.49840158 2.9935999C2.9000089 2.4928246 5.3467398 2.2402968 7.8000016 2.24C10.10902 2.2387972 12.411244 2.4901586 14.665602 2.9895999C14.786862 3.0162208 14.913656 2.9865196 15.010478 2.908813C15.107301 2.8311067 15.163743 2.7137482 15.164001 2.5896001L15.164001 0" fill-rule="evenodd"/>
        </svg>
      </BulletPoint>
    </div>
    <div class={styles.summaryItem}>
      <BulletPoint
        title="Data-driven Collaboration"
        content="Strengthen collaboration between businesses, IT teams, Internet Service Providers (ISPs), and community leaders to address connectivity challenges and support data-driven advocacy."
        direction="column"
        borderless
        variant="opportunities-in-a-nutshell"
      >
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 25 24">
          <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.5 11.0901)" d="M3.4615433 0L3.4615433 8.0785284C3.4623413 8.3877411 3.3087668 8.6768856 3.0523095 8.8490133L3.0523095 8.8490133C2.2518735 9.382802 1.2096698 9.382802 0.40923372 8.8490133L0.40923372 8.8490133C0.15277645 8.6768856 -0.00079802208 8.3877411 0 8.0785284L0 0" fill-rule="evenodd"/>
          <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.5 9.93436)" d="M0 1.1557266C0 1.7940167 0.77489144 2.3114531 1.7307686 2.3114531C2.6866455 2.3114531 3.4615371 1.7940167 3.4615371 1.1557266C3.4615371 0.51743639 2.6866455 0 1.7307686 0C0.77489144 0 0 0.51743639 0 1.1557266" fill-rule="evenodd"/>
          <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(10.2692 7.62291)" d="M3.4615433 0L3.4615433 11.545709C3.4623413 11.85492 3.3087668 12.144065 3.0523095 12.316193L3.0523095 12.316193C2.2518735 12.849982 1.2096698 12.849982 0.40923372 12.316193L0.40923372 12.316193C0.15277645 12.144065 -0.00079802208 11.85492 0 11.545709L0 0" fill-rule="evenodd"/>
          <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(10.2692 6.46718)" d="M0 1.1557266C0 1.7940167 0.77489144 2.3114531 1.7307686 2.3114531C2.6866455 2.3114531 3.4615371 1.7940167 3.4615371 1.1557266C3.4615371 0.51743639 2.6866455 0 1.7307686 0C0.77489144 0 0 0.51743639 0 1.1557266" fill-rule="evenodd"/>
          <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.0385 4.15573)" d="M3.4615433 0L3.4615433 15.012888C3.4623413 15.322101 3.3087668 15.611245 3.0523095 15.783373L3.0523095 15.783373C2.2518735 16.317162 1.2096698 16.317162 0.40923372 15.783373L0.40923372 15.783373C0.15277645 15.611245 -0.00079802208 15.322101 0 15.012888L0 0" fill-rule="evenodd"/>
          <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.0385 3)" d="M0 1.1557267C0 1.568628 0.32988259 1.9501646 0.86538422 2.1566153C1.4008859 2.363066 2.0606511 2.363066 2.5961528 2.1566153C3.1316545 1.9501646 3.4615371 1.568628 3.4615371 1.1557267C3.4615371 0.74282527 3.1316545 0.3612887 2.5961528 0.15483801C2.0606511 -0.051612668 1.4008859 -0.051612668 0.86538422 0.15483801C0.32988259 0.3612887 0 0.74282527 0 1.1557267" fill-rule="evenodd"/>
        </svg>
      </BulletPoint>
    </div>
  </div>
</div>
<div class={styles.scrollerContainer}>
  <FloatingTabs
    scrollToId="opportunities"
  >
    <Tab
      id="quick-fixes"
      label="Quick Fixes"
      isActive="true"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 24 24">
        <path fill="none" stroke="#ACAFCD" transform="translate(2 2)" d="M7.6890411 14.211753L14.213944 7.6859608C15.760286 8.423892 17.603821 8.107296 18.815372 6.8957448C20.026924 5.6841931 20.343519 3.8406579 19.605589 2.2943163L18.339006 3.5644548C17.812775 4.0906863 16.959585 4.0906863 16.433353 3.5644548C15.907123 3.0382235 15.907123 2.185034 16.433353 1.6588026L17.699049 0.39221939C16.153025 -0.34316939 14.311453 -0.025403881 13.101277 1.1855707C11.891101 2.3965454 11.574551 4.2383261 12.310959 5.783864L5.7860556 12.307878C4.2397137 11.569948 2.3961785 11.886543 1.1846269 13.098095C-0.026924698 14.309647 -0.34352016 16.153181 0.39441076 17.699524L1.6609939 16.433828C2.001406 16.093416 2.4975672 15.960471 2.9625785 16.08507C3.4275901 16.209669 3.7908053 16.572886 3.9154048 17.037897C4.0400043 17.502909 3.9070582 17.999069 3.5666461 18.339481L2.3009517 19.603397C3.8469753 20.338787 5.6885467 20.021021 6.8987226 18.810047C8.1088991 17.599072 8.4254494 15.757292 7.6890411 14.211753Z" fill-rule="evenodd"/>
      </svg>
    </Tab>
    <Tab
      id="community-education"
      label='Community Education'
      isActive="false"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 24 24">
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3.45)" d="M9 2.6219726C6.4113193 1.035096 3.4614589 0.13293166 0.428 0.00037253386C0.31658599 -0.0043705222 0.20802332 0.036340479 0.12719999 0.11317253C0.046558708 0.18928187 0.00059359026 0.29508838 0 0.40597254L0 13.799573C0.00022568832 14.01878 0.17299491 14.198954 0.39199999 14.208372C3.1693251 13.812761 5.989078 14.550492 8.2167997 16.255573C8.4645433 16.358225 8.7345295 16.395416 9.0008001 16.363573" fill-rule="evenodd"/>
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.9992 3.45)" d="M0.00079999998 2.6219726C2.5894809 1.035096 5.539341 0.13293166 8.5727997 0.00037253386C8.6842136 -0.0043705222 8.7927771 0.036340479 8.8736 0.11317253C8.9548454 0.18985523 9.0008001 0.29665378 9.0008001 0.40837252L9.0008001 13.799573C9.0005741 14.01878 8.8278055 14.198954 8.6087999 14.208372C5.8314748 13.812761 3.0117221 14.550492 0.78399998 16.255573C0.53625655 16.358225 0.26627091 16.395416 0 16.363573" fill-rule="evenodd"/>
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.3379 6.07197)" d="M0.66206896 0L0.66206896 13.7496" fill-rule="evenodd"/>
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.2 17.5824)" d="M0 0.0128L0 2.5936C-0.0003453251 2.717962 0.055936564 2.8357193 0.15292571 2.9135597C0.24991485 2.9914002 0.37706313 3.020858 0.49840158 2.9935999C2.9000089 2.4928246 5.3467398 2.2402968 7.8000016 2.24C10.10902 2.2387972 12.411244 2.4901586 14.665602 2.9895999C14.786862 3.0162208 14.913656 2.9865196 15.010478 2.908813C15.107301 2.8311067 15.163743 2.7137482 15.164001 2.5896001L15.164001 0" fill-rule="evenodd"/>
      </svg>
    </Tab>
    <Tab
      id="business-collaboration"
      label='Business Collaboration'
      isActive="false"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 24 24">
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(12.6978 1.5)" d="M4.8996396 0C2.9769237 -0.0092755463 1.2282523 1.1121993 0.43471357 2.8635476C-0.35882515 4.6148958 -0.04904107 6.6690602 1.225693 8.1084967L0.61259085 11.635934L3.806881 9.6659813C5.6413202 10.088742 7.5556722 9.4221621 8.7308064 7.9514627C9.9059401 6.4807639 10.133657 4.4665103 9.3165188 2.7705796C8.4993811 1.0746489 6.7821617 -0.0024905135 4.8996396 0Z" fill-rule="evenodd"/>
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3.94961 9.89872)" d="M0 3.1494973C0 4.8889165 1.4100779 6.2989945 3.1494973 6.2989945C4.8889165 6.2989945 6.2989945 4.8889165 6.2989945 3.1494973C6.2989945 1.4100779 4.8889165 0 3.1494973 0C1.4100779 0 0 1.4100779 0 3.1494973" fill-rule="evenodd"/>
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.5 17.6001)" d="M11.198213 4.8966107C10.821181 2.0926933 8.4282589 0 5.5991063 0C2.7699533 0 0.37703046 2.0926933 0 4.8966107" fill-rule="evenodd"/>
      </svg>
    </Tab>
    <Tab
      id="data-for-change"
      label='Data for Change'
      isActive="false"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 24 24">
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.5 11.0901)" d="M3.4615433 0L3.4615433 8.0785284C3.4623413 8.3877411 3.3087668 8.6768856 3.0523095 8.8490133L3.0523095 8.8490133C2.2518735 9.382802 1.2096698 9.382802 0.40923372 8.8490133L0.40923372 8.8490133C0.15277645 8.6768856 -0.00079802208 8.3877411 0 8.0785284L0 0" fill-rule="evenodd"/>
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.5 9.93436)" d="M0 1.1557266C0 1.7940167 0.77489144 2.3114531 1.7307686 2.3114531C2.6866455 2.3114531 3.4615371 1.7940167 3.4615371 1.1557266C3.4615371 0.51743639 2.6866455 0 1.7307686 0C0.77489144 0 0 0.51743639 0 1.1557266" fill-rule="evenodd"/>
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(10.2692 7.62291)" d="M3.4615433 0L3.4615433 11.545709C3.4623413 11.85492 3.3087668 12.144065 3.0523095 12.316193L3.0523095 12.316193C2.2518735 12.849982 1.2096698 12.849982 0.40923372 12.316193L0.40923372 12.316193C0.15277645 12.144065 -0.00079802208 11.85492 0 11.545709L0 0" fill-rule="evenodd"/>
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(10.2692 6.46718)" d="M0 1.1557266C0 1.7940167 0.77489144 2.3114531 1.7307686 2.3114531C2.6866455 2.3114531 3.4615371 1.7940167 3.4615371 1.1557266C3.4615371 0.51743639 2.6866455 0 1.7307686 0C0.77489144 0 0 0.51743639 0 1.1557266" fill-rule="evenodd"/>
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.0385 4.15573)" d="M3.4615433 0L3.4615433 15.012888C3.4623413 15.322101 3.3087668 15.611245 3.0523095 15.783373L3.0523095 15.783373C2.2518735 16.317162 1.2096698 16.317162 0.40923372 15.783373L0.40923372 15.783373C0.15277645 15.611245 -0.00079802208 15.322101 0 15.012888L0 0" fill-rule="evenodd"/>
        <path fill="none" stroke="#ACAFCD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.0385 3)" d="M0 1.1557267C0 1.568628 0.32988259 1.9501646 0.86538422 2.1566153C1.4008859 2.363066 2.0606511 2.363066 2.5961528 2.1566153C3.1316545 1.9501646 3.4615371 1.568628 3.4615371 1.1557267C3.4615371 0.74282527 3.1316545 0.3612887 2.5961528 0.15483801C2.0606511 -0.051612668 1.4008859 -0.051612668 0.86538422 0.15483801C0.32988259 0.3612887 0 0.74282527 0 1.1557267" fill-rule="evenodd"/>
      </svg>
    </Tab>
  </FloatingTabs>
  <div class={styles.sectionsContainer} id="opportunities">
    <img src={yellowPinkZigZagLight.src} alt="yellow pink zigzag light" class={styles.yellowPinkZigZagLight} />
    <SectionWithIncomingImage
      client:only="react"
      contentIds={['quick-fixes', 'community-education', 'business-collaboration', 'data-for-change']}
      imageSrcs={[simpleFixes.src, empowering.src, bridging.src, providing.src]}
    >
      <div style="width: 100%;display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; gap: 5rem">
        <div id="quick-fixes" class={incomingImageStyles.rowContainer}>
          <HeroWithText head="Quick Fixes"
            title="Simple Fixes Create Big Changes"
            content="During the project, we discovered many individuals had basic, easily fixable internet issues. However, a lack of local expertise led them to assume poor internet performance was unavoidable."
          />
          <div class={incomingImageStyles.bulletPoints}>
            <div class={incomingImageStyles.bulletPointContainer}>
              <BulletPoint
              title="Replace Outdated Hardware"
              content="Upgrading older modems, routers, and other network equipment can significantly improve speed and reliability, even without major infrastructure changes."
              borderless
              >
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                  <path fill="#4B7BE5" transform="translate(0.49826 3.5)" d="M17.10174 0C17.428053 0 17.733843 0.15921098 17.920971 0.42653766L22.820972 7.4265375L22.857327 7.4820743L22.911741 7.5848069C22.96397 7.6966887 22.992765 7.8122716 23.00099 7.9270382L23.00174 13.6C23.00174 14.925484 21.927223 16 20.60174 16L2.4017398 16C1.0762565 16 0.0017399355 14.925484 0.0017399355 13.6L0.0010168707 8.0413647C-0.00434059 7.9235535 0.011354918 7.8032498 0.050873373 7.6857734L0.10338109 7.5602255L0.18250802 7.4265375L5.0825081 0.42653766C5.2696366 0.15921098 5.5754261 0 5.9017401 0L17.10174 0ZM21.000999 9L2.0009999 9L2.00174 13.6C2.00174 13.7933 2.1388528 13.954575 2.321126 13.991874L2.4017398 14L20.60174 14C20.822655 14 21.00174 13.820914 21.00174 13.6L21.000999 9ZM18.50174 10.4C19.109253 10.4 19.60174 10.892487 19.60174 11.5C19.60174 12.067013 19.172729 12.533824 18.621597 12.593545L18.50174 12.6C17.894226 12.6 17.401739 12.107513 17.401739 11.5C17.401739 10.892487 17.894226 10.4 18.50174 10.4ZM14.75174 12.6C14.144227 12.6 13.65174 12.107513 13.65174 11.5C13.65174 10.892487 14.144227 10.4 14.75174 10.4C15.359253 10.4 15.85174 10.892487 15.85174 11.5C15.85174 12.067013 15.422729 12.533824 14.871597 12.593545L14.75174 12.6ZM6.6017399 10.5C7.1540246 10.5 7.6017399 10.947715 7.6017399 11.5C7.6017399 12.052285 7.1540246 12.5 6.6017399 12.5L3.8017399 12.5C3.2494552 12.5 2.8017399 12.052285 2.8017399 11.5C2.8017399 10.947715 3.2494552 10.5 3.8017399 10.5L6.6017399 10.5ZM16.58074 2L6.4217401 2L2.9219999 6.9990001L20.079 6.9990001L16.58074 2Z"/>
                </svg>
              </BulletPoint>
            </div>
            <div class={styles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
              <BulletPoint
                title="Optimize Internet Setup"
                content="Simple adjustments like relocating a router for better signal distribution can reduce dead zones and improve overall connectivity in homes and businesses."
                borderless
              >
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                <path fill="#4B7BE5" transform="translate(1.99999 1.99996)" d="M14.06663 0.19572566C15.07013 0.61157179 15.703428 1.6138611 15.648192 2.698513L15.591389 3.8186588C15.583344 3.9786589 15.643323 4.1345973 15.756504 4.2479506C15.869671 4.36129 16.025473 4.4214864 16.183537 4.4137716L17.30545 4.3568716C18.389574 4.3034201 19.390205 4.9374142 19.804953 5.940516C20.219688 6.9435945 19.958992 8.0991182 19.153057 8.8275537L18.31955 9.5795183C18.200161 9.6873636 18.132021 9.8407393 18.132021 10.001646C18.132021 10.162553 18.200161 10.315928 18.31908 10.423351L19.15365 11.176273C19.9596 11.904547 20.22016 13.06116 19.804356 14.064686C19.38854 15.068235 18.386284 15.701592 17.301641 15.64635L16.180414 15.589484C16.020109 15.581238 15.863814 15.641323 15.750302 15.754844C15.636776 15.868377 15.576678 16.024719 15.584964 16.185804L15.642082 17.312521C15.690156 18.391657 15.057803 19.385523 14.059939 19.799126C13.062052 20.212738 11.912024 19.957613 11.178386 19.15616L10.42487 18.322515C10.317191 18.203251 10.164043 18.135189 10.003383 18.135189C9.842721 18.135189 9.6895742 18.203251 9.580102 18.324495L8.8230295 19.158529C8.0947323 19.959112 6.9426856 20.217121 5.9425077 19.803633C4.9423528 19.390154 4.3087869 18.393982 4.3586092 17.30727L4.4162354 16.186684C4.4244838 16.02632 4.364387 15.869978 4.2508607 15.756444C4.1373477 15.642924 3.9810541 15.582838 3.8200264 15.591122L2.7009962 15.647875C1.6163592 15.704491 0.61347872 15.07237 0.19665636 14.069401C-0.2201563 13.066455 0.039260838 11.90972 0.84535015 11.18006L1.6784122 10.427775C1.7978009 10.31993 1.8659393 10.166555 1.8659393 10.005649C1.8659393 9.8447409 1.7978009 9.6913662 1.6765689 9.581851L0.84366667 8.8257103C0.041156512 8.0977001 -0.21787632 6.9441996 0.19629651 5.9429488C0.61047894 4.9416752 1.608712 4.3082657 2.6939189 4.3601437L3.816278 4.417069C3.9768932 4.4255137 4.1335425 4.3653493 4.2472262 4.2515478C4.3609238 4.137733 4.4209471 3.9809766 4.412055 3.8146074L4.3583879 2.6923258C4.3076468 1.6106988 4.9407916 0.61345202 5.9412398 0.19926496C6.9417109 -0.21493171 8.0944767 0.042980131 8.8245697 0.84565938L9.5769091 1.6764864C9.6860418 1.7976316 9.8389492 1.8656911 9.9993811 1.8656911C10.159813 1.8656911 10.312719 1.7976316 10.423982 1.6741424L11.178246 0.84648538C11.906493 0.040462118 13.063107 -0.2201301 14.06663 0.19572566ZM12.659369 2.1904562L11.9061 3.0170097C11.419448 3.5572479 10.72648 3.8656909 9.9993811 3.8656909C9.2722816 3.8656909 8.5793133 3.5572479 8.0926609 3.0170097L7.3435555 2.1897542C7.1824222 2.0126021 6.9275098 1.9555697 6.7062721 2.0471625C6.4850111 2.1387649 6.3449664 2.3593447 6.3561478 2.5977004L6.409483 3.7133722C6.4484162 4.4404683 6.1767697 5.1498985 5.6621714 5.6650295C5.1475592 6.1801744 4.4383998 6.4525418 3.713119 6.4144058L2.59552 6.3577199C2.3564467 6.3462915 2.1359279 6.4862175 2.04442 6.7074356C1.9529024 6.9286766 2.0101402 7.1835623 2.1877234 7.3446598L3.0190554 8.0993795C3.5582378 8.5864296 3.8659394 9.279047 3.8659394 10.005649C3.8659394 10.732249 3.5582378 11.424867 3.0189421 11.91202L2.186645 12.663612C2.008738 12.824651 1.9514155 13.080251 2.0435164 13.301867C2.1356075 13.523458 2.3571527 13.6631 2.5982168 13.650518L3.7179992 13.593726C4.4437308 13.556393 5.1512804 13.828404 5.6651187 14.342276C6.1789436 14.856133 6.4509239 15.563688 6.4135957 16.289408L6.3562407 17.404411C6.3452797 17.643564 6.4854174 17.863907 6.7066135 17.955353C6.9277864 18.046787 7.1825395 17.989735 7.3428736 17.813488L8.0974216 16.982241C8.5843096 16.442968 9.2768431 16.135189 10.003383 16.135189C10.729922 16.135189 11.422455 16.442968 11.908968 16.981823L12.657859 17.810381C12.819166 17.986593 13.073473 18.043009 13.294139 17.951546C13.514829 17.860073 13.654698 17.64024 13.644356 17.407673L13.587567 16.287819C13.550239 15.562088 13.822219 14.854532 14.336043 14.340674C14.849882 13.826803 15.557431 13.554791 16.28244 13.592088L17.40316 13.648928C17.643061 13.661147 17.864712 13.521078 17.95668 13.299114C18.04866 13.077127 17.991022 12.821273 17.813349 12.660724L16.978905 11.907915C16.439724 11.420865 16.132021 10.728248 16.132021 10.001646C16.132021 9.2750444 16.439724 8.582427 16.979374 8.0949545L17.812666 7.3431854C17.990778 7.1822009 18.048447 6.9265881 17.956703 6.7046995C17.864969 6.4828343 17.643679 6.3426251 17.405348 6.3543749L16.282951 6.4112983C15.558808 6.446651 14.853484 6.174139 14.341212 5.6610851C13.828954 5.1480451 13.557505 4.442317 13.593933 3.7177968L13.65077 2.5970078C13.662991 2.3570304 13.522912 2.135335 13.300976 2.0433657C13.079063 1.951406 12.8233 2.0090311 12.659369 2.1904562ZM12.300216 6.0167403C13.723954 6.838788 14.601004 8.3579779 14.601004 10.002047C14.601004 11.646114 13.723954 13.165305 12.300216 13.987352C10.876456 14.809412 9.1223049 14.809412 7.6985455 13.987352C6.2748075 13.165305 5.397758 11.646114 5.397758 10.002047L5.4031634 9.7786827C5.4786196 8.2213106 6.3395228 6.8014221 7.6985455 6.0167403C9.1223049 5.1946802 10.876456 5.1946802 12.300216 6.0167403ZM8.6985931 7.7487636C7.8936396 8.2135334 7.397758 9.0724792 7.397758 10.002047C7.397758 10.931613 7.8936396 11.79056 8.6985931 12.255329C9.5035257 12.720087 10.495235 12.720087 11.300168 12.255329C12.105122 11.79056 12.601004 10.931613 12.601004 10.002047C12.601004 9.0724792 12.105122 8.2135334 11.300168 7.7487636C10.495235 7.2840056 9.5035257 7.2840056 8.6985931 7.7487636Z"/>
              </svg>
              </BulletPoint>
            </div>
          </div>
          <img src={simpleFixes.src} alt="simple fixes" class={incomingImageStyles.responsiveImage}/>
        </div>
        <div id="community-education" class={incomingImageStyles.rowContainer}>
          <HeroWithText head="Community Education" title="Empowering Through Knowledge" content="A common barrier in rural areas is a lack of awareness about internet offerings and reasonable speeds or reliability. Community-wide education can reduce frustration and help residents advocate for better services when current options fall short."/>
          <div class={incomingImageStyles.bulletPoints}>
            <div class={incomingImageStyles.bulletPointContainer}>
              <BulletPoint
                title="Informing Residents About Internet Options"
                content="Clear information on ISPs, speeds, performance, and costs helps residents make informed choices. Existing resources often seem biased or insufficient."
                borderless
              >
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                  <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(15.4009 3.93333)" d="M3.2992122 0L1.3113899 0C0.68304861 0.00043885884 0.14320639 0.44625098 0.023970855 1.0631756C-0.095264673 1.6801002 0.23957603 2.294966 0.82250106 2.5295112L2.8406343 3.3361778C3.4249132 3.5699093 3.760993 4.1855297 3.6416211 4.8033991C3.5222492 5.421268 2.98104 5.8673968 2.3517456 5.8666677L0.36587885 5.8666677" fill-rule="evenodd"/>
                  <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.4242 2.75747)" d="M0.8091954 1.1758621L0.8091954 0.44252872" fill-rule="evenodd"/>
                  <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.4242 9.35747)" d="M0.8091954 1.1758621L0.8091954 0.44252872" fill-rule="evenodd"/>
                  <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.3668 1)" d="M0 5.8666668C0 9.1067371 2.6265962 11.733334 5.8666668 11.733334C9.1067371 11.733334 11.733334 9.1067371 11.733334 5.8666668C11.733334 2.6265962 9.1067371 0 5.8666668 0C2.6265962 0 0 2.6265962 0 5.8666668" fill-rule="evenodd"/>
                  <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.1001 11.9433)" d="M0 0L22 5.1900444" fill-rule="evenodd"/>
                  <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(9.16676 14.9333)" d="M5.8666668 3.6666667L0 3.6666667L2.9333334 0L5.8666668 3.6666667Z" fill-rule="evenodd"/>
                </svg>
              </BulletPoint>
            </div>
            <div class={styles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
              <BulletPoint
                title="Setting Higher Expectations"
                content="Educating users on what their internet can support, such as streaming, telehealth, or remote work, empowers them to maximize their experience. Many didn't realize what they were missing with their current connection."
                borderless
              >
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="26" viewBox="0 0 24 14">
                  <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(15.0977 1.09766)" d="M6 6L6 0L0 0" fill-rule="evenodd"/>
                  <path fill="none" stroke="#4B7BE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" transform="translate(1.09766 1.09766)" d="M20 0L12.943111 7.0568891C12.693038 7.3071222 12.35377 7.4477153 12 7.4477153C11.64623 7.4477153 11.306962 7.3071222 11.056889 7.0568891L8.2764444 4.2764444C8.026371 4.0262113 7.6871033 3.885618 7.3333335 3.885618C6.9795632 3.885618 6.640295 4.0262113 6.3902221 4.2764444L0 10.666667" fill-rule="evenodd"/>
                </svg>
              </BulletPoint>
            </div>
          </div>
          <img src={empowering.src} alt="Dad and son looking at a computer" class={incomingImageStyles.responsiveImage}/>
        </div>
        <div id="business-collaboration" class={incomingImageStyles.rowContainer}>
          <HeroWithText head="Business Collaboration"
            title="Bridging the Gap Between Businesses and ISPs"
            content="Clear communication with IT teams and ISPs is key for rural businesses to resolve connectivity issues. Education programs can teach employees how to provide actionable data to IT groups and ISPs can help resolve issues faster."
          />
          <div class={incomingImageStyles.bulletPoints}>
            <div class={incomingImageStyles.bulletPointContainer}>
              <BulletPoint
                title="Document and Report Issues Clearly"
                content="Business owners and community members can log issues with details like time, symptoms, and steps. Clear documentation improves chances of timely responses from ISPs and IT teams."
                borderless
              >
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                <path fill="#4B7BE5" transform="translate(1 2)" d="M16.999836 0C17.552122 0 17.999836 0.44771525 17.999836 1C17.999836 1.5522847 17.552122 2 16.999836 2L2.3333197 2C2.1492324 2 2 2.1492324 2 2.3333197L2 3.9990001L12.333218 3.9999592C12.885503 3.9999592 13.333218 4.4476743 13.333218 4.999959C13.333218 5.5522437 12.885503 5.999959 12.333218 5.999959L2 5.9990001L2 16.999836C2 17.183924 2.1492324 17.333157 2.3333197 17.333157L18.333157 17.333157C18.517244 17.333157 18.666475 17.183924 18.666475 16.999836L18.666475 8.999918C18.666475 8.4476337 19.114191 7.9999185 19.666475 7.9999185C20.218761 7.9999185 20.666475 8.4476337 20.666475 8.999918L20.666475 16.999836C20.666475 18.288494 19.621813 19.333157 18.333157 19.333157L2.3333197 19.333157C1.0446628 19.333157 0 18.288494 0 16.999836L0 2.3333197C0 1.0446628 1.0446628 0 2.3333197 0L16.999836 0ZM13.666537 13.333198C14.218822 13.333198 14.666537 13.780912 14.666537 14.333198C14.666537 14.885482 14.218822 15.333198 13.666537 15.333198L4.999959 15.333198C4.4476743 15.333198 3.9999592 14.885482 3.9999592 14.333198C3.9999592 13.780912 4.4476743 13.333198 4.999959 13.333198L13.666537 13.333198ZM19.584255 1.3333446C20.159735 1.3333446 20.713963 1.5392677 21.107054 1.8719223L21.295019 2.045433C22.234993 2.9868898 22.234993 4.5117207 21.295019 5.4531775L16.207403 10.540794C16.067753 10.680445 15.889879 10.775617 15.696212 10.814308L13.195792 11.313859C12.496043 11.45366 11.87925 10.836614 12.019337 10.136921L12.519776 7.6373906C12.55852 7.4438763 12.653659 7.2661524 12.79321 7.1266012L17.879805 2.0400066C18.331648 1.5875705 18.944834 1.3333446 19.584255 1.3333446ZM8.999918 9.3332376C9.5522032 9.3332376 9.999918 9.7809534 9.999918 10.333238C9.999918 10.885523 9.5522032 11.333238 8.999918 11.333238L4.999959 11.333238C4.4476743 11.333238 3.9999592 10.885523 3.9999592 10.333238C3.9999592 9.7809534 4.4476743 9.3332376 4.999959 9.3332376L8.999918 9.3332376ZM19.584255 3.3333447C19.475721 3.3333447 19.371641 3.3764961 19.294483 3.4537556L14.420877 8.3263445L14.273877 9.0583448L15.007877 8.9113445L19.880249 4.0395217C20.040102 3.879415 20.040102 3.6191955 19.936563 3.5112388L19.873562 3.4532912C19.796869 3.3764961 19.692789 3.3333447 19.584255 3.3333447Z"/>
              </svg>
              </BulletPoint>
            </div>
            <div class={styles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
              <BulletPoint
                title="Provide Actionable Data for ISPs"
                content="Understanding the data ISPs need, such as speed tests, error messages, and operational impact, helps businesses report issues more effectively, leading to quicker, targeted solutions."
                borderless
              >
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                <path fill="#4B7BE5" transform="translate(1.5 2.5)" d="M18.114576 0C19.708153 0 21 1.2918477 21 2.8854227L21 15.581244C21 17.174818 19.708153 18.466667 18.114576 18.466667L2.8854227 18.466667C1.2918477 18.466667 0 17.174818 0 15.581244L0 2.8854227C0 1.2918477 1.2918477 0 2.8854227 0L18.114576 0ZM19 5.8000002L2 5.8000002L2 15.581244C2 16.07025 2.3964174 16.466667 2.8854227 16.466667L18.114576 16.466667C18.603582 16.466667 19 16.07025 19 15.581244L19 5.8000002ZM15.452497 8.6593065L15.079013 9.5276461C14.889895 9.9605494 14.696846 10.393564 14.504396 10.814306L14.079356 11.72442L13.945127 12.002858C13.356682 13.212653 12.919954 13.983425 12.551021 14.352779C11.418093 15.485707 9.5819073 15.485707 8.4493818 14.353182C7.3168573 13.220657 7.3168573 11.384471 8.4493818 10.251946C8.8187027 9.8826256 9.5890007 9.4459867 10.797991 8.8579025L11.367949 8.5854597C11.773335 8.3947639 12.197187 8.2012177 12.627119 8.0093479L13.586906 7.5878119L14.143401 7.3500066C14.969198 7.0032768 15.799356 7.8335624 15.452497 8.6593065ZM12.407022 10.583241L12.568989 10.232031L11.94017 10.527541L11.672833 10.656416C10.702168 11.128573 10.007301 11.522453 9.863596 11.66616C9.5121193 12.017636 9.5121193 12.587492 9.863596 12.938969C10.215072 13.290444 10.784928 13.290444 11.136404 12.938969C11.279786 12.795424 11.673957 12.099759 12.146594 11.128053L12.407022 10.583241ZM18.114576 2L2.8854227 2C2.3964174 2 2 2.3964174 2 2.8854227L2 3.8L19 3.8L19 2.8854227C19 2.3964174 18.603582 2 18.114576 2Z"/>
              </svg>
              </BulletPoint>
            </div>
          </div>
          <img src={bridging.src} alt="Dad and son looking at a computer" class={incomingImageStyles.responsiveImage}/>
        </div>
        <div id="data-for-change" class={incomingImageStyles.rowContainer}>
          <HeroWithText head="Data for Change" title="Providing Communities with Data to Improve Connectivity" content="A program providing broadband data tools to rural communities helps local and State governments improve connectivity. These tools help leaders identify issues, make recommendations, and engage ISPs and policymakers to secure investments for better healthcare, safety, and quality of life."/>
          <div class={incomingImageStyles.bulletPoints}>
            <div class={incomingImageStyles.bulletPointContainer}>
              <BulletPoint
                title="Guiding ISP Investments"
                content="Community-sourced data from pods, speed tests, and coverage maps gives ISPs concrete information on underserved areas, helping prioritize upgrades and new infrastructure like mobile towers."
                borderless
              >
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                <path fill="#4B7BE5" transform="translate(0.999949 1.00022)" d="M15.000053 9.3333292C18.129665 9.3333292 20.666718 11.870381 20.666718 14.999994C20.666718 16.203289 20.291664 17.318985 19.652082 18.236561L21.707157 20.292885C22.097681 20.683409 22.097681 21.316574 21.707157 21.707098C21.316633 22.097622 20.683468 22.097622 20.292944 21.707098L18.237154 19.651649C17.319477 20.29146 16.203581 20.666658 15.000053 20.666658C11.87044 20.666658 9.3333883 18.129606 9.3333883 14.999994L9.3374805 14.782635C9.4517117 11.753751 11.943222 9.3333292 15.000053 9.3333292ZM14.333386 0L14.372416 0C14.653555 0.0048102769 14.934052 0.060318656 15.199888 0.16663438L20.533161 2.2999439C21.419176 2.6542861 22.000042 3.5124202 22.000042 4.4666653L22.000042 10.333329C22.000042 10.885614 21.552336 11.333329 21.000042 11.333329C20.447765 11.333329 20.000042 10.885614 20.000042 10.333329L20.000042 4.4666653C20.000042 4.3301797 19.917046 4.2075539 19.790438 4.15692L15.333021 2.3737803L15.333386 7C15.333386 7.5522847 14.885672 8 14.333386 8C13.781102 8 13.333386 7.5522847 13.333386 7L13.333021 2.3737803L8.6660204 4.2407804L8.6667233 10.333329C8.6667233 10.885614 8.2190075 11.333329 7.6667233 11.333329C7.1144385 11.333329 6.6667233 10.885614 6.6667233 10.333329L6.6660209 4.2397799L2.000042 2.3737774L2.000042 14.661327C2.000042 14.770512 2.0531766 14.870831 2.1392522 14.932517L2.2096717 14.971072L7.5429454 17.104382C7.6224046 17.13616 7.7110415 17.13616 7.7905006 17.104382C8.303297 16.8993 8.885252 17.148752 9.0903339 17.661549C9.2954149 18.174345 9.0459633 18.7563 8.5331669 18.961382C7.976954 19.183826 7.3564925 19.183826 6.8002214 18.961359L1.4669478 16.828049C0.58093309 16.473707 2.0821159e-05 15.615572 2.0821159e-05 14.661327L2.0821159e-05 1.8903995C-0.0027471257 1.3356786 0.27061313 0.81590933 0.72927737 0.50389284C1.1879517 0.19186951 1.7718102 0.12851156 2.2861705 0.33465597L7.5429454 2.4377215C7.6224046 2.4694993 7.7110415 2.4694993 7.7903681 2.4377747L13.466943 0.16661145C13.6663 0.086882874 13.87391 0.035730485 14.08386 0.013155338L14.333386 0ZM15.000053 11.333329C12.97501 11.333329 11.333388 12.974951 11.333388 14.999994C11.333388 17.025038 12.97501 18.666658 15.000053 18.666658C17.025097 18.666658 18.666718 17.025038 18.666718 14.999994C18.666718 12.974951 17.025097 11.333329 15.000053 11.333329Z"/>
              </svg>
              </BulletPoint>
            </div>
            <div class={styles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
              <BulletPoint
                title="Identifying Mobile Coverage Gaps for Public Safety"
                content="Mobile data collection reveals signal gaps on critical emergency routes, supporting advocacy for better coverage where reliable connectivity is vital for EMS and public safety."
                borderless
              >
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                <path fill="#4B7BE5" transform="translate(5 1)" d="M10.333333 0C10.808054 0 11.450075 0.10700352 12.11388 0.43890613C13.274793 1.0193621 14 2.1071737 14 3.6666667L14 18.333334C14 18.808054 13.892997 19.450075 13.561094 20.11388C12.980638 21.274792 11.892826 22 10.333333 22L3.6666667 22C3.191946 22 2.5499251 21.892996 1.8861197 21.561094C0.72520775 20.980639 0 19.892826 0 18.333334L0 3.6666667C0 3.191946 0.10700352 2.5499251 0.43890613 1.8861197C1.0193621 0.72520775 2.1071737 0 3.6666667 0L10.333333 0ZM12 17.111L2 17.111L2 18.333334C2 19.107174 2.2747922 19.519361 2.7805469 19.77224C3.1167417 19.940336 3.4747205 20 3.6666667 20L10.333333 20C11.107174 20 11.519362 19.725208 11.77224 19.219454C11.940337 18.883259 12 18.52528 12 18.333334L12 17.111ZM10.333333 2L3.6666667 2L3.4944158 2.004858C2.8303554 2.0436423 2.4611857 2.3136964 2.2277606 2.7805469C2.0596631 3.1167417 2 3.4747205 2 3.6666667L2 15.111L12 15.111L12 3.6666667C12 2.8928263 11.725207 2.4806378 11.219453 2.2277606C10.883258 2.0596631 10.525279 2 10.333333 2Z"/>
              </svg>
              </BulletPoint>
            </div>
            <div class={styles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
              <BulletPoint
                title="Supporting Telehealth and Hospital-at-Home Initiatives"
                content="Broadband data from homes reveals gaps in telehealth connectivity, helping leaders prioritize infrastructure improvements and ensure remote access to essential healthcare."
                borderless
              >
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                  <path fill="#4B7BE5" transform="translate(1 1)" d="M13 0C14.656855 0 16 1.3431457 16 3L16 6L19 6C20.597681 6 21.903662 7.24892 21.994907 8.8237276L22 9L22 13C22 14.656855 20.656855 16 19 16L16 16L16 19C16 20.597681 14.75108 21.903662 13.176272 21.994907L13 22L9 22C7.3431458 22 6 20.656855 6 19L6 16L3 16C1.4023191 16 0.096339121 14.75108 0.0050926935 13.176272L0 13L0 9C0 7.3431458 1.3431457 6 3 6L6 6L6 3C6 1.4023191 7.24892 0.096339121 8.8237276 0.0050926935L9 0L13 0ZM13 2L9 2C8.4477148 2 8 2.4477153 8 3L8 7C8 7.5522847 7.5522847 8 7 8L3 8C2.4477153 8 2 8.4477148 2 9L2 13C2 13.552285 2.4477153 14 3 14L7 14C7.5522847 14 8 14.447715 8 15L8 19C8 19.552284 8.4477148 20 9 20L13 20C13.552285 20 14 19.552284 14 19L14 15C14 14.447715 14.447715 14 15 14L19 14C19.552284 14 20 13.552285 20 13L20 9C20 8.4477148 19.552284 8 19 8L15 8C14.447715 8 14 7.5522847 14 7L14 3C14 2.4477153 13.552285 2 13 2Z"/>
                </svg>
              </BulletPoint>
            </div>
            <div class={styles.divider} data-direction="horizontal" ></div>
            <div class={incomingImageStyles.bulletPointContainer}>
              <BulletPoint
                title="Support for Community Members"
                content="Data collected by local governments can help them recommend which ISPs are best suited to serve their residents, based on each ISP’s constraints."
                borderless
              >
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
                  <path fill="#4B7BE5" transform="translate(1 1.99998)" d="M11 5.6195126C12.656842 5.6195126 13.999978 6.9626484 13.999978 8.6194906C13.999978 9.9253626 13.165606 11.036358 12.000894 11.448445L12 19.227371C12 19.779655 11.552285 20.227371 11 20.227371C10.447715 20.227371 10 19.779655 10 19.227371L10.000096 11.448795C8.8348665 11.036986 8.0000219 9.9257326 8.0000219 8.6194906L8.0051155 8.4432192C8.0963612 6.8684235 9.4023314 5.6195126 11 5.6195126ZM18.123974 0.23804128C20.582876 2.3278501 22 5.3920498 22 8.6190462C22 11.846042 20.582876 14.910242 18.123974 17.00005C17.703144 17.357712 17.072054 17.306503 16.714394 16.885674C16.356733 16.464844 16.40794 15.833754 16.82877 15.476092C18.840559 13.766284 20 11.259262 20 8.6190462C20 5.9788299 18.840559 3.471808 16.82877 1.761999C16.40794 1.4043382 16.356733 0.77324748 16.714394 0.35241821C17.072054 -0.068411097 17.703144 -0.11961939 18.123974 0.23804128ZM5.2856069 0.35241821C5.6432676 0.77324748 5.5920591 1.4043382 5.1712298 1.761999C3.1594412 3.471808 2 5.9788299 2 8.6190462C2 11.259262 3.1594412 13.766284 5.1712298 15.476092C5.5920591 15.833754 5.6432676 16.464844 5.2856069 16.885674C4.9279461 17.306503 4.2968554 17.357712 3.8760262 17.00005C1.4171234 14.910242 0 11.846042 0 8.6190462C0 5.3920498 1.4171234 2.3278501 3.8760262 0.23804128C4.2968554 -0.11961939 4.9279461 -0.068411097 5.2856069 0.35241821ZM15.532821 3.2859471C17.097801 4.6157665 17.999765 6.5658145 17.999765 8.6194906C17.999765 10.673166 17.097801 12.623214 15.532821 13.953033C15.111959 14.310656 14.480873 14.259388 14.123251 13.838526C13.76563 13.417664 13.816896 12.786577 14.237759 12.428956C15.355541 11.479136 15.999764 10.086322 15.999764 8.6194906C15.999764 7.1526589 15.355541 5.7598438 14.237759 4.8100247C13.816896 4.4524031 13.76563 3.821317 14.123251 3.4004545C14.480873 2.9795923 15.111959 2.9283254 15.532821 3.2859471ZM7.876749 3.4004545C8.2343702 3.821317 8.1831036 4.4524031 7.7622414 4.8100247C6.6444592 5.7598438 6.0002351 7.1526589 6.0002351 8.6194906C6.0002351 10.086322 6.6444592 11.479136 7.7622414 12.428956C8.1831036 12.786577 8.2343702 13.417664 7.876749 13.838526C7.5191274 14.259388 6.8880415 14.310656 6.4671788 13.953033C4.9021983 12.623214 4.0002351 10.673166 4.0002351 8.6194906C4.0002351 6.5658145 4.9021983 4.6157665 6.4671788 3.2859471C6.8880415 2.9283254 7.5191274 2.9795923 7.876749 3.4004545ZM11 7.6195126C10.447727 7.6195126 10.000022 8.0672178 10.000022 8.6194906C10.000022 9.1717625 10.447727 9.6194677 11 9.6194677C11.552273 9.6194677 11.999978 9.1717625 11.999978 8.6194906C11.999978 8.0672178 11.552273 7.6195126 11 7.6195126Z"/>
                </svg>
              </BulletPoint>
            </div>
          </div>
          <img src={providing.src} alt="Dad and son looking at a computer" class={incomingImageStyles.responsiveImage}/>
        </div>
      </div>
    </SectionWithIncomingImage>
  </div>
</div>