---
import HeroWithText from "../common/HeroWithText.astro";
import BulletPoint from "./BulletPoint.astro";
import styles from '../../pages/styles/opportunities.module.css';
import Image from 'astro/components/Image.astro';
import opportunities from '../../assets/images/opportunities.webp';
---

<div class={styles.introductionSection}>
  <div class={styles.header}>
    <HeroWithText
      head="Opportunities" 
      title="Maximizing Rural Connectivity Through Practical Solutions" 
      content="The Telehealth Broadband Pilot Program identified actionable opportunities to enhance internet experiences in rural communities, focusing on the full journey of accessing and using online services."
    />
    <Image 
      src={opportunities}
      densities={[1, 2, 4]}
      alt="opportunities"
      height={390}
      loading={'eager'}
    />
  </div>
  <div class={styles.summaries}>
    <BulletPoint 
      title="Optimize Existing Resources"
      content="Focus on improving internet quality with existing infrastructure and tools in rural communities."
      direction="column"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24">
        <path fill="#4B7BE5" transform="translate(2 2)" d="M7.6890411 14.211753L14.213944 7.6859608C15.760286 8.423892 17.603821 8.107296 18.815372 6.8957448C20.026924 5.6841931 20.343519 3.8406579 19.605589 2.2943163L18.339006 3.5644548C17.812775 4.0906863 16.959585 4.0906863 16.433353 3.5644548C15.907123 3.0382235 15.907123 2.185034 16.433353 1.6588026L17.699049 0.39221939C16.153025 -0.34316939 14.311453 -0.025403881 13.101277 1.1855707C11.891101 2.3965454 11.574551 4.2383261 12.310959 5.783864L5.7860556 12.307878C4.2397137 11.569948 2.3961785 11.886543 1.1846269 13.098095C-0.026924698 14.309647 -0.34352016 16.153181 0.39441076 17.699524L1.6609939 16.433828C2.001406 16.093416 2.4975672 15.960471 2.9625785 16.08507C3.4275901 16.209669 3.7908053 16.572886 3.9154048 17.037897C4.0400043 17.502909 3.9070582 17.999069 3.5666461 18.339481L2.3009517 19.603397C3.8469753 20.338787 5.6885467 20.021021 6.8987226 18.810047C8.1088991 17.599072 8.4254494 15.757292 7.6890411 14.211753Z" fill-rule="evenodd"/>
      </svg>
    </BulletPoint>
    <div class={styles.verticalDivider}></div>
    <BulletPoint 
      title="Empower Communities"
      content="Raise awareness of internet options and educate residents on how to use and advocate for better services."
      direction="column"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="24">
        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(3 3.45)" d="M9 2.6219726C6.4113193 1.035096 3.4614589 0.13293166 0.428 0.00037253386C0.31658599 -0.0043705222 0.20802332 0.036340479 0.12719999 0.11317253C0.046558708 0.18928187 0.00059359026 0.29508838 0 0.40597254L0 13.799573C0.00022568832 14.01878 0.17299491 14.198954 0.39199999 14.208372C3.1693251 13.812761 5.989078 14.550492 8.2167997 16.255573C8.4645433 16.358225 8.7345295 16.395416 9.0008001 16.363573" fill-rule="evenodd"/>
        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.9992 3.45)" d="M0.00079999998 2.6219726C2.5894809 1.035096 5.539341 0.13293166 8.5727997 0.00037253386C8.6842136 -0.0043705222 8.7927771 0.036340479 8.8736 0.11317253C8.9548454 0.18985523 9.0008001 0.29665378 9.0008001 0.40837252L9.0008001 13.799573C9.0005741 14.01878 8.8278055 14.198954 8.6087999 14.208372C5.8314748 13.812761 3.0117221 14.550492 0.78399998 16.255573C0.53625655 16.358225 0.26627091 16.395416 0 16.363573" fill-rule="evenodd"/>
        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(11.3379 6.07197)" d="M0.66206896 0L0.66206896 13.7496" fill-rule="evenodd"/>
        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.2 17.5824)" d="M0 0.0128L0 2.5936C-0.0003453251 2.717962 0.055936564 2.8357193 0.15292571 2.9135597C0.24991485 2.9914002 0.37706313 3.020858 0.49840158 2.9935999C2.9000089 2.4928246 5.3467398 2.2402968 7.8000016 2.24C10.10902 2.2387972 12.411244 2.4901586 14.665602 2.9895999C14.786862 3.0162208 14.913656 2.9865196 15.010478 2.908813C15.107301 2.8311067 15.163743 2.7137482 15.164001 2.5896001L15.164001 0" fill-rule="evenodd"/>
      </svg>
    </BulletPoint>
    <div class={styles.verticalDivider}></div>
    <BulletPoint 
      title="Data-driven Collaboration"
      content="Strengthen collaboration between businesses, IT teams, ISPs, and community leaders to address connectivity challenges and support data-driven advocacy."
      direction="column"
    >
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="24">
        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.5 11.0901)" d="M3.4615433 0L3.4615433 8.0785284C3.4623413 8.3877411 3.3087668 8.6768856 3.0523095 8.8490133L3.0523095 8.8490133C2.2518735 9.382802 1.2096698 9.382802 0.40923372 8.8490133L0.40923372 8.8490133C0.15277645 8.6768856 -0.00079802208 8.3877411 0 8.0785284L0 0" fill-rule="evenodd"/>
        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(4.5 9.93436)" d="M0 1.1557266C0 1.7940167 0.77489144 2.3114531 1.7307686 2.3114531C2.6866455 2.3114531 3.4615371 1.7940167 3.4615371 1.1557266C3.4615371 0.51743639 2.6866455 0 1.7307686 0C0.77489144 0 0 0.51743639 0 1.1557266" fill-rule="evenodd"/>
        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(10.2692 7.62291)" d="M3.4615433 0L3.4615433 11.545709C3.4623413 11.85492 3.3087668 12.144065 3.0523095 12.316193L3.0523095 12.316193C2.2518735 12.849982 1.2096698 12.849982 0.40923372 12.316193L0.40923372 12.316193C0.15277645 12.144065 -0.00079802208 11.85492 0 11.545709L0 0" fill-rule="evenodd"/>
        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(10.2692 6.46718)" d="M0 1.1557266C0 1.7940167 0.77489144 2.3114531 1.7307686 2.3114531C2.6866455 2.3114531 3.4615371 1.7940167 3.4615371 1.1557266C3.4615371 0.51743639 2.6866455 0 1.7307686 0C0.77489144 0 0 0.51743639 0 1.1557266" fill-rule="evenodd"/>
        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.0385 4.15573)" d="M3.4615433 0L3.4615433 15.012888C3.4623413 15.322101 3.3087668 15.611245 3.0523095 15.783373L3.0523095 15.783373C2.2518735 16.317162 1.2096698 16.317162 0.40923372 15.783373L0.40923372 15.783373C0.15277645 15.611245 -0.00079802208 15.322101 0 15.012888L0 0" fill-rule="evenodd"/>
        <path fill="none" stroke="#4B7BE5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" transform="translate(16.0385 3)" d="M0 1.1557267C0 1.568628 0.32988259 1.9501646 0.86538422 2.1566153C1.4008859 2.363066 2.0606511 2.363066 2.5961528 2.1566153C3.1316545 1.9501646 3.4615371 1.568628 3.4615371 1.1557267C3.4615371 0.74282527 3.1316545 0.3612887 2.5961528 0.15483801C2.0606511 -0.051612668 1.4008859 -0.051612668 0.86538422 0.15483801C0.32988259 0.3612887 0 0.74282527 0 1.1557267" fill-rule="evenodd"/>
      </svg>
    </BulletPoint>
  </div>
</div>