<div class="profile--edit-password-modal-content-container"
  data-controller="password-reveal"
>
  <div class="profile--edit-password-input-row-container">
    <label class="forms--label mb-2">Password</label>
    <div class="profile--edit-password-input-container">
      <%= form.password_field :current_password, autofocus: true, autocomplete: "current-password", class: "forms--text-input forms--text-input-focusable w-100", placeholder: "Current password" %>
      <span class="forms--input-decoration btn btn-sm btn-icon"
        data-input-ref="user_current_password"
        data-action="click->password-reveal#newToggleVisibility"
      >
        <%= image_tag image_url("hidden-password-icon.png"), id: "user_current_password_eye_icon", class: "invisible", width: "16", height: "16", data: { "password-reveal-target" => "eyeSlashIcon" }%>
        <%= image_tag image_url("visible-password-icon.png"), id: "user_current_password_eye_slash_icon", class: "", width: "16", height: "16", data: { "password-reveal-target" => "eyeIcon" }%>
      </span>
    </div>
  </div>
  <div class="profile--edit-password-input-row-container">
    <label class="forms--label mb-2">New password</label>
    <div class="profile--edit-password-input-container">
      <%= form.password_field :password, autocomplete: "new-password", class: "forms--text-input forms--text-input-focusable w-100", placeholder: "New password", data: { "edit-password-target" => "newPassword" } %>
      <span class="forms--input-decoration btn btn-sm btn-icon"
        data-input-ref="user_password"
        data-action="click->password-reveal#newToggleVisibility"
      >
        <%= image_tag image_url("hidden-password-icon.png"), id: "user_password_eye_icon", class: "invisible", width: "16", height: "16", data: { "password-reveal-target" => "eyeSlashIcon" }%>
        <%= image_tag image_url("visible-password-icon.png"), id: "user_password_eye_slash_icon", class: "", width: "16", height: "16", data: { "password-reveal-target" => "eyeIcon" }%>
      </span>
    </div>
  </div>
  <div class="profile--edit-password-input-row-container">
    <label class="forms--label mb-2">Confirm new password</label>
    <div class="profile--edit-password-input-container">
      <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "forms--text-input forms--text-input-focusable w-100", placeholder: "Confirm new password", data: { "edit-password-target" => "newPasswordCheck" } %>
      <span class="forms--input-decoration btn btn-sm btn-icon"
        data-input-ref="user_password_confirmation"
        data-action="click->password-reveal#newToggleVisibility"
      >
        <%= image_tag image_url("hidden-password-icon.png"), id: "user_password_confirmation_eye_icon", class: "invisible", width: "16", height: "16", data: { "password-reveal-target" => "eyeSlashIcon" }%>
        <%= image_tag image_url("visible-password-icon.png"), id: "user_password_confirmation_eye_slash_icon", class: "", width: "16", height: "16", data: { "password-reveal-target" => "eyeIcon" }%>
      </span>
    </div>
  </div>
</div>