<%= render partial: "application/components/modals/modal_header",
    locals: { title: "Account settings", is_custom: true }
%>

<%= form_for(current_user, as: "user", url: update_authed_user_password_path, html: { method: :put, data: { controller: "edit-password" }}) do |f| %>
  <div class="modals--content-container"
    data-type="full"
  >
    <div class="modals--header-icon-container">
      <%= image_tag image_url('security-blue-icon.png'), width: 32, height: 32 %>
    </div>

    <h1 class="modals--main-title mb-8 text-center">Change password</h1>

    <%= render partial: "devise/registrations/modals/edit_password_modal_content", 
        locals: { form: f }
    %>
    <div class="mt-2 devise--alert wrap invisible"
      data-edit-password-target="clientSideErrorAlert"
      data-alert-type="alert"
    ></div>
    <% if @error %>
      <div class="mt-4 devise--alert wrap" data-alert-type="alert">
        <%= @error %>
      </div>
    <% end %>
    <p class="additional-text mt-6 text-start wrap">Your password must be at least 8 characters with letters, numbers and symbols.</p>
  </div>
  <div class="modals--footer-container">
    <%= render partial: "application/components/buttons/close_modal_button", locals: {text: "Cancel", is_custom: true} %>
    <button type="button"
      class="custom-button custom-button--sm custom-button--primary"
      data-action="click->edit-password#checkSubmit"
    >Update</button>
    <%= f.submit "Update",
      hidden: true,
      class: "custom-button custom-button--sm custom-button--primary",
      data: { "edit-password-target" => "formSubmitButton" }
    %>
  </div>
<% end %>