<div class="modal-dialog" style="width: max-content; max-width: none;" id="add_pod_modal">
  <div class="modal-content" style="width: max-content">
    <%= render partial: "application/components/modals/modal_header", locals: {title: "Add Pod"} %>
    <%= render partial: "clients/add_pod_wizard/add_pod_error" %>
    <%= render partial: "clients/add_pod_wizard/add_pod_step_0" %>
    <%= render partial: "clients/add_pod_wizard/add_pod_step_2" %>
    <%= render partial: "clients/add_pod_wizard/add_pod_already_claimed" %>
    <%= render partial: "clients/add_pod_wizard/add_pod_not_found" %>
  </div>
</div>