<div>
  <% page_elements = @measurements.length == 10 ? @measurements.length * params[:page].to_i : params[:page].to_i * 10 - 10 + @measurements.length %>
  Showing <%= params[:page].nil? ? '1' : params[:page].to_i * 10 - 9 %> to <%= params[:page].nil? ? @measurements.length : page_elements %> of <%= @total %> records
</div>
<ul class="pagination">
  <li class="page-item previous <%= params[:page].nil? || (params[:page].present? && 1 == params[:page].to_i) ? 'disabled' : ''%>">
    <% if params[:page].present? && params[:page].to_i > 1 %>
      <a href="<%= client_measurements_path(style: params[:style], range: params[:range], page: params[:page].to_i - 1) %>" class="page-link"><i class="previous"></i></a>
    <% else %>
      <a href="#" class="page-link"><i class="previous"></i></a>
    <% end %>
  </li>
  <% pages = (@total/10.0).ceil %>
  <% if pages > 6 %>
    <% initialPage = params[:page].present? ? params[:page].to_i : 1 %>
    <% secondBatchInitialPage = pages - 2 %>
    <% if initialPage >= secondBatchInitialPage %>
      <% initialPage = 1 %>
    <% end %>
    <% for page in initialPage..(initialPage+2) do %>
      <% if params[:page].nil? %>
        <li class="page-item <%= page == 1 ? 'active' : ''%>">
          <a href="<%= client_measurements_path(style: params[:style], range: params[:range], page: page) %>" class="page-link"><%= page %></a>
        </li>
      <% else %>
        <li class="page-item <%= page == params[:page].to_i ? 'active' : ''%>">
          <a href="<%= client_measurements_path(style: params[:style], range: params[:range], page: page) %>" class="page-link"><%= page %></a>
        </li>
      <% end %>
    <% end %>
    <li class="d-flex align-items-center">...</li>
    <% for page in secondBatchInitialPage..(pages) do %>
      <% if params[:page].nil? %>
        <li class="page-item <%= page == 1 ? 'active' : ''%>">
          <a href="<%= client_measurements_path(style: params[:style], range: params[:range], page: page) %>" class="page-link"><%= page %></a>
        </li>
      <% else %>
        <li class="page-item <%= page == params[:page].to_i ? 'active' : ''%>">
          <a href="<%= client_measurements_path(style: params[:style], range: params[:range], page: page) %>" class="page-link"><%= page %></a>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <% for page in 1..pages do %>
    <% if params[:page].nil? %>
      <li class="page-item <%= page == 1 ? 'active' : ''%>">
        <a href="<%= client_measurements_path(page: page) %>" class="page-link"><%= page %></a>
      </li>
    <% else %>
      <li class="page-item <%= page == params[:page].to_i ? 'active' : ''%>">
        <a href="<%= client_measurements_path(page: page) %>" class="page-link"><%= page %></a>
      </li>
    <% end %>
  <% end %>
  <% end %>
  <li class="page-item next <%= (pages == 0 || pages == 1) || (params[:page].present? && pages == params[:page].to_i) ? 'disabled' : ''%>">
    <% if pages > 1 %>
      <a href="<%= client_measurements_path(style: params[:style], range: params[:range], page: (params[:page].present? ? params[:page].to_i + 1 : 2)) %>" class="page-link">
        <i class="next"></i>
      </a>
    <% else %>
      <a href="#" class="page-link">
        <i class="next"></i>
      </a>
    <% end %>
  </li>
</ul>