<div class="card-header d-flex align-items-center" style="height: 65px">
  <div class="dialog-main-title">
    Measurements
  </div>
</div>
<!--end::Card toolbar-->
<!--begin::Card body-->
<div class="card-body pt-0">
  <!--begin::Card toolbar-->
  <div class="card-toolbar my-8">
    <!--begin::Toolbar-->
    <div class="d-flex justify-content-between" data-kt-customer-table-toolbar="base">
      <div class="dropdown-container">
        <div class="btn-group">
          <a href="#"
             class="custom-button custom-button--sm custom-button--secondary px-2"
             data-bs-toggle="dropdown"
             aria-expanded="false"
             style="border-radius: 6px"
             id="schedule-button">
            <%= params[:range] ? parse_param_to_human(params[:range]) : 'All time ranges' %>
            <span class="svg-icon svg-icon-5 m-0">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
                      </svg>
                    </span>
          </a>
          <!--begin::Menu-->
          <div class="dropdown-menu fw-bold fs-7 py-4"
               aria-labelledby="schedule-button">
            <a href="<%= determine_measurements_range_path(client.unix_user, 'clients', 'last-week') %>"
               class="menu-item text-hover-gray-500 <%= params[:range] == 'last-week' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
              Last week
            </a>
            <!--begin::Menu item-->
            <a href="<%= determine_measurements_range_path(client.unix_user, 'clients', 'last-month') %>"
               class="menu-item text-hover-gray-500 <%= params[:range] == 'last-month' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
              Last month
            </a>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <a href="<%= determine_measurements_range_path(client.unix_user, 'clients', 'last-6-months') %>"
               class="menu-item text-hover-gray-500 <%= params[:range] == 'last-6-months' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
              Last 6 months
            </a>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <a href="<%= determine_measurements_range_path(client.unix_user, 'clients', 'last-year') %>"
               class="menu-item text-hover-gray-500 <%= params[:range] == 'last-year' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
              Last year
            </a>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <a href="<%= determine_measurements_range_path(client.unix_user, 'clients', 'all-time') %>"
               class="menu-item text-hover-gray-500 <%= params[:range] == 'all-time' ? 'text-primary' : 'text-gray-700' %> p-2 px-3">
              All time
            </a>
            <!--end::Menu item-->
          </div>
        </div>
        <!--end::Menu-->
        <div class="btn-group">
          <a href="#"
             class="custom-button custom-button--sm custom-button--secondary ms-5 px-2"
             style="border-radius: 6px"
             data-bs-toggle="dropdown"
             aria-expanded="false"
             id="style-button">
            <%= params[:style] ? parse_param_to_human(params[:style]) : 'All test styles' %>
            <span class="svg-icon svg-icon-5 m-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="black"></path>
                        </svg>
                      </span>
          </a>
          <!--begin::Menu-->
          <div class="dropdown-menu dropup fw-bold fs-7 py-4"
               aria-labelledby="style-button">
            <a href="<%= determine_measurements_style_path(client.unix_user, 'clients', 'NDT7') %>"
               class="menu-item text-hover-gray-500 <%= params[:style] == 'NDT7' ? 'text-primary' : 'text-gray-700' %> p-3">
              NDT
            </a>
            <!--begin::Menu item-->
            <a href="<%= determine_measurements_style_path(client.unix_user, 'clients', 'OOKLA') %>"
               class="menu-item text-hover-gray-500 <%= params[:style] == 'OOKLA' ? 'text-primary' : 'text-gray-700' %> p-3">
              Ookla
            </a>
            <!--end::Menu item-->
          </div>
        </div>
        <!--end::Menu-->
      </div>
      <div class="export-container">
        <!--begin::Export-->
        <a href="<%= client_measurements_path(client.unix_user, style: params[:style], range: params[:range], format: 'csv') %>"
           class="custom-button custom-button--sm custom-button--primary me-3"
          >Export Measurements
        </a>
        <!--end::Export-->
      </div>
    </div>
    <!--end::Toolbar-->
  </div>
  <!--begin::Table-->
  <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <div class="table-responsive">
      <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_customers_table">
        <!--begin::Table head-->
        <thead>
        <!--begin::Table row-->
        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
          <th class="table-header min-w-125px sorting pe-3 d-flex align-items-center" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 30%">
            Time
            <%= render partial: "application/timezone_tooltip" %>
          </th>
          <th class="table-header min-w-125px sorting pe-3" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 15%">Style</th>
          <th class="table-header min-w-125px sorting pe-3" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 15%">
            <img alt="download icon" src="<%= image_url('download-icon.png') %>" width="14" height="14">
            Download
          </th>
          <th class="table-header min-w-125px sorting pe-3" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 15%">
            <img alt="upload icon" src="<%= image_url('upload-icon.png') %>" width="14" height="14">
            Upload
          </th>
          <th class="table-header min-w-125px sorting pe-3" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 15%">Latency</th>
          <th class="table-header min-w-125px sorting pe-0" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 10%">Jitter</th>
          <th class="table-header min-w-125px sorting pe-0" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" style="width: 10%"></th>
        </tr>
        <!--end::Table row-->
        </thead>
        <!--end::Table head-->
        <!--begin::Table body-->
        <tbody class="fw-bold text-gray-600">
        <% paginate_elements(measurements, [:range, :style]).each do |measurement| %>
          <tr>
            <%= render partial: "measurement_details_row", locals: { measurement: measurement } %>
          </tr>
        <% end %>
        </tbody>
        <!--end::Table body-->
        <!--begin::Pagination-->
        <!--end::Pagination-->
      </table>
    </div>
  </div>
  <!--end::Table-->
  <div class="pagination-container d-flex justify-content-between align-items-center mt-5">
    <%= pagination_footer %>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="details_modal" data-controller="modal" data-action="turbo:submit-end->modal#submit turbo:frame-render->modal#showModal">
  <%= turbo_frame_tag "measurement_details_modal" do %>
  <% end %>
</div>
<!--end::Card body-->