<td data-controller="localtime" style="color: #5e6278"><%= measurement.created_at %></td>
<td style="color: #5e6278"><%= measurement.style %></td>
<td style="color: #5e6278">
  <%= number_with_precision measurement.get_download, precision: 3 %>
</td>
<td style="color: #5e6278">
  <%= number_with_precision measurement.get_upload, precision: 3 %>
</td>
<td style="color: #5e6278"><%= number_with_precision measurement.latency, precision: 3 %></td>
<td style="color: #5e6278"><%= number_with_precision measurement.jitter, precision: 3 %></td>
<td>
  <%= link_to "View Details",
              client_measurement_path(id: measurement.id),
              class: "btn btn-sm btn-light btn-active-light-primary px-3",
              data: { turbo_frame: "measurement_details_modal" } %>
</td>