<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
  <div class="d-flex flex-stack flex-wrap flex-sm-nowrap">
    <!--begin::Info-->
    <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
      <!--begin::Title-->
      <% if FeatureFlagHelper.is_available('networks', current_user) %>
        <h1 class="page-main-title"><%= @client.unix_user %>
      <% else %>
        <h1 class="page-main-title"><%= @client.name.present? ? @client.name : "Unnamed Pod" %> 
      <% end %>
      <small class="text-muted fs-6 fw-normal ms-1"></small></h1>
      <!--end::Title-->
      <!--begin::Breadcrumb-->
      <ul class="breadcrumb fw-bold fs-base my-1">
        <li class="breadcrumb-item page-sub-title"><%= current_account.name %>
          <!--<a href="/craft/index.html" class="text-muted text-hover-primary">Home</a>-->
        </li>
        <li class="breadcrumb-item page-sub-title">Pods</li>
      </ul>
      <!--end::Breadcrumb-->
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Toolbar-->

<div class="post fs-6 d-flex flex-column-fluid justify-content-center" id="kt_post">
  <!--begin::Container-->
  <div class="clients--details-container">
    <%= render partial: "application/components/tabs/page_tabs",
      locals: {
        tabs: [
          { text: 'Overview', path: client_path(@client.unix_user) },
          { text: 'Measurements', path: client_measurements_path(@client.unix_user) },
          { text: 'Data Usage & Scheduling', path: client_data_usage_and_scheduling_path(@client.unix_user) },
          { text: 'Technical Info', path: client_technical_info_path(@client.unix_user) },
        ]
      }
    %>
    <% if FeatureFlagHelper.is_available('networks', current_user) %>
      <div class="measurements--main-table-container">
        <% if @measurements.count == 0 && request.query_parameters.size == 0 %>
          <%= render partial: "pod_measurements/components/empty_measurements_card" %>
        <% else %>
          <div class="measurements--filters-download-container">
            <%= render partial: "pod_measurements/components/table_filters" %>
            <a href="<%= client_measurements_path(@client.unix_user, style: params[:style], range: params[:range], format: 'csv') %>"
                class="custom-button custom-button--lg custom-button--secondary-light"
            >
            <%= image_tag image_url('download-file-icon.png'), width: 16, height: 16, class: 'me-2' %>
            Download measurements
            </a>
          </div>
          <%= render partial: "application/components/tables/generic_table",
                  locals: {
                    table_id: "pod_measurements_table",
                    type: TablesHelper::TableTypes::MEASUREMENTS,
                    titles: TablesHelper.titles(TablesHelper::TableTypes::MEASUREMENTS),
                    widths: TablesHelper.widths(TablesHelper::TableTypes::MEASUREMENTS),
                    rows: @measurements,
                    total: @total
                  }
              %>
        <% end %>
      </div>

      <%= render partial: "application/components/modals/turbo_modal", 
          locals: { turbo_frame_tag_id: "measurement_details_modal" }
      %>
    <% else %>
    <!--begin::Card-->
      <div class="card clients--detail-card">
        <%= render partial: "client_measurements/measurements_table", locals: {client: @client, measurements: @measurements} %>
      </div>
      <!--end::Card-->
    <% end %>
  </div>
  <!--end::Container-->
</div>
