---
import commonStyles from '../../../common.module.css';
import templateStyles from '../../../pages/stories/styles/template.module.css';
import Epigraph from "../../stories/Epigraph.astro";

const { title, src, epigraphText } = Astro.props;
---


<div class={commonStyles.videoContainer}>
	<iframe src={`${src}&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479`}
	        allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
	        title={title}>
  </iframe>
  { epigraphText &&
    <div class={templateStyles.epigraphContainer} style="padding-bottom: 0">
      <Epigraph text={epigraphText}/>
    </div>
  }
</div>


<script src="https://player.vimeo.com/api/player.js"></script>
